
// ---------------------------------
//   Visibility
// ---------------------------------

.u-hidden {
  display: none !important;
}

.u-hidden-mobile-only {
  @include mobile-only {
    display: none !important;
  }
}

.u-hidden-tablet-up {
  @include tablet-up {
    display: none !important;
  }
}

.u-hidden-tablet-only {
  @include tablet-only {
    display: none !important;
  }
}

.u-hidden-desktop-up {
  @include desktop-up {
    display: none !important;
  }
}

.u-hidden-desktop-only {
  @include desktop-only {
    display: none !important;
  }
}

.u-hidden-hd-up {
  @include hd-up {
    display: none !important;
  }
}

// ---------------------------------
//   background Color
// ---------------------------------

.u-bg-main {
  background-color: $color-white;
}

// ---------------------------------
//   Lists
// ---------------------------------

.u-list-simple {
  margin: 0;
  padding: 0;
  list-style: none;
}

.u-list-inline {
  @extend .u-list-simple;

  li {
    display: inline-block;
  }
}

// ---------------------------------
//   Misc
// ---------------------------------

.u-sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important; /* 2 */
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important; /* 3 */
}

.u-clear-button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.u-pointer {
  cursor: pointer;
}

.u-underline {
  text-decoration: underline;
}

.u-line-through {
  text-decoration: line-through;
}

.u-no-link {
  &, &:hover {
    text-decoration: none;
    color: inherit;
  }
}

.u-overflow-x-hidden {
  overflow-x: hidden;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.uppercase {
  text-transform: uppercase;
}

.defaultcase {
  text-transform: none;
}

.side-padded {
  padding-left: $grid-gutter-sm;
  padding-right: $grid-gutter-sm;

  @include tablet-up {
    padding-left: $grid-gutter;
    padding-right: $grid-gutter;
  }

  &-mobile {
    @include mobile-only   {
      padding-left: $grid-gutter-sm;
      padding-right: $grid-gutter-sm;
    }
  }

  &-tablet {
    @include tablet-only   {
      padding-left: $grid-gutter;
      padding-right: $grid-gutter;
    }
  }

  &-tablet-up {
    @include tablet-up  {
      padding-left: $grid-gutter;
      padding-right: $grid-gutter;
    }
  }

  &-desktop-up {
    @include desktop-up   {
      padding-left: $grid-gutter;
      padding-right: $grid-gutter;
    }
  }
}

.border-top {
  border-top: 1px solid $color-grey;
}
.border-bottom {
  border-bottom: 1px solid $color-grey;
}
.border-left {
  border-left: 1px solid $color-grey;
}
.border-right {
  border-right: 1px solid $color-grey;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.just-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.u-center {
  text-align: center !important;
  align-items: center !important;
}

.align-start {
  align-items: start;
}

.nowrap {
  flex-wrap: nowrap;
}

.u-subtitle {
  display: inline-block;
  border-bottom: 2px solid $color-grayish-gray;
  padding-bottom: 5px;
  font-size: rem(12);
  line-height: 1.4;
  letter-spacing: 0.5px;
  font-weight: 700;
  font-family: $font-gibson;
  text-transform: uppercase;
}

.ratio {
  position: relative;

  &::after {
    content: '';
    width: 100%;
    display: block;
  }

  > * {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.ro-1::after {
  padding-bottom: 100%;
}

.ro-2\/3::after {
  padding-bottom: 150%;
}