
// navigation
.navbar__mobile__nav {
  z-index: 48;
}

.navbar__mobile,
.navbar__desktop__wrapper,
.navbar__subnav {
  z-index: 50;
}

.main-navigation-container, 
.main-header-nav-inner-container {
  z-index: 32;
}

.top-header__container {
  z-index: 32;
}

.top-bar__helper--second-links-container {
  z-index: 51;
}

.header__dropdown-container {

  @include desktop-up {
    z-index: 33;
  }
}

.header-2 {
  z-index: 32;
}

// sidecart
.sidecart__overlay {
  z-index: 999;
}

.sidecart {
  z-index: 1000;
}

.cart-modal {
  z-index: 55;
  .vs__dropdown-menu {
    z-index: 56;
  }
}

// misc higher priority
.modal {
  z-index: 200;
}

.cf-modal { // collections filters modal
  z-index: 200;
}

.toast {
  z-index: 202;
}

.pb-var-select__atc-shelf {
  z-index: 201;
}

// product tile
.product-tile__badge-container {
  z-index: 6;
}

.product-tile__wishlist-button {
  z-index: 7;
}

// bourdain header
.menu-mobile-container {
  &.active {
    z-index: 22;
  }
  .hamburger-close {
    z-index: 2;
  }
}

.vs__dropdown-menu {
  z-index: 30;
}

//hero banner
.hero-banner {
  &__overlay {
    z-index: 20;
  }

  &__scroll-trigger {
    z-index: 21;
  }
}
