input:not(:disabled) + label {
  cursor: pointer;
  user-select: none;
}

input:focus,
textarea:focus {
  outline-color: rgba(76, 152, 219, 0.59);
}

@include input;
@include input--text;
@include input--select;
@include input--select--secondary;
@include input--radio;
@include input--checkbox;
@include input--toggle;
@include input--secondary;

/*


  GENERAL


*/
.form-success,
div.errors {
  border-width: 1px;
  border-style: solid;
  border-radius: 6px;
  padding: 12px 18px;
}

.form-success {
  background-color: $color-util-success;
  border-color: $color-util-success;
  color: $color-util-success;
}

div.errors {
  margin: 20px 0 30px;
  text-align: center;
  color: $color-util-error-1;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      padding: 0;
      font-family: $font-gibson;
    }
  }
}

.label-select-container {
  position: relative;
  margin-bottom: 16px;
}

.label-select-container select,
.label-select-container input {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  border-radius: 0 !important;
  width: 100%;
  z-index: 1;
  background-color: $color-white;
  border: 1px solid $form-color-grey;
  height: 44px;
  margin-top: 8px;
  font-size: 14px;
  padding-left: 12px;
}

.label-select-container select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  background-image: url('../assets/chevron_down.svg');
  background-position: 95% center;
  background-repeat: no-repeat;
  background-size: 12px;
  outline: none;
}

.input.input--labeled {
  position: relative;

  input:placeholder-shown + label {
    top: 50%;
    left: 14px;
    font-size: rem(14);
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus {
    transition: background-color 5000s ease-in-out 0s;
  }

  label {
    position: absolute;
    top: 0;
    left: 6px;
    transform: translateY(-50%);
    font-size: rem(10);
    font-family: $font-gibson;
    font-weight: 300;
    color: $color-black;
    background-color: $color-white;
    transition: top 0.3s, transform 0.3s, background-color 0.3s, left 0.3s;
  }
}
