.hero {
  position: relative;
  text-align: center;
  width: 100%;
  margin-bottom: 12px;
  overflow: hidden;

  // IE
  &.compat-object-fit {
    background-size: cover;
    background-position: center center;
    img {
      opacity: 0;
    }
  }

  .super-collection__hero & {
    margin-bottom: 0;
  }
}

.hero__picture {
  z-index: 1;
  display: block;
  height: 632px;
  overflow: hidden;
  object-fit: cover;
  object-position: center;

  @include tablet-up {
    height: auto;
    min-height: 448px;
  }

  .hero--mobile-below & {
    @include mobile-only {
      height: 400px;
    }
  }
}

.hero__image {
  display: block;
  min-height: 632px;
  min-width: 100%;
  object-fit: cover;
  object-position: center;

  @include tablet-up {
    margin: 0;
    min-height: 448px;
  }

  .hero--mobile-below & {
    @include mobile-only {
      min-height: 400px;
    }
  }
}

.hero__opacity-overlay {
  display: block;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  &--dark {
    background-color: $color-brand-primary;
  }
  &--light {
    background-color: $color-brand-secondary;
  }

  .hero--mobile-below & {
    @include mobile-only {
      display: none;
    }
  }
}

.hero__copy-content {
  position: absolute;
  top: 50%;
  right: 50%;
  z-index: 3;
  transform: translate(50%, -50%);
  width: 100%;
  padding: 0 16px;
  background: none;

  @include tablet-up {
    width: 740px;
  }
  @include desktop-up {
    width: 870px;
  }

  .hero--mobile-below & {
    @include mobile-only {
      position: relative;
      top: auto;
      right: auto;
      transform: none;
      padding: 40px 12px;
      background-color: $color-off-white;
    }
  }
}

.hero__header {
  margin: 0 0 4px;
  line-height: 1.1;

  @include tablet-up {
    margin-bottom: 16px;
  }
}

.hero__subheader {
  margin: 0 0 4px;
  text-transform: none;
  letter-spacing: 0;

  @include tablet-up {
    margin-bottom: 16px;
  }
}

.hero__copy-content--light-text {
  .hero__copy,
  .hero__header,
  .hero__subheader {
    color: $color-white;

    .hero--mobile-below & {
      @include mobile-only {
        color: $color-black;
      }
    }
  }
}

.hero__copy-content--dark-text {
  .hero__copy,
  .hero__header,
  .hero__subheader {
    color: $color-black;
  }
}
