.link {
  padding: 0 4px;
  text-decoration: none;
  position: relative;
  outline: transparent;
  background: none;
  border: none;
  line-height: rem(20);
  color: $color-black;
  width: fit-content;
  overflow: hidden;
  font-family: $font-gibson;
  cursor: pointer;
  z-index: 1;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 0%;
    height: 1px;
    background: $color-black;
    transform: translateY(-2px);
    z-index: -1;
    transition: width .15s ease;
  }

  &:hover,
  &:focus,
  &:active {
    &::before {
      width: 100%;
    }
  }

  &:focus {
    border: 2px solid rgba(76,152,219,0.59);
    border-radius: 4px;
  }

  .link__content {
    display: inline-flex;
    align-items: center;
    font-weight: 500;

    svg {
      margin-left: 5px;
    }
  }
}

.link--primary {
  border-bottom: 1px solid transparent;
  color: $color-black;

  &::before {
    display: none;
  }
}

.link--secondary {
  border-bottom: 1px solid transparent;
  color: $color-primary-red;

  &:hover {
    color: lighten($color-primary-red, 10%);
  }

  &:focus,
  &:active {
    color: darken($color-primary-red, 10%);
  }

  &::before {
    display: none;
  }
}

.link-text {
  color: $color-black;
  font-size: rem(16);
  line-height: 24px;
  font-weight: 700;
}

.link--tertiary {
  .link__content {
    font-weight: 400;
  }

  &:focus,
  &:active {
    &::before {
      display: none;
    }
  }
}

.link--light {
  color: $color-primary-red;

  .link__content {
    font-weight: 400;
  }

  &:hover {
    color: lighten($color-primary-red, 10%);
  }

  &:focus,
  &:active {
    color: darken($color-primary-red, 10%);
  }

  &::before {
    display: none;
  }
}


.template-page#MainContent {
  a {
    &:not(.link--primary), &:not(.link--secondary), &:not(.link--tertiary), &:not(.button) {
      color: $color-black;
      text-decoration: underline;
      &:hover {
        color: $color-brand-secondary;
      }
    }
  }
}

@if $auto-link-color-switch {
  @each $class in $dark-color-classes {
    .#{$class} {
      @each $type in primary, secondary, tertiary  {
        @include automatic-color-link-style($type);
      }
    }
  }
}
