.ordergroove-app {
  * {
    letter-spacing: 0.25px;
    font-weight: 300;
    font-family: $font-gibson;
  }

  #og-msi .og-message-main {
    border: none;
    background-color: $color-off-white;
  }
}

.og-button {
  margin: 16px 0;
}

// Need to override app styling
.og-overlay-fixed,
.og-loading,
.og-backdrop {
  display: none !important;
}

.og-product-image {
  display: none;
}

#og-msi .og-msi {
  .og-shipment-header {
    flex-direction: column;
  }

  .og-upsell {
    display: none;
  }

  .og-shipment-actions-button-wrapper {
    &:first-child {
      margin-left: 0 !important;
    }
  }
}
