<template lang="pug">
  .kit-builder-footer#kit-builder-footer(:class="currentStep === steps[4] ? 'disabled' : ''")
    .kit-builder-footer__inner.container
      .kit-builder-footer__kit-selections.kit-modal(:class="modalActive ? 'active' : ''")
        .kit-modal-header
          span.kit-builder-footer__kit-selections-title Your Kit:
          icon.kit-builder-footer__kit-selections-modal-toggle(v-if="$mq === 'mobile' || $mq === 'tablet'" name="chevron-down" size="14px" @click="toggleModal")
        .kit-builder-footer__kit-selections-steps.kit-modal-steps
          .kit-builder-footer__kit-selections-step-container.kit-modal-step
            .kit-builder-footer__kit-selections-step(:style="`backgroundImage: url(${selectedProductImageUrls[0]})`")
            p.kit-builder-footer__kit-selections-step-name(v-if="selectedProductData.lunchbox && selectedProductData.lunchbox.title") {{lunchboxTitle}}
          .kit-builder-footer__kit-selections-step-container.kit-modal-step
            .kit-builder-footer__kit-selections-step(:style="`backgroundImage: url(${selectedProductImageUrls[1]})`")
            p.kit-builder-footer__kit-selections-step-name(v-if="selectedProductData.magnet && selectedProductData.magnet.options") {{selectedProductData.magnet.options[0]}}
          .kit-builder-footer__kit-selections-step-container.kit-modal-step
            .kit-builder-footer__kit-selections-step(:style="`backgroundImage: url(${selectedProductImageUrls[2]})`")
            p.kit-builder-footer__kit-selections-step-name(v-if="selectedProductData.bagProduct && selectedProductData.bagProduct.title") {{bagTitle}}
              span {{selectedProductData.bagVariant.options[0]}}
          .kit-builder-footer__kit-selections-step-container.kit-modal-step
            .kit-builder-footer__kit-selections-step(:style="`backgroundImage: url(${selectedProductImageUrls[3]})`")
            p.kit-builder-footer__kit-selections-step-name(v-if="selectedProductData.bottleVariant && selectedProductData.bottleVariant.options") {{bottleTitle}}
              span {{selectedProductData.bottleVariant.options[0]}}
      .kit-builder-footer__kit-selections
        span.kit-builder-footer__kit-selections-title Your Kit:
        .kit-builder-footer__kit-selections-steps
          .kit-builder-footer__kit-selections-step-container
            .kit-builder-footer__kit-selections-step(:style="`backgroundImage: url(${selectedProductImageUrls[0]})`")
            p.kit-builder-footer__kit-selections-step-name(v-if="$mq === 'hd' && selectedProductData.lunchbox && selectedProductData.lunchbox.title") {{lunchboxTitle}}
          .kit-builder-footer__kit-selections-step-container
            .kit-builder-footer__kit-selections-step(:style="`backgroundImage: url(${selectedProductImageUrls[1]})`")
            p.kit-builder-footer__kit-selections-step-name(v-if="$mq === 'hd' && selectedProductData.magnet && selectedProductData.magnet.options") {{selectedProductData.magnet.options[0]}}
          .kit-builder-footer__kit-selections-step-container
            .kit-builder-footer__kit-selections-step(:style="`backgroundImage: url(${selectedProductImageUrls[2]})`")
            p.kit-builder-footer__kit-selections-step-name(v-if="$mq === 'hd' && selectedProductData.bagProduct && selectedProductData.bagProduct.title") {{bagTitle}}
              span {{selectedProductData.bagVariant.options[0]}}
          .kit-builder-footer__kit-selections-step-container
            .kit-builder-footer__kit-selections-step(:style="`backgroundImage: url(${selectedProductImageUrls[3]})`")
            p.kit-builder-footer__kit-selections-step-name(v-if="$mq === 'hd' && selectedProductData.bottleVariant && selectedProductData.bottleVariant.options") {{bottleTitle}}
              span {{selectedProductData.bottleVariant.options[0]}}
        icon.kit-builder-footer__kit-selections-modal-toggle(v-if="$mq === 'mobile' || $mq === 'tablet'" name="chevron-up" size="14px" @click="toggleModal")
      .kit-builder-footer__footer-ui
        kit-builder-cart(v-if="cartActive")
        .kit-builder-footer__footer-ui-cart-display(@mouseover="showHideCart" @mouseleave="showHideCart")
          span.kit-builder-footer__footer-ui-cart-display-total(v-if="$mq !== 'mobile'") Total
            icon(name="info" size="22px")
          //- will use current amount
          span.kit-builder-footer__footer-ui-cart-display-amount {{currentTotal | money}}
        v-button.kit-builder-footer__footer-ui-next(secondary :disabled="!productSelected ? true : false" @click="goToNextStep") {{buttonText}}
</template>

<script>
  import { mapState } from 'vuex'

  import { handleize } from 'scripts/filters/string.js'

  import Icon from 'scripts/components/basic/Icon.vue'
  import VButton from 'scripts/components/buttons/VButton.vue'

  import KitBuilderCart from './KitBuilderCart.vue'

  export default {
    name: 'KitBuilderFooter',
    components: { Icon, VButton, KitBuilderCart },
    data() {
      return {
        cartActive: false,
        modalActive: false
      }
    },
    computed: {
      ...mapState({
        steps: state => state.kitBuilder.steps,
        currentStep: state => state.kitBuilder.currentStep,
        productSelected: state => state.kitBuilder.productSelected,
        selectedProductImageUrls: state => state.kitBuilder.selectedProductImageUrls,
        selectedProductData: state => state.kitBuilder.selectedProductData,
        currentTotal: state => state.kitBuilder.currentTotal
      }),
      buttonText() {
        if (this.productSelected) {
          if (this.currentStep === this.steps[3]) {
            return 'Review Kit'
          } return 'Next Step'
        }
        if(!this.productSelected) {
          if (this.currentStep === this.steps[0]) {
            return 'Select A Lunchbox'
          }
          if (this.currentStep === this.steps[1]) {
            return 'Select A Magnet'
          }
          if (this.currentStep === this.steps[2]) {
            return 'Select A Bag'
          }
          if (this.currentStep === this.steps[3]) {
            return 'Select A Bottle'
          }
        }
      },
      currentStepIndex() {
        return this.steps.indexOf(this.currentStep)
      },
      lunchboxTitle() {
        return this.selectedProductData.lunchbox.title ? this.selectedProductData.lunchbox.title.toLowerCase() : this.selectedProductData.lunchbox.data.title.toLowerCase()
      },
      bagTitle() {
        return this.selectedProductData.bagProduct.title ? this.selectedProductData.bagProduct.title.toLowerCase() : this.selectedProductData.bagProduct.data.title.toLowerCase()
      },
      bottleTitle() {
        return this.selectedProductData.bottleProduct.title ? this.selectedProductData.bottleProduct.title.toLowerCase() : this.selectedProductData.bottleProduct.data.title.toLowerCase()
      }
    },
    methods: {
      goToNextStep() {
        if (this.productSelected === true) {
          let nextStep = handleize(this.steps[this.currentStepIndex + 1])

          window.history.pushState({currentStep: this.steps[this.currentStepIndex + 1]}, nextStep, `#${nextStep}`)

          this.$store.dispatch('kitBuilder/setCurrentStep', this.steps[this.currentStepIndex + 1])

          document.querySelector('.planetbox-kit-builder__inner-ui-wrapper').scrollTo({
            top: 0,
            left: 0,
            behavior: 'smooth'
          })

          this.$store.dispatch('kitBuilder/toggleProductSelected', false)
        }
      },
      showHideCart() {
        this.cartActive = !this.cartActive
      },
      toggleModal() {
        this.modalActive = !this.modalActive
      }
    },
    mounted() {
      document.addEventListener('mouseleave', function() {
        this.modalActive = false
      })
    }
  }
</script>

<style lang="scss" scoped>
  .kit-builder-footer {
    z-index: 99;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 80px;
    width: 100%;
    background-color: $color-white;
    transition: opacity 300ms ease;
    padding: 0 16px;
    @include mobile-tablet {
      height: 100px;
      padding: 0;
    }
    @include safari-ios {
      height: auto;
      padding: 0;
      padding-bottom: 69px;
      @include mobile-tablet {
        height: auto;
        padding: 0;
        padding-bottom: 69px;
        .kit-builder-footer__kit-selections-steps {
          margin-bottom: 16px;
        }
      }
    }
    &__kit-selections-modal-toggle {
      margin-left: auto;
      cursor: pointer;
      opacity: 1;
      transition: opacity 200ms ease;
      &:hover {
        opacity: 0.5;
      }
    }
    &.disabled {
      opacity: 0;
      pointer-events: none;
    }
    &__inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      padding: 16px 8px;
      @include mobile-tablet {
        flex-direction: column;
        padding: 8px;
      }
    }
    &__kit-selections {
      display: flex;
      align-items: center;
      @include mobile-tablet {
        width: 100%;
      }
      &.kit-modal {
        position: absolute;
        bottom: 60px;
        left: 0;
        width: 100%;
        height: 144px;
        padding: 8px;
        display: flex;
        flex-direction: column;
        opacity: 0;
        pointer-events: none;
        background-color: $color-white;
        z-index: 998;
        transition: opacity 200ms ease, transform 200ms ease, z-index 200ms ease;
        transform: translate3d(0, 20px, 0);
        .kit-modal-header {
          display: flex;
          justify-content: space-between;
          width: 100%;
          pointer-events: none;
        }
        .kit-modal-steps {
          width: 100%;
          flex-wrap: wrap;
          justify-content: space-around;
          pointer-events: none;
          .kit-modal-step {
            width: 45%;
            margin: 8px 0;
          }
        }
        @include desktop-up {
          display: none;
        }
      }
      &.kit-modal.active {
        opacity: 1;
        transform: translate3d(0, 0, 0);
        z-index: 1000;
        pointer-events: auto;
        .kit-modal-steps {
          pointer-events: auto;
        }
        .kit-modal-header {
          pointer-events: auto;
        }
      }
      &-title {
        font-weight: 500;
        font-size: 16px;
        line-height: 23px;
        margin-right: 16px;
        white-space: nowrap;
      }
      &-steps {
        display: flex;
        pointer-events: auto;
      }
      &-step {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        background-color: $color-grey;
        margin-right: 8px;
        box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
        @include mobile-tablet {
          height: 30px;
          width: 30px;
        }
      }
    }
    &__footer-ui {
      position: relative;
      display: flex;
      @include mobile-tablet {
        width: 100%;
      }
      &-cart-display {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 304px;
        height: 50px;
        background-color: $color-off-white;
        padding: 14px;
        margin-right: 24px;
        @include mobile-tablet {
          width: 20%;
          margin-right: 0;
        }
        &-total {
          display: flex;
          font-weight: 500;
          font-size: 16px;
          line-height: 22px;
          vertical-align: bottom;
          margin-top: 4px;
          pointer-events: none;
          /deep/ .icon {
            margin-left: 8px;
            margin-top: -2px;
            fill: $color-brand-secondary;
            width: 22px;
            height: 22px;
            pointer-events: none;
          }
        }
        &-amount {
          pointer-events: none;
        }
      }
      &-next {
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        @include mobile-tablet {
          width: 80%;
          font-size: 14px;
        }
        &:disabled {
          background-color: $color-util-ui-grey;
        }
      }
    }
    &__kit-selections {
      @include mobile-tablet {
        margin-bottom: 8px;
      }
    }
    &__kit-selections-step {
      background-size: cover;
      background-position: center;
    }
    &__kit-selections-step-container {
      display: flex;
      align-items: center;
      margin-right: 12px;
    }
    &__kit-selections-step-name {
      display: flex;
      flex-direction: column;
      font-size: 16px;
      line-height: 23px;
      text-transform: capitalize;
      span {
        font-size: 12px;
        line-height: 18px;
        color: #979797;
        text-transform: capitalize;
      }
    }
  }
</style>