<template lang="pug">
  .kit-builder-cart
    .kit-builder-cart__prices
      .kit-builder-cart__price-box.line-item(v-if="selectedProducts['lunchbox'] !== null")
        span {{lunchboxTitle}}
        .price-container
          span(:class="selectedProductData.lunchbox.data.variants[0].price < selectedProductData.lunchbox.data.variants[0].compare_at_price ? 'discounted' : ''") {{selectedProductData.lunchbox.data.variants[0].price | money}}
          span.compare(v-if="selectedProductData.lunchbox.data.variants[0].price < selectedProductData.lunchbox.data.variants[0].compare_at_price") {{selectedProductData.lunchbox.data.variants[0].compare_at_price | money}}
      .kit-builder-cart__price-magnet.line-item(v-if="selectedProducts['magnet'] !== null")
        span Magnet
        span.discounted FREE
      .kit-builder-cart__price-bag.line-item(v-if="selectedProducts['bag'] !== null")
        span {{bagTitle}}
        .price-container
          span.discounted {{selectedProductData.bagVariant.price | money}}
          span.compare {{selectedProductData.bagVariant.compare_at_price | money}}
      .kit-builder-cart__price-bottle.line-item(v-if="selectedProducts['bottle'] !== null")
        span {{bottleTitle}}
        .price-container
          span.discounted {{selectedProductData.bottleVariant.price | money}}
          span.compare {{selectedProductData.bottleVariant.compare_at_price | money}}
      .kit-builder-cart__total.line-item.total(v-if="currentTotal > 0")
        span Total
        span {{currentTotal | money}}
      .kit-builder-cart__total.line-item.total(v-if="currentTotal === 0")
        span Build your kit, then come back!
    span.kit-builder-cart__total-savings(v-if="currentSavings > 0 && currentSavings !== currentTotal") {{currentSavings | money}} Total Kit Savings!
</template>

<script>
  import {mapState} from 'vuex'

  export default {
    name: 'KitBuilderCart',
    props: {

    },
    data() {
      return {

      }
    },
    computed: {
      ...mapState({
        products: state => state.kitBuilder.products,
        selectedProducts: state => state.kitBuilder.selectedProducts,
        selectedProductData: state => state.kitBuilder.selectedProductData,
        currentTotal: state => state.kitBuilder.currentTotal,
        currentSavings: state => state.kitBuilder.currentSavings
      }),
      lunchboxTitle() {
        return this.selectedProductData.lunchbox.title ? this.selectedProductData.lunchbox.title.toLowerCase() : this.selectedProductData.lunchbox.data.title.toLowerCase()
      },
      bagTitle() {
        return this.selectedProductData.bagProduct.title ? this.selectedProductData.bagProduct.title.toLowerCase() : this.selectedProductData.bagProduct.data.title.toLowerCase()
      },
      bottleTitle() {
        return this.selectedProductData.bottleProduct.title ? this.selectedProductData.bottleProduct.title.toLowerCase() : this.selectedProductData.bottleProduct.data.title.toLowerCase()
      }
    }
  }
</script>

<style lang="scss" scoped>
  .kit-builder-cart {
    z-index: 10000;
    position: absolute;
    top: -300px;
    left: 0;
    width: 304px;
    height: 300px;
    background: $color-white;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 -2px 4px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    &__prices {
      max-width: 368px;
      width: 100%;
      margin: 0 auto;
      .line-item {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 8px;
        span {
          font-size: 16px;
          line-height: 22px;
          text-transform: capitalize;
        }
        &.total {
          margin-top: 8px;
          span {
            font-size: 20px;
            line-height: 28px;
          }
        }
      }
    }
    &__total-savings {
      display: inline-block;
      margin: 16px auto 32px;
      color: #089988;
      font-size: 16px;
      line-height: 22px;
      text-align: center;
      margin: 0 auto;
    }
  }
  .price-container {
    display: flex;
  }
  .discounted {
    color: #089988;
  }
  .compare {
    margin-left: 8px;
    text-decoration: line-through;
    color: #979797;
  }
</style>