  <template lang="pug">
  .kit-builder-header#kit-builder-header
    .kit-builder-header__inner-title-container.container
      span.kit-builder-header__title {{headerTitle}}
    .kit-builder-header__inner-steps.container
      span.kit-builder-header__title(v-if="$mq !== 'mobile' && $mq !== 'tablet'") {{headerTitle}}
      .kit-builder-header__steps(v-if="currentStep !== steps[4]")
        .kit-builder-header__step(v-for="(step, index) in steps.slice(0,4)" :key="step" :class="[step === currentStep ? 'active' : '', finishedSteps[index] === false ? 'inactive' : '']" @click="goToStep(index)")
          .kit-builder-header__step-number(:class="step === currentStep ? activeStepColor : ''")
            span {{index + 1}}
          .kit-builder-header__step-name(v-if="$mq !== 'mobile' && $mq !== 'tablet'") {{ step }}
      .kit-builder-header__steps(v-else)
        .kit-builder-header__step(class="active")
          .kit-builder-header__step-number(:class="activeStepColor")
            span 5
          .kit-builder-header__step-name(v-if="$mq !== 'mobile'") {{ steps[4] }}
      span.kit-builder-header__title(v-if="$mq === 'mobile' || $mq === 'tablet'") {{headerTitle}}:
        span.kit-builder-header__current-step {{currentStep}}

</template>

<script>
  import { mapState } from 'vuex';

  import { handleize } from 'scripts/filters/string.js'

  export default {
    name: 'KitBuilderHeader',
    props: {
      headerTitle: {
        type: String,
        required: true
      },
      activeStepColor: {
        type: String,
        required: true
      }
    },
    computed: {
      ...mapState({
        steps: state => state.kitBuilder.steps,
        currentStep: state => state.kitBuilder.currentStep,
        productSelected: state => state.kitBuilder.productSelected,
        selectedProducts: state => state.kitBuilder.selectedProducts,
        selectedProductImageUrls: state => state.kitBuilder.selectedProductImageUrls
      }),
      finishedSteps() {
        let finishedSteps = [false, false, false, false]
        if (this.selectedProducts['lunchbox'] !== null) {
          finishedSteps[0] = true
        }
        if (this.selectedProducts['magnet'] !== null) {
          finishedSteps[1] = true
        }
        if (this.selectedProducts['bag'] !== null) {
          finishedSteps[2] = true
        }
        if (this.selectedProducts['bottle'] !== null) {
          finishedSteps[3] = true
        }
        return finishedSteps
      }
    },
    methods: {
      goToStep(stepIndex) {
        if (this.finishedSteps[stepIndex] !== false) {
          let newStep = handleize(this.steps[stepIndex])

          window.history.pushState({currentStep: this.steps[stepIndex]}, newStep, `#${newStep}`)

          this.$store.dispatch('kitBuilder/setCurrentStep', this.steps[stepIndex])

          document.querySelector('.planetbox-kit-builder__inner-ui-wrapper').scrollTo({
            top: 0,
            left: 0,
            behavior: 'smooth'
          })
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
  .kit-builder-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 80px;
    background-color: $color-white;
    z-index: 10;
    @media screen and (max-width: 1200px) {
      height: 92px;
    }
    &__inner-steps {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 0;
      left: 50%;
      right: 50%;
      transform: translate(-50%, 0);
      height: 80px;
      width: 100%;
      margin: 0 auto;
      @media screen and (min-width: 1201px) {
        .kit-builder-header__title {
          display: none;
        }
      }
      @media screen and (max-width: 1200px) {
        height: 92px;
        flex-direction: column;
        .kit-builder-header__title {
          margin: 12px 0;
        }
        .kit-builder-header__step:last-child {
          margin-right: 0;
        }
      }
    }
    &__inner-title-container {
      position: absolute;
      display: flex;
      align-items: center;
      top: 0;
      left: 50%;
      right: 50%;
      transform: translate(-50%, 0);
      height: 80px;
      width: 100%;
      margin: 0 auto;
      @media screen and (max-width: 1200px) {
        display: none;
      }
    }
    &__title {
      margin-right: auto;
      font-weight: 500;
      font-size: 20px;
      line-height: 22px;
      height: 28px;
      @include mobile-only {
        font-size: 16px;
        line-height: 23px;
      }
    }
    &__steps {
      display: flex;
    }
    &__step {
      display: flex;
      align-items: center;
      margin-right: 40px;
      cursor: pointer;
      @include mobile-only {
        margin: 8px 16px;
      }
      &:not(.active) {
        .kit-builder-header__step-number {
          background-color: $color-off-white;
        }
      }
      &-number {
        margin-right: 8px;
        height: 32px;
        width: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        @include mobile-only {
          margin: 0;
        }
      }
      &.inactive {
        .kit-builder-header__step-number:not(.kit-builder-header__step-number.active) {
          background-color: #F7F5F0;
          span {
            color: #000000;
            opacity: 0.5;
          }
        }
        .kit-builder-header__step-name {
          opacity: 0.5;
        }
      }
      &.active {
        .kit-builder-header__step-number {
          span {
            color: $color-white;
            opacity: 1;
          }
        }
        .kit-builder-header__step-name {
          opacity: 1;
        }
      }
    }
    &__current-step {
      padding-left: 4px;
      font-weight: 400;
    }
  }
</style>