<template lang="pug">
  .kit-builder-lunchboxes
    kit-builder-card(v-for="lunchbox in products.lunchboxes" :key="lunchbox.data.id" :product="lunchbox.data" :alt-title="lunchbox.title" :badge-text="lunchbox.badgeText" :badge-colors="badgeColors" product-type="lunchbox")
</template>

<script>
  import { mapState } from 'vuex';

  import KitBuilderCard from './KitBuilderCard.vue'

  export default {
    name: 'KitBuilderLunchBoxes',
    components: { KitBuilderCard },
    props: {
      badgeColors: {
        type: Object,
        required: true,
      }
    },
    computed: {
      ...mapState({
        products: state => state.kitBuilder.products,
        selectedProducts: state => state.kitBuilder.selectedProducts
      })
    },
    mounted() {
      if (this.selectedProducts['lunchbox'] !== null) {
        this.$store.dispatch('kitBuilder/toggleProductSelected', true)
      }
    }
  }
</script>

<style lang="scss" scoped>
  .kit-builder-lunchboxes {
    width: 100%;
    display: flex;
    justify-content: center;
    @include mobile-tablet {
      flex-direction: column;
      padding: 16px;
    }
  }
</style>