<template lang="pug">
  .kit-builder-bottles
    kit-builder-card(v-for="bottle in products.bottles" enableSwatches :key="bottle.data.id" :product="bottle.data" :alt-title="bottle.title" :badge-text="bottle.badgeText" :badge-colors="badgeColors" product-type="bottle")
</template>

<script>
  import { mapState } from 'vuex';

  import KitBuilderCard from './KitBuilderCard.vue'

  export default {
    name: 'KitBuilderBottles',
    components: { KitBuilderCard },
    props: {
      badgeColors: {
        type: Object,
        required: true,
      }
    },
    computed: {
      ...mapState({
        products: state => state.kitBuilder.products,
        selectedProducts: state => state.kitBuilder.selectedProducts
      })
    },
    mounted() {
      if (this.selectedProducts['bottle'] !== null) {
        this.$store.dispatch('kitBuilder/toggleProductSelected', true)
      }
    }
  }
</script>

<style lang="scss" scoped>
  .kit-builder-bottles {
    width: 100%;
    display: flex;
    justify-content: center;
    @include mobile-tablet {
      flex-direction: column;
      padding: 16px;
    }
  }
</style>