<template lang="pug">
  .kit-builder-finish
    .kit-builder-finish__cards
      .kit-builder-finish__card
        .kit-builder-finish__card-inner.kit-builder-finish__box-magnet
          .kit-builder-finish__img-container
            img(:src="selectedProductData.magnet.featured_image.src" :alt="`${lunchboxTitle} Lunchbox with ${selectedProductData.magnet.options[0]} Magnet`")
          h2 {{lunchboxTitle}}
          span Magnet: {{selectedProductData.magnet.options[0]}}
        v-link.kit-builder-finish__edit-link(primary @click="goToStep(0)") Edit
      .kit-builder-finish__card
        .kit-builder-finish__card-inner.kit-builder-finish__bag
          .kit-builder-finish__img-container
            img(:src="selectedProductData.bagVariant.featured_image.src" :alt="`${bagTitle} in ${selectedProductData.bagVariant.options[0]}`")
          h2 {{bagTitle}}
          span Color: {{selectedProductData.bagVariant.options[0]}}
        v-link.kit-builder-finish__edit-link(primary @click="goToStep(2)") Edit
      .kit-builder-finish__card
        .kit-builder-finish__card-inner.kit-builder-finish__bottle
          .kit-builder-finish__img-container
            img(:src="selectedProductData.bottleVariant.featured_image.src" :alt="`${bottleTitle} in ${selectedProductData.bagVariant.options[0]}`")
          h2 {{bottleTitle}}
          span Color: {{selectedProductData.bottleVariant.options[0]}}
        v-link.kit-builder-finish__edit-link(primary @click="goToStep(3)") Edit
    .kit-builder-finish__prices
      .kit-builder-finish__price-box.line-item
        span {{lunchboxTitle}}
        span {{selectedProductData.lunchbox.data.variants[0].price | money}}
      .kit-builder-finish__price-magnet.line-item
        span Magnet
        span.discounted FREE
      .kit-builder-finish__price-bag.line-item
        span {{bagTitle}}
        .price-container
          span.discounted {{selectedProductData.bagVariant.price | money}}
          span.compare {{selectedProductData.bagVariant.compare_at_price | money}}
      .kit-builder-finish__price-bottle.line-item
        span {{bottleTitle}}
        .price-container
          span.discounted {{selectedProductData.bottleVariant.price | money}}
          span.compare {{selectedProductData.bottleVariant.compare_at_price | money}}
      .kit-builder-finish__total.line-item.total
        span Total
        span {{currentTotal | money}}
    span.kit-builder-finish__total-savings {{currentSavings | money}} Total Kit Savings!
    v-button.kit-builder-finish__add-to-cart(secondary @click="addToCart") ADD TO CART
</template>

<script>
  import axios from 'axios'

  import { mapState } from 'vuex'

  import { handleize } from 'scripts/filters/string.js'
  import { tempATCDatalayer } from 'scripts/helpers/util.js'

  import VButton from '../../buttons/VButton.vue'
  import VLink from '../../buttons/VLink.vue'

  export default {
    name: 'KitBuilderFinish',
    components: { VButton, VLink },
    computed: {
      ...mapState({
        steps: state => state.kitBuilder.steps,
        currentStep: state => state.kitBuilder.currentStep,
        products: state => state.kitBuilder.products,
        selectedProducts: state => state.kitBuilder.selectedProducts,
        selectedProductImageUrls: state => state.kitBuilder.selectedProductImageUrls,
        selectedProductData: state => state.kitBuilder.selectedProductData,
        currentTotal: state => state.kitBuilder.currentTotal,
        currentSavings: state => state.kitBuilder.currentSavings
      }),
      lunchboxTitle() {
        return this.selectedProductData.lunchbox.title ? this.selectedProductData.lunchbox.title.toLowerCase() : this.selectedProductData.lunchbox.data.title.toLowerCase()
      },
      bagTitle() {
        return this.selectedProductData.bagProduct.title ? this.selectedProductData.bagProduct.title.toLowerCase() : this.selectedProductData.bagProduct.data.title.toLowerCase()
      },
      bottleTitle() {
        return this.selectedProductData.bottleProduct.title ? this.selectedProductData.bottleProduct.title.toLowerCase() : this.selectedProductData.bottleProduct.data.title.toLowerCase()
      }
    },
    methods: {
      goToStep(stepIndex) {
        let newStep = handleize(this.steps[stepIndex])

        window.history.pushState({currentStep: this.steps[stepIndex]}, newStep, `#${newStep}`)

        this.$store.dispatch('kitBuilder/setCurrentStep', this.steps[stepIndex])
      },
      addToCart() {
        window.onbeforeunload = () => {}

        // forcing clean cart request for IE11
        let timestamp = new Date().getTime()

        const generateId = () => {
          let array
          // IE compatability
          if (window.document.documentMode) {
            array = Math.floor(Math.random() * 121712 / 84 * 21 / 2 * 8)
            return array
          } else {
            if (window.crypto || window.msCrypto) {
              array = new Uint32Array(1)
              window.crypto.getRandomValues(array)
              return array[0]
            }
          }
        }

        let _kitId = generateId()

        let cartData = {
          items: [
            {
              id: this.selectedProducts['lunchbox'],
              quantity: 1,
              properties: {
                _kitId: _kitId
              }
            },
            {
              id: this.selectedProducts['magnet'],
              quantity: 1,
              properties: {
                _kitId: _kitId
              }
            },
            {
              id: this.selectedProducts['bag'],
              quantity: 1,
              properties: {
                _kitId: _kitId
              }
            },
            {
              id: this.selectedProducts['bottle'],
              quantity: 1,
              properties: {
                _kitId: _kitId
              }
            }
          ]
        }

        const currentLunchboxVariant = this.selectedProductData.lunchbox.data.variants.filter(variant => variant.id === this.selectedProducts['lunchbox']);
        tempATCDatalayer([{
          id: this.selectedProductData.lunchbox.data.id,
          sku: currentLunchboxVariant.length > 0 ? currentLunchboxVariant[0].sku : null,
          variantID: this.selectedProducts['lunchbox'],
          productType: this.selectedProductData.lunchbox.data.type,
          name: this.selectedProductData.lunchbox.data.title,
          price: this.selectedProductData.lunchbox.data.price/100,
        },
        {
          id: this.selectedProductData.lunchbox.magnets.id,
          sku: this.selectedProductData.magnet.id,
          variantID: this.selectedProducts['magnet'],
          productType: this.selectedProductData.lunchbox.magnets.type,
          name: this.selectedProductData.lunchbox.magnets.title,
          price: this.selectedProductData.lunchbox.magnets.price/100,
        },
        {
          id: this.selectedProductData.bagProduct.data.id,
          sku: this.selectedProductData.bagVariant.id,
          variantID: this.selectedProducts['bag'],
          productType: this.selectedProductData.bagProduct.data.type,
          name: this.selectedProductData.bagProduct.data.title,
          price: this.selectedProductData.bagProduct.data.price/100,
        },
        {
          id: this.selectedProductData.bottleProduct.data.id,
          sku: this.selectedProductData.bottleVariant.id,
          variantID: this.selectedProducts['bottle'],
          productType: this.selectedProductData.bottleProduct.data.type,
          name: this.selectedProductData.bottleProduct.data.title,
          price: this.selectedProductData.bottleProduct.data.price/100,
        }]);

        axios.post('/cart/add.js', cartData)
        .then(response => {
          this.$store.dispatch('cart/init')
        })
        .then(() => window.setTimeout(() => this.$store.dispatch('cart/openSidecart'), 1000))
        .catch(err => {
          console.log(err)
        })
      }
    }
  }
</script>

<style lang="scss" scoped>
  .kit-builder-finish {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__cards {
      display: flex;
      justify-content: space-between;
      @include mobile-tablet {
        flex-direction: column;
      }
    }
    &__card {
      display: flex;
      flex-direction: column;
      max-width: 368px;
      width: 100%;
      text-align: center;
      padding: 8px 32px;
      background-color: $color-white;
      border-radius: 8px;
      margin: 0 16px;
      @include mobile-tablet {
        margin: 8px 0;
      }
      &-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      img {
        max-height: 224px;
        margin: auto;
        width: 100%;
        @include mobile-tablet {
          margin: 8px 0;
        }
      }
      h2 {
        font-family: $font-family-primary;
        text-transform: capitalize;
        font-size: 32px;
        line-height: 40px;
      }
      span {
        font-size: 20px;
        line-height: 29px;
        color: #979797;
      }
    }
    &__img-container {
      height: 224px;
      width: 224px;
      display: flex;
      align-items: center;
    }
    &__prices {
      max-width: 368px;
      width: 100%;
      margin: 32px auto 0;
      .line-item {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 8px;
        span {
          font-size: 16px;
          line-height: 22px;
          text-transform: capitalize;
        }
        &.total {
          margin-top: 8px;
          span {
            font-size: 20px;
            line-height: 28px;
          }
        }
      }
    }
    &__total-savings {
      display: inline-block;
      margin: 16px auto 32px;
      color: #089988;
      font-size: 16px;
      line-height: 22px;
      text-align: center;
    }
    &__add-to-cart {
      margin: 0 auto;
      height: 50px;
      width: 220px;
      /deep/ .button__content {
        margin-bottom: -6px;
      }
    }
    &__edit-link {
      margin: 16px auto 0;
      /deep/ .icon {
        display: none;
      }
    }
  }
  .price-container {
    display: flex;
  }
  .discounted {
    color: #089988;
  }
  .compare {
    margin-left: 8px;
    text-decoration: line-through;
    color: #979797;
  }
</style>