<template>
  <ul class="liprops__list" v-if="customOptions">
    <li v-for="pair in customOptions" :key="pair.label">
      <span>{{ pair.label }}:</span>
      <template v-if="isStringType(pair.type)">
        <span>{{ pair.displayText }}</span>
      </template>
      <template v-if="isImageUploadType(pair.type)">
        <span>{{ pair.displayText }}</span>
        <a target="_blank" :href="src" v-for="(src, i) in pair.images" :key="src">image {{i + 1}}</a>
      </template>
      <template v-if="isImageSelectType(pair.type)">
        <span>{{ pair.displayText }}</span>
        <a target="_blank" :href="pair.value.image">Image</a>
      </template>
    </li>
  </ul>
</template>

<script>
  import SideCartLineItemCustomProperties from '../cart/SideCartLineItemCustomProperties.vue';

  const IMAGE_UPLOAD_TYPE = 'CustomImageUpload';
  const IMAGE_SELECT_TYPE = 'CustomImageSelect';

  export default {
    name: 'AccountProperties',
    props: {
      option: Array
    },
    components: {
      SideCartLineItemCustomProperties
    },
    computed: {
      customOptions() {
        if (this.option[0] === 'custom') {
          return this.option[1];
        }
      }
    },
    methods: {
      isStringType(type) {
        return ![IMAGE_UPLOAD_TYPE, IMAGE_SELECT_TYPE].includes(type);
      },
      isImageUploadType(type) {
        return IMAGE_UPLOAD_TYPE === type;
      },
      isImageSelectType(type) {
        return IMAGE_SELECT_TYPE === type;
      }
    },
  }
</script>

<style scoped lang="scss">
  .liprops__list {
    padding-left: 0;
  }
</style>
