<template lang="pug">
  .accordion(:class="accordionClass")
    .accordion__header(:class="headerClass", @click="activate")
      span.accordion__menu-title(:class="titleClass")
        slot(name="heading") {{ heading }}
      icon.accordion-icon(:name="currentIcon", :size="iconSize", :class="iconClass")
    transition(:name="transition")
      .accordion__content(v-if="active", ref="content", :style="contentStyle")
        slot
</template>

<script>
  import Icon from 'scripts/components/basic/Icon.vue'

  export default {
    name: 'Accordion',
    components: { Icon },
    props: {
      expandMaxHeight: {
        type: Number
      },
      heading: {
        type: String
      },
      titleClass: {
        type: Array,
        default: () => { return [] },
      },
      selected: {
        type: Boolean,
        default: false
      },
      activeIcon: {
        type: String,
        default: 'close'
      },
      inactiveIcon: {
        type: String,
        default: 'plus'
      },
      iconSize: {
        type: String,
        deafult: '20px'
      },
      iconClass: {
        type: Array,
        default: () => { return [] },
      },
      /** prevent the accordion from closing when another is opened in the same accordion group */
      autoClose: {
        type: Boolean,
        default: true
      },
      theme: {
        type: String,
        default: 'default',
        validator (value) {
          return [
            'default',
            'footer-ramsay',
            'footer-bourdain',
            'product-details',
            'faq'
          ].includes(value)
        }
      }
    },
    data () {
      return {
        active: true,
        contentStyle: {},
        scrollHeight: 0,
        transition: 'none'
      }
    },
    computed: {
      accordionClass () {
        let classes = []

        if (this.theme !== 'default') {
          classes.push(`accordion--${this.theme}`)
        }

        if (this.active) {
          classes.push('is-open')
        }

        return classes
      },
      headerClass () {
        return {
          'is-open': this.active
        }
      },
      currentIcon () {
        return (this.active) ? this.activeIcon : this.inactiveIcon
      }
    },
    mounted () {
      this.setContentHeight()

      // NOTE: this has to be set to false after mount or scrollHeight will be 0
      this.active = this.selected
      this.transition = 'slide-vertical'

      if (this.$parent.addAccordion) {
        this.$parent.addAccordion(this)
      }
    },
    beforeDestroy () {
      this.active = false
      if (this.$parent.removeAccordion) {
        this.$parent.removeAccordion(this)
      }
    },
    methods: {
      setContentHeight () {
        let height = this.$refs.content.scrollHeight
        let containerPadding = 50

        // Set max height for animation
        this.contentStyle = {
          'max-height': `${ this.expandMaxHeight || (height + containerPadding) }px`
        }
      },
      activate () {
        if (this.$parent.activate && !this.active) {
          this.$parent.activate(this)
          this.$emit("active")
        } else {
          this.active = !this.active
        }

        if(this.active)
          this.$nextTick(() => this.setContentHeight())
      }
    }
  }
</script>

<style lang="scss" scoped>
  .accordion {
    margin: 20px 0;

    &.accordion--footer-ramsay,
    &.accordion--product-details {
      border-top: 1px solid $color-grey;
      background-color: transparent;

      &:last-child {
        border-bottom: 1px solid $color-grey;
      }
    }

    &.accordion--footer-bourdain {
      border-bottom: 1px solid $color-light-grey;
    }

    // &.accordion--faq {
    //   margin-bottom: 0;
    //   border-top: 1px solid $color-light-grey;
    //   background-color: transparent;
    //   transition: background-color 300ms ease-in-out;

    //   &:last-child {
    //     border-bottom: 1px solid $color-light-grey;
    //   }

    //   &.is-open {
    //     border-top-color: $color-grey;
    //     background-color: $color-light-grey;
    //   }

    //   &.is-open:last-child {
    //     border-bottom-color: $color-grey;
    //   }

    //   &.is-open + .accordion--faq {
    //     border-top-color: $color-grey;
    //   }
    // }

    &__header {
      width: 100%;
      cursor: pointer;

      .accordion--footer-bourdain & {
        padding-right: 0;
        padding-left: 0;
      }
    }

    &__menu-title {
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 0.5px;
      line-height: 19px;

      &:not([class*="color"]) {
        color: $color-black;
      }


      .accordion--faq & {
        @include h5();

        line-height: 1.29;
        letter-spacing: 0;

        @include tablet-up {
          font-size: rem(16);
          line-height: 1.5;
          letter-spacing: 1px;
        }
      }
    }

    &__content {
      overflow: hidden;

      &--wrapper {
        overflow: hidden;
      }
    }

    &__header {
      .accordion--footer-ramsay & {
        color: $color-off-white;
        font-weight: normal;

        &:hover {
          text-decoration: none;
        }
      }

      .footer-content--center .accordion--footer-bourdain & {
        @include mobile-only {
          justify-content: center;
        }
      }

      .accordion--product-details & {
        font-weight: 700;
      }
    }

    &__content {
      .accordion--footer-ramsay & {
        color: $color-black;
        font-weight: normal;
        padding: 0;

        &:hover {
          text-decoration: none;
        }
      }

      .accordion--product-details & {
        padding: 0 16px 24px;
      }

      .accordion--faq & {
        margin-bottom: 0;
        padding: 16px 10px 16px 14px;
        line-height: 1.43;

        @include tablet-up {
          padding: 24px 24px;
        }
      }
    }

    &__icon {
      .accordion--footer-ramsay & {
        fill: $color-black;
      }
    }
  }

  .footer-main-color-light .accordion__menu-title {
    color: $color-white;
  }

  .footer-main-color-light .accordion__menu-title {

    &:hover {

      &::before {
        background-color: $color-white;
      }
    }

    &::before {
      background-color: $color-white;
    }
  }

  .footer-main-color-dark .accordion__menu-title {
    color: $color-black;
  }

  .footer-main-color-dark .accordion__menu-title {

    &:hover {

      &::before {
        background-color: $color-black;
      }
    }

    &::before {
      background-color: $color-black;
    }
  }

  .accordion-icon {
    border: 1px solid $color-white;
    border-radius: 12px;

    .footer-main-color-light & {
      fill: $color-white;
    }

    .footer-main-color-dark & {
      fill: $color-black;
    }
  }

</style>
