<template lang="pug">
  .collection-grid-carousel(:style="containerStyles")
    .container
      .collection-grid-carousel-header
        h2(v-html="settings.title" v-if="settings.title" :style="{ color: settings.titleColor }")
        .collection-grid-menu
          .collection-grid-menu-wrapper
            v-link(
              v-if="settings.collections.length > 1"
              v-for="collection in settings.collections"
              :key="collection.handle"
              @click.prevent="activeCollection = collection.handle"
              tertiary
              :class="[activeCollection == collection.handle ? 'is-active': '']"
            )
              | {{ collection.name }}

          .collection-grid-carousel__nav-buttons
            button.collection-grid-carousel__nav-button.prev
              icon(name="arrow-right" size="20px")
            button.collection-grid-carousel__nav-button.next
              icon(name="arrow-right" size="20px")
      .collection-grid-carousel-container
        swiper.collection-grid-carousel-wrapper(:options="swiperOptions")
          swiper-slide.collection-grid-carousel__card(v-for="product in products" :key="product.id")
            product-tile(
              :selected-variant="product.variants[0]"
              :show-mobile-ATC="true"
              :collection-handle="activeCollection"
              :product="product"
            )
        .collection-grid-progress.swiper-scrollbar
</template>
<script>
import { swiper, swiperSlide } from 'vue-awesome-swiper';
import VLink from 'scripts/components/buttons/VLink.vue';
import Icon from 'scripts/components/basic/Icon.vue';
import ProductTile from 'scripts/components/product/ProductTile.vue';
import axios from 'axios';

export default {
  props: ['settings'],
  components: {
    swiper,
    swiperSlide,
    VLink,
    Icon,
    ProductTile
  },
  data () {
    return {
      activeCollection: this.settings.collections ? this.settings.collections[0].handle : null,
      products: []
    }
  },
  watch: {
    activeCollection (next, prev) {
      if (prev && next !== prev) {
        this.fetchCollection()
      }
    }
  },
  created () {
    this.fetchCollection()
  },
  methods: {
    fetchCollection () {
      axios.get(`/collections/${this.activeCollection}`, {
        params: {
          view: 'grid-json'
        }
      }).then(({ data }) => {
        this.products = data.products
      })
    },
  },
  computed: {
    swiperOptions () {
      return {
        slidesPerView: 'auto',
        spaceBetween: 8,
        slidesPerGroup: 2,
        scrollbar: {
          el: '.collection-grid-progress',
          draggable: true,
          hide: false
        },
        freeMode: true,
        navigation: {
          nextEl: '.collection-grid-carousel__nav-button.next',
          prevEl: '.collection-grid-carousel__nav-button.prev'
        }
      }
    },
    items () {
      return this.settings.items
    },
    containerStyles () {
      return {
        backgroundColor: `${this.settings.backgroundColor}`,
        paddingTop: `${this.settings.marginTop}px`,
        paddingBottom: `${this.settings.marginBottom}px`
      }
    }
  }
}
</script>
<style lang="scss" scoped>
  .collection-grid-carousel {
    overflow: hidden;
    background-color: $color-v-light-grey;

    @include mobile-only {
      padding-top: 40px !important;
      padding-bottom: 40px !important;
    }

    .swiper-container {
      @include mobile-only {
        overflow: visible;
      }
    }

    &__nav-button {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 1px 20px 0 rgba(0,0,0,0.1);
      width: 50px;
      height: 50px;
      min-width: 0;
      padding: 0;
      border: 0;
      border-radius: 50%;
      z-index: 3;

      @include mobile-only {
        display: none;
      }

      &.prev {
        svg {
          transform: rotate(180deg);
        }
      }
    }

    /deep/ .product-tile {
      background-color: transparent;
    }

    /deep/ .product-tile .product-tile__images {
      background-color: $color-white;
    }
  }

  .collection-grid-carousel__nav-buttons {
    display: flex;
    align-items: center;
    justify-content: center;

    @include mobile-only {
      display: none;
    }
  }

  .collection-grid-progress {
    /deep/ .swiper-scrollbar-drag {
      height: 4px;
      margin-top: 16px;
      background-color: $color-primary-red;
      border-radius: 0;

      @include tablet-up {
        margin-top: 44px;
      }
    }
  }
  .collection-grid-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .collection-grid-menu-wrapper {
    white-space: nowrap;
    vertical-align: middle;
    overflow-x: auto;

    > a {
      margin-right: 20px;
    }

    /deep/ .link {
      display: inline-block;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 2px;

      &::before {
        height: 2px;
        bottom: 0;
        transform: none;
      }
    }

    /deep/ .link.is-active {
      &::before {
        width: 100%;
        height: 2px;
        background-color: $color-primary-red;
      }
    }
  }

  .collection-grid-carousel-header {
    h2 {
      margin-bottom: 20px;
      text-transform: none;
    }
  }

  .collection-grid-carousel-container {
    position: relative;
    margin-top: 15px;

    @include tablet-up {
      margin-top: 24px;
      margin-bottom: 0;
    }
  }

  .collection-grid-carousel__card {
    position: relative;
    width: 45%;
    max-width: 270px;
  }
</style>
