<template lang="pug">
  .editorial-grid-container(:style="containerStyles")
    .container
      h2(v-html="settings.title" v-if="settings.title" :style="{ color: settings.titleColor }")
      .editorial-grid(:style="containerStyles")
        component.editorial-grid__card(
          :class="[`editorial-grid__card--${index + 1 }`]"
          v-for="(card, index) in cards"
          :key="card.url"
          :is="card.url ? 'a' : 'div'"
          :href="card.url"
        )
          picture
            source(media="(max-width: 767px)" :srcset="card.mobile_image")
            source(media="(min-width: 768px)" :srcset="card.image")
            img(:src="card.image" :alt="settings.title")
          .editorial-grid__card-overlay(v-if="card.showOverlay" :class="[`editorial-grid__card-overlay--${card.overlayColor}`]")
          .editorial-grid-details(:style="{ color: card.textColor }")
            h5(v-html="card.title")
            p.u-hidden-mobile-only.u-hidden-tablet-only.body-md-sm(v-html="card.content")
            v-link(
              v-if="card.cta"
              :class="card.buttonType"
              :href="card.url"
              tag="button"
            ) {{card.cta}}

</template>
<script>
import VLink from 'scripts/components/buttons/VLink.vue'

export default {
  props: ['settings'],
  components: {
    VLink
  },
  computed: {
    cards () {
      return this.settings.cards.slice(0, 4)
    },
    containerStyles () {
      return {
        backgroundColor: this.settings.backgroundColor
      }
    }
  }
}
</script>
<style lang="scss" scoped>
  .editorial-grid-container .container {
    padding: 30px 20px;

    @include tablet-up {
      padding-top: 80px;
      padding-bottom: 80px;
    }
  }

  h2 {
    margin-bottom: 20px;
    text-transform: none;

    @include desktop-up {
      margin-bottom: 44px;
    }
  }

  .editorial-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;

    @include tablet-up {
      gap: 36px;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-areas:
        "Card-1 Card-1 Card-3 Card-3"
        "Card-2 Card-2 Card-3 Card-3"
        "Card-4 Card-4 Card-4 Card-4";
    }
  }

  .editorial-grid__card-overlay {
    background: linear-gradient(199.17deg, rgba(0,0,0,0) 0%, #000000 100%);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.15);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &--light {
      background: linear-gradient(199.17deg, rgba(255,255,255,0) 0%, #FFFFFF 100%);
    }
  }

  .editorial-grid-details {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    padding: 24px;
    max-width: 325px;

    @include desktop-up {
      padding: 40px;
    }

    h5 {
      margin-bottom: 4px;
      font-size: 18px;
      text-transform: none;
      letter-spacing: 0.4px;
      line-height: 1.3;

      @include desktop-up {
        font-size: 20px;
      }

      .editorial-grid__card--3 & {
        font-size: 20px;
      }
    }

    .button {
      margin-top: 5px;

      @include desktop-up {
        margin-top: 20px;
      }
    }
  }

  .editorial-grid__card {
    position: relative;
    background-color: $color-white;;
    border-radius: 10px;
    overflow: hidden;

    &::after {
      content: "";
      padding-bottom: 60%;
      display: block;

      @include tablet-up {
        padding-bottom: 25%;
      }
    }

    &--3 {
      &::after {
        padding-bottom: 127%;

        @include tablet-up {
          padding-bottom: 80%;
        }
      }
    }

    @include tablet-up {
      &--1 {
        grid-area: Card-1;
      }

      &--2 {
        grid-area: Card-2;
      }

      &--3 {
        grid-area: Card-3;
      }

      &--4 {
        grid-area: Card-4;
      }

      &--1,
      &--2 {
        max-height: 294px;

        &::after {
          padding-bottom: 48%;
        }
      }

      &--4 {
        max-height: 294px;

        &::after {
          padding-bottom: 25%;
        }
      }
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
</style>
