<template lang="pug">
  .gallery-carousel(:style="containerStyles")
    .container
      .gallery-carousel-header
        .gallery-carousel-header-content
          h2(v-html="settings.title" v-if="settings.title" :style="{ color: settings.titleColor }")
          p.body-md(v-html="settings.introContent" v-if="settings.introContent")
        v-button(v-if="settings.viewMoreCta" tertiary :href="settings.viewMoreLink" tag='a' class='u-hidden-mobile-only')
          | {{ settings.viewMoreCta }}
      .gallery-carousel-container
        swiper.gallery-carousel-wrapper(:options="swiperOptions" ref="carousel")
          swiper-slide.gallery-carousel__card(v-for="(card, index) in items" :key="`ms_${index}`")
            component(:href="card.url" :is="card.url ? 'a' : 'div'")
              img(:src="card.image" :alt="card.alt")
        button.gallery-carousel__nav-button.prev
          icon(name="arrow-right" size="20px")
        button.gallery-carousel__nav-button.next
          icon(name="arrow-right" size="20px")
      v-button(v-if="settings.viewMoreCta" tertiary :href="settings.viewMoreLink" tag='a' class="u-hidden-tablet-up")
        | {{ settings.viewMoreCta }}
</template>
<script>
import { swiper, swiperSlide } from 'vue-awesome-swiper';
import VButton from 'scripts/components/buttons/VButton.vue';
import Icon from 'scripts/components/basic/Icon.vue';
export default {
  props: ['settings'],
  components: {
    swiper,
    swiperSlide,
    VButton,
    Icon
  },
  computed: {
    swiperOptions () {
      return {
        slidesPerView: 'auto',
        spaceBetween: 8,
        slidesPerGroup: 2,
        navigation: {
          nextEl: '.gallery-carousel__nav-button.next',
          prevEl: '.gallery-carousel__nav-button.prev'
        }
      }
    },
    items () {
      return this.settings.items
    },
    containerStyles () {
      return {
        paddingTop: `${this.settings.marginTop}px`,
        paddingBottom: `${this.settings.marginBottom}px`
      }
    }
  }
}
</script>
<style lang="scss" scoped>
  .gallery-carousel {
    overflow: hidden;
    background-color: $color-v-light-grey;

    .swiper-container {
      @include mobile-only {
        overflow: visible;
      }
    }

    &__nav-button {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      box-shadow: 0 1px 20px 0 rgba(0,0,0,0.1);
      background-color: $color-white;
      width: 50px;
      height: 50px;
      min-width: 0;
      padding: 0;
      border: 0;
      border-radius: 50%;
      z-index: 3;

      @include mobile-only {
        display: none;
      }

      &.next {
        right: -25px;
      }

      &.prev {
        left: -25px;
        svg {
          transform: rotate(180deg);
        }
      }
    }
  }

  .gallery-carousel-header {
    @include tablet-up {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .gallery-carousel-container {
    position: relative;
    margin-top: 24px;
    margin-bottom: 24px;

    @include tablet-up {
      margin-top: 60px;
      margin-bottom: 0;
    }
  }

  .gallery-carousel-header-content {
    max-width: 412px;

    @include tablet-up {
      margin-bottom: 0;
    }

    h2 {
      margin-bottom: 16px;
      text-transform: none;
    }

    p {
      color: $color-grayish-gray;
    }
  }

  .gallery-carousel__card {
    position: relative;
    background-color: $color-white;;
    border-radius: 10px;
    overflow: hidden;
    max-width: 240px;
    width: 80%;

    @include tablet-up {
      width: 25%;
      max-width: 275px;
    }

    &::after {
      content: "";
      padding-bottom: 100%;
      display: block;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
</style>
