<template lang="pug">
  div(
    ref="observable"
  )
    slot(
      v-if="loaded"
    )
</template>

<script>
  import IOLazyLoader from 'scripts/mixins/IOLazyLoader.js';

  export default {
    name: 'IoLazyLoader',
    mixins: [IOLazyLoader],
  };
</script>
