
<template lang="pug">
  transition(name="fade")
    .modal(v-if="isVisible" v-scroll-lock="isVisible")
      .modal__overlay(@click="close")
      v-button.modal__close-video.button.button--icon(v-if="video", label="Close Modal", icon="close", size="30px", @click="close")
      .modal__content--video(v-if="video")
        .modal__content--video__container
          iframe(width="853", height="480", :src="videoUrl", frameborder="0", allowfullscreen)
      .modal__content(v-else)
        v-button.modal__close.button.button--icon(label="Close Modal", @click.prevent="close")
          icon(name="close", size="30px")
        slot(name="content")
</template>

<script>
  import VButton from 'scripts/components/buttons/VButton.vue'
  import Icon from 'scripts/components/basic/Icon.vue'

  export default {
    name: 'Modal',
    components: { VButton, Icon },
    props: {
      video: String,
      autoOpen: {
        type: Boolean,
        default: false
      }
    },
    data() {
      return {
        isVisible: false
      }
    },
    computed: {
      videoUrl () {
        return (this.video && this.isVisible) ? `https://www.youtube.com/embed/${this.video}?autoplay=1` : ''
      }
    },
    methods: {
      open () {
        this.isVisible = true
        this.$emit('open')
      },
      close () {
        this.isVisible = false
        this.$emit('close')
      }
    },
    mounted () {
      if (this.autoOpen) {
        this.open()
      }
    }
  }
</script>

<style lang="scss">
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100%;
    overflow-y: auto;
    background-color: rgba(0,0,0,0.1);

    .video-modal & {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .modal__close-video {
    position: absolute;
    top: $grid-gutter;
    right: $grid-gutter;
  }

  .modal__content {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 50px;
    max-width: 100%;
    background-color: $color-white;
    padding: 30px;

    @include mobile-only {
      min-height: 100vh;
      width: 100%;
    }
    @include tablet-up {
      top: 50%;
      transform: translate(-50%, -50%);
      max-width: 647px;
      padding: 44px 80px 56px 80px;
    }
  }

  .modal--video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: $container-max-width;
    max-width: 100%;
  }

  .modal--video__container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;

    iframe,
    object,
    embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .modal__title {
    margin-bottom: $content-gutter;
  }

  .modal__close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: rem(36);
    padding: 8px;
    text-align: center;
    z-index: 2;
    font-size: 0;

    .icon--close {
      vertical-align: top;
    }
  }
</style>
