<template lang="pug">
  .star-rating
    img.star-rating__star(
      v-for="n in fullStars"
      :key="'full-' + n"
      :src="assetUrl('star-full.png')"
    )
    img.star-rating__star.star-rating__star--half(
      v-for="n in halfStars"
      :key="'half-' + n"
      :src="assetUrl('star-half.png')"
    )
    img.star-rating__star.star-rating__star--empty(
      v-for="n in emptyStars"
      :key="'empty-' + n"
      :src="assetUrl('star-empty.png')"
    )
</template>

<script>
  import Icon from 'scripts/components/basic/Icon.vue';
  import { assetUrl } from 'scripts/helpers/util';

  export default {
    name: "StarRating",
    components: {
      Icon,
    },
    props: {
      rating: {
        type: Number
      },
    },
    data () {
      return {
        maxStars: 5,
      }
    },
    methods: {
      assetUrl
    },
    computed: {
      fullStars () {
        return Math.floor(this.rating);
      },
      halfStars () {
        return (this.rating > this.fullStars) ? 1 : 0;
      },
      emptyStars () {
        return this.maxStars - (this.fullStars + this.halfStars);
      },
    },
  };
</script>

<style scoped lang="scss">
  .star-rating {
    &__star {
      width: 12px;

      &:not(:last-child) {
        margin-right: 1px;

        @include tablet-up {
          margin-right: 5px;
        }
      }
    }
  }
</style>
