<template lang="pug">
  accordion-group.product-details(
    ref="accordion-group"
  )
    accordion(
      ref="product-details-accordion"
      id="product-details-accordion"
      :expand-max-height="3000"
      :selected="true"
      :auto-close="false"
      theme="product-details")
      span.h5-mobile.product-details__heading(slot="heading") Product Details
      accordion-tease(:on-tease-expand="onTeaseExpand")
        .product-details__description.client-generated(v-html="product.description")
    accordion(
      v-if="customFields['show_additional_details_accord']"
      theme="product-details"
      :auto-close="false"
      :expand-max-height="2000"
      heading="Additional Details")
      span.h5-mobile.product-details__heading(slot="heading") Additional Details
      accordion-tease(:on-tease-expand="onTeaseExpand")
        .product-details__optional-body-copy.client-generated(v-if="customFields['optional_body_copy']" v-html="customFields['optional_body_copy']")
        table.product-details__table(v-if="splitTableCategory.length")
          tr.product-details__table-row(v-for="(item, index) in splitTableCategory")
            td.body-sm-mobile.body-md-tablet-up.product-details__table-category {{ item }} 
            td.body-sm-mobile.body-md-tablet-up.product-details__table-specification {{ splitTableSpecification[index] }}
        v-link(secondary v-if="customFields['link_text'] && customFields['link_url']" :href="customFields['link_url']") {{ customFields['link_text'] }}
    accordion(
      theme="product-details"
      :auto-close="false"
      v-if="settings.accordionContent"
    ) 
      span.h5-mobile.product-details__heading(slot="heading") {{ settings.accordionName }}
      accordion-tease(:on-tease-expand="onTeaseExpand")
        div.client-generated(v-html="settings.accordionContent")
      

</template>

<script>
import AccordionGroup from '../../basic/AccordionGroup.vue';
import Accordion from '../../basic/Accordion.vue';
import AccordionTease from '../../basic/AccordionTease.vue';
import VLink from '../../buttons/VLink.vue';

export default {
  name: 'ProductDetails',
  components: {
    AccordionGroup,
    Accordion,
    VLink,
    AccordionTease,
  },
  props: {
    collection: Object,
    product: Object,
    customFields: Object,
    settings: Object
  },
  mounted() {
    // expose methood for product form to open product details accordion
    window.bvaccel.productDetailsAccordion = this.$refs['product-details-accordion'];
    window.bvaccel.toggleProductDetailsAccordion = this.$refs['accordion-group'].activate.bind(this.$refs['accordion-group'], this.$refs['product-details-accordion']); 
  },
  computed : {
    splitTableCategory() {
      return this.customFields['details_category'].split('|###|');
    },
    splitTableSpecification() {
      return this.customFields['specification'].split('|###|');
    }
  },
  methods: {
    onTeaseExpand() {
      // tell the active accordions to update their height
      this.$refs['accordion-group'].accordions.filter(a => a.active)
        .forEach(a => a.setContentHeight())
    }
  }
}
</script>

<style lang="scss" scoped>
  .product-details{

    @include tablet-up {
      padding-bottom: 47px; // to match the bottom border of value props
    }

    &__optional-body-copy{
      margin-bottom: $grid-gutter;
    }

    &__heading {
      @include tablet-up {
        @include h4-mobile;
      }
    }

    &__table {
      border-collapse: collapse;
      margin: $grid-gutter 0;
    }

    &__table-row {
      width: 100%;
      border-top: 1px solid $color-grey;

      &:last-child {
        border-bottom: 1px solid $color-grey;
      }

      &:nth-child(odd) {
        background-color: #F8F8F8;
      }
    }

    &__table-category,
    &__table-specification {
      padding: 16px 8px;
    }

    .accordion__header {
      padding: 24px 16px;
      transition: background-color .2s linear;

      @include tablet-up {
        &:not(.is-open):hover {
          background: $color-off-white;
        }  
      }
    }

    .accordion__menu-title {
      font-weight: 700;
    }

    .accordion__content {
      padding: 0 16px 16px;
    }
  }
</style>