<template scoped lang="pug">
  .swatches-static(v-on="$listeners")
      button.swatches-static__swatch(
        v-for="(variant, index) in variants"
        :key="`swatch_${variant.id}`"
        :class="{'swatches-static__swatch--active': getActiveValue(variant) }"
        @keyup.enter.space.stop="$emit('input', variant);"
        @click.stop="$emit('input', variant);"
        :aria-controls="ariaControls"
        :aria-label="variant[optionKey]"
        :title="variant[optionKey]"
        tabindex="0"
        :disabled="getDisabledValue(variant)"
      )
        img(
          :src="variant.swatch_image", 
          :alt="variant[optionKey]"
          @error="$set(showDefault, index, true)"
          v-if="!showDefault[index] && variant.swatch_image"
        )
        img(
          :src="fileUrl(`swatch_${normalize(variant[optionKey])}.png`)", 
          :alt="variant[optionKey]"
          @error="$set(showDefault, index, true)"
          v-else-if="!showDefault[index]"
        )
        img(
          :src="fileUrl(`swatch_default_color.png`)", 
          :alt="variant[optionKey]"
          v-else
        )
</template>

<script>
import { fileUrl } from '../../../helpers/util';
import { normalize } from '../../../filters/string';

export default {
  name: 'ProductswatchesStatic',
  data () {
    return {
      showDefault: new Array(this.variants.length).fill(false)
    }
  },
  methods: {
    fileUrl,
    normalize
  },
  computed: {
    /** @returns {String} */ 
    optionKey() {
      return `option${this.colorOptionNumber}`;
    },
  },
  props: {
    variants: {
      type: Array,
      required: true,
    },
    value: {
      type: Object,
      required: true,
    },
    colorOptionNumber: {
      type: Number,
      default: 1
    },
    ariaControls: String,
    getDisabledValue: {
      type: Function,
      default: () => false
    },
    getActiveValue: {
      type: Function,
      required: true,
    }
  }
}
</script>

<style lang="scss" scoped>
  .swatches-static {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;

    &__swatch {
      display: inline-flex;
      border-radius: 100%;
      width: 24px;
      height: 24px;
      font-size: 0;
      position: relative;
      top: 0;
      padding: 0;
      border: none;
      outline: none;
      user-select: none;
      cursor: pointer;
      margin-right: 16px;
      margin-bottom: 16px;
    }

    &__swatch img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      font-family: 'object-fit: cover;';
      border-radius: 100%;
    }

    &__swatch:not(:disabled):hover,
    &__swatch:not(:disabled):focus {
      border: 1px solid $color-brand-tertiary;
      padding: 2px;
      top: 0;
    }

    &__swatch--active {
      border: 1px solid $color-brand-primary;
      padding: 2px;
      top: 0;
    }
  }
</style>