
<template lang="pug">
  div.pb-magnet
    label.pb-magnet__main(v-on="$listeners", :for="`pb-var-select-${id}-${value.id}`")
      input(
        type="radio",
        :checked="selectedVariant && value.id === selectedVariant.id",
        v-on:change.stop.prevent="$emit('input', value)"
        @input.stop="$emit('input', value)"
        class="input input--radio"
        :disabled="!value.available"
        :style="`background: url(${imageSize(fileUrl(`img-pb-thumb-${value.sku}.png`), '60x')});`"
        tabindex="-1"
        name="magnet-option"
      )
      //- thumbnail
      //- img(:src="imageSize(fileUrl(`img-pb-thumb-${value.sku}.png`), '60x')", :alt="`${value.option1} thumbnail`")
</template>

<script>
  import { imageSize, fileUrl } from 'scripts/helpers/util';
  import { withId } from 'scripts/helpers/props';

  export default {
    name: 'ProductPBMagnet',
    props: {
      value: Object, // selected value in magnet product (v-model),
      selectedVariant: Object,
      ...withId()
    },
    methods: {
      imageSize,
      fileUrl
    },
  }
</script>

<style lang="scss">
.pb-magnet {
  .input--radio {
    display: block;
    width: 24px;
    height: 24px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    &:checked::after {
      background-image: none;
      background-color: rgba($color-black, 0.2);
      border: 2px solid $color-white;
      width: 24px;
      height: 24px;
      top: -1px;
      left: -1px;
    }
  }

  input::-ms-check {
    display: none;
  }

  input:disabled + &__main {
    background: $color-off-white;
    cursor: default;
    color: #979797;
  }

  input:disabled + &__main input {
    background-color: $color-light-grey;
    border-color: $color-light-grey;
    cursor: default;
  }

  input {
    border-color: #979797;
  }

  input:checked {
    background-color: $color-brand-tertiary !important;
    overflow: hidden;
    border-color: $color-brand-tertiary;
  }

  // input:disabled + &__main input: {

  // }

  input:not(:disabled) + label:hover,
  input:not(:checked):focus + label {
    outline: none !important;
  }
}
</style>
