<template lang="pug">
  article.pftm.pdp--side-padded-mobile
    .pftm__flex-row
      .pftm__flex-column.pftm__flex-column--left
        p.pftm__type.body-sm(v-if="settings.showProductType") {{ product.type }}
        h1.pftm__title.pdp-product-title {{ product.title }}
        .pftm__flex-row.pftm__review-row
          span.pdp__review-stars.shopify-product-reviews-badge(v-if="!settings.hideReviews && reviewSource === 'shopify'", :data-id="product.id")
          bazaar-voice-reviews(v-else-if="!settings.hideReviews && reviewSource === 'bazaarvoice'" format="inline_rating" :productID="product.id" productURL="#BVRRContainer")
        template(v-if="subtitle")
          .pftm__flex-row
            span.pdp__sku.product-form__sku-mobile.color-off-black.body-sm {{ subtitle }}
      .pftm__flex-column.pftm__flex-column--right
        span.pftm__price-container
          span.pftm__price.pdp-price(
            v-if="variant && !customFields.hide_price"
            :class="{[$store.state.comparePriceColor]: prices.price < prices.compare_at_price }"
          ) {{ prices.price | money }}
          s.pftm__price-compare.pdp-price-compare(v-if="variant && prices.price < prices.compare_at_price && !customFields.hide_price") {{ prices.compare_at_price | money }}
          .pftm__flex-row
            span.pdp__stock(
              v-if="variant"
              :class="!variant.available ? 'pdp-out-of-stock-flag' : 'pdp-in-stock-flag'"
            ) {{ variant.available ? 'in stock' : 'out of stock' }}
</template>

<script>
import BazaarVoiceReviews from 'scripts/components/product/BazaarVoiceReviews.vue';

export default {
  name: "ProductFormTopMobile",
  components: {
    BazaarVoiceReviews
  },
  props: {
    collection: Object,
    product: Object,
    customFields: Object,
    variant: Object,
    settings: Object,
    prices: Object,
  },
  data() {
    return {
      reviewSource: window.bvaccel && window.bvaccel.reviewSource,
    }
  },
  model: {
    prop: 'variant',
  },
  computed: {
    subtitle () {
      const { subtitlePretext, showSKU } = this.settings;
      const cfVendor = this.variant && this.variant.cf_vendor ? this.variant.cf_vendor : this.customFields.product_vendor;
      const vendorText = showSKU ? this.variant.sku : cfVendor;

      if(subtitlePretext && vendorText) 
        return subtitlePretext + ' ' + vendorText;
      else if(vendorText) 
        return vendorText;
      return '';
    }
  }
}
</script>

<style lang="scss" scoped>
  .pftm {
    padding-top: 8px;
    padding-bottom: 8px;

    &__price {
      margin-bottom: 8px;
    }

    &__price-container {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    &__type {
      margin: 0;
      margin-bottom: 4px;
    }

    &__title {
      margin-bottom: 8px;
    }

    &__price-compare {
      color: $color-compare-price;
      margin-bottom: 4px;
    }

    &__flex-row {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
    }

    &__flex-column {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: flex-start;
    }

    &__flex-column--left {
      width: 70%;
      flex: 7;
      align-items: flex-start;
    }

    &__flex-column--right {
      width: 30%;
      flex: 3;
      align-items: flex-end;
    }

    &__title-row {
      margin-bottom: 4px;
      align-items: center;
    }

    &__review-row {
      margin-bottom: 8px;
    }

    .spr-badge .spr-badge-caption {
      font-size: rem(12);
      font-family: $font-family-primary;
    }

    .spr-starrating {
      padding: 0;
    }

    @include tablet-up {
      display: none; 
    }
  }
</style>