
<template lang="pug">
  form.product-form.pdp--side-padded-mobile(@submit.prevent="() => {}", @click="toReviews")
    div.hidden-sm.product-form__desktop-top
      p(v-if="settings.showProductType").product-form__type.body-sm {{ product.type }}
      h1.pdp-product-title.product-form__title {{ product.title }}
      span.pdp__sku.body-sm(v-if="subtitle") {{ subtitle }}
      span.pdp__stock(
        v-if="variant && !is3rdPartyProduct(product)"
        :class="variant.available ? 'pdp-in-stock-flag' : 'pdp-out-of-stock-flag'"
      ) {{ variant.available ? 'in stock' : 'out of stock' }}
      p.product-form__price-container
        span.product-form__price.pdp-price(
          v-if="variant && !customFields.hide_price"
          :class="{[$store.state.comparePriceColor]: prices.price < prices.compare_at_price }"
        ) 
          | {{ prices.price | money }}
        s.product-form__price-compare.pdp-price-compare(v-if="variant && prices.price < prices.compare_at_price && !customFields.hide_price")  {{ prices.compare_at_price | money }}
        span.pdp__review-stars-container
          span.pdp__review-stars.shopify-product-reviews-badge(v-if="!settings.hideReviews && reviewSource === 'shopify'" :data-id="product.id")
          bazaar-voice-reviews(v-else-if="!settings.hideReviews && reviewSource === 'bazaarvoice'" format="inline_rating" :productID="product.id" productURL="#BVRRContainer")
        p.product-form__description.body-md {{ customFields.product_description_summary | truncate }}  
          v-link.link.product-form__to-description(
            secondary
            href="#product-details-accordion"
            @click="scrollTo($event, '#product-details-accordion')"
          )   See Product Details
          span.product-form__includes(v-if="customFields.product_includes")
            strong Includes: 
            span {{ customFields.product_includes }}
    product-planet-box-variant-selector(v-if="magnetProduct", v-bind="$props", :addToCart="addToCart.bind(this)", :addToCartPromise="addToCartPromise"  :value="selectedMagnetVariant", @input="$emit('selectedMagnetChange', $event)" :prices="prices")
    .product-form__options-container.pdp--side-padded-mobile(v-else)  
      div.product-form__variant-option-set.option-set(
        v-if="filteredVariants.length"
        v-for="(option, optIndex) in product.options"
      )
        //- render swatches, with a swatch group for each swatch type. see variant.metafields.custom_fields.color_option
        template(v-if="/color/ig.test(option)")
          template(v-for="(swatchVariants, swatchType) in filteredColorVariants")
            p.option-set__top
              span.option-set__label {{ swatchType }}:
              span.option-set__value(v-if="swatchVariants.map(v => v[`option${optIndex + 1}`]).includes(selectedOptions[optIndex])")  {{ selectedOptions[optIndex] }}
            product-swatches-static(
              :value="variant || {}", 
              @input="colorChange"
              :variants="swatchVariants"
              :colorOptionNumber="colorIndex + 1"
              :getActiveValue="(swatchVariant) => swatchVariant[`option${optIndex + 1}`] === selectedOptions[optIndex]"
            )
        template(
          v-else-if="/magnet/ig.test(option)"
        )
          p.option-set__top
            span.option-set__label {{ option }}:
            span.option-set__value  {{ selectedOptions[optIndex] }}
          div.product-form__magnet-container
            product-pb-magnet(:key="`magnet-${_variant.id}`" :value="_variant || {}", :selectedVariant="variant" v-for="_variant of uniqBy(filteredVariants, `option${optIndex + 1}`)" @input="variantChange(optIndex, _variant[`option${optIndex + 1}`])")
        //- render normal (non-swatch) variant options
        template(
          v-else
        )
          p.option-set__top
            span.option-set__label {{ option }}:
            span.option-set__value  {{ selectedOptions[optIndex] }}
          template(v-for="_variant of uniqBy(filteredVariants, `option${optIndex + 1}`)")
            input.product-form__option-button-input(
              type="radio", 
              tabindex="0"
              :name="option", 
              :value="_variant[`option${optIndex + 1}`]", 
              :checked="_variant[`option${optIndex + 1}`] === selectedOptions[optIndex]" 
              @change="variantChange(optIndex, _variant[`option${optIndex + 1}`])"
              :id="`${option}-${_variant[`option${optIndex + 1}`]}`"
            )
            label(
              tabindex="0"
              :for="`${option}-${_variant[`option${optIndex + 1}`]}`"
            ) {{ _variant[`option${optIndex + 1}`] }}
    div.product-form__mobile.pdp--side-padded-mobile(:class="{'product-form__mobile--hide-atc': customFields.hide_atc}")
      quantity-selector.product-form__quantity(v-model="quantity" v-if="!is3rdPartyProduct(product) && !customFields.hide_atc" :isValidQuantity="(num) => num > 0" @valid="(isValid) => validQuantity = isValid" :class="{'product-form__quantity--error': !validQuantity}" :forceValidQuantity="false")
      //- select element for Bold Upsell App compat
      select(name="id", style="display: none;" :value="variant.id" v-if="variant && !customFields.hide_atc")
        option(:value="variant.id", v-for="variant in product.variants")
      v-button.pdp__atc.product-form__atc.button--full(v-if="isHiddenProduct(product) && !customFields.hide_atc" disabled :class="atcCtaClass") Add To Cart
      a.button.pdp__atc.product-form__atc.product-form__atc--full.button--full(v-else-if="is3rdPartyProduct(product) && !customFields.hide_atc" :class="atcCtaClass" :href="customFields.third_party_atc_url" target="_blank")
        span.button__content {{ customFields.third_party_atc_text || "Add To Cart" }}
      async-button.pdp__atc.product-form__atc.button--full(
        v-else-if="!customFields.hide_atc"
        :class="atcCtaClass"
        :disabled="(magnetProduct && !selectedMagnetVariant) || !variant || !variant.available || !validQuantity"
        :promise="addToCartPromise"
        @click.stop="addToCart"
        :title="atcTitle"
        type="submit" 
        value="Add to cart"
      ) {{ atcVerbiage }}
      .byk-callout.u-hidden-mobile-only(v-if="upsellData.cta_url && upsellData.img && upsellData.copy && upsellData.cta_copy && upsellData.heading")
        h3.h4.byk-callout__heading(v-if="upsellData.heading") {{ upsellData.heading }}
        div.byk-callout__main
          img(v-if="upsellData.img" :src="imageCrop(imageSize(upsellData.img, '224x'), 'center')", :alt="upsellData.heading")
          div
            p.body-sm(v-if="upsellData.copy") {{ upsellData.copy }}
            a.button.button--primary(v-if="upsellData.cta_url" :href="upsellData.cta_url")
              span.button__content(v-if="upsellData.cta_copy") {{ upsellData.cta_copy }}
      .product-form__optional-messaging.text-center.body-sm-mobile.body-md-tablet-up.client-generated(v-if="customFields.optional_message", v-html="customFields.optional_message")
      p.product-form__description.product-form__description-mobile.body-md
        | {{ customFields.product_description_summary | truncate }}
        span.product-form__includes(v-if="customFields.product_includes")
          strong Includes: 
          span {{ customFields.product_includes }}
      div.pdp--flex-row.u-hidden-tablet-up.product-form__share-mobile
        span.color-black 
          a.product-form__share-icon(:href="shareLinks.facebook", target="_blank" aria-label="Facebook")
            icon(name="facebook_pdp" size="15px")
          a.product-form__share-icon(:href="shareLinks.twitter", target="_blank" aria-label="Twitter")
            icon(name="twitter_pdp" size="15px")
          a.product-form__share-icon(:href="shareLinks.pinterest", target="_blank" aria-label="Pinterest")
            icon(name="pinterest_pdp" size="15px")
          a.product-form__share-icon(:href="shareLinks.email", target="_blank" aria-label="Email")
            icon(name="email_pdp" size="15px")
        span.color-off-black(v-if="subtitle") {{ subtitle }}
      .byk-callout.u-hidden-tablet-up(v-if="upsellData.cta_url && upsellData.img && upsellData.copy && upsellData.cta_copy && upsellData.heading")
        h3.h4.byk-callout__heading(v-if="upsellData.heading") {{ upsellData.heading }}
        div.byk-callout__main
          img(v-if="upsellData.img" :src="imageCrop(imageSize(upsellData.img, '224x'), 'center')", :alt="upsellData.heading")
          div
            p.body-sm(v-if="upsellData.copy") {{ upsellData.copy }}
            a.button.button--primary(v-if="upsellData.cta_url" :href="upsellData.cta_url")
              span.button__content(v-if="upsellData.cta_copy") {{ upsellData.cta_copy }}
      div.product-form__feature-icons(v-if="customFields.product_icon_set")
        div.product-form__icon-set(v-for="index in (customFields.product_icon_set || '').split(',')")
          .product-form__icon-set-wrap
            img.text-center(v-if="iconSetCollection[index].image", :src="iconSetCollection[index].image", alt="value proposition", aria-role="presentation")
            p.body-sm.text-center {{ iconSetCollection[index].firstLine || '' }}
            p.body-sm.text-center {{ iconSetCollection[index].secondLine || '' }}
      div.pdp--flex-row.product-form__share-desktop
        span.color-black 
          a.product-form__share-icon(:href="shareLinks.facebook", target="_blank" aria-label="Facebook")
            icon(name="facebook_pdp" size="15px")
          a.product-form__share-icon(:href="shareLinks.twitter", target="_blank" aria-label="Twitter")
            icon(name="twitter_pdp" size="15px")
          a.product-form__share-icon(:href="shareLinks.pinterest", target="_blank" aria-label="Pinterest")
            icon(name="pinterest_pdp" size="15px")
          a.product-form__share-icon(:href="shareLinks.email", target="_blank" aria-label="Email")
            icon(name="email_pdp" size="15px")
</template>

<script>
  import { mapState } from 'vuex'
  import uniqBy from 'lodash/uniqBy';
  import uniq from 'lodash/uniq';
  import defaults from 'lodash/defaults';
  import { truncateEllipsis, getProductUrl, getProductSocialLinks, generateId, imageSize, imageCrop, isHiddenProduct, tempATCDatalayer, is3rdPartyProduct } from '../../../helpers/util';
  import { scrollToId } from '../../../helpers/scroll';
  import QuantitySelector from '../../basic/Quantity.vue';
  import AsyncButton from '../../buttons/AsyncButton.vue';
  import VButton from '../../buttons/VButton.vue';
  import ProductSwatchesStatic from './ProductSwatchesStatic.vue';
  import Icon from '../../basic/Icon.vue';
  import VLink from '../../buttons/VLink.vue';
  import ProductPlanetBoxVariantSelector from './ProductPlanetBoxVariantSelector.vue';
  import ProductPbMagnet from './ProductPBMagnet.vue';
  import BazaarVoiceReviews from 'scripts/components/product/BazaarVoiceReviews.vue';


  export default {
    name: 'ProductForm',
    components: {
      QuantitySelector,
      AsyncButton,
      ProductSwatchesStatic,
      Icon,
      VLink,
      ProductPlanetBoxVariantSelector,
      ProductPbMagnet,
      VButton,
      BazaarVoiceReviews
    },
    model: {
      prop: 'variant',
    },
    props: {
      collection: Object,
      product: Object,
      customFields: Object,
      settings: Object,
      variant: Object,
      magnetProduct: Object,
      selectedMagnetVariant: Object,
      prices: Object,
      atcCtaClass: String,
    },
    data () {
      return {
        selectedOptions: [this.variant.option1, this.variant.option2, this.variant.option3],
        quantity: 1,
        addToCartPromise: null,
        reviewSource: window.bvaccel && window.bvaccel.reviewSource,
        validQuantity: true,
      }
    },
    filters: {
      truncate: truncateEllipsis(237)
    },
    computed: {
      atcTitle () {
        if(this.magnetProduct && !this.selectedMagnetVariant) {
          return 'Please select a magnet'
        }
        return ''
      },
      subtitle () {
        const { subtitlePretext, showSKU } = this.settings;
        const cfVendor = this.variant && this.variant.cf_vendor ? this.variant.cf_vendor : this.customFields.product_vendor;
        const vendorText = showSKU ? this.variant.sku : cfVendor;

        if(subtitlePretext && vendorText) 
          return subtitlePretext + ' ' + vendorText;
        else if(vendorText) 
          return vendorText;
        return '';
      },
      iconSetCollection (index) {
        if(!this.customFields.product_icon_set) return [];
        const images = (this.customFields.icon_image || '').split('|###|');
        const firstLines = (this.customFields.first_line_of_text || '').split('|###|');
        const secondLines = (this.customFields.second_line_of_text || '').split('|###|');

        return this.customFields.product_icon_set
          .split(',')
          .map(index => ({
            image: images[index],
            firstLine: firstLines[index],
            secondLine: secondLines[index]
          }))
      },
            /** @returns {Boolean} */
      hasColorVariants() {
        return this.product.options.some(opt => /color/i.test(opt));
      },
            /** @returns {Number} */
      colorIndex() {
        if(!this.hasColorVariants) return 0;
        
        return this.product.options.reduce((acc, opt, i) => /color/i.test(opt) ? i : acc, 0);
      },
            /** @returns {Array<Object>} */
      filteredVariants() {
        return this.product.variants.filter(v => v.title.toLowerCase() !== 'default title');
      },
      /** @returns {Object} {swatchType: [variants with that swatch type]} */
      filteredColorVariants() {
        if(!this.hasColorVariants) return [];
        
        const uniqueColorVariants = uniqBy(this.product.variants, `option${this.colorIndex + 1}`);
        const swatchTypeDefault = this.product.options[this.colorIndex];
        const separatedBySwatchType = uniqueColorVariants.reduce((acc, cur) => {
          const swatchType = cur.swatch_type || swatchTypeDefault;
          acc[swatchType] = acc[swatchType] instanceof Array ? [...acc[swatchType], cur] : [cur];
          return acc;
        }, {});
        
        return separatedBySwatchType;
      },
      shareLinks () {
        return getProductSocialLinks(window.bvaccel.shop.domain, this.collection, this.product, this.variant);
      },
      atcVerbiage() {
        if(!this.variant) {
          return 'Unavailable';
        } else if (!this.variant.available) {
          return 'Out of Stock';
        } else if (!this.validQuantity) {
          return 'Enter Quantity';
        }

        return 'Add to Cart';
      },
      upsellData() {
        const cf = this.customFields;
        const { settings } = this;

        return defaults(
          {
            img: cf.upsell_image,
            heading: cf.upsell_heading,
            copy: cf.upsell_copy,
            cta_copy: cf.upsell_cta_copy,
            cta_url: cf.upsell_cta_url,
          },
          {
            img: settings.upsellImg,
            heading: settings.upsellHeading,
            copy: settings.upsellCopy,
            cta_copy: settings.upsellCtaCopy,
            cta_url: settings.upsellCtaUrl,
          }
        )
      }
    },
    methods: {
      imageSize,
      imageCrop,
      uniqBy,
      isHiddenProduct,
      is3rdPartyProduct,
      /** @desc scroll to reviews section when reviews badge is clicked */
      toReviews (e) {
        if(e.target.matches('.spr-badge, .spr-badge *')) {
          scrollToId(e, '#pdp-reviews');
        }
      },
      addToCart () {
        let items = [];
        const _kitId = generateId();

        if(this.selectedMagnetVariant) {
          items = [
            {id: this.variant.id, quantity: this.quantity}, 
            {id: this.selectedMagnetVariant.id, quantity: this.quantity}
          ].map(obj => Object.assign(obj, {properties: { _kitId }}) );
          tempATCDatalayer([{
            id: this.product.id,
            sku: this.variant.sku,
            variantID: this.variant.id,
            productType: this.product.type,
            name: this.product.title,
            price: this.product.price/100,
          },
          {
            id: this.magnetProduct.id,
            sku: this.selectedMagnetVariant.sku,
            variantID: this.selectedMagnetVariant.id,
            productType: this.magnetProduct.type,
            name: this.magnetProduct.title,
            price: this.magnetProduct.price/100,
          }]);
        } else {
          items.push({id: this.variant.id, quantity: this.quantity});
        }

        this.addToCartPromise = this.$store.dispatch('cart/addItems', items)
          .then(() => window.setTimeout(() => this.$store.dispatch('cart/afterAddToCart'), 1000))
          .catch(error => this.$store.dispatch('toast/send', { text: error, type: 'error' }))
        return this.addToCartPromise;
      },
      scrollTo(...args) {
        scrollToId(...args)

        if(!window.bvaccel.toggleProductDetailsaccordion.active)
          window.bvaccel.toggleProductDetailsaccordion();
      },
      colorChange (variant) {
        this.variantChange(this.colorIndex, variant[`option${this.colorIndex + 1}`])
      },
      variantChange (optionIndex, optionValue) {
        this.$set(this.selectedOptions, optionIndex, optionValue);

        const [ newVariant ] = this.product.variants
          .filter(v => v.option1 === this.selectedOptions[0])
          .filter(v => v.option2 === this.selectedOptions[1])
          .filter(v => v.option3 === this.selectedOptions[2]);

        this.$emit('input', newVariant);
      },
      setSessionStorageMagnetVariant() {
        sessionStorage.magnetId = this.selectedMagnetVariant.id
      }
    },
    watch: {
      variant (newValue, oldValue) {
        if(!newValue || !oldValue) return;

        if(newValue.id !== oldValue.id) {
          window.history.replaceState(
            {vid: newValue.id},
            document.title,
            getProductUrl(this.collection, this.product, newValue)
          );
        }
      },
      selectedMagnetVariant() {
        this.setSessionStorageMagnetVariant()
      }
    },
    mounted() {
      if(this.magnetProduct) {
        sessionStorage.lunchboxId = this.product.variants[0].id
        sessionStorage.magnetId = ''
      }
    }
  }
</script>

<style lang="scss" scoped>
  .product-form {
    &__desktop-top > * {
      margin-bottom: 4px;
    }

    &__desktop-top &__price-container,
    &__desktop-top .pdp__sku {
      margin-right: 28px;
      margin-bottom: 16px;
    }

    &__magnet-container {
      display: flex;
      flex-wrap: wrap;
      max-height: 234px;
      position: relative; // necessary to prevent browser auto-scrolling on when a variant is focused!
      overflow-y: scroll;
    }

    &__scroll-more-arrow {
      fill: $color-brand-primary;
      transform: rotate(-90deg);
      position: absolute;
      right: -14px;
      bottom: 36px;
    }

    .pdp__sku, .pdp__stock {
      display: inline-block;
    }

    &__desktop-top &__price-container {
      display: flex;
      align-items: center;
    }

    &__desktop-top &__description {
      margin-bottom: 24px;
    }

    &__to-description {
      display: inline-block;
      font-weight: 400;
      line-height: 22px;
      vertical-align: bottom;
    }

    &__includes {
      display: block;
      margin-top: 8px;
      line-height: 22px;

      * {
        font-size: rem(12);
      }

      strong {
        font-weight: 500;
        color: $color-black;
      }

      span {
        color: $color-off-black;
      }
    }

    /deep/ &__quantity {
      width: 100%;
      background: #F8F8F8;
      justify-content: space-between;
      margin-bottom: 8px;
      outline: 1px solid transparent;
      outline-offset: -1px;
      transition: outline 300ms ease-in-out;
      
      input {
        background: #F8F8F8;
      }

      .quantity__change {
        margin: 14px;
        background: $color-white;
      }
    }

    /deep/ &__quantity--error {
      outline: 1px solid $color-util-error-0;
    }


    &__mobile > * {
      margin-bottom: 16px;
    }

    // &__mobile > *:last-child {
    //   margin: 0;
    // }

    &__optional-messaging {
      background: #F8F8F8;
      padding: 14px 48px;
    }

    &__atc.button:not(.button--state-loading):disabled,
    &__atc.button:not(.button--state-error):disabled,
    &__atc.button:not(.button--state-success):disabled {
      background: #ABACAF;
      border-color: #ABACAF;

      .button__content {
        color: $color-white;
      }
    }

    &__feature-icons {
      display: flex;
      justify-content: center;
      flex-wrap: nowrap;
      border-top: 1px solid $color-grey;

      @include tablet-up {
        border-bottom: 1px solid $color-grey;
      }
    }

    &__icon-set {
      padding: 16px 16px;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      max-width: 33%;
      min-width: 25%;
      width: 33%;
      text-align: center;
    }

    &__icon-set-wrap {
      max-width: 125px;
    }

    &__icon-set::after {
      content: '';
      position: absolute;
      right: 0;
      top: 25%;
      height: 50%;
      width: 1px;
      background: $color-grey;
    }

    &__icon-set:last-child::after {
      content: none;
    }

    &__icon-set img {
      width: 40px;
      margin: 0 0 8px;
    }

    &__icon-set p {
      margin: 0;
      white-space: pre-line;
    }

    &__variant-option-set {
      border-top: 1px solid $color-grey;
      border-bottom: 1px solid $color-grey;
      padding: 8px 0;
    }

    &__variant-option-set:first-child {
      border-bottom: none;
    }

    .swatches-static {
      margin-bottom: 0;
    }

    .swatches-static:last-child {
      margin-bottom: -8px;

      @include tablet-up {
        margin-bottom: -14px;
      }
    }

    .swatches-static .swatches-static__swatch {
      margin: 0 16px 12px 0;
    }

    .swatches-static .swatches-static__swatch:disabled {
      cursor: default !important;
      position: relative;
    }

    .swatches-static .swatches-static__swatch:disabled * {
      opacity: .15;
    }

    .swatches-static .swatches-static__swatch:disabled::after {
      content: '';
      width: calc(100% + 6px);
      height: 1px;
      background: $color-grey;
      position: absolute;
      top: 50%;
      left: -3px;
      transform: rotate(-45deg);
      transform-origin: center;
    }

    &__option-button-input {
      appearance: none;
      display: none;
    }

    &__option-button-input + label {
      padding: 12px 24px;
      margin: 0 4px 4px 0 ;
      border: 1px solid $color-black;
      min-width: 64px;
    }

    &__option-button-input:not(:disabled) + label {
      cursor: pointer;
    }

    &__option-button-input:not(:disabled) + label:hover,
    &__option-button-input:not(:disabled):focus + label {
      background-color: #F8F8F8;
    }

    &__option-button-input:checked + label {
      background: $color-black;
      color: $color-white;
    }

    &__option-button-input:checked + label:hover {
      cursor: default;
      background-color: $color-black;
      color: $color-white;
    }

    &__option-button-input:disabled + label {
      background-color: $color-white;
      color: $color-off-white;
      border-color: $color-off-white;
    }

    &__mobile {
      padding-top: 16px;
    }

    &__mobile--hide-atc {
      padding-top: 0;
    }

    .pdp--flex-row.product-form__share-desktop {
      display: none;
    }

    .pdp--flex-row.product-form__share-mobile {
      display: flex;
      align-items: center;
    }

    &__share-mobile > * {
      max-width: 50%;
    }

    &__share-desktop span {
      font-size: rem(12);
      letter-spacing: .75px;
      text-transform: uppercase;
      font-weight: 500;
      align-items: center;
    }

    &__share-mobile span {
      font-size: rem(12);
      letter-spacing: .75px;
      text-transform: uppercase;
      font-weight: 400;
      align-items: center;
    }


    &__share-desktop *,
    &__share-mobile * {
      vertical-align: middle;
    }

    &__share-desktop:first-child,
    &__share-mobile:first-child {
      margin-right: 8px;
    }

    &__share-icon {
      display: inline-block;
      margin: 0 8px;
    }

    .spr-starrating {
      padding: 0;
    }

    &__sku-mobile.pdp__sku {
      margin: 0;
    }

    &__atc {
      height: 50px;
      line-height: 50px;  
    }

    &__description-mobile {
      padding-top: 16px;
      border-top: 1px solid $color-grey;
    }
  }
  

  .option-set {
    position: relative;

    &__top {
      @include mobile-only {
        margin: 8px 0 16px;
      }
      margin: 0 0 16px;
    }

    &__label {
      font-weight: 500;
    }

    &__value {
      color: $form-color-grey;
    }

    @include tablet-up {
      padding: 24px 0;
    }
  }



  @include tablet-up {
    .product-form {
      max-width: calc(560px + 5%);
      margin-right: auto;
      font-size: 0;
      display: inline-block;
      vertical-align: top;
      padding-left: 5%;
      width: 50%;
      left: 0;
      float: right; // so the accordions can be directly under the image gallery in ~tablet widths 

      &__options-container {
        border-top: 1px solid $color-grey;
        border-bottom: 1px solid $color-grey;
      }      

      &__desktop-top &__price-container {
        display: flex;
        align-items: center;
        justify-items: flex-start;
      }

      &__price {
        margin-right: 16px;
      }

      .swatches-static {
        margin-bottom: 10px;
      }


      .swatches-static:last-child {
        margin-bottom: 0;
      }

      &__price-compare {
        margin-right: 7%; // 40px @ containers max-width
        color: $color-compare-price;
      }

      .pdp__sku, .pdp__stock {
        margin-bottom: 16px;
      }

      &__variant-option-set {
        border: none;
      }

      &__variant-option-set:not(:last-child):first-child {
        padding-bottom: 0;
      }

      &__description-mobile {
        display: none;
      }

      /deep/ &__quantity {
        display: inline-flex;
        max-width: 116px;
        margin: 0;

        .quantity__change {
          margin: 12px;
          height: (50px - 12px * 2);
          box-shadow: none;
          background-color: #F8F8F8;
        }

        .quantity__change {
          position: relative;
        }

        .quantity__change:not(:disabled)::after {
          opacity: 0;
          content: '';
          justify-content: center;
          align-items: center;
          width: 30px;
          height: 30px;
          border-radius: 100%;
          box-shadow: 1px 1px 8px rgba(0,0,0,0.1);
          z-index: -1;
          position: absolute;
          top: 50%;
          left: 50%;
          background: white;
          transform: translate(-50%, -50%);
          transition: opacity 0.2s ease-out;
        }

        .quantity__change:not(:disabled):hover::after {
          opacity: 1;
          transition: opacity 0.2s ease-in;
        }
      }


      &__optional-messaging {
        font-size: 16px;
        padding: 16px 48px;
      }

      &__atc {
        display: inline-block;
        width: 100%;
        max-width: calc(100% - 116px);
        vertical-align: top;
      }

      &__atc--full {
        width: 100%;
        max-width: none;
      }

      &__mobile {
        padding-left: 0 !important;
        padding-right: 0 !important;
        padding-top: 24px;
        position: relative;
        top: 1px;
      }

      &__mobile--hide-atc {
        padding-top: 0;

        .product-form__feature-icons {
          border-top: 0;
        }
      }

      &__price-compare,
      &__price {
        display: inline-block;
        position: relative;
      }

      .pdp--flex-row.product-form__share-desktop {
        display: flex;
      }

      .pdp--flex-row.product-form__share-mobile {
        display: none;
      }

      &__icon-set img {
        width: 64px;
      }

      &__includes {
        margin-top: 16px;
      }
    }
  }
  @include tablet-up {
    .product-form {
      top: 24px;
      position: -webkit-sticky;
      position: -moz-sticky;
      position: -ms-sticky;
      position: -o-sticky;
      position: sticky;
    }
  }

  .byk-callout {
    padding-top: 16px;
    border-top: 1px solid $color-grey;
    
    &__heading {
      text-align: center;
      font-family: $font-family-primary;
      text-transform: inherit;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 16px;
    }

    &__main {
      padding: 8px;
      border: 1px solid $color-grey;
      font-size: 0;
      width: 100%;
      border-radius: 4px;
    }

    &__main > * {
      display: inline-block;
      vertical-align: top;
    }

    &__main img {
      width: 88px;
      margin-right: 16px; 
    }

    &__main div {
      width: calc(100% - 88px - 16px);
    }

    &__main p {
      margin-bottom: 8px;
      line-height: 20px;
    }

    @include desktop-up {
      border-top: none;
      padding-top: 8px;

      &__heading {
        font-size: 18px;
        line-height: 22px;
        text-align: left;
      }

      &__main img {
        width: 112px;
        margin-right: 24px;
      }

      &__main p {
        line-height: 22px;
        font-size: rem(16);
        max-width: 95%;
      }

      &__main div {
        width: calc(100% - 112px - 24px);
      }
    }
  }
</style>