<template lang="pug">
  div.breadcrumbs
    div.container.body-sm 
      a.body-sm.plain-link(href="/") Home 
      | / 
      a.body-sm.plain-link(v-if="collection", :href="`/collections/${collection.handle}`") {{ collection.title }}  
      span.body-sm(v-if="collection") / 
      span.body-sm {{ product.title }}
</template>

<script>
export default {
  props: {
    collection: Object,
    product: Object
  }
}
</script>

<style lang="scss" scoped>
  .breadcrumbs {
    padding-top: 8px;
    padding-bottom: 8px;
    border-top: 1px solid $color-grey;
    border-bottom: 1px solid $color-grey;
    text-align: center;

    .plain-link {
      font-size: rem(12);
    }

    @include tablet-up {
      text-align: left;
      margin-bottom: 8px;
    }

    @include desktop-up {
      border-top: none;
    }
  }
</style>