<template lang="pug">
  .header-2-data
</template>

<script>
export default {
  name: 'Header2Data',
  props: {
    settings: Object,
    blocks: Array,
    defaultIcons: Object,
    helpLinks: Array,
    cartBubbleColors: Object,
    customerName: String,
    enablePredictiveSearch: Boolean
  },
  mounted() {
    const {
      settings,
      blocks,
      defaultIcons,
      helpLinks,
      cartBubbleColors,
      customerName,
      enablePredictiveSearch
    } = this;
    this.$store.dispatch('header/setData', {
      settings,
      blocks,
      defaultIcons,
      helpLinks,
      cartBubbleColors,
      customerName,
      enablePredictiveSearch
    });
  }
};
</script>

<style scoped lang="scss">
.header-2-data {
  display: none;
}
</style>