<template lang="pug">
</template>

<script>
  export default {
    name: "SocialData",
    props: {
      socialLinks: {
        type: Object,
        default: {},
      }
    },
    mounted() {
      this.$store.dispatch('social/saveSocialLinks', {
        socialLinks: this.socialLinks
      });
    },
  };
</script>
