/* Navbar.vue */
.header__menu-main-link {
  font-size: rem(16) !important;

  @include tablet-up {
    font-size: rem(14) !important;
  }
}

/* 
  NavbarDesktopTextBlocks.vue, NavbarDesktopTextLargeImage.vue, 
  NavbarDesktopTextSmallImageBlocks.vue, NavbarMobileTextBlocks.vue, 
  NavbarMobileTextLargeImage.vue, NavbarMobileTextSmallImageBlocks.vue 
*/
.header__dropdown-list-title {
  font-size: rem(14) !important;
}

.header__dropdown-images--large-image-title {
  font-size: rem(14) !important;
}

.header__dropdown-images--large-image-description {
  font-size: rem(14) !important;
}

/* top-header.scss */
.top-header__extra-link-outer-container,
.top-header__extra-link,
.top-header__extra-link--light,
.helper-links__link--light,
.top-header__extra-link--dark,
.helper-links__link--dark,
.top-bar__helper-link,
.top-bar__account-helper-link,
.top-bar__promobar-carousel p,
.top-bar__helper-main-link-title,
.promobar-block-content,
.promobar-block-content p,
.promobar-block-content a,
.promobar-block-content em,
.promobar-block-content strong {
  font-size: rem(12);
}

/* SearchInput.vue */
.search-input {
  font-size: rem(12) !important;
}