//Global
#app {
  background-color: $color-off-white;
}

body {
  color: $color-off-black;
}

.layout--default {
  #MainContent {
    padding-top: 0;
  }
}

//Promo bar
.promobar-block-content {
  p,
  a,
  em,
  strong {
    font-size: rem(14) !important;
  }
}

//Header
.brand-logo-bar__links {
  .link {
    color: $color-brand-primary !important;

    &:hover {
      &:before {
        width: 100%;
      }
    }
  }
}

.header-2-search-bar {
  &.fixed {
    .header-2-search-bar__logo-image {
      @include desktop-up {
        width: 220px !important;
      }
    }
  }
  &__link {
    color: $color-off-black !important;
  }

  &__link-text {
    font-size: rem(13) !important;
  }

  .search-form,
  .search-input {
    background-color: $color-white !important;
  }

  &__logo-image {
    @include desktop-up {
      width: 260px !important;
    }
  }
}

.menu-bar {
  &__link-text {
    font-size: rem(12);
    line-height: 130%;
    letter-spacing: 1px;

    &:not(.featured) {
      color: $color-off-black !important;

      svg {
        fill: $color-off-black !important;
      }
    }
  }

  &__featured-product-heading {
    font-size: rem(16) !important;
    font-weight: 400 !important;
    color: $color-black !important;
  }

  &__featured-product-title {
    font-family: $font-family-tertiary !important;
    font-weight: 400 !important;
    font-size: rem(18) !important;
    line-height: 130% !important;
    color: $color-off-black !important;
  }

  &__featured-product-price {
    font-family: $font-family-primary !important;
    font-weight: 400 !important;
    font-size: rem(16) !important;
    line-height: 150% !important;
    color: $color-off-black !important;
  }

  &__dropdown-col {
    border-left-color: #B2B2B2 !important;
  }

  &__col-image-link-text {
    font-size: rem(14) !important;

    @include desktop-up {
      font-size: rem(16) !important;
    }
  }

  &__col-linklist {
    padding: 0 16px !important;
  }

  &__col-linklist-item {
    padding: 0 !important;
  }

  &__col-linklist-link-title {
    font-size: rem(16) !important;
    font-weight: 400 !important;

    @include tablet-up {
      color: $color-accent-2 !important;
    }
  }

  &__col-linklist-nested-container {
    padding-left: 24px;
  }

  &__col-linklist-nested-item {
    font-size: rem(14) !important;
    font-weight: 300 !important;
    line-height: 24px !important;

    &:not(:last-child) {
      margin-bottom: 24px !important;
    }
  }

  &__col-linklist-nested-title {
    font-size: rem(14) !important;
    font-weight: 500 !important;

    @include desktop-up {
      font-size: rem(16) !important;
      margin-bottom: 24px !important;
      color: $color-accent-2 !important;
    }
  }
}

// Homepage
.hero-banner__heading {
  line-height: 100% !important;
}

// Collections

.collection-sorting {
  &.border {
    .input--select .v-select:not(.vs--open) .vs__dropdown-toggle {
      border-color: #B2B2B2 !important;
    }

    .input--select .v-select:not(.vs--open):hover .vs__dropdown-toggle {
      border-color: $color-black !important;
    }

    .input--select .v-select.vs--open .vs__dropdown-toggle {
      border-color: #C2C3C3 !important;
    }

    .vs__dropdown-menu {
      border-color: #C2C3C3 !important;
    }
  }
  &__mobile {
    &-option {
      padding: 16px;
      border-bottom: 1px solid $color-grey;
      cursor: pointer;
      &.sort-active {
        color: $color-brand-tertiary;
      }
    }
  }

  .vs__dropdown-toggle::before {
    display: none !important;
  }
}

.collection-filters {
  &__filter-panel {
    background: transparent !important;
  }

  .accordion-icon {
    width: 10px !important;
    height: 10px !important;
    fill: $color-brand-primary !important;
  }

  .accordion__menu-title {
    font-family: $font-family-primary !important;
    font-size: rem(14) !important;
    letter-spacing: 1px;
    color: $color-off-black !important;
  }
}

//Mobile Header
.menu-mobile {
  &__section-title {
    color: $color-white !important;
    background-color: $color-brand-tertiary !important;
  }

  &__section-title-text {
    font-family: $font-family-primary !important;
    font-size: rem(10);
    font-weight: 700 !important;
    letter-spacing: 2px;
  }

  .menu-accordion__item-title-text {
    h4 {
      font-size: rem(14) !important;
      font-family: $font-family-primary !important;
      font-weight: 500 !important;
      letter-spacing: 1.6px !important;
      color: $color-off-black !important;
    }

    .icon {
      fill: $color-off-black !important;
    }
  }
}

.menu-accordion__item-title {
  &.bg-brand-secondary {
    background-color: $color-accent-2 !important;

    h4 {
      color: $color-white !important;;
    }

    .icon {
      fill: $color-white !important;
    }
  }
}

@include mobile-only {
  .search-form__submit {
    background-color: $color-accent-2 !important;

    .icon {
      fill: $color-white !important;
    }
  }
}

.search-input::placeholder {
  color: $color-off-black !important;
}

//PDP
.breadcrumbs {
  .body-sm {
    font-size: rem(12) !important;
  }
}

.pdp-gallery__zoom-icon {
  background-color: $color-off-white !important;
}

.product-details {
  &__heading {
    font-size: 1rem !important;
  }

  &__description {
    p {
      font-size: rem(16) !important;
    }
  }

  .accordion {
    border-top-color: #997D39 !important;
    border-bottom-color: #997D39 !important;

    &.is-open {
      .accordion__header {
        background-color: $color-white !important;
        border-bottom-color: #997D39 !important;
      }

      .accordion__content {
        background-color: $color-white !important;
      }
    }

    &__header {
      &:hover {
        .product-details__heading {
          color: $color-accent-2 !important;
        }
        
        .accordion-icon {
          fill: $color-accent-2 !important;
        }
      }
    }
  }

  &__download {
    .icon {
      fill: $color-brand-primary;
    }
  }

  .show-more__overlay {
    background: linear-gradient(180deg, rgba(250, 251, 250, 0) 0%, rgba($color-white, .98) 86%, rgba($color-white, 1) 100%) !important;
  }
  
  .show-more__button {
    text-transform: uppercase;
  }
}

.product-form { 
  &__quantity {
    .v-select {
      background-color: $color-white !important;
      border-color: #9F9292 !important;
    }

    .vs__selected,
    .vs__search {
      color: $color-black !important;
    }

    .vs__dropdown-menu {
      border-color: #9F9292 !important;
    }
  }

  &__registry,
  &__wishlist {
    .link-text::before {
      width: 0;
      background: $color-brand-primary !important;
      transition: width 150ms linear;
    }

    &:hover {
      .link-text::before {
        width: 100%;
      }
    }
  }

  .product-share {
    .link-text:not(:hover) {
      color: $color-off-black !important;

      &::before {
        background-color: $color-off-black !important;
        width: 100% !important;
      }
    }
  }
}

.product-rec-sidebar {
  background-color: $color-off-white !important;
  border: 0 !important;

  h1 {
    font-size: rem(20) !important;
  }

  .product-tile,
  .product-tile__images,
  .product-tile__static-text-content {
    background-color: $color-off-white !important;
  }

  .product-tile-title {
    font-size: rem(18) !important;
    font-weight: 400;
    color: $color-brand-tertiary;
  }

  .product-tile__price,
  .product-tile__compare-price s {
    font-size: rem(16);
    font-weight: 400 !important;
  }
}

.pdp__product-recs {
  .product-tile {
    &[collectiontemplate="b"] {
      height: auto !important;
      background-color: $color-white !important;
      border: 1px solid #B2B2B2 !important;
      overflow: hidden;

      .product-tile__static-text-content {
        border-top: 1px solid #B2B2B2 !important;
        
        @include mobile-only {
          text-align: left !important;
        }
      }

      .product-tile__description {
        display: none !important;
      }

      .mobile-variant-info {
        display: none !important;
      }
    }

    .product-tile-title {
      color: $color-black !important;
    }

    .product-tile__price,
    .product-tile__compare-price s {
      font-weight: 400 !important;
    }
  }
}

// Account
.account-nav-menu-item:hover {
  background-color: $color-accent-1 !important;
}

// Footer
.footer-back-to-top-container {
  background-color: $color-brand-secondary !important;

  .icon {
    fill: $color-white !important;
  }

  .footer-back-to-top-text {
    color: $color-white !important;
  }
}

.footer-email-collection__body {
  font-size: rem(16) !important;
}

.footer-main__body {
  blockquote, dd, div, dl, dt, figcaption, figure, hr, li, main, ol, p, pre, ul {
    color: inherit !important;
  }
}

.footer-contact__contact-body {
  font-size: rem(14) !important;
  font-weight: 300 !important;

  blockquote, dd, div, dl, dt, figcaption, figure, hr, li, main, ol, p, pre, ul, a {
    color: inherit !important;
  }

  a {
    &::before {
      display: none;
    }
  }
}

.footer-subfooter__copyright {
  font-size: rem(12) !important;
}