/* Global */
.body * {
  color: $color-off-black;
}

.layout--default {
  #MainContent {
    padding-top: 0;
  }
}


/* Navigation */
.menu-bar {
  background-color: $color-white !important;
  border-color: $color-grey !important;

  &__link-text {
    font-size: rem(12);
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 2.6px;

    &:not(.featured) {
      color: $color-off-black;
    }
  }
}

.header-2-search-bar__search {
  .search-form {
    border-color: $color-grey !important;
    background-color: $color-white !important;

    ::placeholder {
      color: $color-off-black !important;
    }
  }

  .search-form__submit {
    background-color: $color-brand-secondary !important;

    @include desktop-up {
      background-color: transparent !important;
    }

    .icon {
      fill: $color-white !important;

      @include desktop-up {
        fill: $color-grey !important;
      }
    }
  }
}

.menu-bar__dropdown-col {
  border-left-color: $color-grey !important;
}

.menu-bar__col-linklist {
  padding: 0 16px !important;

  @include desktop-up {
    padding: 0 !important;
  }
}

.menu-bar__col-linklist-item {
  padding: 0 !important;
}

.menu-bar__col-linklist-nested-container {
  padding-left: 24px !important;
}

.menu-mobile__linklist-item {
  font-size: rem(16) !important;
  color: $color-off-black !important;

  h4 {
    font-weight: 400 !important;
  }
}

.menu-accordion__item-title {
  border-color: $color-grey !important;

  &.open {
    background-color: $color-light-grey !important;
    border-bottom-width: 1px !important;

    h4 {
      color: $color-brand-primary !important;
    }

    .menu-accordion__item-title-arrow {
      border-color: transparent !important;
    }

    .icon {
      fill: $color-brand-primary !important;
    }
  }
}

.menu-accordion__item-title-text {
  font-size: rem(14) !important;

  &.color-black {
    color: $color-off-black !important;
  }

  h4 {
    letter-spacing: 1.5px !important;
  }
}

.menu-accordion__item-title-arrow {
  border-color: $color-grey !important;

  .icon {
    fill: $color-grey !important;
  }
}

.menu-bar__col-container:not(:last-child) {
  .menu-bar__col-linklist-item {
    border-bottom: 1px solid $color-grey !important;
  }
}

.menu-bar__col-linklist-nested-title {
  font-size: rem(18) !important;
  font-weight: 400 !important;
  color: $color-off-black !important;

  @include desktop-up {
    margin-bottom: 20px !important;
    font-size: rem(14) !important;
    color: $color-brand-primary !important;
  }
}

.menu-bar__col-linklist-nested-item {
  font-size: rem(18) !important;
  font-weight: 400 !important;
  color: $color-off-black !important;

  @include desktop-up {
    font-size: rem(14) !important;
  }
}

.menu-bar__featured-product {
  border-top-width: 0 !important;
}

.menu-bar__col-linklist-link-title,
.menu-bar__featured-product-heading {
  font-size: rem(16) !important;
  font-weight: 400 !important;
}

.menu-bar__featured-product-title {
  font-weight: 400 !important;
}

.menu-bar__featured-product-price {
  font-size: rem(16) !important;
  font-weight: 700 !important;
}

.menu-mobile__section-title {
  color: $color-white !important;
  background-color: $color-brand-primary !important;
}

.menu-mobile__section-title-text {
  font-size: rem(14) !important;
}

.menu-bar__shop-all-bar {
  background-color: $color-white !important;
  border: 0 !important;
}

/* Footer */
.footer-value-prop__title {
  font-size: rem(20);
  line-height: 150%;  
}

.footer-main__body,
.footer-contact__contact-body {
  blockquote, dd, div, dl, dt, figcaption, figure, hr, li, main, ol, p, pre, ul, a {
    color: inherit;
  }
}

.footer-email-collection__body {
  font-size: rem(16);
}

.footer-main__menu-title {
  letter-spacing: 2.6px;
}

.footer-main__menu-link {
  font-size: rem(16) !important;
  line-height: 150% !important;
  margin-bottom: 8px !important;

  &:not(:hover) {
    color: $color-white !important;
  }
}

.footer-contact__contact-title {
  letter-spacing: 2.6px;
}

.footer-subfooter__copyright {
  font-size: 12px !important;
}

.footer-back-to-top-container {
  border: 0 !important;
  background-color: $color-off-black !important;

  .icon {
    fill: $color-white !important;
  }
}

.footer-back-to-top-text {
  color: $color-white !important;
}

/* Product Page */
.breadcrumbs {
  background-color: $color-light-grey;
  border-bottom: 0;

  .plain-link {
    color: $color-off-black;
  }
}

.pdp-gallery__thumbs-slider {
  .swiper-slide {
    border-color: $color-off-white !important;

    &.pdp-gallery__thumbs-slide--active {
      border-bottom-color: $color-brand-secondary !important;
    }
  }
}

.pdp-gallery__main {
  border-color: $color-off-white !important;
}

.product-details {
  .accordion {
    border-color: $color-grey !important;
  }
}

.product-details__heading {
  font-size: rem(14) !important;
}

.product-form__quantity-wrapper {
  .button-text {
    font-size: rem(16) !important;
    font-weight: 500 !important;
    text-transform: uppercase;
  }
}

.product-form__quantity.product-form__quantity {
  border-color: #8F8F8F !important;
}

.product-form__registry,
.product-form__wishlist {
  .link-text {
    text-decoration: none !important;
  }
}

.product-share {
  .link-text {
    color: $color-brand-primary !important;
  }
}

.pdp__product-recs {
  .product-tile__title {
    text-align: center;
  }

  .product-tile__price-container {
    text-align: center;
  }
}

.product-tile__price {
  font-weight: 700 !important;
  letter-spacing: 1px !important;

  s {
    font-weight: 700 !important;
    letter-spacing: 1px !important;
  }
}

.option-set__value {
  color: $color-off-black !important;
}

.option-set label {
  border-color: #8F8F8F !important;
}

.option-set input:not(:disabled) + label:hover,
.option-set input:not(:disabled):focus + label,
.option-set input:checked + label {
  background-color: $color-brand-primary !important;
  color: $color-white !important;
  outline: 0 !important;
}

.product-form__save-row {
  @include mobile-only {
    margin-bottom: 41px !important;
  }
}