//Global
body {
  color: $color-off-black;
}

.layout--default {
  #MainContent {
    padding-top: 0;
  }
}

.border-top {
  border-top-color: #d9d9d9 !important;
}

.border-right {
  border-right-color: #d9d9d9 !important;
}

.border-bottom {
  border-bottom-color: #d9d9d9 !important;
}


.border-left {
  border-left-color: #d9d9d9 !important;
}

//Promo bar
.featured-offers-link {
  color: $color-off-black !important;
  border-bottom-color: $color-brand-secondary !important;

  &:hover {
    color: $color-brand-secondary !important;
  }
}

.promo-color-dark .promobar-block-content a,
.promo-color-dark .promobar-block-content p {
  color: $color-off-black !important;
}

.promo-color-dark .carousel__nav__prev svg,
.promo-color-dark .carousel__nav__next svg {
  fill: $color-off-black !important;
}

//Header
.brand-logo-bar__links {
  .link {
    color: $color-grey !important;

    &:hover {
      color: $color-brand-secondary !important;
    }
  }
}

.header-2-search-bar {
  &__link {
    color: $color-off-black !important;
  }

  &__link-text {
    @include desktop-up {
      font-size: rem(12);
    }
  }
}

.menu-bar {
  background-color: $color-white !important;

  &__link-text {
    font-size: rem(11);
    font-weight: 500;
    line-height: 133%;
    letter-spacing: 2.6px;

    &:not(.featured) {
      color: $color-off-black !important;

      svg {
        fill: $color-off-black !important;
      }
    }
  }

  &__featured-product-heading {
    font-weight: 400 !important;
    color: $color-brand-secondary !important;
  }

  &__col-linklist-link-title {
    font-weight: 400 !important;

    @include tablet-up {
      color: $color-brand-secondary !important;
    }
  }

  &__col-linklist-nested-title {
    font-size: 14px !important;
    font-weight: 400 !important;
    letter-spacing: 0.8px !important;

    @include desktop-up {
      margin-bottom: 24px !important;
      color: $color-brand-secondary !important;
    }

    &.open {
      color: $color-brand-secondary !important;
    }
  }

  &__col-linklist-nested-item {
    letter-spacing: 0.8px !important;
  }
}

//Mobile Header
.menu-mobile {
  &__section-title {
    color: $color-white !important;
    background-color: $color-brand-primary !important;
  }

  &__section-title-text {
    font-family: $font-family-primary !important;
    font-weight: 700 !important;
  }

  .menu-accordion__item-title-text {
    font-size: 16px !important;

    h4 {
      font-family: $font-family-primary !important;
      font-weight: 500 !important;
      letter-spacing: 1.6px !important;
    }
  }
}

.menu-accordion__item-title {
  &.bg-brand-secondary {
    background-color: $color-off-white !important;
  }
}

@include mobile-only {
  .search-form__submit {
    background-color: $color-brand-secondary !important;

    .icon {
      fill: $color-white !important;
    }
  }
}

.search-input::placeholder {
  color: $color-off-black !important;
}

.template-index {
  // Homepage
  .hero-banner {
    &__preheading {
      font-size: rem(10) !important;
      letter-spacing: 3.5px !important;

      @include tablet-up {
        font-weight: 500 !important;
        font-size: rem(12) !important;
      }
    }
    &__heading {
      font-size: rem(36) !important;
      line-height: 34px !important;
      letter-spacing: 0 !important;

      @include tablet-up {
        font-size: rem(68) !important;
        line-height: 58px !important;
      }
    }
    &__subheading {
      font-size: rem(22) !important;
      font-weight: 600 !important;
      letter-spacing: 0 !important;

      @include tablet-up {
        font-size: rem(26) !important;
        font-weight: 700 !important;
        line-height: 1 !important;
      }
    }
    &__body-copy {
      font-size: rem(16) !important;
      font-weight: 400 !important;
      line-height: 22px !important;
      letter-spacing: 0.1px !important;

      @include tablet-up {
        font-size: rem(18) !important;
        line-height: 24px !important;
      }
    }
  }

  .shop-by-pattern {
    .product-tile-title {
      font-size: rem(14) !important;
    }
    .product-tile__price {
      font-size: rem(20) !important;
    }
  }
}

//Collection
.collection-total-results {
  font-family: $font-family-primary;
  font-weight: 400;
  letter-spacing: 2.5px;
  text-transform: uppercase;
}

.collection-filters__filter-panel {
  .accordion__menu-title {
    font-family: $font-family-primary !important;
    font-size: rem(14) !important;
    font-weight: 500 !important;
    letter-spacing: 1px !important;
    text-transform: uppercase !important;
  }

  .accordion-icon {
    width: 10px !important;
    height: 10px !important;
  }
}

.collection-filters__filter-panel-filter {
  label {
    font-family: $font-family-primary !important;
    font-size: rem(12) !important;
    font-weight: 400 !important;
    text-transform: uppercase !important;
  }
}

.collection-filters__filter-panel-filters-show-more-less {
  font-family: $font-family-primary !important;
  font-size: rem(12) !important;
  font-weight: 500 !important;
  letter-spacing: 1px !important;
  text-transform: uppercase;
}

.collection-sorting {
  .vs__dropdown-toggle::before {
    display: none !important;
  }
}

.product-tile[collectiontemplate] {
  .product-tile-title {
    font-weight: 500 !important;
  }
  .product-tile__price {
    font-weight: 600 !important;
  }
  .product-tile__compare-price {
    font-weight: 600 !important;
  }
}

//Footer
.footer-main {
  &__menu-title {
    font-weight: 400;
  }
}

//Accordion
.accordion {
  border-top-color: #d9d9d9 !important;
  border-bottom-color: #d9d9d9 !important;

  &.is-open {
    .accordion__header,
    .accordion__content {
      background-color: $color-off-white !important;
    }
  }

  &__header {
    border-bottom-color: #d9d9d9 !important;

    &:hover {
      .accordion__menu-title {
        color: $color-brand-secondary !important;
      }
      
      .accordion-icon {
        fill: $color-brand-secondary !important;
      }
    }
  }

  &__menu-title {
    color: $color-off-black !important;
  }

  .accordion-icon {
    fill: $color-grey;
  }
}

//PDP
.pdp {
  @include mobile-only {
    &--side-padded-mobile {
      margin-right: $grid-gutter-sm;
      margin-left: $grid-gutter-sm;
      width: calc(100% - #{(2 * $grid-gutter-sm)});
    }
  }
}
.pdp-gallery__zoom-icon {
  background-color: $color-off-white !important;
}

[class^="spr-icon-"]:before, [class*=" spr-icon-"]:before {
  color: $color-accent-2 !important;
}

.pdp-price:not([class*="color-"]) {
  color: $color-brand-tertiary;
}

.product-details {
  &__heading {
    font-family: $font-family-primary;
    font-size: 1rem;
    letter-spacing: 0;
    color: inherit !important;
  }

  &__download {
    .icon {
      fill: $color-brand-secondary;
    }
  }
}

.product-details__table-row {
  display: flex;

  .product-details__table-category {
    width: 25%;
  }

  .product-details__table-specification {
    width: 75%;
  }
}

.accordion--product-details .show-more__overlay {
  background: linear-gradient(180deg, rgba(250, 251, 250, 0) 0%, rgba($color-off-white, .98) 86%, rgba($color-off-white, 1) 100%) !important;
}

.product-form { 
  &__quantity {
    .icon {
      fill: $color-grey;
    }
  }

  &__registry,
  &__wishlist {
    color: $color-brand-secondary !important;
    fill: $color-brand-secondary !important;

    * {
      color: $color-brand-secondary !important;
      fill: $color-brand-secondary !important;
    }

    .link-text::before {
      width: 0;
      background: $color-brand-secondary !important;
      transition: width 150ms linear;
    }

    &:hover {
      .link-text::before {
        width: 100%;
      }
    }
  }

  .product-share {
    .link-text:not(:hover) {
      color: $color-grey !important;

      &::before {
        background-color: $color-grey !important;
      }
    }
  }
}

.product-tile {
  .product-tile__price-container span,
  .product-tile__price-container s {
    font-family: $font-family-primary !important;
    font-weight: 500 !important;
    font-size: rem(20) !important;
    letter-spacing: -0.4px !important;
  }

  .product-tile__price-container span:not([class*="color-"]) {
    color: $color-brand-tertiary !important;
  }

  .button__content {
    background-color: rgba($color-white, 0.9) !important;
  }
}

.product-tile__price {
  &:not([class*="color-"]) {
    color: $color-black;
  }
}

.product-rec-sidebar {
  border: 0 !important;

  .product-tile-title {
    color: $color-brand-tertiary;
  }
}

.pdp__product-recs {
  .product-tile {
    height: auto !important;
    border: 1px solid $color-grey !important;
    overflow: hidden;

    &__static-text-content {
      border-top: 1px solid $color-grey !important;

      @include mobile-only {
        text-align: left !important;
      }
      @include tablet-up {
        border-top-color: #d9d9d9 !important;
      }
    }

    &__description {
      display: none !important;
    }

    @include tablet-up {
      border-color: #d9d9d9 !important;
    }
  }

  .product-tile-title {
    color: $color-brand-tertiary;
  }

  .mobile-variant-info {
    display: none !important;
  }
}