
// hide quantity selector on planet box custom pdps
.pdp.pb .quantity.product-form__quantity {
  display: none;
}

@include tablet-up {
  .pdp.pb .product-form__atc {
    max-width: 100%;
  }
}

.footer__links__header {
  font-size: rem(16);
}

.product-tile__price {
  font-weight: 500 !important;
}

.product-details__heading {
  font-family: $font-family-primary !important;
  font-size: rem(16) !important;
}

.subheader.featured-articles__subheading {
  font-size: 1rem;
}

.collection-hero__text {
  .h4 {
    font-size: rem(24);
    font-weight: normal;

    @include tablet-up {
      font-size: rem(36);
    }
  }
}