.link{
  &:hover .icon,
  &:focus .icon {
    transform: translateX(3px);
    fill: $link-primary-icon-fill-hover;
  }
}

.logo-nav-container {
  @include desktop-up {
    align-items: flex-end !important;
  }
}

.navbar {
  &__logo {
    @include desktop-up {
      padding: 12px 0;
    }
  }
}

.header__menu-main-link {
  @include desktop-up {
    display: flex;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    flex-direction: column !important;
    justify-content: flex-end !important;
  }

  &:hover {
    color: lighten($color: $color-black, $amount: 25) !important;
  }
}

.newsletter-submit-container {
  .newsletter-submit-text {
    text-transform: uppercase;
    font-weight: 700;
  }
  &:hover {
    .newsletter-submit-text {
      color: $color-white !important;
    }
  }
}

.body-sm.plain-link {
  color: $color-black;
}

.featured-collection__view-all-button {
  .button__content {
    z-index: 0 !important;
  }
}

.footer__links-small-layout__section {
  .footer__links-small-layout__header {
    font-weight: bold;
  }
}

.sidecart__line-item__title {
  text-transform: uppercase;
  font-weight: 700 !important;
}

.accordion-group.footer__accordions {
  .accordion__header {
    .accordion__menu-title {
      font-weight: 700 !important;
      text-transform: uppercase !important;
    }
  }
  .footer__linklist__link {
    text-transform: uppercase;
  }
}

.footer__content-contact-info-container {
  .footer__contact-info-container {
    @include mobile-only {
      width: 100% !important;
      justify-content: center !important;
    }
  }
}

.product-form__title {
  letter-spacing: normal !important;
}

.header__dropdown-list-title {
  font-weight: 700 !important;
}

.spr-summary-actions-newreview {
  color: $color-black;
  &:hover {
    color: $color-white;
    background-color: $color-accent-1;
  }
}

.spr-button.spr-button-primary.button.button-primary.btn.btn-primary {
  color: $color-black;
  &:hover {
    color: $color-white;
    background-color: $color-accent-1;
  }
}

.spr-content{
  margin: 0 20px;
}

.active-accordion .accordion__title {
  color: $color-black !important;
}

.accordion__header {
  .fill-brand-tertiary {
    fill: $color-black !important;
  }
}

/* Cart */
.cart__line-item__sku,
.sidecart__line-item__sku {
  font-size: rem(14) !important;
}