.page-container {
  @include tablet-up {
    display: flex;
    min-width: 0;
    justify-content: center;
  }
}

.page-template {
  width: 100%;
  max-width: 1160px;
  padding-top: 48px;
  padding-right: 16px;
  padding-left: 16px;
  margin: 0 auto 48px;

  @include tablet-up {
    margin-bottom: 80px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h7 {
    margin-bottom: 26px;
    text-transform: none;
  }

  h6 {
    line-height: 1.4;
  }

  div {
    margin-bottom: 8px;
  }

  p {
    margin-bottom: 24px;
  }

  ul {
    list-style: disc;
  }

  ul, ol {
    margin-top: 32px;
    margin-left: 16px;

    li {
      padding-left: 0px;
      margin-bottom: 2px;
    }

    ul, ol {
      margin-top: 0;
    }
  }

  ol {
    margin-left: 17px;
  }

  a {
    &.button {
      @extend .button;

      &::before {
        display: none;
      }
    }

    &.button--primary {
      @extend .button--primary;
    }

    &.button--secondary {
      @extend .button--secondary;
    }

    a.button--tertiary {
      @extend .button--tertiary;
    }

    &.button--outline {
      @extend .button--outline;
    }
  }

  img {
    width: 100%;
    border-radius: 10px;

    &+span {
      display: block;
      margin: 24px 0;
      font-size: 10px;
      line-height: 12px;
    }
  }

  hr {
    margin: 64px 0;
  }

  &__title {
    text-align: center;

    .page-template--with-sidebar & {
      text-align: left;
    }
  }
  a.link--primary {
    display: inline;
    &::before {
      -webkit-transform: translateY(2px);
      transform: translateY(2px);
    }
  }

  .rte {
    margin: auto;
    padding-top: 30px;
    max-width: 820px;

    p {
      font-family: $font-gibson;
    }
  }
}

.page-template--with-sidebar {
  max-width: 980px;
  margin-right: 0;
  margin-left: 0;
}

.page-template--super-collection {
  padding-top: 0;
}

#MainContent #scasl-app-container {
  * {
    font-family: $font-gibson;
    font-weight: 300;

    &.bh-sl-title {
      margin-top: 20px;
      text-transform: uppercase;

    }
  }

  button#bh-sl-submit,
  .button#scapl-geocode-btn {
    @extend .button, .button--primary;

    max-height: 34px;
    line-height: 29px;
  }

  .scasl-tabs {
    display: flex;
    justify-content: space-between;
  }

  .scasl-tab-list,
  .scasl-tab-map, {
    min-width: 49%;
    @extend .button, .button--secondary;

    &.active {
      @extend .button--primary;
    }
  }
}

.media-content-wrapper {
  width: 100%;
}

.page-template__hero {
  position: relative;
  height: 290px;

  &.page-template__hero--no-background {
    max-height: 120px;
  }

  .page-template__hero-text-wrap {
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 800px;
  }

  .page-template__subtitle {
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    text-align: center;
  }

  .hero,
  .hero__picture,
  .hero__image {
    height: 290px;
    min-height: unset;
  }
}
