{% capture schema %}
  {
    "settings": {
      "sectionHeader": {{ section.settings.collection_linear_section_header | json }},
      "shopAllLink": {{ section.settings.collection_linear_shop_all | json }},
      "textAlignment": {{ section.settings.collection_linear_text_alignment | json }},
      "backgroundImage": {{ section.settings.collection_linear_background_image | json }},
      "backgroundColor": {{ section.settings.collection_layout_linear_background_color | json }},
      "titleColor": {{ section.settings.collection_layout_linear_header_color | json }},
      "marginTop": {{ section.settings.margin_top | json }},
      "marginBottom": {{ section.settings.margin_bottom | json }},
      "imageShape": {{ "square" }}
    },
    "blocks": [
      {% for block in section.blocks %}
        {
          "id": {{ block.id | json }},
          "type": {{ block.type | json }},
          "settings": {
            "linear_image": {{ block.settings.linear_image | json }},
            "linear_collection_name": {{ block.settings.linear_collection_name | escape | json }},
            "linear_link": {{ block.settings.linear_link | escape | json }},
          }
        }{% unless forloop.last %},{% endunless %}
      {% endfor %}
    ]
  }
{% endcapture %}

<collection-layout-linear 
  :schema="{{ schema | escape | strip }}"
></collection-layout-linear>

{% schema %}
  {
    "name": "Collection Blocks",
    "class": "collection-linear",
    "max_blocks": 16,
    "settings": [
      {
        "type": "header",
        "content": "Section Margins",
        "info": "Customize the margin spacing on the top and bottom of this section. "
      },
      { 
        "label": "Top Margin",
        "id": "margin_top",
        "type": "range",
        "min": 40,
        "max": 80,
        "step": 8,
        "unit": "px",
        "default": 40
      },
      { 
        "label": "Bottom Margin",
        "id": "margin_bottom",
        "type": "range",
        "min": 40,
        "max": 80,
        "step": 8,
        "unit": "px",
        "default": 40
      },
      {
        "type": "header",
        "content": "Design"
      },
      { 
        "label": "Section Header",
        "id": "collection_linear_section_header",
        "type": "text",
        "default": "Section Header"
      },
      { 
        "label": "Text Alignment",
        "id": "collection_linear_text_alignment",
        "type": "select",
        "options": [
          { "label": "Left", "value": "left" },
          { "label": "Center", "value": "center" }
        ],
        "default": "center"
      },
      { 
        "label": "Background Color",
        "id": "collection_layout_linear_background_color",
        "type": "color",
        "default": "#ffffff"
      },
      { 
        "label": "Header Color",
        "id": "collection_layout_linear_header_color",
        "type": "color",
        "default": "#222222"
      }
    ],
    "blocks": [
      {
        "name": "Tile",
        "type": "linear_collection_block",
        "settings": [
          {
            "label": "Image",
            "type": "image_picker",
            "id": "linear_image"
          },
          {
            "label": "Collection Name",
            "type": "text",
            "id": "linear_collection_name",
            "default": "Collection"
          },
          {
            "label": "Link",
            "type": "url",
            "id": "linear_link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Collection Blocks",
        "category": "Collection"
      }
    ]
  }
{% endschema %}
