{% capture hero_settings %}
  {
    "heading": {{ collection.title | json }},
    "description": {{ collection.description | json }},
    "imageUrl": {% if collection.image %}{{ collection.image | img_url: '1400x' | json }}{% else %}""{% endif %},
    "mobileImageUrl": {{ collection.metafields.custom_fields['hero_mobile_image'] | json }},
  }
{% endcapture %}

<collection-hero
  :settings="{{ hero_settings | escape | strip }}"
/>

{% schema %}
  {
    "name": "Collection Hero"
  }
{% endschema %}