{%- capture section_settings -%}
{
  settings: {
    margin_top: {{ section.settings.margin_top | json }},
    margin_bottom: {{ section.settings.margin_bottom | json }},
    title: {{ section.settings.title | json }},
    subtext: {{ section.settings.subtext | json }},
    header_alignment: {{ section.settings.header_alignment | json }},
    enable_step_numbers: {{ section.settings.enable_step_numbers | json }},
    bg_color_1: {{ section.settings.bg_color_1 | json }},
    bg_color_2: {{ section.settings.bg_color_2 | json }},
    bg_color_3: {{ section.settings.bg_color_3 | json }},
    title_color: {{ section.settings.title_color | json }},
    subtext_color: {{ section.settings.subtext_color | json }},
    block_title_color: {{ section.settings.block_title_color | json }},
    block_subtitle_color: {{ section.settings.block_subtitle_color | json }},
    border_color: {{ section.settings.border_color | json }},
    line_color: {{ section.settings.line_color | json }},
    cta_text: {{ section.settings.cta_text | json }},
    cta_link: {{ section.settings.cta_link | json }},
    cta_style: {{ section.settings.cta_style | json }},
    columns: [
      {%- for column in section.blocks -%}
        {{ column.settings | json }},
      {%- endfor -%}
    ]
  }
}
{%- endcapture -%}

<column-blocks
  :block="{{ section_settings | escape }}"
>
  <div
    class="column-blocks"
    style="margin-top: {{ section.settings.margin_top }}px;
    margin-bottom: {{ section.settings.margin_bottom }}px;
    background:  {{ section.settings.bg_color_3 }};"
  >
    <div
      class="column-blocks__header-wrap"
      style="background: {{ section.settings.bg_color_1 }};
      {% if section.settings.bg_color_2 != blank %} background: linear-gradient(90deg, {{ section.settings.bg_color_1 }}, {{ section.settings.bg_color_2 }}); {% endif %}"
    >
      <div
        class="column-blocks__header
        {% if section.settings.header_alignment == 'centered' %} centered {% endif %}
        {% if section.settings.enable_step_numbers == true %} enable-steps {% endif %}"
      >
        <h2
          class="column-blocks__title"
          style="color: {{ section.settings.title_color }}"
        >
          {{ section.settings.title }}
        </h2>
        {% if section.settings.subtext != blank %}
        <p
          class="column-blocks__subtext"
          style="color: {{ section.settings.subtext_color }}"
        >
          {{ section.settings.subtext }}
        </p>
        {% endif %} {% if section.settings.cta_text != blank %}
        <a
          href="{{ section.settings.cta_link }}"
          class="column-blocks__cta button button--{{ section.settings.cta_style }}"
        >
          {{ section.settings.cta_text }}
        </a>
        {% endif %}
      </div>
    </div>
    <div
      class="column-blocks__blocks-wrap"
      style="{% if section.settings.enable_step_numbers == true %} height: 252px; {% endif %}"
    >
      <carousel
        class="column-blocks__blocks"
        ref="columnBlocksCarousel"
        :slides-to-show="($mq === 'mobile') ? 1 : 2"
        :center-mode="($mq === 'mobile')"
        :dots="true"
      >
        {% assign count = 1 %} {% for block in section.blocks %}
        <slide>
          <div
            class="column-blocks__block {% if section.settings.enable_step_numbers == true %} enable-steps {% endif %}"
            style="{% if section.settings.enable_step_numbers == true %} border: 1px solid {{ section.settings.border_color }} {% endif %}"
          >
            <div class="column-blocks__block-img-wrap">
              <img
                class="column-blocks__block-img"
                srcset="{{ block.settings.image | img_url: '96x' }} 1x,
                    {{ block.settings.image | img_url: '192x' }} 2x"
                src="{{ block.settings.image | img_url: '192px' }}"
                alt="{{ block.settings.image.alt }}"
              />
            </div>
            {% if section.settings.enable_step_numbers == true %}
            <span class="column-blocks__step-number">{{ count }}</span>
            {% endif %}
            <h3
              class="column-blocks__block-title"
              style="color:{{ section.settings.block_title_color }}"
            >
              {{ block.settings.title }}
            </h3>
            <p
              class="column-blocks__block-subtext"
              style="color:{{ section.settings.block_subtitle_color }}"
            >
              {{ block.settings.subtext }}
            </p>
            {% assign count = count | plus: 1 %}
            <span
              class="column-blocks__blocks-line-mobile"
              style="{% if section.settings.enable_step_numbers == true %} background: {{ section.settings.line_color }} {% endif %}"
            ></span>
          </div>
        </slide>
        {% endfor %}
        <span
          class="column-blocks__blocks-line"
          style="{% if section.settings.enable_step_numbers == true %} background: {{ section.settings.line_color }} {% endif %}"
        ></span>
      </carousel>
    </div>
    <div class="column-blocks__cta-mobile-wrap">
      {% if section.settings.cta_text != blank %}
      <a
        href="{{ section.settings.cta_link }}"
        class="column-blocks__cta-mobile button button--{{ section.settings.cta_style }}"
      >
        {{ section.settings.cta_text }}
      </a>
      {% endif %}
    </div>
  </div>
</column-blocks>


{% schema %}
{
  "name": "Column Blocks",
  "settings": [
    {
      "type": "header",
      "content": "Section Margins",
      "info": "Customize the margin spacing on the top and bottom of this section."
    },
    {
      "label": "Top Margin",
      "id": "margin_top",
      "type": "range",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "default": 0
    },
    {
      "label": "Bottom Margin",
      "id": "margin_bottom",
      "type": "range",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "default": 0
    },
    {
      "type": "header",
      "content": "Text Content"
    },
    {
      "label": "Header",
      "id": "title",
      "type": "text",
      "default": "Column Section Title"
    },
    {
      "label": "Subheader",
      "id": "subtext",
      "type": "textarea"
    },
    {
      "label": "Header Alignment",
      "id": "header_alignment",
      "type": "radio",
      "options": [
        { "value": "left", "label": "Left" },
        { "value": "centered", "label": "Centered" }
      ],
      "default": "left",
      "info": "Select the header text and CTA alignment."
    },
    {
      "type": "header",
      "content": "Steps"
    },
    {
      "label": "Enable Step Numbers",
      "id": "enable_step_numbers",
      "type": "checkbox",
      "default": true
    },
    {
      "type": "header",
      "content": "Section Background Colors"
    },
    {
      "label": "Top Color 1",
      "id": "bg_color_1",
      "type": "color",
      "default": "#D63526"
    },
    {
      "label": "Top Color 2",
      "id": "bg_color_2",
      "type": "color",
      "default": "#AA291F",
      "info": "Selecting a different color from Top Color 1 will create a gradient background."
    },
    {
      "label": "Bottom Color",
      "id": "bg_color_3",
      "type": "color",
      "default": "#F9F9F9"
    },
    {
      "type": "header",
      "content": "Section Colors"
    },
    {
      "label": "Section Header Color",
      "id": "title_color",
      "type": "color",
      "default": "#ffffff",
      "info": "Select title text color."
    },
    {
      "label": "Section Subheader Color",
      "id": "subtext_color",
      "type": "color",
      "default": "#ffffff",
      "info": "Select subtext color."
    },
    {
      "type": "header",
      "content": "Block Colors"
    },
    {
      "label": "Block Title Color",
      "id": "block_title_color",
      "type": "color",
      "default": "#D63526"
    },
    {
      "label": "Block Subtitle Color",
      "id": "block_subtitle_color",
      "type": "color",
      "default": "#000000"
    },
    {
      "label": "Block Border Color",
      "id": "border_color",
      "type": "color",
      "default": "#CDCDCD",
      "info": "Only applies if steps are enabled."
    },
    {
      "label": "Block Line Color",
      "id": "line_color",
      "type": "color",
      "default": "#CDCDCD",
      "info": "Only applies if steps are enabled."
    },
    {
      "type": "header",
      "content": "CTA"
    },
    {
      "label": "CTA Text",
      "id": "cta_text",
      "type": "text",
      "default": "Get Started"
    },
    {
      "label": "CTA Link URL",
      "id": "cta_link",
      "type": "url"
    },
    {
      "label": "CTA Style",
      "id": "cta_style",
      "type": "radio",
      "options": [
        { "value": "primary", "label": "Primary" },
        { "value": "secondary", "label": "Secondary" },
        { "value": "tertiary", "label": "Tertiary" },
        { "value": "outline", "label": "Outline" }
      ],
      "default": "primary"
    }
  ],
  "max_blocks": 4,
  "blocks": [
    {
      "type": "blocks",
      "name": "Blocks",
      "settings":[
        {
          "type": "header",
          "content": "Block Content"
        },
        {
          "label": "Icon Image",
          "id": "image",
          "type": "image_picker",
          "info": "Recommended Max Size: 80px X 80px"
        },
        {
          "label": "Title",
          "id": "title",
          "type": "text"
        },
        {
          "label": "Subtext",
          "id": "subtext",
          "type": "textarea"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Column Blocks",
      "category": "Content Blocks"
    }
  ]
}
{% endschema %}
