{% if section.settings.phone != blank or section.settings.enable_address or section.settings.enable_social or section.blocks.size > 0 %}
  <div class="contact-us__info-blocks {{ section.settings.bg_color }}">
    {% for block in section.blocks %}
      <div class="contact-us__info-blocks--block">
        {% if block.settings.info_img != blank %}
          <img src="{{ block.settings.info_img | img_url: '100x' }}" alt="{{ block.settings.info_header | capitalize }}">
        {% else %}
          <icon name="{{ block.settings.info_icon }}" size="24px" class="{{ section.settings.icon_color }}"></icon>
        {% endif %}
        <h6 class="h7 {{ section.settings.text_color }}">{{ block.settings.info_header }}</h6>
        <p class="body-md {{ section.settings.text_color }}">{{ block.settings.info_copy }}</p>
      </div>
    {% endfor %}
    {% if section.settings.phone != blank %}
      <div class="contact-us__info-blocks--block">
        <icon name="phone" size="24px" class=""></icon>
        <h6 class="h7 {{ section.settings.text_color }}">Phone:</h6>
        <p class="body-md {{ section.settings.text_color }}">{{ section.settings.phone }}</p>
      </div>
    {% endif %}
    {% if section.settings.enable_address %}
      <div class="contact-us__info-blocks--block">
        <icon name="store" size="24px"></icon>
        <h6 class="h7 {{ section.settings.text_color }}">Address:</h6>
        <p class="body-md {{ section.settings.text_color }}">{{ section.settings.street }}</p>
        <p class="body-md {{ section.settings.text_color }}">{{ section.settings.city }}</p>
        <p class="body-md {{ section.settings.text_color }}">{{ section.settings.country }}</p>
      </div>
    {% endif %}
    {% if section.settings.enable_social %}
      <div class="contact-us__info-blocks--block follow-us">
        <h6 class="h7 {{ section.settings.text_color }}">Follow Us:</h6>
        {% if settings.social_twitter_link != blank and section.settings.enable_twitter %}
          <a href="{{ settings.social_twitter_link }}" target="_blank">
            <icon name="twitter"></icon>
          </a>
        {% endif %}
        {% if settings.social_instagram_link != blank and section.settings.enable_instagram %}
          <a href="{{ settings.social_instagram_link }}" target="_blank">
            <icon name="instagram-plain"></icon>
          </a>
        {% endif %}
        {% if settings.social_facebook_link != blank and section.settings.enable_facebook %}
          <a href="{{ settings.social_facebook_link }}" target="_blank">
            <icon name="facebook"></icon>
          </a>
        {% endif %}
        {% if settings.social_pinterest_link != blank and section.settings.enable_pinterest %}
          <a href="{{ settings.social_pinterest_link }}" target="_blank">
            <icon name="pinterest_pdp"></icon>
          </a>
        {% endif %}
      </div>
    {% endif %}
  </div>
{% endif %}

{% schema %}
  {
    "name": "Information Sidebar",
    "max_blocks": 3,
    "blocks": [
      {
        "type": "contact_info_block",
        "name": "Contact Info Block",
        "settings": [
          {
            "type": "image_picker",
            "id": "info_img",
            "label": "Icon Image",
            "info": "If no image is uploaded, the icon selected below will be used instead."
          },
          {
            "type": "select",
            "id": "info_icon",
            "label": "Icon",
            "options": [
              {"label": "Info", "value": "info"},
              {"label": "Customer Service", "value": "person"},
              {"label": "Hours of Operation", "value": "clock"},
              {"label": "Phone Number", "value": "phone"},
              {"label": "Address", "value": "location"}
            ],
            "default": "info",
            "info": "Selected icon will only be used if no image is uploaded above."
          },
          {
            "type": "text",
            "id": "info_header",
            "label": "Heading"
          },
          {
            "type": "textarea",
            "id": "info_copy",
            "label": "Information / Copy"
          }
        ]
      }
    ],
    "settings": [
      { "type": "header", "content": "Text Color" },
      {
        "type": "select",
        "id": "text_color",
        "label": "Color",
        "options": <%- uikit.colorOptions -%>,
        "default": "color-black"
      },
      { "type": "header", "content": "Background Color" },
      {
        "type": "select",
        "id": "bg_color",
        "label": "Color",
        "options": <%- uikit.backgroundOptions -%>,
        "default": "bg-grey"
      },
      { "type": "header", "content": "Phone" },
      {
        "type": "text",
        "id": "phone",
        "label": "Phone Number",
        "info": "Leave blank to omit"
      },
      { "type": "header", "content": "Address" },
      {
        "type": "checkbox",
        "id": "enable_address",
        "label": "Enable Address"
      },
      {
        "type": "text",
        "id": "street",
        "label": "Line 1 (Street)"
      },
      {
        "type": "text",
        "id": "city",
        "label": "Line 2 (City, State, Zip)"
      },
      {
        "type": "text",
        "id": "country",
        "label": "Line 3 (Country)",
        "default": "USA"
      },
      {
        "type": "header",
        "content": "Social Media",
        "info": "To configure the social links, click the back arrow above and use the 'Social Media' section under the 'Theme Settings' tab."
      },
      {
        "type": "checkbox",
        "id": "enable_social",
        "label": "Enable/Disable All Social Media Links",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "enable_twitter",
        "label": "Enable Twitter Link",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "enable_instagram",
        "label": "Enable Instagram Link",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "enable_facebook",
        "label": "Enable Facebook Link",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "enable_pinterest",
        "label": "Enable Pinterest Link",
        "default": true
      }
    ]
  }
{% endschema %}
