<h1 class="{{ section.settings.title_text_color }} contact-us__title h3">{{ page.title }}</h1>
<div class="rte contact-us__content">{{ page.content }}</div>

{% comment %} {% if section.settings.form_enabled %}
  {%- form 'contact', id: 'contact-us__form', class: 'contact-us__form' -%}
    {%- if form.posted_successfully? -%}
    <div class="contact-us__success">
      <p class="contact-us__success-message h7">
        {% if section.settings.success_message != blank %}
          {{ section.settings.success_message }}
        {% else %}
          {{ 'contact.form.post_success' | t }}
        {% endif %}
      </p>
      <a class="button button--primary button--medium"
        href="{% if section.settings.success_link != blank %}{{ section.settings.success_link }}{% else %}/{% endif %}">
          <span class="button__content">{{ section.settings.success_btn }}</span>
      </a>
    </div>
    {%- else -%}
    <div class="contact-us__success">
      <p class="contact-us__success-message h7">
        {{ form.errors | default_errors }}
      </p>
    </div>
    {%- endif -%}
    <div class="form-container {% if form.posted_successfully? %} u-hidden {% endif %}">
      <div class="input--secondary">
        <label class="label" for="ContactFormName">{{ 'contact.form.name' | t }}</label>
        <input type="text"
          name="contact[name]"
          id="ContactFormName"
          required
          value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}">
      </div>
      <div class="input--secondary">
        <label class="label" for="ContactFormEmail">{{ 'contact.form.email' | t }}</label>
        <input type="email"
          name="contact[email]"
          required
          class="{% if form.errors contains 'email' %}input-error{% endif %}"
          id="ContactFormEmail"
          value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
          spellcheck="false"
          autocomplete="off"
          autocapitalize="off">
        </div>
      <div class="input--secondary">
        <label class="label" for="ContactFormPhone">{{ 'contact.form.phone' | t }}</label>
        <input type="tel"
          name="contact[phone]"
          id="ContactFormPhone"
          required
          value="{% if form[phone] %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}"
          pattern="[0-9\-]*" />
      </div>
      <div class="input--secondary">
        <label class="label" for="ContactFormMessage">{{ 'contact.form.message' | t }}</label>
        <textarea
          name="contact[body]"
          id="ContactFormMessage">
          {%- if form.body -%}
            {{- form.body -}}
          {%- endif -%}
        </textarea>
      </div>

      <v-button primary type="submit" class="button" id="form_submit" value="{{ 'contact.form.send' | t }}">{{ 'contact.form.send' | t }}</v-button>
    </div>
  {%- endform -%}
{% endif %} {% endcomment %}

{% schema %}
  {
    "name": "Contact Form",
    "settings": [
      {
        "type": "checkbox",
        "id": "form_enabled",
        "label": "Enable Contact Form",
        "default": true
      },
      { "type": "header", "content": "Title Text Color" },
      {
        "type": "select",
        "id": "title_text_color",
        "label": "Color",
        "options": <%- uikit.colorOptions -%>,
        "default": "color-black"
      },
      { "type": "header", "content": "Success Message" },
      {
        "type": "textarea",
        "id": "success_message",
        "label": "Message shown after form submitted",
        "info": "Default: THANK YOU! YOUR FORM HAS BEEN SUBMITTED SUCCESSFULLY"
      },
      {
        "type": "text",
        "id": "success_btn",
        "label": "What will the Continue Shopping button say?",
        "default": "Continue Shopping",
        "info": "Default: Continue Shopping"
      },
      {
        "type": "url",
        "id": "success_link",
        "label": "What page will the Continue Shopping button go to?",
        "default": "/",
        "info": "Default: Home page"
      }
    ]
  }
{% endschema %}
