{%- capture _posts -%}
  {%- for post in blogs.articles.articles limit: 3 -%}
    {
      "title": {{- post.title | json -}},
      "excerpt": {{- post.metafields.custom_fields.short_description | default: post.excerpt | strip_html | json -}},
      "url": {{- post.url | json -}},
      "image": {{- post.image | json -}}
    },
  {%- endfor -%}
{%- endcapture -%}

<featured-blog-posts subtitle="{{- section.settings.subtitle -}}"
                     title="{{- section.settings.title -}}"
                     blog-url="{{- section.settings.cta_url -}}"
                     cta-text="{{- section.settings.cta_text -}}"
                     :posts="[{{- _posts | escape -}}]">
</featured-blog-posts>

{% schema %}
  {
    "name": "Featured Blog Posts",
    "settings": [
      {
        "id": "title",
        "type": "text",
        "label": "Title",
        "default": "More resources to help you decide"
      },
      {
        "id": "subtitle",
        "type": "text",
        "label": "Subtitle",
        "default": "HEALTHYCELL BLOG"
      },
      {
        "id": "cta_url",
        "type": "url",
        "label": "CTA URL",
        "info": "Leave blank for no CTA"
      },
      {
        "id": "cta_text",
        "type": "text",
        "label": "CTA Text",
        "default": "Read Our Blog"
      }
    ]
  }
{% endschema %}
