{% capture schema %}
  {
    "settings": {
      "layout": {{ section.settings.ff_layout | json }},
      "imageDesktop": {{ section.settings.ff_image_desktop | json }},
      "imageMobile": {{ section.settings.ff_image_mobile | json }},
      "backgroundVideoURL": {{ section.settings.ff_background_video_url | json }},
      "youtubeVideoURL": {{ section.settings.ff_youtube_video_url | json }},
      "imageWidth": {{ section.settings.ff_image_width | json }},
      "subheader": {{ section.settings.ff_subheader | json }},
      "header": {{ section.settings.ff_header | json }},
      "body": {{ section.settings.ff_body | json }},
      "align": {{- section.settings.alignment | json -}},
      "backgroundColor": {{ section.settings.ff_color | json }},
      "headerColor": {{ section.settings.ff_header_color | json }},
      "spanColor": {{ section.settings.ff_header_span_color | json }},
      "subHeaderColor": {{ section.settings.ff_subheader_color | json }},
      "bodyColor": {{ section.settings.ff_body_color | json }},
      "marginBottom": {{ section.settings.margin_bottom | json }},
      "marginTop": {{ section.settings.margin_top | json }}
    }
  }
{% endcapture %}

<fifty-fifty :schema="{{ schema | escape | strip }}">
  {%- unless section.settings.cta_url == blank -%}
    <a class="button {{ section.settings.cta_type }}"
       href="{{- section.settings.cta_url -}}"
       slot="extraContent">
        <span class="button__content">
          {{- section.settings.cta_text -}}
        </span>
    </a>
  {%- endunless -%}
</fifty-fifty>

{% schema %}
  {
    "name": "Fifty Fifty",
    "settings": [
      {
        "type": "header",
        "content": "Section Margins",
        "info": "Customize the margin spacing on the top and bottom of this section."
      },
      {
        "label": "Top Margin",
        "id": "margin_top",
        "type": "range",
        "min": 40,
        "max": 80,
        "step": 8,
        "unit": "px",
        "default": 40
      },
      {
        "label": "Bottom Margin",
        "id": "margin_bottom",
        "type": "range",
        "min": 40,
        "max": 80,
        "step": 8,
        "unit": "px",
        "default": 40
      },
      {
        "type": "header",
        "content": "Layout"
      },
      {
        "type":      "select",
        "id":        "ff_layout",
        "label":     "Layout",
        "options": [
          {"value": "", "label": "Image on Left"},
          {"value": "sw--reverse", "label": "Image on Right"}
        ],
        "default":   ""
      },
      {
        "type": "header",
        "content": "Image"
      },
      {
        "type": "image_picker",
        "id": "ff_image_desktop",
        "label": "Desktop Image",
        "info": "Minimum Dimensions: 1814x1538"
      },
      {
        "type": "image_picker",
        "id": "ff_image_mobile",
        "label": "Mobile Image",
        "info": "Same minumum dimensions as desktop. Image will be automatically resized."
      },
      {
        "type": "header",
        "content": "Video"
      },
      {
        "type": "text",
        "id": "ff_background_video_url",
        "label": "Shopify Video URL",
        "info": "Add video to settings/files and paste cdn link here. Removes images"
      },
      {
        "type": "text",
        "id": "ff_youtube_video_url",
        "label": "YouTube Video URL",
        "info": "Add YouTube video link here. Removes images"
      },
      {
        "type": "header",
        "content": "Text Content"
      },
      {
        "type": "text",
        "id": "ff_header",
        "label": "Header",
        "info": "Text in span tags can be a different color."
      },
      {
        "type": "text",
        "id": "ff_subheader",
        "label": "Sub Header"
      },
      {
        "type": "richtext",
        "id": "ff_body",
        "label": "Body Copy"
      },
      {
        "type": "text",
        "id": "cta_text",
        "label": "CTA Text"
      },
      {
        "type": "url",
        "id": "cta_url",
        "label": "CTA URL"
      },
      {
        "type": "select",
        "id": "cta_type",
        "label": "CTA Type",
        "options": [
          {
            "label": "Primary",
            "value": "button--primary"
          },
          {
            "label": "Secondary",
            "value": "button--secondary"
          },
          {
            "label": "Tertiary",
            "value": "button--tertiary"
          },
          {
            "label": "Outline",
            "value": "button--outline"
          }
        ],
        "default": "button--primary"
      },
      {
        "type": "header",
        "content": "Colors"
      },
      {
        "type": "color",
        "id": "ff_color",
        "label":     "Background Color",
        "default":   "#f9f9f9"
      },
      {
        "type": "color",
        "id": "ff_header_color",
        "label":     "Header Text Color",
        "default":   "#030303"
      },
      {
        "type": "color",
        "id": "ff_header_span_color",
        "label":     "Header Span Color",
        "default":   "#030303"
      },
      {
        "type": "color",
        "id": "ff_subheader_color",
        "label":     "Subheader Color",
        "default":   "#030303"
      },
      {
        "type": "color",
        "id": "ff_body_color",
        "label":     "Body Copy Color",
        "default":   "#030303"
      }
    ],
    "presets": [
      {
        "name": "Fifty Fifty",
        "category": "Content Blocks"
      }
    ]
  }
{% endschema %}
