{% if section.blocks.size > 2 %}
  {% capture schema %}
    {
      "settings": {
        "backgroundColor": {{ section.settings.background_color | json }},
        "textColor": {{ section.settings.text_color | json }},
        "borderColor": {{ section.settings.border_color | json }},
        "dividerColor": {{ section.settings.divider_color | json }}
      },
      "blocks": [
        {% for block in section.blocks %}
          {
            "id": {{ block.id | json }},
            "type": {{ block.type | json }},
            "settings": {{ block.settings | json }}
          }{% unless forloop.last %},{% endunless %}
        {% endfor %}
      ]
    }
  {% endcapture %}
  <footer-value-props
    :schema="{{ schema | escape | strip }}"
  ><footer-value-props>
{% endif %}

{% schema %}
  {
    "name": "Value Propositions",
    "max_blocks": 3,
    "settings": [
      {
        "type": "paragraph",
        "content": "You must add at least 2 value props for the section to display. This is an optional section. Just leave the fields blank if you choose not to display the section"
      },
      {
        "type": "header",
        "content": "Colors"
      },
      {
        "type": "select",
        "id": "background_color",
        "label": "Background Color",
        "options": <%- uikit.backgroundOptions -%>,
        "default": "bg-brand-primary"
      },
      {
        "type": "select",
        "id": "border_color",
        "label": "Top Border Color",
        "options": <%- uikit.borderOptions -%>,
        "default": "border-off-black"
      },
      {
        "type": "select",
        "id": "divider_color",
        "label": "Divider Color",
        "options": <%- uikit.borderOptions -%>,
        "default": "border-off-black"
      },
      {
        "type": "select",
        "id": "text_color",
        "label": "Text Color",
        "options": <%- uikit.colorOptions -%>,
        "default": "color-black"
      }
    ],
    "blocks": [
      {
        "type": "value_prop",
        "name": "Value Prop",
        "settings": [
          {
            "type": "image_picker",
            "id": "icon",
            "label": "Image",
            "info": "Suggested size: 66x66"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading"
          },
          {
            "type": "richtext",
            "id": "body",
            "label": "Text"
          }
        ]
      }
    ]
  }
{% endschema %}