{% capture schema_email_collection %}
  {
    "settings": {
      "title": {{ section.settings.email_title | json }},
      "body": {{ section.settings.email_body | json }},
      "backgroundColor": {{ section.settings.email_background_color | json }},
      "backgroundImage": {% if section.settings.email_background_image != blank %}{{ section.settings.email_background_image | img_url: '200x' | json }}{% else %}""{% endif %},
      "backgroundImageAlt": {% if section.settings.email_background_image != blank %}{{ section.settings.email_background_image.alt | json }}{% else %}""{% endif %},
      "textColor": {{ section.settings.email_text_color | json }},
      "headerColor": {{ section.settings.email_heading_color | json }},
      "borderColor": {{ section.settings.email_border_color | json }},
      "hideEmail": {{ section.settings.hide_email_capture | json }},
    }
  }
{% endcapture %}
{% assign fill_color = section.settings.email_input_color | replace: 'color', 'fill' %}
{% capture email_cta_text %}
  Submit <svg class="icon {{ fill_color }}" viewBox="0 0 24 24"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow_long_right"></use></svg>
{% endcapture %}
{% capture email_cta_success_text %}
  <svg class="icon" viewBox="0 0 24 24"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#check"></use></svg>
{% endcapture %}

{% capture schema_main %}
  {
    "settings": {
      "backgroundColor": {{ section.settings.link_list_background_color | json }},
      "textColor": {{ section.settings.link_list_text_color | json }},
      "borderColor": {{ section.settings.link_list_border_color | json }},
      "headerColor": {{ section.settings.link_list_heading_color | json }},
    },
    "blocks": [
      {% for block in section.blocks %}
        {
          "id": {{ block.id | json }},
          "type": {{ block.type | json }},
          {% if block.type == 'logo_block' %}
            "settings": {
              "logo_png": {% if block.settings.logo_png != blank %}{{ block.settings.logo_png | img_url: '170x85' | json }}{% else %}null{% endif %},
              "logo_png_alt": {{ block.settings.logo_png.alt | json }},
              "logo_svg": {{ block.settings.logo_svg | json }},
              "title": {{ block.settings.title | json }},
              "body": {{ block.settings.body | json }}
            }
          {% elsif block.type == 'link_list_block' %}
            {%- assign menu = linklists[block.settings.menu] -%}
            "settings": {
              "menu": {
                "title": {{ menu.title | json }},
                "links": [
                  {% for link in menu.links %}
                    {
                      "title": {{ link.title | json }},
                      "url": {{ link.url | json }}
                    }{% unless forloop.last %},{% endunless %}
                  {% endfor %}
                ]
              }
            }
          {% endif %}
        }{% unless forloop.last %},{% endunless %}
      {% endfor %}
    ]
  }
{% endcapture %}

{% capture schema_contact %}
  {
    "settings": {
      "footerAlign": {{ section.settings.footer_align | json }},
      "backgroundColor": {{ section.settings.contact_background_color | json }},
      "textColor": {{ section.settings.contact_text_color | json }},
      "borderColor": {{ section.settings.contact_border_color | json }},
      "headerColor": {{ section.settings.contact_heading_color | json }},
      "contactTitle1": {{ section.settings.contact_info_title_1 | json }},
      "contactText1": {{ section.settings.contact_info_text_1 | json }},
      "contactTitle2": {{ section.settings.contact_info_title_2 | json }},
      "contactText2": {{ section.settings.contact_info_text_2 | json }},
      "socialTitle": {{ section.settings.social_info_title | json }},
      "socialLinks": [
        {% for socialIdx in (1..6) %}
          {% assign socialLinkHandle = 'social_icon_' | append: socialIdx %}
          {% assign socialLink = section.settings[socialLinkHandle] %}
          {% assign socialLinkId = 'social_' | append: socialLink | append: '_link' %}
          {% if settings[socialLinkId] != blank %}
            {
              "id": {{ socialLink | json }},
              "url": {{ settings[socialLinkId] | json }}
            }{% unless forloop.last %},{% endunless %}
          {% endif %}
        {% endfor %}
      ],
      "socialIconColor": {{ section.settings.social_color | json }},
      "hideContact": {{ section.settings.hide_contact | json }},
    }
  }
{% endcapture %}

{% capture schema_subfooter %}
  {
    "settings": {
      "backgroundColor": {{ section.settings.subfooter_background_color | json }},
      "textColor": {{ section.settings.subfooter_text_color | json }},
      "borderColor": {{ section.settings.subfooter_border_color | json }},
      "copyrightText": "Copyright © {{ 'now' | date: "%Y" }} {% if section.settings.copyright_text != blank %}{{ section.settings.copyright_text }}{% else %}{{ shop.name }}{% endif %}",
      "subfooterMenu": {
        {%- assign menu = linklists[section.settings.menu] -%}
        "title": {{ menu.title | json }},
        "links": [
          {% for link in menu.links %}
            {
              "title": {{ link.title | json }},
              "url": {{ link.url | json }}
            }{% unless forloop.last %},{% endunless %}
          {% endfor %}
        ]
      }
    }
  }
{% endcapture %}

<footer-bourdain :footer-align="{{ section.settings.footer_align | json | escape | strip }}" :schema-email="{{ schema_email_collection | escape | strip }}" :schema-main="{{ schema_main | escape | strip }}" :schema-contact="{{ schema_contact | escape | strip }}" :schema-subfooter="{{ schema_subfooter | escape | strip }}">
  {% assign placeholder_color = section.settings.email_placeholder_color | replace: 'color', 'placeholder' %}
  {% assign border_color = section.settings.email_input_border_color %}
  {% render 'newsletter-signup' with {
    is_wide: true,
    use_vue: true,
    cta_text: email_cta_text,
    cta_success_text: email_cta_success_text,
    placeholder_text: 'Enter Your Email',
    text_color: section.settings.email_input_color,
    placeholder_color: placeholder_color,
    email_border_color: border_color
  }%}
</footer-bourdain>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "header",
        "content": "General"
      },
      {
        "type": "select",
        "id": "footer_align",
        "label": "Footer Alignment",
        "options": [
          {
            "value": "text-left",
            "label": "Left"
          },
          {
            "value": "text-center",
            "label": "Center"
          }
        ],
        "default": "text-left"
      },
      {
        "type": "header",
        "content": "Email Capture Row"
      },
      {
        "type": "checkbox",
        "id": "hide_email_capture",
        "label": "Hide Email Capture Row"
      },
      {
        "type": "select",
        "id": "email_background_color",
        "label": "Background Color",
        "options": <%- uikit.backgroundOptions -%>,
        "default": "bg-brand-primary"
      },
      {
        "type": "select",
        "id": "email_border_color",
        "label": "Top Border Color",
        "options": <%- uikit.borderOptions -%>,
        "default": "border-off-black"
      },
      {
        "type": "select",
        "id": "email_text_color",
        "label": "Text Color",
        "options": <%- uikit.colorOptions -%>,
        "default": "color-black"
      },
      {
        "type": "select",
        "id": "email_heading_color",
        "label": "Heading Text Color",
        "options": <%- uikit.colorOptions -%>,
        "default": "color-black"
      },
      {
        "type": "select",
        "id": "email_input_border_color",
        "label": "Textbox Border Color",
        "options": <%- uikit.borderOptions -%>,
        "default": "border-black"
      },
      {
        "type": "select",
        "id": "email_input_color",
        "label": "Textbox Text Color",
        "options": <%- uikit.colorOptions -%>,
        "default": "color-black"
      },
      {
        "type": "select",
        "id": "email_placeholder_color",
        "label": "Placeholder Color",
        "options": <%- uikit.colorOptions -%>,
        "default": "color-black"
      },
      {
        "type": "image_picker",
        "id": "email_background_image",
        "label": "Background Image",
        "info": "Suggested size: 200x100"
      },
      {
        "type": "text",
        "id": "email_title",
        "label": "Heading"
      },
      {
        "type": "richtext",
        "id": "email_body",
        "label": "Body Copy"
      },
      {
        "type": "header",
        "content": "Link List Row",
        "info": "Scroll down to the bottom of section settings and add content blocks to add link list columns and the brand logo to this row. You can have up to 6 columns. Either 6 link list columns, or up to 4 link list columns and the logo block."
      },
      {
        "type": "select",
        "id": "link_list_background_color",
        "label": "Background Color",
        "options": <%- uikit.backgroundOptions -%>,
        "default": "bg-brand-primary"
      },
      {
        "type": "select",
        "id": "link_list_border_color",
        "label": "Top Border Color",
        "options": <%- uikit.borderOptions -%>,
        "default": "border-off-black"
      },
      {
        "type": "select",
        "id": "link_list_text_color",
        "label": "Text + Link Color",
        "options": <%- uikit.colorOptions -%>,
        "default": "color-black"
      },
      {
        "type": "select",
        "id": "link_list_heading_color",
        "label": "Link List Headings Color",
        "options": <%- uikit.colorOptions -%>,
        "default": "color-black"
      },
      {
        "type": "header",
        "content": "Contact Row"
      },
      {
        "type": "checkbox",
        "id": "hide_contact",
        "label": "Hide the Contact Row"
      },
      {
        "type": "select",
        "id": "contact_background_color",
        "label": "Background Color",
        "options": <%- uikit.backgroundOptions -%>,
        "default": "bg-brand-primary"
      },
      {
        "type": "select",
        "id": "contact_border_color",
        "label": "Top Border Color",
        "options": <%- uikit.borderOptions -%>,
        "default": "border-off-black"
      },
      {
        "type": "select",
        "id": "contact_text_color",
        "label": "Text + Link Color",
        "options": <%- uikit.colorOptions -%>,
        "default": "color-black"
      },
      {
        "type": "select",
        "id": "contact_heading_color",
        "label": "Headings Color",
        "options": <%- uikit.colorOptions -%>,
        "default": "color-black"
      },
      {
        "type": "select",
        "id": "social_color",
        "label": "Social Media Icons Color",
        "options": <%- uikit.fillOptions -%>,
        "default": "fill-black"
      },
      {
        "type": "text",
        "id": "contact_info_title_1",
        "label": "Column 1 Heading"
      },
      {
        "type": "richtext",
        "id": "contact_info_text_1",
        "label": "Column 1 Body Copy"
      },
      {
        "type": "text",
        "id": "contact_info_title_2",
        "label": "Column 2 Heading"
      },
      {
        "type": "richtext",
        "id": "contact_info_text_2",
        "label": "Column 2 Body Copy"
      },
      {
        "type": "text",
        "id": "social_info_title",
        "label": "Social Icons Heading"
      },
      {
        "type": "header",
        "content": "Social Media Icons"
      },
      {
        "type": "select",
        "id": "social_icon_1",
        "label": "Icon 1",
        "options": [
          {"label": "None", "value": "none"},
          {"label": "Twitter", "value": "twitter"},
          {"label": "Facebook", "value": "facebook"},
          {"label": "Pinterest", "value": "pinterest"},
          {"label": "Instagram", "value": "instagram"},
          {"label": "Snapchat", "value": "snapchat"},
          {"label": "Tumblr", "value": "tumblr"},
          {"label": "Youtube", "value": "youtube"},
          {"label": "Vimeo", "value": "vimeo"}
        ],
        "default": "none"
      },
      {
        "type": "select",
        "id": "social_icon_2",
        "label": "Icon 2",
        "options": [
          {"label": "None", "value": "none"},
          {"label": "Twitter", "value": "twitter"},
          {"label": "Facebook", "value": "facebook"},
          {"label": "Pinterest", "value": "pinterest"},
          {"label": "Instagram", "value": "instagram"},
          {"label": "Snapchat", "value": "snapchat"},
          {"label": "Tumblr", "value": "tumblr"},
          {"label": "Youtube", "value": "youtube"},
          {"label": "Vimeo", "value": "vimeo"}
        ],
        "default": "none"
      },
      {
        "type": "select",
        "id": "social_icon_3",
        "label": "Icon 3",
        "options": [
          {"label": "None", "value": "none"},
          {"label": "Twitter", "value": "twitter"},
          {"label": "Facebook", "value": "facebook"},
          {"label": "Pinterest", "value": "pinterest"},
          {"label": "Instagram", "value": "instagram"},
          {"label": "Snapchat", "value": "snapchat"},
          {"label": "Tumblr", "value": "tumblr"},
          {"label": "Youtube", "value": "youtube"},
          {"label": "Vimeo", "value": "vimeo"}
        ],
        "default": "none"
      },
      {
        "type": "select",
        "id": "social_icon_4",
        "label": "Icon 4",
        "options": [
          {"label": "None", "value": "none"},
          {"label": "Twitter", "value": "twitter"},
          {"label": "Facebook", "value": "facebook"},
          {"label": "Pinterest", "value": "pinterest"},
          {"label": "Instagram", "value": "instagram"},
          {"label": "Snapchat", "value": "snapchat"},
          {"label": "Tumblr", "value": "tumblr"},
          {"label": "Youtube", "value": "youtube"},
          {"label": "Vimeo", "value": "vimeo"}
        ],
        "default": "none"
      },
      {
        "type": "select",
        "id": "social_icon_5",
        "label": "Icon 5",
        "options": [
          {"label": "None", "value": "none"},
          {"label": "Twitter", "value": "twitter"},
          {"label": "Facebook", "value": "facebook"},
          {"label": "Pinterest", "value": "pinterest"},
          {"label": "Instagram", "value": "instagram"},
          {"label": "Snapchat", "value": "snapchat"},
          {"label": "Tumblr", "value": "tumblr"},
          {"label": "Youtube", "value": "youtube"},
          {"label": "Vimeo", "value": "vimeo"}
        ],
        "default": "none"
      },
      {
        "type": "select",
        "id": "social_icon_6",
        "label": "Icon 1",
        "options": [
          {"label": "None", "value": "none"},
          {"label": "Twitter", "value": "twitter"},
          {"label": "Facebook", "value": "facebook"},
          {"label": "Pinterest", "value": "pinterest"},
          {"label": "Instagram", "value": "instagram"},
          {"label": "Snapchat", "value": "snapchat"},
          {"label": "Tumblr", "value": "tumblr"},
          {"label": "Youtube", "value": "youtube"},
          {"label": "Vimeo", "value": "vimeo"}
        ],
        "default": "none"
      },
      {
        "type": "header",
        "content": "Subfooter"
      },
      {
        "type": "select",
        "id": "subfooter_background_color",
        "label": "Background Color",
        "options": <%- uikit.backgroundOptions -%>,
        "default": "bg-brand-primary"
      },
      {
        "type": "select",
        "id": "subfooter_border_color",
        "label": "Top Border Color",
        "options": <%- uikit.borderOptions -%>,
        "default": "border-off-black"
      },
      {
        "type": "select",
        "id": "subfooter_text_color",
        "label": "Text + Link Color",
        "options": <%- uikit.colorOptions -%>,
        "default": "color-black"
      },
      {
        "type": "text",
        "id": "copyright_text",
        "label": "Copyright Override",
        "info": "Optionally override the storefront name with other text"
      },
      {
        "type": "link_list",
        "id": "menu",
        "label": "Subfooter Links"
      }
    ],
    "blocks": [
      {
        "type": "link_list_block",
        "name": "Link List",
        "limit": 6,
        "settings": [
          {
            "type": "link_list",
            "id": "menu",
            "label": "Select a Link List"
          }
        ]
      },
      {
        "type": "logo_block",
        "name": "Logo",
        "limit": 1,
        "settings": [
          {
            "type": "image_picker",
            "id": "logo_png",
            "label": "Image",
            "info": "If logo is a png, upload here."
          },
          {
            "type": "text",
            "id": "logo_svg",
            "label": "SVG URL",
            "info": "Paste a URL for a SVG instead of uploading an image logo"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading"
          },
          {
            "type": "richtext",
            "id": "body",
            "label": "Body Copy"
          }
        ]
      }
    ]
  }
{% endschema %}