{% capture hero_schema %}
  {
    "topMargin": {{ section.settings.top_margin | json }},
    "bottomMargin": {{ section.settings.bottom_margin | json }},
    "enableTextBox": {{ section.settings.enable_text_box | json }},
    "layout": {{ section.settings.layout | json }},
    "mobileLayout": {{ section.settings.mobile_layout | json }},
    "mobileTextAlignment": {{ section.settings.mobile_text_alignment | json }},
    "maxWidth": {{ section.settings.max_width | json }},
    "layoutHorizontal": {{ section.settings.horizontal_layout | json }},
    "layoutVertical": {{ section.settings.vertical_layout | json }},
    "mobileBgColor": {{ section.settings.mobile_bg_color | json }},
    "enableScrollTrigger": {{ section.settings.enable_scroll_trigger }},
    "arrowColor": {{ section.settings.arrow_color | json }},
    "backgroundVideoURL": {{ section.settings.background_video_url | json }},
    "image": "{{ section.settings.background_image | img_url: '2000x' }}",
    "imageMobile": "{{ section.settings.background_image_mobile  | img_url: '1000x' }}",
    "imageMobileEnable": {{ section.settings.enable_mobile_image }},
    "overlayEnable": {{ section.settings.enable_overlay }},
    "overlayColor": {{ section.settings.overlay_color | json }},
    "overlayOpacity": {{ section.settings.overlay_opacity }},
    "preHeading": {{ section.settings.pre_heading | json }},
    "preHeadingColor": {{ section.settings.pre_heading_color | json }},
    "heading": {{ section.settings.heading | json }},
    "headingColor": {{ section.settings.heading_color | json }},
    "headingColorMobile": {{ section.settings.heading_color_mobile | json }},
    "subHeading": {{ section.settings.sub_heading | json }},
    "subHeadingColor": {{ section.settings.sub_heading_color | json }},
    "subHeadingColorMobile": {{ section.settings.sub_heading_color_mobile | json }},
    "copy": {{ section.settings.body_copy | json }},
    "copyColor": {{ section.settings.body_copy_color | json }},
    "copyColorMobile": {{ section.settings.body_copy_color_mobile | json }},
    "enableCta": {{ section.settings.enable_cta }},
    "ctaLayout": {{ section.settings.cta_layout | json }},
    "ctaColor": {{ section.settings.cta_color | json }},
    "ctaText": {{ section.settings.cta_text | json }},
    "ctaUrl": "{{ section.settings.cta_url }}"
  }
{% endcapture %}

<hero-banner :hero-schema="{{ hero_schema | escape | strip }}"></hero-banner>

{% schema %}
  {
    "name": "Hero Banner",
    "class": "hero-banner",
    "settings": [
      {
        "type":      "select",
        "id":        "max_width",
        "label":     "Section Max Width",
        "options": [
          {"value": "none", "label": "100%"},
          {"value": "1440px", "label": "1440px"}
        ],
        "default":   "none"
      },
      {
        "type": "header",
        "content": "Sections Margins",
        "info": "Customize the margin spacing on the top and bottom of this section."
      },
      {
        "label": "Top Margin",
        "id": "top_margin",
        "type": "range",
        "min":       0,
        "max":       80,
        "step":      8,
        "unit":      "px",
        "default":   56
      },
      {
        "label": "Bottom Margin",
        "id": "bottom_margin",
        "type": "range",
        "min":       0,
        "max":       80,
        "step":      8,
        "unit":      "px",
        "default":   56
      },
      {
        "type": "header",
        "content": "Hero Layout",
        "info": "Choose both a horizontal and vertical layout for your hero and the background color of the content in mobile. Please also elect if you would like to utilize the scroll-to-next-section arrow and pick the color if so."
      },
      {
        "type": "select",
        "id": "layout",
        "label": "Layout",
        "options": [
          {
            "label": "Short",
            "value": "short"
          },
          {
            "label": "Tall",
            "value": "tall"
          }
        ],
        "default": "short"
      },
      {
        "type": "checkbox",
        "id": "enable_text_box",
        "label": "Enable Text Box",
        "info": "If checked, the hero text will be contained in a box with a background color or image."
      },
      {
        "type": "select",
        "id": "mobile_layout",
        "label": "Mobile Layout",
        "options": [
          {
            "label": "Overlay Text",
            "value": "overlay"
          },
          {
            "label": "Text Below Image",
            "value": "below"
          }
        ],
        "default": "overlay",
        "info": "If the text box is enabled, this field should be ignored."
      },
      {
        "type": "select",
        "id": "mobile_text_alignment",
        "label": "Mobile Text Alignment",
        "options": [
          {
            "label": "Left",
            "value": "left"
          },
          {
            "label": "Center",
            "value": "center"
          }
        ],
        "default": "left"
      },
      {
        "type":      "select",
        "id":        "horizontal_layout",
        "label":     "Horizontal Layout",
        "options": [
          {"value": "left", "label": "Left"},
          {"value": "center", "label": "Center"},
          {"value": "right", "label": "Right" }
        ],
        "default":   "left",
        "info": "Desktop only."
      },
      {
        "type":      "select",
        "id":        "vertical_layout",
        "label":     "Vertical Layout",
        "options": [
          {"value": "top", "label": "Top"},
          {"value": "middle", "label": "Middle"},
          {"value": "bottom", "label": "Bottom" }
        ],
        "default":   "top",
        "info": "If 'Enable Text Box' is checked, this field will be ignored and content will be vertically centered."
      },
      {
        "type":      "checkbox",
        "id":        "enable_scroll_trigger",
        "label":     "Enable Scroll Arrow",
        "default":   false
      },
      {
        "type":      "select",
        "id":        "arrow_color",
        "label":     "Arrow Color",
        "options": <%- uikit.fillOptions -%>,
        "default": "fill-black"
      },
      {
        "type": "header",
        "content": "Hero Media",
        "info": "Please upload images OR video here. If you would like to use a separate image in mobile, please enable that option and add the mobile image as well. If mobile image is not used, leave unpopulated.  If you would like to use a video add it here. This will replace the images. To remove the video please leave 'Background Video URL' field empty. If you wish to use an overlay, configure that here."
      },
      {
        "type": "text",
        "id": "background_video_url",
        "label": "Background Video URL",
        "info": "Add video to settings/files and paste cdn link here. Removes images"

      },
      {
        "type": "image_picker",
        "id": "background_image",
        "label": "Background Image",
        "info": "Recommended size: 2880x1440 for Hero Tall and 2880x1080 for Hero Short"
      },
      {
        "type":      "checkbox",
        "id":        "enable_mobile_image",
        "label":     "Enable Mobile Image",
        "default":   false
      },
      {
        "type": "image_picker",
        "id": "background_image_mobile",
        "label": "Mobile Background Image",
        "info": "Size for overlaid text: 767px x 630px | Size for text below image: 1000x382"
      },
      {
        "type":      "checkbox",
        "id":        "enable_overlay",
        "label":     "Enable Overlay",
        "default":   false
      },
      {
        "type":      "select",
        "id":        "overlay_color",
        "label":     "Overlay Color",
        "options": <%- uikit.backgroundOptions -%>,
        "default": "bg-brand-primary"
      },
      {
        "label": "Overlay Opacity",
        "id": "overlay_opacity",
        "type": "range",
        "min":       0,
        "max":       100,
        "step":      1,
        "unit":      "%",
        "default":   50
      },
      {
        "type": "header",
        "content": "Hero Text",
        "info": "Please populate text fields here. If you do not wish to use a particular field, simply leave it blank."
      },
      {
        "type": "text",
        "id": "pre_heading",
        "label": "Pre Heading"
      },

      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      },
      {
        "type": "text",
        "id": "sub_heading",
        "label": "Sub Heading"
      },
      {
        "type": "textarea",
        "id": "body_copy",
        "label": "Body Copy"
      },
      {
        "type": "header",
        "content": "Desktop Colors"
      },
      {
        "type":      "select",
        "id":        "pre_heading_color",
        "label":     "Pre Heading Color",
        "options": <%- uikit.colorOptions -%>,
        "default": "color-black"
      },
      {
        "type":      "select",
        "id":        "heading_color",
        "label":     "Heading Color",
        "options": <%- uikit.colorOptions -%>,
        "default": "color-black"
      },
      {
        "type":      "select",
        "id":        "sub_heading_color",
        "label":     "Sub Heading Color",
        "options": <%- uikit.colorOptions -%>,
        "default": "color-black"
      },
      {
        "type":      "select",
        "id":        "body_copy_color",
        "label":     "Body Copy Color",
        "options": <%- uikit.colorOptions -%>,
        "default": "color-black"
      },
      {
        "type": "header",
        "content": "Mobile Colors"
      },
      {
        "type":      "select",
        "id":        "mobile_bg_color",
        "label":     "Mobile Background Color",
        "options": <%- uikit.backgroundOptions -%>,
        "default": "bg-brand-primary",
        "info": "This is only applicable if using the 'Text Below Image' mobile layout."
      },
      {
        "type":      "select",
        "id":        "pre_heading_color_mobile",
        "label":     "Pre Heading Color",
        "options": <%- uikit.colorOptions -%>,
        "default": "color-black"
      },
      {
        "type":      "select",
        "id":        "heading_color_mobile",
        "label":     "Heading Color",
        "options": <%- uikit.colorOptions -%>,
        "default": "color-black"
      },
      {
        "type":      "select",
        "id":        "sub_heading_color_mobile",
        "label":     "Sub Heading Color",
        "options": <%- uikit.colorOptions -%>,
        "default": "color-black"
      },
      {
        "type":      "select",
        "id":        "body_copy_color_mobile",
        "label":     "Body Copy Color",
        "options": <%- uikit.colorOptions -%>,
        "default": "color-black"
      },
      {
        "type": "header",
        "content": "CTA",
        "info": "CTA config"
      },
      {
        "type":      "checkbox",
        "id":        "enable_cta",
        "label":     "Enable CTA",
        "default":   false
      },
      {
        "type":      "select",
        "id":        "cta_layout",
        "label":     "CTA Style",
        "options": <%- uikit.buttonAndLinkOptions -%>,
        "default":   "button button--primary"
      },
      {
        "id": "cta_text",
        "type": "text",
        "label": "CTA Text"
      },
      {
        "id": "cta_url",
        "type": "url",
        "label": "CTA Link"
      }
    ]
  }
{% endschema %}
