{% capture props %}
  {
    "modsettings": {
      "layout": {{ section.settings.layout | json }},
      "time_per_slide": {{- section.settings.hero_timer | json -}},
    },
    "slides": [
      {%- for block in section.blocks -%}
        {
          "settings": {
            "desktop_image": {{ block.settings.desktop_image | json }},
            "mobile_image": {{ block.settings.mobile_image | json }},
            "shopify_video_url": {{ block.settings.shopify_video_url | json }},
            "vimeo_video_url": {{ block.settings.vimeo_video_url | json }},
            "enable_image_overlay": {{ block.settings.enable_image_overlay | json }},
            "image_overlay_color": {{ block.settings.image_overlay_color | json }},
            "image_overlay_opacity_percentage": {{ block.settings.image_overlay_opacity_percentage | json }},
            "enable_text_box": {{ block.settings.enable_text_box | json }},
            "text_box_color": {{ block.settings.text_box_color | json }},
            "text_box_opacity_percentage": {{ block.settings.text_box_opacity_percentage | json }},
            "text_box_alignment": {{ block.settings.text_box_alignment | json }},
            "slide_preheader": {{ block.settings.slide_preheader | json }},
            "slide_header": {{ block.settings.slide_header | json }},
            "slide_body_copy": {{ block.settings.slide_body_copy | json }},
            "preheader_color": {{ block.settings.preheader_color | json }},
            "header_body_color": {{ block.settings.header_body_color | json }},
            "cta_1_text": {{ block.settings.cta_1_text | json }},
            "cta_1_url": {{ block.settings.cta_1_url | json }},
            "cta_1_type": {{ block.settings.cta_1_type | json }},
            "cta_2_text": {{ block.settings.cta_2_text | json }},
            "cta_2_url": {{ block.settings.cta_2_url | json }},
            "cta_2_type": {{ block.settings.cta_2_type | json }},
          }
        }
        {%- unless forloop.last -%},{%- endunless -%}
      {%- endfor -%}
    ]
  }
{% endcapture %}

<hero-carousel :schema="{{ props | escape }}"></hero-carousel>

{% schema %}
  {
    "name": "Hero Carousel",
    "class": "hero",
    "max_blocks": 5,
    "settings": [
      {"type": "header", "content": "Mobile Layout"},
      {"type": "paragraph", "content": "Display the text content overlaid on the image/videos or below the image/videos."},
      {
        "id": "layout",
        "type": "select",
        "label": "Layout",
        "options": [
          {
            "value": "overlaid",
            "label": "Overlaid"
          },
          {
            "value": "below_image",
            "label": "Below Image"
          }
        ],
        "default": "overlaid"
      },
      {
        "id": "hero_timer",
        "type": "range",
        "label": "Hero Time Per Slide",
        "min": 5,
        "max": 100,
        "step": 1,
        "default": 10,
        "unit": "s"
      }
    ],
    "blocks": [
      {
        "type": "slide",
        "name": "Slide",
        "settings": [
          {"type": "header", "content": "Image or Video"},
          {"type": "paragraph", "content": "Choose either an image or a video"},
          {
            "type": "image_picker",
            "id": "desktop_image",
            "label": "Desktop Image",
            "info": "Suggested Dimensions: XXX x XXX"
          },
          {
            "type": "image_picker",
            "id": "mobile_image",
            "label": "Mobile Image",
            "info": "Suggested Dimensions: XXX x XXX"
          },
          {
            "type": "text",
            "id": "shopify_video_url",
            "label": "Shopify Video URL",
            "info": "Upload to Shopify files and paste URL here. Expected format: MP4"
          },
          {
            "type": "text",
            "id": "vimeo_video_url",
            "label": "Vimeo Video URL",
            "info": "Paste the URL of the Vimeo video here."
          },
          {"type": "header", "content": "Image Overlay"},
          {"type": "paragraph", "content": "For image backgrounds only"},
          {
            "type": "checkbox",
            "id": "enable_image_overlay",
            "label": "Enable Image Overlay"
          },
          {
            "type": "color",
            "id": "image_overlay_color",
            "label": "Image Overlay Color",
            "default": "#000000"
          },
          {
            "type": "range",
            "id": "image_overlay_opacity_percentage",
            "label": "Image Overlay Opacity Percentage",
            "min": 0,
            "max": 100,
            "step": 1,
            "default": 25
          },
          {"type": "header", "content": "Text Content"},
          {
            "type": "checkbox",
            "id": "enable_text_box",
            "label": "Enable Text Box",
            "info": "Adds a background color behind text content."
          },
          {
            "type": "color",
            "id": "text_box_color",
            "label": "Text Box Color",
            "default": "#000000"
          },
          {
            "type": "range",
            "id": "text_box_opacity_percentage",
            "label": "Text Box Opacity Percentage",
            "min": 0,
            "max": 100,
            "step": 1,
            "default": 75
          },
          {
            "id": "text_box_alignment",
            "type": "select",
            "label": "Text Box Alignment",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ],
            "default": "left"
          },
          {
            "type": "text",
            "id": "slide_preheader",
            "label": "Preheader"
          },
          {
            "type": "text",
            "id": "slide_header",
            "label": "Header"
          },
          {
            "type": "richtext",
            "id": "slide_body_copy",
            "label": "Body Copy"
          },
          {"type": "header", "content": "Text Colors"},
          {
            "type": "color",
            "id": "preheader_color",
            "label": "Preheader Color",
            "default": "#FFC71C"
          },
          {
            "type": "color",
            "id": "header_body_color",
            "label": "Header & Body Copy Color",
            "default": "#FFFFFF"
          },
          {"type": "header", "content": "CTAs"},
          {
            "type": "text",
            "id": "cta_1_text",
            "label": "CTA 1 Text"
          },
          {
            "type": "url",
            "id": "cta_1_url",
            "label": "CTA 1 URL"
          },
          {
            "id": "cta_1_type",
            "type": "select",
            "label": "CTA 1 Button Type",
            "default": "button--primary",
            "options": [
              {"label": "Primary", "value": "button--primary"},
              {"label": "Secondary", "value": "button--secondary"},
              {"label": "Tertiary", "value": "button--tertiary"},
              {"label": "Outline", "value": "button--outline"}
            ]
          },
          {
            "type": "text",
            "id": "cta_2_text",
            "label": "CTA 2 Text"
          },
          {
            "type": "url",
            "id": "cta_2_url",
            "label": "CTA 2 URL"
          },
          {
            "id": "cta_2_type",
            "type": "select",
            "label": "CTA 2 Button Type",
            "default": "button--primary",
            "options": [
              {"label": "Primary", "value": "button--primary"},
              {"label": "Secondary", "value": "button--secondary"},
              {"label": "Tertiary", "value": "button--tertiary"},
              {"label": "Outline", "value": "button--outline"}
            ]
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Hero Banner Carousel",
        "category": "Content Blocks"
      }
    ]
  }
{% endschema %}
