{%- render 'editorial-grid', mod_settings: section.settings, mod_blocks: section.blocks -%}
{% schema %}
{
  "name": "Editorial Grid",
  "max_blocks": 4,
  "settings": [
    {
      "type": "paragraph",
      "content": "Min of 3 Cards are required for this component to render."
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "The Power of LookOurWay (H2)"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#A9291F"
    }
  ],
  "blocks": [
    {
      "name": "Card",
      "type": "editorial_card",
      "settings": [
        {
          "type": "textarea",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "textarea",
          "id": "content",
          "label": "Content"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text Color",
          "default": "#FFFFFF"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "Mobile Image"
        },
        {
          "type": "checkbox",
          "id": "show_overlay",
          "label": "Overlay",
          "default": true
        },
        {
          "type": "select",
          "id": "overlay_color",
          "label": "Overlay Color",
          "options": [
            {
              "label": "Dark",
              "value": "dark"
            },
            {
              "label": "Light",
              "value": "light"
            }
          ],
          "default": "dark"
        },
        {
          "type": "text",
          "id": "cta",
          "label": "CTA"
        },
        {
          "type": "url",
          "id": "url",
          "label": "CTA Link"
        },
        {
          "type": "select",
          "id": "button_type",
          "label": "Button Color",
          "options": <%- uikit.buttonOptions -%>,
          "default":   "button button--primary"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collection Grid",
      "category": "Collection"
    }
  ]
}
{% endschema %}
