<ul class="icon-grid container">
  {% for block in section.blocks %}
    <li class="icon-grid__icon-container"> 
      <img class="icon-grid__icon" src="{{ block.settings.icon | img_url: '100x' }}" alt="{{ block.settings.icon.alt }}"/>
      <p class="icon-grid__text" >{{ block.settings.text }}</p> 
    </li>
  {% endfor %}
</ul>

{% schema %}
  {
    "name": "Icon Section",
    "max_blocks": 10,
    "blocks": [
      {
        "type": "icon_block",
        "name": "Icon - Block",
        "settings": [
          {
            "type": "text",
            "id": "text",
            "label": "Text"
          },
          {
            "type": "image_picker",
            "id": "icon",
            "label": "Icon",
            "info": "Size: 92x92"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Icon Grid",
        "category": "Content Blocks"
      }
    ]
  }
{% endschema %}
