<div>
  <div class="instagram-content">
    <h3 class="instagram-content__title">{{- section.settings.title -}}</h3>
    {%- unless section.settings.hashtag_link == blank -%}
      <a class="instagram-content__hashtag u-subtitle" href="{{- section.settings.hashtag_link -}}" target="_blank">
        {{- section.settings.hashtag_text -}}
      </a>
    {%- endunless -%}
    {%- unless section.settings.follow_link == blank -%}
      <a class="instagram-content_link" href="{{- section.settings.follow_link -}}" target="_blank">
        {{- section.settings.follow_text -}}
      </a>
    {%- endunless -%}
  </div>
  <instagram-gallery carousel-id="{{- section.settings.carousel_id -}}"
                     gallery-id="{{- section.settings.gallery_id -}}">
  </instagram-gallery>
</div>

{% schema %}
  {
    "name": "Shappable Instagram",
    "settings": [
      {
        "id": "gallery_id",
        "type": "text",
        "label": "Gallery ID",
        "default": "5f7f8d6919d86f3c447b70df"
      },
      {
        "id": "carousel_id",
        "type": "text",
        "label": "Gallery ID",
        "default": "5f7f9004e31670634af2b380"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Section Title",
        "default": "Reach Your Potential"
      },
      {
        "type": "url",
        "id": "hashtag_link",
        "label": "Hashtag Link"
      },
      {
        "type": "text",
        "id": "hashtag_text",
        "label": "Hashtag Text",
        "default": "#JOINHEALTHYCELL"
      },
      {
        "type": "url",
        "id": "follow_link",
        "label": "Follow Us Link"
      },
      {
        "type": "text",
        "id": "follow_text",
        "label": "Follow Us Text",
        "default": "Follow us on Instagram"
      }
    ]
  }
{% endschema %}
