<div>
  {%- for block in section.blocks -%}
    {%- unless block.settings.page_handle == page.handle -%}
      {%- continue -%}
    {%- endunless -%}

    {%- if block.type == 'user-generated-content' -%}
      <div class="page-template">
        <div class="container rte client-generated">
          {{ page.content }}
        </div>
      </div>
    {%- elsif block.type == 'fiftyfifty' -%}
      {% capture schema %}
        {
          "settings": {
            "layout": {{ block.settings.ff_layout | json }},
            "imageDesktop": {{ block.settings.ff_image_desktop | json }},
            "imageMobile": {{ block.settings.ff_image_mobile | json }},
            "backgroundVideoURL": {{ block.settings.ff_background_video_url | json }},
            "youtubeVideoURL": {{ block.settings.ff_youtube_video_url | json }},
            "imageWidth": {{ block.settings.ff_image_width | json }},
            "subheader": {{ block.settings.ff_subheader | json }},
            "header": {{ block.settings.ff_header | json }},
            "body": {{ block.settings.ff_body | json }},
            "align": {{- block.settings.alignment | json -}},
            "backgroundColor": {{ block.settings.ff_color | json }},
            "headerColor": {{ block.settings.ff_header_color | json }},
            "spanColor": {{ block.settings.ff_header_span_color | json }},
            "subHeaderColor": {{ block.settings.ff_subheader_color | json }},
            "bodyColor": {{ block.settings.ff_body_color | json }},
            "marginBottom": {{ block.settings.margin_bottom | json }},
            "marginTop": {{ block.settings.margin_top | json }}
          }
        }
      {% endcapture %}
      <div class="container">
        <fifty-fifty :schema="{{ schema | escape | strip }}">
          {%- unless block.settings.cta_url == blank -%}
            <a class="button {{ block.settings.cta_type }}"
               href="{{- block.settings.cta_url -}}"
               slot="extraContent">
                <span class="button__content">
                  {{- block.settings.cta_text -}}
                </span>
            </a>
          {%- endunless -%}
        </fifty-fifty>
      </div>
    {%- else -%}
      <picture class="full-width-image">
        <source srcset="{{- block.settings.desktop_image | img_url: '1440x' }} 1x, {{ block.settings.desktop_image | img_url: '2880x' }} 2x" media="(min-width: 1024px)">
        <img class="full-width-image__img" src="{{- block.settings.mobile_image | img_url: '1440x' -}}" alt="{{- block.settings.image_alt -}}" />
      </picture>
    {%- endif -%}
  {%- endfor -%}
</div>

{% schema %}
  {
    "name": "Media Page Contents",
    "class": "media-content-wrapper",
    "blocks": [
      {
        "type": "fiftyfifty",
        "name": "Fifty Fifty",
        "settings": [
          {
            "type": "text",
            "id": "page_handle",
            "label": "Page Handle"
          },
          {
            "type": "header",
            "content": "Section Margins",
            "info": "Customize the margin spacing on the top and bottom of this section."
          },
          {
            "label": "Top Margin",
            "id": "margin_top",
            "type": "range",
            "min": 40,
            "max": 80,
            "step": 8,
            "unit": "px",
            "default": 40
          },
          {
            "label": "Bottom Margin",
            "id": "margin_bottom",
            "type": "range",
            "min": 40,
            "max": 80,
            "step": 8,
            "unit": "px",
            "default": 40
          },
          {
            "type": "header",
            "content": "Layout"
          },
          {
            "type":      "select",
            "id":        "ff_layout",
            "label":     "Layout",
            "options": [
              {"value": "", "label": "Image on Left"},
              {"value": "sw--reverse", "label": "Image on Right"}
            ],
            "default":   ""
          },
          {
            "type": "header",
            "content": "Image"
          },
          {
            "type": "image_picker",
            "id": "ff_image_desktop",
            "label": "Desktop Image",
            "info": "Minimum Dimensions: 1814x1538"
          },
          {
            "type": "image_picker",
            "id": "ff_image_mobile",
            "label": "Mobile Image",
            "info": "Same minumum dimensions as desktop. Image will be automatically resized."
          },
          {
            "type": "header",
            "content": "Video"
          },
          {
            "type": "text",
            "id": "ff_background_video_url",
            "label": "Shopify Video URL",
            "info": "Add video to settings/files and paste cdn link here. Removes images"
          },
          {
            "type": "text",
            "id": "ff_youtube_video_url",
            "label": "YouTube Video URL",
            "info": "Add YouTube video link here. Removes images"
          },
          {
            "type": "header",
            "content": "Text Content"
          },
          {
            "type": "text",
            "id": "ff_header",
            "label": "Header",
            "info": "Text in span tags can be a different color."
          },
          {
            "type": "text",
            "id": "ff_subheader",
            "label": "Sub Header"
          },
          {
            "type": "richtext",
            "id": "ff_body",
            "label": "Body Copy"
          },
          {
            "type": "text",
            "id": "cta_text",
            "label": "CTA Text"
          },
          {
            "type": "url",
            "id": "cta_url",
            "label": "CTA URL"
          },
          {
            "type": "select",
            "id": "cta_type",
            "label": "CTA Type",
            "options": [
              {
                "label": "Primary",
                "value": "button--primary"
              },
              {
                "label": "Secondary",
                "value": "button--secondary"
              },
              {
                "label": "Tertiary",
                "value": "button--tertiary"
              },
              {
                "label": "Outline",
                "value": "button--outline"
              }
            ],
            "default": "button--primary"
          },
          {
            "type": "header",
            "content": "Colors"
          },
          {
            "type": "color",
            "id": "ff_color",
            "label":     "Background Color",
            "default":   "#f9f9f9"
          },
          {
            "type": "color",
            "id": "ff_header_color",
            "label":     "Header Text Color",
            "default":   "#030303"
          },
          {
            "type": "color",
            "id": "ff_header_span_color",
            "label":     "Header Span Color",
            "default":   "#030303"
          },
          {
            "type": "color",
            "id": "ff_subheader_color",
            "label":     "Subheader Color",
            "default":   "#030303"
          },
          {
            "type": "color",
            "id": "ff_body_color",
            "label":     "Body Copy Color",
            "default":   "#030303"
          }
        ]
      },
      {
        "type": "full-width-image",
        "name": "Full Width Image",
        "settings": [
          {
            "type": "text",
            "id": "page_handle",
            "label": "Page Handle"
          },
          {
            "type": "image_picker",
            "id": "desktop_image",
            "label": "Desktop Image",
            "info": "Should be 2880px wide"
          },
          {
            "type": "image_picker",
            "id": "mobile_image",
            "label": "Mobile Image",
            "info": "Should be 1024px wide"
          },
          {
            "type": "text",
            "id": "image_alt",
            "label": "Image Alt Text"
          }
        ]
      },
      {
        "type": "user-generated-content",
        "name": "User Generated Content",
        "settings": [
          {
            "type": "text",
            "id": "page_handle",
            "label": "Page Handle"
          }
        ]
      }
    ]
  }
{% endschema %}
