{%- capture about_blocks -%}
  [
    {%- for block in section.blocks -%}
      {
        "type": "{{ block.type }}",

        {%- case block.type -%}
          {% when 'video' %}
            "preheader": {{ block.settings.preheader | json }},
            "header": {{ block.settings.header | json }},
            "body_copy": {{ block.settings.body_copy | json }},
            "video_id": {{ block.settings.video_id | json }},
            "cta_title": {{ block.settings.cta_title | json }},
            "cta_link": {{ block.settings.cta_link | json }},
            "cta_layout": {{ block.settings.cta_layout | json }},
            "section_bg_color": {{ block.settings.section_bg_color | json }},
            "pre_heading_color": {{ block.settings.pre_heading_color | json }},
            "heading_color": {{ block.settings.heading_color | json }},
            "body_copy_color": {{ block.settings.body_copy_color | json }}
          {% when 'image_banner' %}
            "image": "{{ block.settings.background_image | img_url: '2000x' }}",
            "imageMobile": "{{ block.settings.background_image_mobile  | img_url: '1000x' }}",
            "imageMobileEnable": {{ block.settings.enable_mobile_image }},
            "overlayEnable": {{ block.settings.enable_overlay }},
            "overlayColor": {{ block.settings.overlay_color | json }},
            "overlayOpacity": {{ block.settings.overlay_opacity }},
            "heading": {{ block.settings.header | json }},
            "headingColor": {{ block.settings.heading_color | json }},
            "subHeading": {{ block.settings.subheader | json }},
            "subHeadingColor": {{ block.settings.sub_heading_color | json }},
            "copy": {{ block.settings.body_copy | json }},
            "copyColor": {{ block.settings.body_copy_color | json }},
            "layoutHorizontal": {{ block.settings.horizontal_layout | json }},
            "layoutVertical": {{ block.settings.vertical_layout | json }},
            "mobileBgColor": {{ block.settings.section_bg_color | json }},
            "enableCta": {{ block.settings.enable_cta }},
            "ctaLayout": {{ block.settings.cta_layout | json }},
            "ctaColor": {{ block.settings.cta_color | json }},
            "ctaText": {{ block.settings.cta_title | json }},
            "ctaUrl": "{{ block.settings.cta_link }}"
          {% when 'three_column' %}
            "header": {{ block.settings.header | json }},
            "subheader": {{ block.settings.subheader | json }},
            "desktop_layout": {{ block.settings.desktop_layout | json }},
            "layoutHorizontal": {{ block.settings.horizontal_layout | json }},
            "section_bg_color": {{ block.settings.section_bg_color | json }},
            "section_heading_color": {{ block.settings.section_heading_color | json }},
            "section_sub_heading_color": {{ block.settings.section_sub_heading_color | json }},
            "block_heading_color": {{ block.settings.block_heading_color | json }},
            "block_text_color": {{ block.settings.block_text_color | json }},
            "cta_layout": {{ block.settings.cta_layout | json }},
            "block_image_1": {{ block.settings.block_image_1 | json }},
            "block_text_1": {{ block.settings.block_text_1 | json }},
            "block_body_copy_1": {{ block.settings.block_body_copy_1 | json }},
            "block_cta_title_1": {{ block.settings.block_cta_title_1 | json }},
            "block_cta_link_1": {{ block.settings.block_cta_link_1 | json }},
            "block_image_2": {{ block.settings.block_image_2 | json }},
            "block_text_2": {{ block.settings.block_text_2 | json }},
            "block_body_copy_2": {{ block.settings.block_body_copy_2 | json }},
            "block_cta_title_2": {{ block.settings.block_cta_title_2 | json }},
            "block_cta_link_2": {{ block.settings.block_cta_link_2 | json }},
            "block_image_3": {{ block.settings.block_image_3 | json }},
            "block_text_3": {{ block.settings.block_text_3 | json }},
            "block_body_copy_3": {{ block.settings.block_body_copy_3 | json }},
            "block_cta_title_3": {{ block.settings.block_cta_title_3 | json }},
            "block_cta_link_3": {{ block.settings.block_cta_link_3 | json }}
          {% when 'basic_text' %}
            "copy": {{ block.settings.copy | json }},
            "background_color": {{ block.settings.background_color | json }},
            "text_color": {{ block.settings.text_color | json }},
          {% when 'text_only' %}
            "layoutHorizontal": {{ block.settings.horizontal_layout | json }},
            "layoutVertical": {{ block.settings.vertical_layout | json }},
            "bgColor": {{ block.settings.bg_color | json }},
            "image": "{%- if block.settings.background_image != null -%}{{ block.settings.background_image | img_url: '2000x' }}{%- endif -%}",
            "imageMobile": "{{ block.settings.background_image_mobile  | img_url: '1000x' }}",
            "imageMobileEnable": {{ block.settings.enable_mobile_image }},
            "overlayEnable": {{ block.settings.enable_overlay }},
            "overlayColor": {{ block.settings.overlay_color | json }},
            "overlayOpacity": {{ block.settings.overlay_opacity }},
            "preHeading": {{ block.settings.pre_heading | json }},
            "preHeadingColor": {{ block.settings.pre_heading_color | json }},
            "heading": {{ block.settings.heading | json }},
            "headingColor": {{ block.settings.heading_color | json }},
            "subHeading": {{ block.settings.sub_heading | json }},
            "subHeadingColor": {{ block.settings.sub_heading_color | json }},
            "copy": {{ block.settings.body_copy | json }},
            "copyColor": {{ block.settings.body_copy_color | json }},
            "enableCta": {{ block.settings.enable_cta }},
            "ctaLayout": {{ block.settings.cta_layout | json }},
            "ctaColor": {{ block.settings.cta_color | json }},
            "ctaText": {{ block.settings.cta_text | json }},
            "ctaUrl": "{{ block.settings.cta_url }}",
            "textLayout": {{ block.settings.text_layout | json }}
          {% when 'fifty_fifty' %}
            "settings": {
              "id": {{- block.id | json -}},
              "layout": {{ block.settings.ff_layout | json }},
              "imageDesktop": {{ block.settings.ff_image_desktop | json }},
              "imageMobile": {{ block.settings.ff_image_mobile | json }},
              "imageWidth": {{ block.settings.ff_image_width | json }},
              "preheader": {{ block.settings.ff_preheader | json }},
              "header": {{ block.settings.ff_header | json }},
              "subheader": {{ block.settings.ff_subheader | json }},
              "body": {{ block.settings.ff_body | json }},
              "textAlignment": {{ block.settings.ff_text_alignment | json }},
              "backgroundColor": {{ block.settings.ff_background_color | json }},
              "preheaderColor": {{ block.settings.ff_preheader_color | json }},
              "headerColor": {{ block.settings.ff_header_color | json }},
              "subheaderColor": {{ block.settings.ff_subheader_color | json }},
              "bodyColor": {{ block.settings.ff_body_color | json }},
              "ctaText": {{ block.settings.ff_cta_text | json }},
              "ctaUrl": {{ block.settings.ff_cta_url | json }},
              "ctaStyle": {{ block.settings.ff_cta_style | json }},
              "modalHtml": {{ block.settings.modal_html | json }}
            }
          {% when 'press' %}
            "settings": {
              "sectionHeader": {{ block.settings.itp_section_header | json }},
              "sectionHeaderColor": {{ block.settings.itp_header_color | json }},
              "backgroundColor": {{ block.settings.itp_background_color | json }}
            },
            "blocks": [
              {
                "settings": {
                  "itp_logo": {{ block.settings.itp_logo_1 | json }},
                  "itp_url": {{ block.settings.itp_url_1 | json }},
                  "itp_link_target": {{ block.settings.itp_url_target_1 | json }}
                }
              },
              {
                "settings": {
                  "itp_logo": {{ block.settings.itp_logo_2 | json }},
                  "itp_url": {{ block.settings.itp_url_2 | json }},
                  "itp_link_target": {{ block.settings.itp_url_target_2 | json }}
                }
              },
              {
                "settings": {
                  "itp_logo": {{ block.settings.itp_logo_3 | json }},
                  "itp_url": {{ block.settings.itp_url_3 | json }},
                  "itp_link_target": {{ block.settings.itp_url_target_3 | json }}
                }
              },
              {
                "settings": {
                  "itp_logo": {{ block.settings.itp_logo_4 | json }},
                  "itp_url": {{ block.settings.itp_url_4 | json }},
                  "itp_link_target": {{ block.settings.itp_url_target_4 | json }}
                }
              }
            ]
          {% when 'scrolling_text' %}
            "settings": {
              "title": {{ block.settings.title | json }},
              "content": {{ block.settings.content | json }},
              "image": {{ block.settings.image | img_url: '735x' | strip | json }},
              "imageMobile": {{ block.settings.image | img_url: '500x' | strip | json }},
              "imageAlt": {{ block.settings.image.alt | strip | json }},
              "group": {{ block.settings.text_group | handleize | strip | json }}
            }
          {% when 'single_image_carousel' %}
            "settings": {
              "introContent": {{ block.settings.intro_content | json }},
              "subheader": {{ block.settings.subheader | json }},
              "textColor": {{ block.settings.text_color | json }},
              "highlightTextColor": {{ block.settings.highlight_text_color | json }},
              "backgroundColor": {{ block.settings.background_color | json }},
              "marginTop": {{ block.settings.margin_top | json }},
              "marginBottom": {{ block.settings.margin_bottom | json }},
              "viewMoreCta": {{ block.settings.view_more_cta | json }},
              "viewMoreLink": {{ block.settings.view_more_link | json }},
              "items": [
                {%- for i in (1..10) -%}
                  {%- assign image_key = 'image_' | append: i -%}
                  {%- assign link_key = 'link_' | append: i -%}
                  {% if block.settings[image_key] != blank and block.settings[link_key] != blank %}
                    {
                      "image": {{ block.settings[image_key] | img_url: 'master' | json }},
                      "url": {{ block.settings[link_key] | json }},
                      "alt": {{ block.settings[image_key].alt | escape | json }}
                    },
                  {% endif %}
                {%- endfor -%}
              ]
            }
          {% when 'logo_carousel' %}
            "settings": {
              "introContent": {{ block.settings.intro_content | json }},
              "textColor": {{ block.settings.text_color | json }},
              "highlightTextColor": {{ block.settings.highlight_text_color | json }},
              "backgroundColor": {{ block.settings.background_color | json }},
              "marginTop": {{ block.settings.margin_top | json }},
              "marginBottom": {{ block.settings.margin_bottom | json }},
              "viewMoreCta": {{ block.settings.view_more_cta | json }},
              "viewMoreLink": {{ block.settings.view_more_link | json }},
              "items": [
                {% if block.settings.logo_url_1 != blank %}
                  {
                    "image": {{ block.settings.logo_image_1 | img_url: 'master' | json }},
                    "url": {{ block.settings.logo_url_1 | json }},
                    "alt": {{ block.settings.logo_image_1.alt | escape | json }}
                  }
                {% endif %}
                {% if block.settings.logo_url_2 != blank %}
                  ,{
                    "image": {{ block.settings.logo_image_2 | img_url: 'master' | json }},
                    "url": {{ block.settings.logo_url_2 | json }},
                    "alt": {{ block.settings.logo_image_2.alt | escape | json }}
                  }
                {% endif %}
                {% if block.settings.logo_url_3 != blank %}
                  ,{
                    "image": {{ block.settings.logo_image_3 | img_url: 'master' | json }},
                    "url": {{ block.settings.logo_url_3 | json }},
                    "alt": {{ block.settings.logo_image_3.alt | escape | json }}
                  }
                {% endif %}
                {% if block.settings.logo_url_4 != blank %}
                  ,{
                    "image": {{ block.settings.logo_image_4 | img_url: 'master' | json }},
                    "url": {{ block.settings.logo_url_4 | json }},
                    "alt": {{ block.settings.logo_image_4.alt | escape | json }}
                  }
                {% endif %}
                {% if block.settings.logo_url_5 != blank %}
                  ,{
                    "image": {{ block.settings.logo_image_5 | img_url: 'master' | json }},
                    "url": {{ block.settings.logo_url_5 | json }},
                    "alt": {{ block.settings.logo_image_5.alt | escape | json }}
                  }
                {% endif %}
                {% if block.settings.logo_url_6 != blank %}
                  ,{
                    "image": {{ block.settings.logo_image_6 | img_url: 'master' | json }},
                    "url": {{ block.settings.logo_url_6 | json }},
                    "alt": {{ block.settings.logo_image_6.alt | escape | json }}
                  }
                {% endif %}
                {% if block.settings.logo_url_7 != blank %}
                  ,{
                    "image": {{ block.settings.logo_image_7 | img_url: 'master' | json }},
                    "url": {{ block.settings.logo_url_7 | json }},
                    "alt": {{ block.settings.logo_image_7.alt | escape | json }}
                  }
                {% endif %}
                {% if block.settings.logo_url_8 != blank %}
                  ,{
                    "image": {{ block.settings.logo_image_8 | img_url: 'master' | json }},
                    "url": {{ block.settings.logo_url_8 | json }},
                    "alt": {{ block.settings.logo_image_8.alt | escape | json }}
                  }
                {% endif %}
                {% if block.settings.logo_url_9 != blank %}
                  ,{
                    "image": {{ block.settings.logo_image_9 | img_url: 'master' | json }},
                    "url": {{ block.settings.logo_url_9 | json }},
                    "alt": {{ block.settings.logo_image_9.alt | escape | json }}
                  }
                {% endif %}
                {% if block.settings.logo_url_10 != blank %}
                  ,{
                    "image": {{ block.settings.logo_image_10 | img_url: 'master' | json }},
                    "url": {{ block.settings.logo_url_10 | json }},
                    "alt": {{ block.settings.logo_image_10.alt | escape | json }}
                  }
                {% endif %}
              ]
            }
          {% when 'packages' %}
            "settings": {
              "id": {{- block.id | json -}},
              "title": {{ block.settings.title | json }},
              "content": {{ block.settings.content | json }},
              "ctaText": {{ block.settings.cta_text | json }},
              "ctaUrl": {{ block.settings.cta_url | json }},
              "modalHtml": {{ block.settings.modal_html | json }},
              "package1": {
                "best_seller": {{ block.settings.package_1_best_seller }},
                "backgroundColor": {{ block.settings.package_1_background | json }},
                "color": {{ block.settings.package_1_color | json }},
                "title": {{ block.settings.package_1_title | json }},
                "subTitle": {{ block.settings.package_1_sub_title | json }},
                "price": {{ block.settings.package_1_price | json }},
                "content": {{ block.settings.package_1_content | json }}
              },
              "package2": {
                "best_seller": {{ block.settings.package_2_best_seller }},
                "backgroundColor": {{ block.settings.package_2_background | json }},
                "color": {{ block.settings.package_2_color | json }},
                "title": {{ block.settings.package_2_title | json }},
                "subTitle": {{ block.settings.package_2_sub_title | json }},
                "price": {{ block.settings.package_2_price | json }},
                "content": {{ block.settings.package_2_content | json }}
              },
              "package3": {
                "best_seller": {{ block.settings.package_3_best_seller }},
                "backgroundColor": {{ block.settings.package_3_background | json }},
                "color": {{ block.settings.package_3_color | json }},
                "title": {{ block.settings.package_3_title | json }},
                "subTitle": {{ block.settings.package_3_sub_title | json }},
                "price": {{ block.settings.package_3_price | json }},
                "content": {{ block.settings.package_3_content | json }}
              }
            }
          {% when 'heading_text' %}
            "settings": {
              "title": {{ block.settings.title | json }},
              "backgroundColor": {{ block.settings.background_color | json }},
              "textColor": {{ block.settings.text_color | json }},
              "textColorAccent": {{ block.settings.text_color_accent | json }},
              "paddingTop": {{ block.settings.padding_top | json }},
              "paddingBottom": {{ block.settings.padding_bottom | json }}
            }
          {% when 'collection_tile' %}
            "settings": {
              "sectionHeader": {{ block.settings.collection_linear_section_header | json }},
              "shopAllLink": {{ block.settings.collection_linear_shop_all | json }},
              "textAlignment": {{ block.settings.collection_linear_text_alignment | json }},
              "backgroundImage": {{ block.settings.collection_linear_background_image | json }},
              "backgroundColor": {{ block.settings.collection_layout_linear_background_color | json }},
              "titleColor": {{ block.settings.collection_layout_linear_header_color | json }},
              "marginTop": {{ block.settings.margin_top | json }},
              "marginBottom": {{ block.settings.margin_bottom | json }},
              "imageShape": "square",
            },
            "blocks": [
              {% if block.settings.linear_collection_name_1 != blank%}
                {
                  "id": {{ block.id | json }},
                  "type": {{ block.type | json }},
                  "settings": {
                    "linear_image": {{ block.settings.linear_image_1 | json }},
                    "linear_collection_name": {{ block.settings.linear_collection_name_1 | escape | json }},
                    "linear_link": {{ block.settings.linear_link_1 | escape | json }},
                  }
                }
              {% endif %}
              {% if block.settings.linear_collection_name_2 != blank%}
                ,{
                  "id": {{ block.id | json }},
                  "type": {{ block.type | json }},
                  "settings": {
                    "linear_image": {{ block.settings.linear_image_2 | json }},
                    "linear_collection_name": {{ block.settings.linear_collection_name_2 | escape | json }},
                    "linear_link": {{ block.settings.linear_link_2 | escape | json }},
                  }
                }
              {% endif %}
              {% if block.settings.linear_collection_name_3 != blank%}
                ,{
                  "id": {{ block.id | json }},
                  "type": {{ block.type | json }},
                  "settings": {
                    "linear_image": {{ block.settings.linear_image_3 | json }},
                    "linear_collection_name": {{ block.settings.linear_collection_name_3 | escape | json }},
                    "linear_link": {{ block.settings.linear_link_3 | escape | json }},
                  }
                }
              {% endif %}
              {% if block.settings.linear_collection_name_4 != blank%}
                ,{
                  "id": {{ block.id | json }},
                  "type": {{ block.type | json }},
                  "settings": {
                    "linear_image": {{ block.settings.linear_image_4 | json }},
                    "linear_collection_name": {{ block.settings.linear_collection_name_4 | escape | json }},
                    "linear_link": {{ block.settings.linear_link_4 | escape | json }},
                  }
                }
              {% endif %}
              {% if block.settings.linear_collection_name_5 != blank%}
                ,{
                  "id": {{ block.id | json }},
                  "type": {{ block.type | json }},
                  "settings": {
                    "linear_image": {{ block.settings.linear_image_5 | json }},
                    "linear_collection_name": {{ block.settings.linear_collection_name_5 | escape | json }},
                    "linear_link": {{ block.settings.linear_link_5 | escape | json }},
                  }
                }
              {% endif %}
              {% if block.settings.linear_collection_name_6 != blank%}
                ,{
                  "id": {{ block.id | json }},
                  "type": {{ block.type | json }},
                  "settings": {
                    "linear_image": {{ block.settings.linear_image_6 | json }},
                    "linear_collection_name": {{ block.settings.linear_collection_name_6 | escape | json }},
                    "linear_link": {{ block.settings.linear_link_6 | escape | json }},
                  }
                }
              {% endif %}
              {% if block.settings.linear_collection_name_7 != blank%}
                ,{
                  "id": {{ block.id | json }},
                  "type": {{ block.type | json }},
                  "settings": {
                    "linear_image": {{ block.settings.linear_image_7 | json }},
                    "linear_collection_name": {{ block.settings.linear_collection_name_7 | escape | json }},
                    "linear_link": {{ block.settings.linear_link_7 | escape | json }},
                  }
                }
              {% endif %}
              {% if block.settings.linear_collection_name_8 != blank%}
                ,{
                  "id": {{ block.id | json }},
                  "type": {{ block.type | json }},
                  "settings": {
                    "linear_image": {{ block.settings.linear_image_8 | json }},
                    "linear_collection_name": {{ block.settings.linear_collection_name_8 | escape | json }},
                    "linear_link": {{ block.settings.linear_link_8 | escape | json }},
                  }
                }
              {% endif %}
              {% if block.settings.linear_collection_name_9 != blank%}
                ,{
                  "id": {{ block.id | json }},
                  "type": {{ block.type | json }},
                  "settings": {
                    "linear_image": {{ block.settings.linear_image_9 | json }},
                    "linear_collection_name": {{ block.settings.linear_collection_name_9 | escape | json }},
                    "linear_link": {{ block.settings.linear_link_9 | escape | json }},
                  }
                }
              {% endif %}
              {% if block.settings.linear_collection_name_10 != blank%}
                ,{
                  "id": {{ block.id | json }},
                  "type": {{ block.type | json }},
                  "settings": {
                    "linear_image": {{ block.settings.linear_image_10 | json }},
                    "linear_collection_name": {{ block.settings.linear_collection_name_10 | escape | json }},
                    "linear_link": {{ block.settings.linear_link_10 | escape | json }},
                  }
                }
              {% endif %}
              {% if block.settings.linear_collection_name_11 != blank%}
                ,{
                  "id": {{ block.id | json }},
                  "type": {{ block.type | json }},
                  "settings": {
                    "linear_image": {{ block.settings.linear_image_11 | json }},
                    "linear_collection_name": {{ block.settings.linear_collection_name_11 | escape | json }},
                    "linear_link": {{ block.settings.linear_link_11 | escape | json }},
                  }
                }
              {% endif %}
              {% if block.settings.linear_collection_name_12 != blank%}
                ,{
                  "id": {{ block.id | json }},
                  "type": {{ block.type | json }},
                  "settings": {
                    "linear_image": {{ block.settings.linear_image_12 | json }},
                    "linear_collection_name": {{ block.settings.linear_collection_name_12 | escape | json }},
                    "linear_link": {{ block.settings.linear_link_12 | escape | json }},
                  }
                }
              {% endif %}
            ],
          {% when 'columns'%}
            "settings": {
              "margin_top": {{ block.settings.margin_top | json }},
              "margin_bottom": {{ block.settings.margin_bottom | json }},
              "title": {{ block.settings.title | json }},
              "subtext": {{ block.settings.subtext | json }},
              "header_alignment": {{ block.settings.header_alignment | json }},
              "enable_step_numbers": {{ block.settings.enable_step_numbers | json }},
              "bg_color_1": {{ block.settings.bg_color_1 | json }},
              "bg_color_2": {{ block.settings.bg_color_2 | json }},
              "bg_color_3": {{ block.settings.bg_color_3 | json }},
              "title_color": {{ block.settings.title_color | json }},
              "subtext_color": {{ block.settings.subtext_color | json }},
              "block_title_color": {{ block.settings.block_title_color | json }},
              "block_subtitle_color": {{ block.settings.block_subtitle_color | json }},
              "border_color": {{ block.settings.border_color | json }},
              "line_color": {{ block.settings.line_color | json }},
              "cta_text": {{ block.settings.cta_text | json }},
              "cta_link": {{ block.settings.cta_link | json }},
              "cta_style": {{ block.settings.cta_style | json }},
              "columns": [
                {% if block.settings.title_1 != empty %}
                {
                  "title": {{ block.settings.title_1 | json }},
                  "subtext": {{ block.settings.subtext_1 | json }},
                  "image": {{ block.settings.image_1 | json}},
                  "image_alt": {{ block.settings.image_1.alt | json }}
                }
                {% endif %}
                {% if block.settings.title_2 != empty %}
                ,{
                  "title": {{ block.settings.title_2 | json }},
                  "subtext": {{ block.settings.subtext_2 | json }},
                  "image": {{ block.settings.image_2 | json}},
                  "image_alt": {{ block.settings.image_2.alt | json }}
                }
                {% endif %}
                {% if block.settings.title_3 != empty %}
                ,{
                  "title": {{ block.settings.title_3 | json }},
                  "subtext": {{ block.settings.subtext_3 | json }},
                  "image": {{ block.settings.image_3 | json}},
                  "image_alt": {{ block.settings.image_3.alt | json }}
                }
                {% endif %}
                {% if block.settings.title_4 != empty %}
                ,{
                  "title": {{ block.settings.title_4 | json }},
                  "subtext": {{ block.settings.subtext_4 | json }},
                  "image": {{ block.settings.image_4 | json }},
                  "image_alt": {{ block.settings.image_4.alt | json }}
                }
                {% endif %}
              ],
            }
          {%- endcase -%}
      }{%- unless forloop.last -%},{%- endunless -%}
    {%- endfor -%}
  ]
{%- endcapture -%}

{%- for block in section.blocks -%}
  {%- if block.type == 'packages' or block.type == 'fifty_fifty'-%}
    {%- unless block.settings.modal_html == blank -%}
      <div class="u-hidden" data-modal-contents="{{- block.id -}}">{{- block.settings.modal_html -}}</div>
    {%- endunless -%}
  {%- endif -%}
{%- endfor -%}

<about
  :blocks="{{ about_blocks | escape }}"
  >
</about>

{% schema %}
  {
    "name": "About Page",
    "blocks": [
      {
        "type": "video",
        "name": "Video Section",
        "settings": [
          {
            "type": "header",
            "content": "Text Content",
            "info": "All text fields are optional."
          },
          {
              "type":"text",
              "id":"preheader",
              "label":"Preheader"
          },
          {
              "type":"text",
              "id":"header",
              "label":"Header"
          },
          {
              "type":"textarea",
              "id":"body_copy",
              "label":"Body Copy"
          },
          {
            "type": "header",
            "content": "Video",
            "info": "Upload your video to Youtube. Paste the ID after 'embed/'"
          },
          {
            "type":"text",
            "id":"video_id",
            "label":"Youtube Video",
            "info": "Example: Wy9q22isx3U"
          },
          {
            "type": "header",
            "content": "CTA",
            "info": "An optional CTA displays below the video."
          },
          {
            "type":"text",
            "id":"cta_title",
            "label":"CTA Text"
          },
          {
            "type":"url",
            "id":"cta_link",
            "label":"CTA URL"
          },
          {
            "type":      "select",
            "id":        "cta_layout",
            "label":     "CTA Style",
            "options": <%- uikit.buttonAndLinkOptions -%>,
            "default":   "button button--primary"
          },
          {
            "type": "header",
            "content": "Colors"
          },
          {
            "type":      "select",
            "id":        "section_bg_color",
            "label":     "Section Background Color",
            "options": <%- uikit.backgroundOptions -%>,
            "default": "bg-brand-primary"
          },
          {
            "type":      "select",
            "id":        "pre_heading_color",
            "label":     "Preheader Color",
            "options": <%- uikit.colorOptions -%>,
            "default": "color-black"
          },
          {
            "type":      "select",
            "id":        "heading_color",
            "label":     "Header Color",
            "options": <%- uikit.colorOptions -%>,
            "default": "color-black"
          },
          {
            "type":      "select",
            "id":        "body_copy_color",
            "label":     "Body Copy Color",
            "options": <%- uikit.colorOptions -%>,
            "default": "color-black"
          }
        ]
      },
      {
        "type": "image_banner",
        "name": "Hero Banner",
        "settings": [
          {
            "type": "header",
            "content": "Banner Image",
            "info": "Please upload images here. If you would like to use a separate image in mobile, please enable that option and add the mobile image as well. If mobile image is not used, leave unpopulated. If you wish to use an overlay, configure that here."
          },
          {
            "type": "image_picker",
            "id": "background_image",
            "label": "Background Image",
            "info": "Recommended size: 2880x896"
          },
          {
            "type":      "checkbox",
            "id":        "enable_mobile_image",
            "label":     "Enable Mobile Image",
            "default":   false
          },
          {
            "type": "image_picker",
            "id": "background_image_mobile",
            "label": "Mobile Background Image",
            "info": "Recommended size: 1000x382"
          },
          {
            "type": "header",
            "content": "Banner Image Overlay"
          },
          {
            "type":      "checkbox",
            "id":        "enable_overlay",
            "label":     "Enable Overlay",
            "default":   false
          },
          {
            "type":      "select",
            "id":        "overlay_color",
            "label":     "Overlay Color",
            "options": <%- uikit.backgroundOptions -%>,
            "default": "bg-brand-primary"
          },
          {
            "label": "Overlay Opacity",
            "id": "overlay_opacity",
            "type": "range",
            "min":       0,
            "max":       100,
            "step":      1,
            "unit":      "%",
            "default":   50
          },
          {
            "type": "header",
            "content": "Text"
          },
          {
              "type":"text",
              "id":"header",
              "label":"Header"
          },
          {
              "type":"text",
              "id":"subheader",
              "label":"Subheader"
          },
          {
              "type":"textarea",
              "id":"body_copy",
              "label":"Body Copy"
          },
          {
            "type": "header",
            "content": "Text Alignment",
            "info": "Choose both a horizontal and vertical layout for your hero."
          },
          {
            "type":      "select",
            "id":        "horizontal_layout",
            "label":     "Horizontal Layout",
            "options": [
              {"value": "left", "label": "Left"},
              {"value": "center", "label": "Center"},
              {"value": "right", "label": "Right" }
            ],
            "default":   "left"
          },
          {
            "type":      "select",
            "id":        "vertical_layout",
            "label":     "Vertical Layout",
            "options": [
              {"value": "top", "label": "Top"},
              {"value": "middle", "label": "Middle"},
              {"value": "bottom", "label": "Bottom" }
            ],
            "default":   "top"
          },
          {
            "type": "header",
            "content": "CTA"
          },
          {
            "type":      "checkbox",
            "id":        "enable_cta",
            "label":     "Enable CTA",
            "default":   false
          },
          {
            "type":"text",
            "id":"cta_title",
            "label":"CTA Text"
          },
          {
            "type":"url",
            "id":"cta_link",
            "label":"CTA URL"
          },
          {
            "type":      "select",
            "id":        "cta_layout",
            "label":     "CTA Style",
            "options": <%- uikit.buttonAndLinkOptions -%>,
            "default":   "button button--primary"
          },
          {
            "type": "header",
            "content": "Colors"
          },
          {
            "type":      "select",
            "id":        "section_bg_color",
            "label":     "Section Background Color",
            "info":       "Displays on Mobile",
            "options": <%- uikit.backgroundOptions -%>,
            "default": "bg-brand-primary"
          },
          {
            "type":      "select",
            "id":        "mobile_text_color",
            "label":     "Mobile Text Color",
            "options": <%- uikit.colorOptions -%>,
            "default": "color-black"
          },
          {
            "type":      "select",
            "id":        "heading_color",
            "label":     "Header Color",
            "options": <%- uikit.colorOptions -%>,
            "default": "color-black"
          },
                    {
            "type":      "select",
            "id":        "sub_heading_color",
            "label":     "Subheader Color",
            "options": <%- uikit.colorOptions -%>,
            "default": "color-black"
          },
          {
            "type":      "select",
            "id":        "body_copy_color",
            "label":     "Body Copy Color",
            "options": <%- uikit.colorOptions -%>,
            "default": "color-black"
          }
        ]
      },
      {
        "type": "three_column",
        "name": "3 Column Section",
        "settings": [
          {
            "type": "header",
            "content": "Section Text"
          },
          {
              "type":"text",
              "id":"header",
              "label":"Header"
          },
          {
              "type":"text",
              "id":"subheader",
              "label":"Subheader"
          },
          {
            "type": "header",
            "content": "Desktop Layout",
            "info": "Stacked means all parts of the blocks are stacked on top of eachother, Left Aligned means the image is on the left, with text on the right for each block."
          },
          {
            "type":      "select",
            "id":        "desktop_layout",
            "label":     "Layout",
            "options": [
              {"label": "Stacked", "value": "stacked"},
              {"label": "Left Aligned", "value": "left-aligned"}
            ],
            "default": "stacked"
          },
          {
            "type": "header",
            "content": "Block Text Alignment",
            "info": "This only applies to the “Stacked” layout."
          },
          {
            "type":      "select",
            "id":        "horizontal_layout",
            "label":     "Text Alignment",
            "options": [
              {"value": "left", "label": "Left"},
              {"value": "center", "label": "Centered"}
            ],
            "default":   "left"
          },
          {
            "type": "header",
            "content": "Colors"
          },
          {
            "type":      "select",
            "id":        "section_bg_color",
            "label":     "Section Background Color",
            "options": <%- uikit.backgroundOptions -%>,
            "default": "bg-brand-primary"
          },
          {
            "type":      "select",
            "id":        "section_heading_color",
            "label":     "Section Heading Color",
            "options": <%- uikit.colorOptions -%>,
            "default": "color-black"
          },
          {
            "type":      "select",
            "id":        "section_sub_heading_color",
            "label":     "Section Subheading Color",
            "options": <%- uikit.colorOptions -%>,
            "default": "color-black"
          },
          {
            "type":      "select",
            "id":        "block_heading_color",
            "label":     "Block Heading Color",
            "options": <%- uikit.colorOptions -%>,
            "default": "color-black"
          },
          {
            "type":      "select",
            "id":        "block_text_color",
            "label":     "Block Text Color",
            "options": <%- uikit.colorOptions -%>,
            "default": "color-black"
          },
          {
            "type":      "select",
            "id":        "cta_layout",
            "label":     "CTA Style",
            "options": <%- uikit.buttonAndLinkOptions -%>,
            "default":   "button button--primary"
          },
          {
            "type": "header",
            "content": "Block 1"
          },
          {
            "type": "image_picker",
            "id": "block_image_1",
            "label": "Image",
            "info": "Recommended size: 384x384"
          },
          {
              "type":"text",
              "id":"block_text_1",
              "label":"Header"
          },
          {
              "type":"textarea",
              "id":"block_body_copy_1",
              "label":"Body Copy"
          },
          {
            "type":"text",
            "id":"block_cta_title_1",
            "label":"CTA Text"
          },
          {
            "type":"url",
            "id":"block_cta_link_1",
            "label":"CTA URL"
          },
          {
            "type": "header",
            "content": "Block 2"
          },
          {
            "type": "image_picker",
            "id": "block_image_2",
            "label": "Image",
            "info": "Recommended size: 384x384"
          },
          {
              "type":"text",
              "id":"block_text_2",
              "label":"Header"
          },
          {
              "type":"textarea",
              "id":"block_body_copy_2",
              "label":"Body Copy"
          },
          {
            "type":"text",
            "id":"block_cta_title_2",
            "label":"CTA Text"
          },
          {
            "type":"url",
            "id":"block_cta_link_2",
            "label":"CTA URL"
          },
          {
            "type": "header",
            "content": "Block 3"
          },
          {
            "type": "image_picker",
            "id": "block_image_3",
            "label": "Image",
            "info": "Recommended size: 384x384"
          },
          {
              "type":"text",
              "id":"block_text_3",
              "label":"Header"
          },
          {
              "type":"textarea",
              "id":"block_body_copy_3",
              "label":"Body Copy"
          },
          {
            "type":"text",
            "id":"block_cta_title_3",
            "label":"CTA Text"
          },
          {
            "type":"url",
            "id":"block_cta_link_3",
            "label":"CTA URL"
          }
        ]
      },
      {
        "type": "basic_text",
        "name": "Basic Text",
        "settings": [
          {
            "type": "richtext",
            "id": "copy",
            "label": "Copy"
          },
          {
            "type": "color",
            "id": "background_color",
            "label": "Background-color",
            "default": "#f9f9f9"
          },
          {
            "type": "select",
            "id": "text_color",
            "label": "Text Color",
            "default": "dark",
            "options": [
              {
                "value": "light",
                "label": "Light"
              },
              {
                "value": "dark",
                "label": "Dark"
              }
            ]
          }
        ]
      },
      {
        "type": "text_only",
        "name": "Text Section",
        "settings": [
          {
            "type": "header",
            "content": "Layout",
            "info": "Choose both a horizontal and vertical layout for your text.  Also, choose a background color for the section. If you add a background image, this color will only display on mobile."
          },
          {
            "type":      "select",
            "id":        "horizontal_layout",
            "label":     "Horizontal Layout",
            "options": [
              {"value": "left", "label": "Left"},
              {"value": "center", "label": "Center"},
              {"value": "right", "label": "Right"}
            ],
            "default":   "left"
          },
          {
            "type":      "select",
            "id":        "vertical_layout",
            "label":     "Vertical Layout",
            "options": [
              {"value": "top", "label": "Top"},
              {"value": "middle", "label": "Middle"},
              {"value": "bottom", "label": "Bottom"}
            ],
            "default":   "top"
          },
          {
            "type":      "select",
            "id":        "text_layout",
            "label":     "Text Layout",
            "options": [
              {"value": "one_column", "label": "One Column"},
              {"value": "two_column", "label": "Two Column"}
            ],
            "default":   "one_column"
          },
          {
            "type":      "select",
            "id":        "bg_color",
            "label":     "Background Color",
            "options": <%- uikit.backgroundOptions -%>,
            "default": "bg-brand-primary"
          },
          {
            "type": "header",
            "content": "Background Images (Optional)",
            "info": "Optional images here. If you would like to use a separate image in mobile, please enable that option and add the mobile image as well. If mobile image is not used, leave unpopulated. If you wish to use an overlay, configure that here."
          },
          {
            "type": "image_picker",
            "id": "background_image",
            "label": "Background Image",
            "info": "Recommended size: 2880x1100"
          },
          {
            "type":      "checkbox",
            "id":        "enable_mobile_image",
            "label":     "Enable Mobile Image",
            "default":   false
          },
          {
            "type": "image_picker",
            "id": "background_image_mobile",
            "label": "Mobile Background Image",
            "info": "Recommended size: 1000x382"
          },
          {
            "type":      "checkbox",
            "id":        "enable_overlay",
            "label":     "Enable Overlay",
            "default":   false
          },
          {
            "type":      "select",
            "id":        "overlay_color",
            "label":     "Overlay Color",
            "options": <%- uikit.backgroundOptions -%>,
            "default": "bg-brand-primary"
          },
          {
            "label": "Overlay Opacity",
            "id": "overlay_opacity",
            "type": "range",
            "min":       0,
            "max":       100,
            "step":      1,
            "unit":      "%",
            "default":   50
          },
          {
            "type": "header",
            "content": "Text",
            "info": "Please populate text fields here. If you do not wish to use a particular field, simply leave it blank."
          },
          {
            "type": "text",
            "id": "pre_heading",
            "label": "Pre Heading"
          },
          {
            "type":      "select",
            "id":        "pre_heading_color",
            "label":     "Pre Heading Color",
            "options": <%- uikit.colorOptions -%>,
            "default": "color-black"
          },
          {
            "type": "text",
            "id": "heading",
            "label": "Heading"
          },
          {
            "type":      "select",
            "id":        "heading_color",
            "label":     "Heading Color",
            "options": <%- uikit.colorOptions -%>,
            "default": "color-black"
          },
          {
            "type": "text",
            "id": "sub_heading",
            "label": "Sub Heading"
          },
          {
            "type":      "select",
            "id":        "sub_heading_color",
            "label":     "Sub Heading Color",
            "options": <%- uikit.colorOptions -%>,
            "default": "color-black"
          },
          {
            "type": "richtext",
            "id": "body_copy",
            "label": "Body Copy"
          },
          {
            "type":      "select",
            "id":        "body_copy_color",
            "label":     "Body Copy Color",
            "options": <%- uikit.colorOptions -%>,
            "default": "color-black"
          },
          {
            "type": "header",
            "content": "CTA",
            "info": "CTA config"
          },
          {
            "type":      "checkbox",
            "id":        "enable_cta",
            "label":     "Enable CTA",
            "default":   false
          },
          {
            "type":      "select",
            "id":        "cta_layout",
            "label":     "CTA Style",
            "options": <%- uikit.buttonAndLinkOptions -%>,
            "default":   "button button--primary"
          },
          {
            "id": "cta_text",
            "type": "text",
            "label": "CTA Text"
          },
          {
            "id": "cta_url",
            "type": "url",
            "label": "CTA Link"
          }
        ]
      },
      {
        "type": "fifty_fifty",
        "name": "FiftyFifty",
        "settings": [
          {
            "type": "header",
            "content": "Layout"
          },
          {
            "type":      "select",
            "id":        "ff_layout",
            "label":     "Layout",
            "options": [
              {"value": "", "label": "Image on Left"},
              {"value": "sw--reverse", "label": "Image on Right"}
            ],
            "default":   ""
          },
          {
            "type": "header",
            "content": "Image"
          },
          {
            "type": "image_picker",
            "id": "ff_image_desktop",
            "label": "Desktop Image",
            "info": "Minimum Dimensions: 1814x1538"
          },
          {
            "type": "image_picker",
            "id": "ff_image_mobile",
            "label": "Mobile Image",
            "info": "Same minumum dimensions as desktop. Image will be automatically resized."
          },
          {
            "type": "select",
            "id": "ff_image_width",
            "label": "Image Column Width",
            "options": [
              {"label": "40%", "value": "sw--40"},
              {"label": "50%", "value": "sw--50"},
              {"label": "60%", "value": "sw--60"}
            ],
            "default": "sw--50"
          },
          {
            "type": "header",
            "content": "Text Content"
          },
          {
            "type": "text",
            "id": "ff_preheader",
            "label": "Preheader"
          },
          {
            "type": "text",
            "id": "ff_header",
            "label": "Header"
          },
          {
            "type": "text",
            "id": "ff_subheader",
            "label": "Subheader"
          },
          {
            "type": "richtext",
            "id": "ff_body",
            "label": "Body Copy"
          },
          {
            "type": "select",
            "id": "ff_text_alignment",
            "label": "Text Alignment",
            "options": [
              {"label": "Left", "value": ""},
              {"label": "Center", "value": "text-center"}
            ],
            "default": ""
          },
          {
            "type": "header",
            "content": "Colors"
          },
          {
            "label": "Background Color",
            "id": "ff_background_color",
            "type": "select",
            "options": <%- uikit.backgroundOptions -%>,
            "default": "bg-grey"
          },
          {
            "label": "Preheader Color",
            "id": "ff_preheader_color",
            "type": "select",
            "options": <%- uikit.colorOptions -%>,
            "default": "color-black"
          },
          {
            "label": "Header Color",
            "id": "ff_header_color",
            "type": "select",
            "options": <%- uikit.colorOptions -%>,
            "default": "color-black"
          },
          {
            "label": "Subheader Color",
            "id": "ff_subheader_color",
            "type": "select",
            "options": <%- uikit.colorOptions -%>,
            "default": "color-black"
          },
          {
            "label": "Body Copy Color",
            "id": "ff_body_color",
            "type": "select",
            "options": <%- uikit.colorOptions -%>,
            "default": "color-black"
          },
          {
            "type": "header",
            "content": "Link"
          },
          {
            "type": "text",
            "id": "ff_cta_text",
            "label": "CTA Text",
            "info": "Optional"
          },
          {
            "type": "url",
            "id": "ff_cta_url",
            "label": "CTA Link",
            "info": "Optional"
          },
          {
            "label": "CTA Style",
            "id": "ff_cta_style",
            "type": "select",
            "options": <%- uikit.buttonAndLinkOptions -%>
          },
          {
            "type": "html",
            "id": "modal_html",
            "label": "Modal Content (leave CTA Link blank)"
          }
        ]
      },
      {
        "type": "press",
        "name": "In The Press",
        "settings": [
          {
            "label": "Section Header",
            "id": "itp_section_header",
            "type": "text",
            "default": "Section Header"
          },
          {
            "label": "Section Header Color",
            "id": "itp_header_color",
            "type": "select",
            "options": <%- uikit.colorOptions -%>,
            "default": "color-black"
          },
          {
            "label": "Background Color",
            "id": "itp_background_color",
            "type": "select",
            "options": <%- uikit.backgroundOptions -%>,
            "default": "bg-white"
          },
          {
            "type": "header",
            "content": "Press Logos"
          },
          {
            "label": "Logo 1",
            "type": "image_picker",
            "id": "itp_logo_1"
          },
          {
            "label": "Link 1",
            "type": "url",
            "id": "itp_url_1"
          },
          {
            "label": "Link Target",
            "type": "select",
            "id": "itp_url_target_1",
            "default": "_self",
            "options": <%- linkTargetOptions -%>
          },
          {
            "label": "Logo 2",
            "type": "image_picker",
            "id": "itp_logo_2"
          },
          {
            "label": "Link 2",
            "type": "url",
            "id": "itp_url_2"
          },
          {
            "label": "Link Target",
            "type": "select",
            "id": "itp_url_target_2",
            "default": "_self",
            "options": <%- linkTargetOptions -%>
          },
          {
            "label": "Logo 3",
            "type": "image_picker",
            "id": "itp_logo_3"
          },
          {
            "label": "Link 3",
            "type": "url",
            "id": "itp_url_3"
          },
          {
            "label": "Link Target",
            "type": "select",
            "id": "itp_url_target_3",
            "default": "_self",
            "options": <%- linkTargetOptions -%>
          },
          {
            "label": "Logo 4",
            "type": "image_picker",
            "id": "itp_logo_4"
          },
          {
            "label": "Link 4",
            "type": "url",
            "id": "itp_url_4"
          },
          {
            "label": "Link Target",
            "type": "select",
            "id": "itp_url_target_4",
            "default": "_self",
            "options": <%- linkTargetOptions -%>
          }
        ]
      },
      {
        "type": "scrolling_text",
        "name": "Scrolling Text",
        "settings": [
          {
            "id": "title",
            "label": "Title",
            "type": "text"
          },
          {
            "id": "content",
            "label": "Text",
            "type": "richtext"
          },
          {
            "id": "image",
            "label": "Image",
            "type": "image_picker"
          },
          {
            "id": "text_group",
            "label": "Scrolling Text Group",
            "default": "1",
            "info": "Scrolling Text blocks will be grouped by the value in this setting (i.e. all \"1\"s will show in the same scrolling section)",
            "type": "text"
          }
        ]
      },
      {
        "type": "logo_carousel",
        "name": "Logo Carousel",
        "settings": [
          {
            "type": "richtext",
            "id": "intro_content",
            "label": "Intro Content"
          },
          {
            "type": "color",
            "id": "text_color",
            "label": "Text Color"
          },
          {
            "type": "color",
            "id": "highlight_text_color",
            "label": "Highlight Text Color",
            "info": "Set the text to be set as highlighted in Bold/Strong"
          },
          {
            "type": "color",
            "id": "background_color",
            "label": "Background Color",
            "default": "#FFFFFF"
          },
          {
            "type": "header",
            "content": "Section Margins",
            "info": "Customize the margin spacing on the top and bottom of this section."
          },
          {
            "label": "Top Margin",
            "id": "margin_top",
            "type": "range",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "default": 80
          },
          {
            "label": "Bottom Margin",
            "id": "margin_bottom",
            "type": "range",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "default": 80
          },
          {
            "type": "header",
            "content": "Blocks",
            "info": "Customize the margin spacing on the top and bottom of this section."
          },
          {
            "id": "logo_image_1",
            "type": "image_picker",
            "label": "Logo 1 Image"
          },
          {
            "id": "logo_url_1",
            "type": "url",
            "label": "Logo 1 Url"
          },
          {
            "id": "logo_image_2",
            "type": "image_picker",
            "label": "Logo 2 Image"
          },
          {
            "id": "logo_url_2",
            "type": "url",
            "label": "Logo 2 Url"
          },
          {
            "id": "logo_image_3",
            "type": "image_picker",
            "label": "Logo 3 Image"
          },
          {
            "id": "logo_url_3",
            "type": "url",
            "label": "Logo 3 Url"
          },
          {
            "id": "logo_image_4",
            "type": "image_picker",
            "label": "Logo 4 Image"
          },
          {
            "id": "logo_url_4",
            "type": "url",
            "label": "Logo 4 Url"
          },
          {
            "id": "logo_image_5",
            "type": "image_picker",
            "label": "Logo 5 Image"
          },
          {
            "id": "logo_url_5",
            "type": "url",
            "label": "Logo 5 Url"
          },
          {
            "id": "logo_image_6",
            "type": "image_picker",
            "label": "Logo 6 Image"
          },
          {
            "id": "logo_url_6",
            "type": "url",
            "label": "Logo 6 Url"
          },
          {
            "id": "logo_image_7",
            "type": "image_picker",
            "label": "Logo 7 Image"
          },
          {
            "id": "logo_url_7",
            "type": "url",
            "label": "Logo 7 Url"
          },
          {
            "id": "logo_image_8",
            "type": "image_picker",
            "label": "Logo 8 Image"
          },
          {
            "id": "logo_url_8",
            "type": "url",
            "label": "Logo 8 Url"
          },
          {
            "id": "logo_image_9",
            "type": "image_picker",
            "label": "Logo 9 Image"
          },
          {
            "id": "logo_url_9",
            "type": "url",
            "label": "Logo 9 Url"
          },
          {
            "id": "logo_image_10",
            "type": "image_picker",
            "label": "Logo 10 Image"
          },
          {
            "id": "logo_url_10",
            "type": "url",
            "label": "Logo 10 Url"
          }
        ]
      },
      {
        "type": "single_image_carousel",
        "name": "Single Image Carousel",
        "settings": [
          {
            "type": "richtext",
            "id": "intro_content",
            "label": "Intro Content"
          },
          {
            "type": "text",
            "id": "subheader",
            "label": "Subheader"
          },
          {
            "type": "color",
            "id": "text_color",
            "label": "Text Color"
          },
          {
            "type": "color",
            "id": "highlight_text_color",
            "label": "Highlight Text Color",
            "info": "Set the text to be set as highlighted in Bold/Strong"
          },
          {
            "type": "color",
            "id": "background_color",
            "label": "Background Color",
            "default": "#FFFFFF"
          },
          {
            "type": "header",
            "content": "Section Margins",
            "info": "Customize the margin spacing on the top and bottom of this section."
          },
          {
            "label": "Top Margin",
            "id": "margin_top",
            "type": "range",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "default": 80
          },
          {
            "label": "Bottom Margin",
            "id": "margin_bottom",
            "type": "range",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "default": 80
          },
          {
            "type": "header",
            "content": "Blocks",
            "info": "Customize the margin spacing on the top and bottom of this section."
          },
          {
            "id": "image_1",
            "type": "image_picker",
            "label": "Image 1"
          },
          {
            "id": "link_1",
            "type": "url",
            "label": "Link 1"
          },
          {
            "id": "image_2",
            "type": "image_picker",
            "label": "Image 2"
          },
          {
            "id": "link_2",
            "type": "url",
            "label": "Link 2"
          },
          {
            "id": "image_3",
            "type": "image_picker",
            "label": "Image 3"
          },
          {
            "id": "link_3",
            "type": "url",
            "label": "Link 3"
          },
          {
            "id": "image_4",
            "type": "image_picker",
            "label": "Image 4"
          },
          {
            "id": "link_4",
            "type": "url",
            "label": "Link 4"
          },
          {
            "id": "image_5",
            "type": "image_picker",
            "label": "Image 5"
          },
          {
            "id": "link_5",
            "type": "url",
            "label": "Link 5"
          },
          {
            "id": "image_6",
            "type": "image_picker",
            "label": "Image 6"
          },
          {
            "id": "link_6",
            "type": "url",
            "label": "Link 6"
          },
          {
            "id": "image_7",
            "type": "image_picker",
            "label": "Image 7"
          },
          {
            "id": "link_7",
            "type": "url",
            "label": "Link 7"
          },
          {
            "id": "image_8",
            "type": "image_picker",
            "label": "Image 8"
          },
          {
            "id": "link_8",
            "type": "url",
            "label": "Link 8"
          },
          {
            "id": "image_9",
            "type": "image_picker",
            "label": "Image 9"
          },
          {
            "id": "link_9",
            "type": "url",
            "label": "Link 9"
          },
          {
            "id": "image_10",
            "type": "image_picker",
            "label": "Image 10"
          },
          {
            "id": "link_10",
            "type": "url",
            "label": "Link 10"
          }
        ]
      },
      {
        "type": "packages",
        "name": "Package",
        "settings": [
          {
            "id": "title",
            "type": "text",
            "label": "Title"
          },
          {
            "id": "content",
            "type": "richtext",
            "label": "Content"
          },
          {
            "id": "cta_text",
            "type": "text",
            "label": "CTA Text"
          },
          {
            "id": "cta_url",
            "type": "url",
            "label": "CTA URL",
            "info": "Enter url here to have the CTA go to a URL or leave blank for modal overlay"
          },
          {
            "id": "modal_html",
            "type": "html",
            "label": "Modal Embed Code"
          },
          {
            "type": "header",
            "content": "Package 1"
          },
          {
            "type": "checkbox",
            "id": "package_1_best_seller",
            "label": "Best Seller?",
            "default": false,
            "info": "displays best seller badge above package"
          },
          {
            "id": "package_1_background",
            "type": "color",
            "label": "Background Color",
            "default": "#EEEEEE"
          },
          {
            "id": "package_1_color",
            "type": "color",
            "label": "Text Color",
            "default": "#222222"
          },
          {
            "id": "package_1_title",
            "type": "text",
            "label": "Title"
          },
          {
            "id": "package_1_sub_title",
            "type": "text",
            "label": "Package 1 Sub-title"
          },
          {
            "id": "package_1_price",
            "type": "text",
            "label": "Price"
          },
          {
            "id": "package_1_content",
            "type": "richtext",
            "label": "Content"
          },
          {
            "type": "header",
            "content": "Package 2"
          },
          {
            "type": "checkbox",
            "id": "package_2_best_seller",
            "label": "Best Seller?",
            "default": false,
            "info": "displays best seller badge above package"
          },
          {
            "id": "package_2_background",
            "type": "color",
            "label": "Background Color",
            "default": "#EEEEEE"
          },
          {
            "id": "package_2_color",
            "type": "color",
            "label": "Text Color",
            "default": "#222222"
          },
          {
            "id": "package_2_title",
            "type": "text",
            "label": "Title"
          },
          {
            "id": "package_2_sub_title",
            "type": "text",
            "label": "Package 1 Sub-title"
          },
          {
            "id": "package_2_price",
            "type": "text",
            "label": "Price"
          },
          {
            "id": "package_2_content",
            "type": "richtext",
            "label": "Content"
          },
          {
            "type": "header",
            "content": "Package 3"
          },
          {
            "type": "checkbox",
            "id": "package_3_best_seller",
            "label": "Best Seller?",
            "default": false,
            "info": "displays best seller badge above package"
          },
          {
            "id": "package_3_background",
            "type": "color",
            "label": "Background Color",
            "default": "#EEEEEE"
          },
          {
            "id": "package_3_color",
            "type": "color",
            "label": "Text Color",
            "default": "#222222"
          },
          {
            "id": "package_3_title",
            "type": "text",
            "label": "Title"
          },
          {
            "id": "package_3_sub_title",
            "type": "text",
            "label": "Sub-title"
          },
          {
            "id": "package_3_price",
            "type": "text",
            "label": "Price"
          },
          {
            "id": "package_3_content",
            "type": "richtext",
            "label": "Content"
          }
        ]
      },
      {
        "type": "columns",
        "name": "Columns",
        "settings": [
          {
            "type": "header",
            "content": "Section Margins",
            "info": "Customize the margin spacing on the top and bottom of this section."
          },
          {
            "label": "Top Margin",
            "id": "margin_top",
            "type": "range",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "default": 0
          },
          {
            "label": "Bottom Margin",
            "id": "margin_bottom",
            "type": "range",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "default": 0
          },
          {
            "type": "header",
            "content": "Text Content"
          },
          {
            "label": "Header",
            "id": "title",
            "type": "text",
            "default": "Column Section Title"
          },
          {
            "label": "Subheader",
            "id": "subtext",
            "type": "textarea"
          },
          {
            "label": "Header Alignment",
            "id": "header_alignment",
            "type": "radio",
            "options": [
              { "value": "left", "label": "Left" },
              { "value": "centered", "label": "Centered" }
            ],
            "default": "left",
            "info": "Select the header text and CTA alignment."
          },
          {
            "type": "header",
            "content": "Steps"
          },
          {
            "label": "Enable Step Numbers",
            "id": "enable_step_numbers",
            "type": "checkbox",
            "default": true
          },
          {
            "type": "header",
            "content": "Section Background Colors"
          },
          {
            "label": "Top Color 1",
            "id": "bg_color_1",
            "type": "color",
            "default": "#D63526"
          },
          {
            "label": "Top Color 2",
            "id": "bg_color_2",
            "type": "color",
            "default": "#AA291F",
            "info": "Selecting a different color from Top Color 1 will create a gradient background."
          },
          {
            "label": "Bottom Color",
            "id": "bg_color_3",
            "type": "color",
            "default": "#F9F9F9"
          },
          {
            "type": "header",
            "content": "Section Colors"
          },
          {
            "label": "Section Header Color",
            "id": "title_color",
            "type": "color",
            "default": "#ffffff",
            "info": "Select title text color."
          },
          {
            "label": "Section Subheader Color",
            "id": "subtext_color",
            "type": "color",
            "default": "#ffffff",
            "info": "Select subtext color."
          },
          {
            "type": "header",
            "content": "Block Colors"
          },
          {
            "label": "Block Title Color",
            "id": "block_title_color",
            "type": "color",
            "default": "#D63526"
          },
          {
            "label": "Block Subtitle Color",
            "id": "block_subtitle_color",
            "type": "color",
            "default": "#000000"
          },
          {
            "label": "Block Border Color",
            "id": "border_color",
            "type": "color",
            "default": "#CDCDCD",
            "info": "Only applies if steps are enabled."
          },
          {
            "label": "Block Line Color",
            "id": "line_color",
            "type": "color",
            "default": "#CDCDCD",
            "info": "Only applies if steps are enabled."
          },
          {
            "type": "header",
            "content": "CTA"
          },
          {
            "label": "CTA Text",
            "id": "cta_text",
            "type": "text",
            "default": "Get Started"
          },
          {
            "label": "CTA Link URL",
            "id": "cta_link",
            "type": "url"
          },
          {
            "label": "CTA Style",
            "id": "cta_style",
            "type": "radio",
            "options": [
              { "value": "primary", "label": "Primary" },
              { "value": "secondary", "label": "Secondary" },
              { "value": "tertiary", "label": "Tertiary" },
              { "value": "outline", "label": "Outline" }
            ],
            "default": "primary"
          },
          {
            "type": "header",
            "content": "Column 1"
          },
          {
            "label": "Icon Image",
            "id": "image_1",
            "type": "image_picker",
            "info": "Recommended Max Size: 80px X 80px"
          },
          {
            "label": "Title",
            "id": "title_1",
            "type": "text"
          },
          {
            "label": "Subtext",
            "id": "subtext_1",
            "type": "textarea"
          },
          {
            "type": "header",
            "content": "Column 2"
          },
          {
            "label": "Icon Image",
            "id": "image_2",
            "type": "image_picker",
            "info": "Recommended Max Size: 80px X 80px"
          },
          {
            "label": "Title",
            "id": "title_2",
            "type": "text"
          },
          {
            "label": "Subtext",
            "id": "subtext_2",
            "type": "textarea"
          },
          {
            "type": "header",
            "content": "Column 3"
          },
          {
            "label": "Icon Image",
            "id": "image_3",
            "type": "image_picker",
            "info": "Recommended Max Size: 80px X 80px"
          },
          {
            "label": "Title",
            "id": "title_3",
            "type": "text"
          },
          {
            "label": "Subtext",
            "id": "subtext_3",
            "type": "textarea"
          },
          {
            "type": "header",
            "content": "Column 4"
          },
          {
            "label": "Icon Image",
            "id": "image_4",
            "type": "image_picker",
            "info": "Recommended Max Size: 80px X 80px"
          },
          {
            "label": "Title",
            "id": "title_4",
            "type": "text"
          },
          {
            "label": "Subtext",
            "id": "subtext_4",
            "type": "textarea"
          }
        ]
      },
      {
        "type": "heading_text",
        "name": "Heading Text",
        "settings": [
          {
            "id": "title",
            "type": "text",
            "label": "Title"
          },
          {
            "id": "background_color",
            "type": "color",
            "label": "Background Color",
            "default": "#303030"
          },
          {
            "id": "text_color",
            "type": "color",
            "label": "Text Color",
            "default": "#FFFFFF"
          },
          {
            "id": "text_color_accent",
            "type": "color",
            "label": "Text Accent Color",
            "default": "#FFCC00"
          },
          {
            "id": "padding_top",
            "type": "range",
            "min": 0,
            "max": 116,
            "step": 2,
            "unit": "px",
            "label": "Padding Top",
            "default": 64
          },
          {
            "id": "padding_bottom",
            "type": "range",
            "min": 0,
            "max": 116,
            "step": 2,
            "unit": "px",
            "label": "Padding Bottom",
            "default": 64
          }
        ]
      },
      {
        "type": "collection_tile",
        "name": "Collection Blocks",
        "settings": [
          {
            "type": "header",
            "content": "Section Margins",
            "info": "Customize the margin spacing on the top and bottom of this section. "
          },
          {
            "label": "Top Margin",
            "id": "margin_top",
            "type": "range",
            "min": 40,
            "max": 80,
            "step": 8,
            "unit": "px",
            "default": 40
          },
          {
            "label": "Bottom Margin",
            "id": "margin_bottom",
            "type": "range",
            "min": 40,
            "max": 80,
            "step": 8,
            "unit": "px",
            "default": 40
          },
          {
            "type": "header",
            "content": "Design"
          },
          {
            "label": "Section Header",
            "id": "collection_linear_section_header",
            "type": "text",
            "default": "Section Header"
          },
          {
            "label": "Text Alignment",
            "id": "collection_linear_text_alignment",
            "type": "select",
            "options": [
              { "label": "Left", "value": "left" },
              { "label": "Center", "value": "center" }
            ],
            "default": "center"
          },
          {
            "label": "Background Color",
            "id": "collection_layout_linear_background_color",
            "type": "color",
            "default": "#ffffff"
          },
          {
            "label": "Header Color",
            "id": "collection_layout_linear_header_color",
            "type": "color",
            "default": "#222222"
          },
          {
            "label": "Image",
            "type": "image_picker",
            "id": "linear_image_1"
          },
          {
            "label": "Collection Name",
            "type": "text",
            "id": "linear_collection_name_1"
          },
          {
            "label": "Link",
            "type": "url",
            "id": "linear_link_1"
          },
          {
            "label": "Image",
            "type": "image_picker",
            "id": "linear_image_2"
          },
          {
            "label": "Collection Name",
            "type": "text",
            "id": "linear_collection_name_2"
          },
          {
            "label": "Link",
            "type": "url",
            "id": "linear_link_2"
          },
          {
            "label": "Image",
            "type": "image_picker",
            "id": "linear_image_3"
          },
          {
            "label": "Collection Name",
            "type": "text",
            "id": "linear_collection_name_3"
          },
          {
            "label": "Link",
            "type": "url",
            "id": "linear_link_3"
          },
          {
            "label": "Image",
            "type": "image_picker",
            "id": "linear_image_4"
          },
          {
            "label": "Collection Name",
            "type": "text",
            "id": "linear_collection_name_4"
          },
          {
            "label": "Link",
            "type": "url",
            "id": "linear_link_4"
          },
          {
            "label": "Image",
            "type": "image_picker",
            "id": "linear_image_5"
          },
          {
            "label": "Collection Name",
            "type": "text",
            "id": "linear_collection_name_5"
          },
          {
            "label": "Link",
            "type": "url",
            "id": "linear_link_5"
          },
          {
            "label": "Image",
            "type": "image_picker",
            "id": "linear_image_6"
          },
          {
            "label": "Collection Name",
            "type": "text",
            "id": "linear_collection_name_6"
          },
          {
            "label": "Link",
            "type": "url",
            "id": "linear_link_6"
          },
          {
            "label": "Image",
            "type": "image_picker",
            "id": "linear_image_7"
          },
          {
            "label": "Collection Name",
            "type": "text",
            "id": "linear_collection_name_7"
          },
          {
            "label": "Link",
            "type": "url",
            "id": "linear_link_7"
          },
          {
            "label": "Image",
            "type": "image_picker",
            "id": "linear_image_8"
          },
          {
            "label": "Collection Name",
            "type": "text",
            "id": "linear_collection_name_8"
          },
          {
            "label": "Link",
            "type": "url",
            "id": "linear_link_8"
          },
          {
            "label": "Image",
            "type": "image_picker",
            "id": "linear_image_9"
          },
          {
            "label": "Collection Name",
            "type": "text",
            "id": "linear_collection_name_9"
          },
          {
            "label": "Link",
            "type": "url",
            "id": "linear_link_9"
          },
          {
            "label": "Image",
            "type": "image_picker",
            "id": "linear_image_10"
          },
          {
            "label": "Collection Name",
            "type": "text",
            "id": "linear_collection_name_10"
          },
          {
            "label": "Link",
            "type": "url",
            "id": "linear_link_10"
          },
          {
            "label": "Image",
            "type": "image_picker",
            "id": "linear_image_11"
          },
          {
            "label": "Collection Name",
            "type": "text",
            "id": "linear_collection_name_11"
          },
          {
            "label": "Link",
            "type": "url",
            "id": "linear_link_11"
          },
          {
            "label": "Image",
            "type": "image_picker",
            "id": "linear_image_12"
          },
          {
            "label": "Collection Name",
            "type": "text",
            "id": "linear_collection_name_12"
          },
          {
            "label": "Link",
            "type": "url",
            "id": "linear_link_12"
          }
        ]
      }
    ]
  }
{% endschema %}
