{% capture quote_schema %}
  {
    "maxWidth": {{ section.settings.max_width | json }},
    "iconTopLeft": {{ section.settings.icon_top_left | json }},
    "iconTopRight": {{ section.settings.icon_top_right | json }},
    "iconBottomRight": {{ section.settings.icon_bottom_right | json }},
    "iconBottomLeft": {{ section.settings.icon_bottom_left | json }},
    "iconTopLeftAlt": {{ section.settings.icon_top_left.alt | json }},
    "iconTopRightAlt": {{ section.settings.icon_top_right.alt | json }},
    "iconBottomRightAlt": {{ section.settings.icon_bottom_right.alt | json }},
    "iconBottomLeftAlt": {{ section.settings.icon_bottom_left.alt | json }},
    "quote": {{ section.settings.quote | json }},
    "copy": {{ section.settings.body_copy | json }},
    "enableCta": {{ section.settings.enable_cta }},
    "ctaLayout": {{ section.settings.cta_layout | json }},
    "ctaColor": {{ section.settings.cta_color | json }},
    "ctaText": {{ section.settings.cta_text | json }},
    "ctaUrl": "{{ section.settings.cta_url }}",
    "textLayout": {{ section.settings.text_layout | json }}
  }
{% endcapture %}

<quote-section :quote-schema="{{ quote_schema | escape | strip }}"/>

{% schema %}
  {
    "name": "Quote Section",
    "class": "text-quote-section",
    "settings": [
      {
        "type": "select",
        "id": "max_width",
        "label": "Section Max Width",
        "options": [
          {"value": "none", "label": "100%"},
          {"value": "1440px", "label": "1440px"}
        ],
        "default": "none"
      },
      {
        "type": "image_picker",
        "id": "icon_top_left",
        "label": "Icon Top Left",
        "info": "Size: 232x114"
      },
      {
        "type": "image_picker",
        "id": "icon_top_right",
        "label": "Icon Top Right",
        "info": "Size: 210x160"
      },
      {
        "type": "image_picker",
        "id": "icon_bottom_right",
        "label": "Icon Bottom Right",
        "info": "Size: 232x114"
      },
      {
        "type": "image_picker",
        "id": "icon_bottom_left",
        "label": "Icon Bottom Left",
        "info": "Size: 232x114"
      },
      {
        "type": "header",
        "content": "Quote Text",
        "info": "Please populate text fields here. If you do not wish to use a particular field, simply leave it blank."
      },
      {
        "type": "textarea",
        "id": "quote",
        "label": "Quote"
      },
      {
        "type": "textarea",
        "id": "body_copy",
        "label": "Body Copy"
      },
      {
        "type": "header",
        "content": "CTA",
        "info": "CTA config"
      },
      {
        "type": "checkbox",
        "id": "enable_cta",
        "label": "Enable CTA",
        "default": false
      },
      {
        "type": "select",
        "id": "cta_layout",
        "label": "CTA Style",
        "options": <%- uikit.buttonAndLinkOptions -%>,
        "default": "button button--primary"
      },
      {
        "id": "cta_text",
        "type": "text",
        "label": "CTA Text"
      },
      {
        "id": "cta_url",
        "type": "url",
        "label": "CTA Link"
      }
    ],
    "presets": [
      {
        "name": "Quote Section",
        "category": "Content Blocks"
      }
    ]
  }
{% endschema %}
