{% capture _schema %}
  {
    "settings": {
      "layout": "",
      "imageWidth": "sw--50",
      "textAlignment": "text-center",
      "bodyColor": "color-black",
      "maxWidth": "1247px",
      "header": {{- section.settings.title | json -}},
      "body": {{ section.settings.ff_body | json }},
      "imageDesktop": {{- section.settings.ff_image_desktop | json -}},
      "imageMobile": {{- section.settings.ff_image_mobile | json -}},
      "altText": {{ section.settings.ff_image_alt | json }},
    }
  }
{% endcapture %}

<fifty-fifty :schema="{{ _schema | escape | strip }}">
  <referal-form emails-sent-string="{{- section.settings.email_sent -}}"
                slot="extraContent">
  </referal-form>
</fifty-fifty>

{% schema %}
  {
    "name": "Rewards Page",
    "settings": [
      {
        "type": "text",
        "id": "email_sent",
        "label": "Email Sent Message",
        "default": "Thank you! Your invites have been sent!"
      },
      {
        "type": "text",
        "id": "ff_preheader",
        "label": "Preheader"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Refer A Friend"
      },
      {
        "type": "textarea",
        "id": "ff_body",
        "label": "Body Copy"
      },
      {
        "type": "image_picker",
        "id": "ff_image_desktop",
        "label": "Desktop Image",
        "info": "Minimum Dimensions: 1814x1538"
      },
      {
        "type": "image_picker",
        "id": "ff_image_mobile",
        "label": "Mobile Image",
        "info": "Same minumum dimensions as desktop. Image will be automatically resized."
      },
      {
        "type": "text",
        "id": "ff_image_alt",
        "label": "Image Alt",
        "info": "The alt tag to use for both images"
      }
    ]
  }
{% endschema %}
