{%assign today_date = 'now' | date: "%s" | abs %}
<div class="top-header__container promo-bar" 
  style="background-color: {{ section.settings.promo_background_color }}; color: {{section.settings.promo_ui_color}};"
>
  <carousel class="promo-bar__carousel{% if section.blocks.size < 2 %} promo-bar__carousel--single {% endif %}"
    ref="promobarCarousel"
    :infinite="true"
    :slides-to-show="1"
    :center-mode="true"
    :dots="false"
    :arrows="true"
  >
    {%- for block in section.blocks -%}
      {% if block.settings.promo_start_date != empty and block.settings.promo_end_date != empty %}
        {% assign start_date = block.settings.promo_start_date | date: '%s'  | abs %}
        {% assign end_date = block.settings.promo_end_date | date: '%s'  | abs %}
        {% if start_date < today_date and today_date < end_date %}
          <slide>
            <div class="promo-bar__text">
              {% if block.settings.promo_rich_text %}
                {{ block.settings.promo_rich_text }}
              {%- endif -%}
            </div>
          </slide>
        {% endif %}
      {% else %}
      <slide>
        <div class="promo-bar__text">
          {% if block.settings.promo_rich_text %}
            {{ block.settings.promo_rich_text }}
          {%- endif -%}
        </div>
      </slide>
      {% endif %}
    {%- endfor -%}
  </carousel>
  {% if section.settings.promo_call_text and section.settings.promo_call_number %}
    <a href="tel:{{section.settings.promo_call_number}}" class="promo-bar__button">
      <span>
        <icon name="phone" size="16px" />
      </span>
      {{- section.settings.promo_call_text -}}
    </a>
  {% endif %}
</div>

{% schema %}
  {
    "name": "Promo Bar",
    "settings": [
      {
        "type": "color",
        "id": "promo_background_color",
        "label": "Promo Bar Background Color",
        "default": "#303030"
      },
      {
        "type": "color",
        "id": "promo_ui_color",
        "label": "Promo Bar UI Color",
        "default": "#ffffff"
      },
      {
        "type": "text",
        "id": "promo_call_text",
        "label": "Promo Bar Call Text"
      },
      {
        "type": "text",
        "id": "promo_call_number",
        "label": "Phone Number",
        "info": "phone number should be without spaces (e.g. 15555555555)"
      }
    ],
    "blocks": [
      {
        "name": "Promotion",
        "type": "promotion",
        "settings": [
          {
            "type": "richtext",
            "label": "Promo Rich Text",
            "id": "promo_rich_text"
          },
          {
            "type": "text",
            "label": "Promotion Start Date",
            "id": "promo_start_date",
            "info": "Required if 'Promotion End Date' is entered to work and the Date format is: dd/mm/yyyy h:s am/pm"
          },
          {
            "type": "text",
            "label": "Promotion End Date",
            "id": "promo_end_date",
            "info": "Required if 'Promotion Start Date' is entered to work and the Date format is: dd/mm/yyyy h:s am/pm"
          }
        ]
      }
    ]
  }
{% endschema %}
