<io-lazy-loader>
  <div class="who-its-for__grid">
    <div class="who-its-for__content">
      <p class="who-its-for__subtitle">{{- section.settings.subtitle -}}</p>
      <h2 class="who-its-for__title">{{- section.settings.title -}}</h2>
      <div class="who-its-for__text">{{- section.settings.content -}}</div>
      {%- unless section.settings.cta_link == blank -%}
        <a href="{{- section.settings.cta_link -}}" class="button button--primary who-its-for__cta">
          {{- section.settings.cta_text -}}
        </a>
      {%- endunless -%}
    </div>

    <img src="{{- section.settings.image_one | img_url: '475x' -}}"
         alt="{{- section.settings.image_one.alt -}}"
         class="who-its-for__image-one who-its-for__image" />

    <img src="{{- section.settings.image_two | img_url: '275x' -}}"
         alt="{{- section.settings.image_two.alt -}}"
         class="who-its-for__image-two who-its-for__image" />

    <img src="{{- section.settings.image_three | img_url: '275x' -}}"
         alt="{{- section.settings.image_three.alt -}}"
         class="who-its-for__image-three who-its-for__image" />

    <img src="{{- section.settings.image_four | img_url: '700x' -}}"
         alt="{{- section.settings.image_four.alt -}}"
         class="who-its-for__image-four who-its-for__image" />
  </div>
</io-lazy-loader>

{% schema %}
  {
    "name": "Who It's For",
    "class": "who-its-for",
    "tag": "section",
    "settings": [
      {
        "id": "title",
        "type": "text",
        "label": "Title",
        "default": "Who Is It For?"
      },
      {
        "id": "subtitle",
        "type": "text",
        "label": "Subtitle",
        "default": "Vitamins Reinvented"
      },
      {
        "id": "content",
        "type": "richtext",
        "label": "Content"
      },
      {
        "id": "cta_text",
        "type": "text",
        "label": "CTA Text"
      },
      {
        "id": "cta_link",
        "type": "url",
        "label": "CTA URL",
        "info": "Leave blank for no CTA"
      },
      {
        "id": "image_one",
        "type": "image_picker",
        "label": "Image One",
        "info": "Should be 475x500"
      },
      {
        "id": "image_two",
        "type": "image_picker",
        "label": "Image Two",
        "info": "Should be 275x250"
      },
      {
        "id": "image_three",
        "type": "image_picker",
        "label": "Image Three",
        "info": "Should be 275x250"
      },
      {
        "id": "image_four",
        "type": "image_picker",
        "label": "Image Four",
        "info": "Should be 700x800"
      }
    ],
    "presets": [
      {
        "name": "Who It's For",
        "category": "Homepage"
      }
    ]
  }
{% endschema %}
