<template lang="pug">
  div.header__dropdown-container-wrapper(:class="open ? 'header__dropdown-container-wrapper--open':''" @click="close")
    .header__dropdown-container(@click="e => e.stopPropagation()")
      .header__dropdown-container-inner
        button.header__dropdown-close(@click="close")
          icon(name="close" size="12px")
        .header__dropdown-column.header__dropdown-column--first
          .header__dropdown-first-column
            div.header__dropdown-image
              img.category__image(
                :src="getImageSource(block)"
                :alt="block.image_tag"
                :srcset="block.srcset"
              )
            ul.category__links
              li(v-if="block.title_tab_1")
                v-link(
                  :href="block[`shop_all_link_1_tab_1`]"
                  index="0"
                  @click="selectedIndex = 1"
                  @mouseover="selectedIndex = 1"
                  :class="selectedIndex === 1 ? 'selected':''"
                  primary
                ) {{block.title_tab_1}}
              li(v-if="block.title_tab_2")
                v-link(
                  :href="block[`shop_all_link_1_tab_2`]"
                  @click="selectedIndex = 2"
                  @mouseover="selectedIndex = 2"
                  :class="selectedIndex === 2 ? 'selected':''"
                  primary
                ) {{block.title_tab_2}}
              li(v-if="block.title_tab_3")
                v-link(
                  :href="block[`shop_all_link_1_tab_3`]"
                  index="0"
                  @click="selectedIndex = 3"
                  @mouseover="selectedIndex = 3"
                  :class="selectedIndex === 3 ? 'selected':''"
                  primary
                ) {{block.title_tab_3}}
              li(v-if="block.title_tab_4")
                v-link(
                  :href="block[`shop_all_link_1_tab_4`]"
                  index="0"
                  @click="selectedIndex = 4"
                  @mouseover="selectedIndex = 4"
                  :class="selectedIndex === 4 ? 'selected':''"
                  primary
                ) {{block.title_tab_4}}
              li(v-if="block.title_tab_5")
                v-link(
                  :href="block[`shop_all_link_1_tab_5`]"
                  index="0"
                  @click="selectedIndex = 5"
                  @mouseover="selectedIndex = 5"
                  :class="selectedIndex === 5 ? 'selected':''"
                  primary
                ) {{block.title_tab_5}}
              li(v-if="block.title_tab_6")
                v-link(
                  :href="block[`shop_all_link_1_tab_6`]"
                  index="0"
                  @click="selectedIndex = 6"
                  @mouseover="selectedIndex = 6"
                  :class="selectedIndex === 6 ? 'selected':''"
                  primary
                ) {{block.title_tab_6}}
        .header__dropdown-column(v-if="block[`link_list_1_tab_${selectedIndex}`].length")
          ul.category__links
            li(
              v-if="block[`link_list_1_tab_${selectedIndex}_title`]"
            )
              h5.header__block-heading.category__title {{ block[`link_list_1_tab_${selectedIndex}_title`] }}
            li(
              v-for="link in block[`link_list_1_tab_${selectedIndex}`]"
              :key="link.title"
            )
              a.category__link(
                :class="link.topLevel ? 'header__block-heading category__title h5' : ''"
                :href="link.url"
              ) {{ link.title }}
            li
              v-button(tag="a" :href="block[`shop_all_link_1_tab_${selectedIndex}`]" tertiary) Shop All
        .header__dropdown-column(v-if="block[`link_list_2_tab_${selectedIndex}`].length")
          ul.category__links
            li(
              v-for="link in block[`link_list_2_tab_${selectedIndex}`]"
              :key="link.title"
            )
              a.category__link(
                :href="link.url"
              ) {{ link.title }}
        .header__dropdown-column(v-if="block[`text_block_title_tab_${selectedIndex}`] || block[`text_block_description_tab_${selectedIndex}`]")
          .header__block-text(:style="{backgroundColor: block[`text_block_background_color_tab_${selectedIndex}`]}")
            .header__block-text-heading {{ block[`text_block_title_tab_${selectedIndex}`] }}
            .header__block-text-description(v-html="block[`text_block_description_tab_${selectedIndex}`]")
        .header__dropdown-column.header__dropdown-column--image(v-if="block[`image_block_title_tab_${selectedIndex}`] || block[`image_block_image_tab_${selectedIndex}`] || block[`image_block_link_text_tab_${selectedIndex}`] || block[`image_block_link_tab_${selectedIndex}`]")
          img.header__block-image(:src="block[`image_block_image_tab_${selectedIndex}`]")
          h1.header__block-heading {{ block[`image_block_title_tab_${selectedIndex}`] }}
          p.header__block-content {{ block[`image_block_link_text_tab_${selectedIndex}`] }}
          v-link(
            :href="block[`image_block_link_tab_${selectedIndex}`]"
            primary
          ) {{ block[`image_block_cta_text_tab_${selectedIndex}`] || 'Buy Now' }}
</template>

<script>
  import Icon from 'scripts/components/basic/Icon.vue'
  import VButton from 'scripts/components/buttons/VButton.vue'
  import VLink from 'scripts/components/buttons/VLink.vue'
  export default {
    name: 'MegaNav',
    components: {
      Icon,
      VButton,
      VLink,
    },
    props: {
      shopAllLink: {
        type: String,
        default: '/collections/all/',
      },
      block: {
        type: Object
      },
      onClose: {
        type: Function
      },
      open: {
        default: null
      }
    },
    methods: {
      getImageSource(block) {
        return block.image;
      },
      close(e) {
        e.stopPropagation();
        this.onClose()
      }
    },
    data () {
      return {
        selectedIndex: 1,
      }
    }
  };
</script>

<style lang="scss" scoped>
  div.header__dropdown-container-wrapper {

    &--open {
      display: block;
    }
  }
  div.header__dropdown-container {
    background-color: $color-white;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    padding-bottom: 0;
    padding-top: 0;
    margin: 0 auto;
    max-width: 1259px;
    position: relative;
  }

  /deep/ .link--primary {
    margin-bottom: 16px;
    display: inline-block;
    &.selected {
      .icon {
        color: $color-primary-red;
      }

      &:after {
        content: '';
        background-color: $color-primary-red;
        height: 2px;
        width: calc(100% - 19px);
        display: block;
        position: absolute;
        bottom: 0;
      }

      &:hover:after {
        width: calc(100% - 33px);
      }
    }
  }

  .header__dropdown-container-inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    padding: 0 180px 0 0;
  }

  .header__dropdown-close {
    position: absolute;
    right: 20px;
    top: 22px;
    height: 22px;
    width: 22px;
    min-width: 0;
    color: $color-primary-red;
    border: 1px solid $color-light-grey;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .header__dropdown-first-column {
    display: grid;
    grid-template-columns: 100px auto;
  }

  .header__dropdown-column {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    &--first {
      display: block;
      padding-left: 16px;
      background-color: #F9F9F9;

      .category__link {
        margin-bottom: 16px;
      }
    }

    &--image {
      align-items: flex-start !important;
    }
    &:not(.header__dropdown-column--first) {
      align-items: center;
      flex-direction: column;

      .category__links {
        max-width: 150px;
      }
    }
  }

  .header__dropdown-image {
    display: flex;
    align-items: center;
  }

  .shop-now {
    padding: 18px;
    text-align: center;

    a {
      font-size: rem(12);
      line-height: 2;
      letter-spacing: 0.2;
      font-weight: 700;
      color: $color-black;
    }
  }

  .header__flex-content {
    padding-left: 0;
    display: flex;
  }

  .header__block-text {
    border-radius: 10px;
    padding: 40px 20px;
  }

  .header__block-text-heading {
    font-size: rem(16);
    line-height: rem(22);
    font-weight: 600;
    margin-bottom: 16px;
  }

  .header__block-text-description {
    font-size: rem(14);
    line-height: rem(22);
  }

  .header__block-image {
    max-width: 272px;
    margin-bottom: 16px;
  }

  .header__block-content {
    font-size: rem(12);
    line-height: rem(22);
  }

  .header__block-heading {
    font-size: rem(14);
    line-height: rem(22);
    text-transform: none;
  }

  .category {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .category__icon {
    max-height: 40px;
  }

  .category__image {
    width: 80px;
    height: auto;
  }

  .category__links {
    padding-left: 0;
  }

  .category__link {
    font-size: rem(14);
    line-height: rem(22);
    letter-spacing: -.2px;
    font-family: $font-gibson;
    text-transform: uppercase;
    color: $color-off-black;
    margin-bottom: 8px;
    padding: 0;
    display: inline-block;
    text-transform: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .category__title {
    margin-bottom: 8px;
  }
</style>
