<template lang="pug">
  .mobile-mega-nav.mobile-mega-nav--help
    button.mobile-mega-nav__title(@click="() => openSubMenu()")
      span Free Design Requests
      icon(name="chevron-right" size="10px")
    .category__sub-menu(
      v-if="openMenu"
    )
      button.button--icon.category__close(
        type="button"
        @click="() => closeSubMenu()"
      )
        icon.category__close-icon(
          name="chevron-left"
          label="close sub menu"
          size="10px"
        )
        span.category__close-text Return to Main Menu
      div.category__sub-sub-nav
        .category__sub-title
          span {{designMenu.heading}}
        .category__sub-item
          div.design-content(v-html="designMenu.content")
        .category__sub-item
          a.header__dropdown-column-item.header__dropdown-column-item--live-chat(v-if="designMenu.link_1.title !== ''" :href="designMenu.link_1.url")
            .icon-wrapper
              img(:src="designMenu.link_1.icon")
            .icon-title {{designMenu.link_1.title}}
          a.header__dropdown-column-item.header__dropdown-column-item--call(v-if="designMenu.link_2.title !== ''" :href="designMenu.link_2.url")
            .icon-wrapper
              img(:src="designMenu.link_2.icon")
            .icon-title {{designMenu.link_2.title}}
          a.header__dropdown-column-item.header__dropdown-column-item--email(v-if="designMenu.link_3.title !== ''" :href="designMenu.link_3.url")
            .icon-wrapper
              img(:src="designMenu.link_3.icon")
            .icon-title {{designMenu.link_3.title}}
              

</template>

<script>
  import NavbarMobileAccordion from './NavbarMobileAccordion.vue';
  import Icon from 'scripts/components/basic/Icon.vue';
  import IconLink from 'scripts/components/buttons/IconLink.vue';
  import VButton from 'scripts/components/buttons/VButton.vue'
  import VLink from 'scripts/components/buttons/VLink.vue'

  export default {
    name: 'MobileMegaNavDesign',
    components: {
      Icon,
      VButton,
      VLink,
      IconLink,
      NavbarMobileAccordion,
    },
    props: {
      designMenu: {
        type: Object
      },
    },
    data() {
      return {
        selectedIndex: false,
        openMenu: false,
      }
    },
    methods: {
      openSubMenu () {
        this.openMenu = true;
      },
      closeSubMenu () {
        this.openMenu = false;
      },
    },
    mounted() {
      console.log(this.designMenu);
    }
  };
</script>

<style lang="scss" scoped>
  .mobile-mega-nav {
    background-color: $color-white;
  }

  .mobile-mega-nav__title {
    height: 39px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    font-weight: 500;
    border-radius: 0;
    box-shadow: none;
    text-transform: none;
    width: 100%;
    border: 0;
    text-transform: none;
    letter-spacing: 0;
  }

  .categories--tiled {
    padding-left: 0;
  }

  .category {
    margin: 20px 20px 0;
    padding: 0 8px;
    height: 90px;
    display: flex;
    align-items: center;
    background-color: $color-white;

    & + & {
      margin-top: 10px
    }
  }

  .category__heading {
    font-size: rem(18);
    line-height: rem(22);
    font-weight: 600;
    display: flex;
    align-items: center;
    padding: 10px 20px;
  }

  .category__sub-menu {
    position: absolute;
    top: 48px;
    left: 0;
    width: 100%;
    height: calc(100% - 48px);
    font-size: rem(16);
    line-height: rem(22);
    font-weight: 500;
    background-color: $color-white;
    z-index: 1;
  }

  .category__sub-sub-nav {
    /* position: absolute; */
    /* top: 0; */
    /* height: 100%; */
    background-color: $color-white;
    /* width: 100%; */
  }

  .category__sub-item {
    padding: 0 20px 16px;

    &:last-child {
      border-bottom: 0;
    }
  }
  .category__sub-title {
    height: 39px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    margin-top: 20px;
  }


  .category__links {
    padding: 0;
    margin: 0;
  }

  .category__icon {
    max-height: 40px;
    max-width: 105px;

    @media (min-width: 375px) {
      max-width: unset;
    }
  }

  .category__sub-menu-icon {
    display: block;
    margin: 23px 0 18px;
  }

  .category__close,
  .category__sub-close {
    padding: 16px 20px;
    width: 100%;
    height: auto;
    border-bottom: 1px solid $color-light-grey;
    text-align: left;
    border-radius: 0;
    box-shadow: none;
    color: $color-grayish-gray;
  }

  .category__close-icon {
    margin-right: 10px;
  }

  .category__image {
    margin-left: auto;
    padding: 13px 0;
    height: 100%;
  }

  .category__sub-menu-links {
    margin: 0;
    padding: 0 0 23px;

    a {
      color: $color-black;
      display: flex;
      justify-content: space-between;
      height: 23px;
      align-items: center;
      font-weight: 400;
      margin-bottom: 12px;
      font-size: rem(16);
      line-height: rem(22);
    }
  }

  .category__link {
    font-size: rem(12);
    line-height: 4.17;
    letter-spacing: 1.3px;
    font-family: $font-gibson;
    text-transform: uppercase;
    color: $color-black;
  }

  .category__close-text {
    font-size: rem(16);
    font-weight: 500;
    line-height: rem(22);
    text-transform: none;
    letter-spacing: 0;
  }


  .header__dropdown-column-item {
    border: 1px solid $color-light-grey;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    border-radius: 12px;
    height: 218px;
    /* width: 218px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
  }


  .icon-wrapper {
    height: 112px;
    width: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    margin-bottom: 18px;
  }

  .icon-title {
    color: $color-black;
    font-size: rem(16);
    font-weight: 500;
    line-height: rem(22);
  }

  .design-content {
    max-width: 210px;
    p {
      font-size: rem(14);
      line-height: rem(22);
    }
  }
</style>
