<template lang="pug">
  div
    v-button.navbar-mobile-search__open.button--icon(
      label="Toggle Search"
      @click="toggleSearch"
    )
      icon.navbar-mobile-search__icon(
        :name="searchIcon"
        size="18px"
      )
    transition(name="slide-fade-down" v-if="showSearch")
      .navbar-mobile-search
        search-form(@close-search="closeSearch")
</template>

<script>
  import SearchForm from 'scripts/components/forms/SearchForm.vue'
  import VButton from 'scripts/components/buttons/VButton.vue'
  import Icon from 'scripts/components/basic/Icon.vue'

  export default {
    name: 'NavbarMobileSearch',
    components: { SearchForm, VButton, Icon },
    data () {
      return {
        showSearch: false
      }
    },
    computed: {
      searchIcon() {
        return this.showSearch ? 'close' : 'search';
      },
    },
    methods: {
      openSearch () {
        this.showSearch = true;
      },
      closeSearch () {
        this.showSearch = false;
      },
      toggleSearch () {
        if (this.showSearch) {
          this.closeSearch()
        } else {
          this.openSearch()
        }
      }
    }
  }
</script>

<style scoped lang="scss">
  .navbar-mobile-search {
    position: absolute;
    top: 54px;
    left: 0;
    display: flex;
    width: 100%;
    height: calc(100vh - 54px);
    padding: 24px 13px;
    background-color: $color-white;
    z-index: 999;

    &__open {
      margin-left: auto;

      &:focus {
        background-color: transparent;
      }
    }
  }

  .navbar-mobile-search__icon {
    touch-action: none;
    pointer-events: none;
  }
</style>
