
<template lang="pug">
  .navbar__cart(:class="sidecartOpen ? 'open' : ''")
    cart-modal
      v-button.button--icon.cart-toggle-button.navbar-button(label="Open Cart", @click="$store.dispatch('cart/openSidecart')", aria-label="Open Cart")
        icon.icon(name="cart" :size="['mobile', 'tablet'].includes($mq) ? '24px' : '19px'")
        span.cart-bubble-quantity.navbar__cart__quantity(v-if="numCartItems > 0")
          span.cart-bubble-count.navbar__cart__count(:class="[cartBubbleColors.bubbleText, {'cart-bubble-count--small': numCartItems >= 100}]") {{ numCartItems < 100 ? numCartItems : '99+' }}
        span.navbar-button__label Cart
</template>

<script>
  import { mapState } from 'vuex'

  import VButton from 'scripts/components/buttons/VButton.vue'
  import Icon from 'scripts/components/basic/Icon.vue'
  import CartModal from 'scripts/components/cart/CartModal.vue';

  export default {
    name: 'NavbarCart',
    components: { VButton, Icon, CartModal },
    props: {
      cartBubbleColors: Object
    },
    computed: {
      ...mapState({
        checkout: state => state.cart.checkout,
        sidecartOpen: state => state.cart.sidecartOpen
      }),
      numCartItems () {
        return this.checkout.item_count || 0;
      }
    }
  }
</script>

<style scoped lang="scss">
  .navbar__cart {
    position: relative;
    margin-right: 0;
    opacity: 1;
    transition: opacity 100ms ease;
  }

  .navbar__cart .button--icon {
  }
  .open {
    opacity: 0;
  }

  .icon {
    pointer-events: none;
    touch-action: none;
  }

  .navbar-button {
    margin-right: 40px;
    box-shadow: none;
    .navbar-button__label {
      @include mobile-tablet {
        display: none;
      }
    }
    @include desktop-up {
      margin-right: 0;
      border: 1px solid $color-light-grey;
      border-radius: 4px;
      padding: 12px 20px;
      box-shadow: 0 1px 1px rgba(0,0,0,0.12);
      margin-left: 10px;
      display: inline-flex;
      align-items: center;
      min-width: 108px;
      color: $color-off-black;
      text-transform: initial;
      font-weight: 500;
      text-align: center;
      font-size: rem(14);
      line-height: rem(22);
      height: 45px;

      span {
        display: flex;
        align-items: center;
        letter-spacing: 0;
      }

      .navbar-button__label {
        margin-left: 8px;
      }

      svg {
        color: $color-black;
      }
    }
  }
</style>
