
<template lang="pug">
  div
    search-form(@close-search="closeSearch" :enablePredictiveSearch="enablePredictiveSearch")
</template>

<script>
  import SearchForm from 'scripts/components/forms/SearchForm.vue'
  import VButton from 'scripts/components/buttons/VButton.vue'
  import Icon from 'scripts/components/basic/Icon.vue'

  export default {
    name: 'NavbarSearch',
    components: { SearchForm, VButton, Icon },
    props: {
      enablePredictiveSearch: Boolean
    },
    data () {
      return {
        showSearch: false
      }
    },
    methods: {
      openSearch () {
        this.showSearch = true
        this.$emit("open-search")
      },
      closeSearch () {
        this.showSearch = false
        this.$emit("close-search")
      },
      toggleSearch () {
        if (this.showSearch) {
          this.closeSearch()
        } else {
          this.openSearch()
        }
        this.$emit("toggle-search")
      }
    }
  }
</script>

<style scoped lang="scss">
  .navbar-search {
    position: relative;
    right: 0;
    display: block;
    width: 100%;
    min-width: rem(210);
    height: 40px;
    color: $color-white;
    &__open {
      margin-left: auto;
    }
  }
</style>
