
<template lang="pug">
  .navbar__logo
    h1(v-if="h1")
      a.navbar__logo__image(href="/")
        img(
          :src="'mobile' === $mq ? mobileImage : image",
          :alt="alt"
        )
        span.u-hidden {{ alt }}
    div(v-else)
      a.navbar__logo__image(href="/")
        img(:src="image", :alt="alt")
</template>

<script>
  export default {
    name: 'NavbarLogo',
    props: {
      image: String,
      mobileImage: String,
      alt: String,
      h1: Boolean
    },
  }
</script>

<style scoped lang="scss">
  h1 {
    margin: 0;
  }

  .navbar__logo {
    margin: auto;
    width: 150px;
    display: flex;
    align-items: center;
    height: 100%;
    overflow: hidden;
  }

  .navbar__logo__image {
    max-width: 120px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    @include desktop-up {
      max-width: 150px;
    }

    img {
      @include mobile-tablet {
        max-height: 40px;
      }

      @include desktop-up {
        width: 100%;
        height: 100%;
        object-fit: fill;

      }
    }
  }

  .navbar__logo__image--svg {

    @include desktop-up {
      height: 19vh;
    }
  }
</style>
