<template lang="pug">
  nav.navbar.main-header-nav-container(
    ref="mainNav"
    :class="{ 'main-header-nav-container--transparent' : showTransparentMenu }"
  )
    .main-header-nav-inner-container.container#main-header-scrolling-nav
      //- used for fixed collection title/filter bar
      portal-target(name="header-portal" slim)
      .navbar__mobile
        icon-link.navigation-icon.mobile-account-icon(
          href="/account/"
          icon="account"
          label="account"
          size="20px"
        )
        .mobile-cart-menu-container(:class="mobileNavClass")
          navbar-cart(:cartBubbleColors="cartBubbleColors")
        navbar-hamburger(@open="() => openMenu(true)", @close="closeMenu" :isActive="isMenuOpen" ref="hamburger")
        transition(name="off-canvas-top")
          .navbar__mobile__nav.nav-links-dropdown-content-container(
            v-if="isMenuOpen"
            :class="mobileNavClass"
          )
            .navbar__mobile__nav-inner
              .navbar__mobile-header
                img(:src="mobileOpenLogo")
                button.mobile-close(@click="closeMenu")
                  icon(name="close" size="24px")
              .navbar__mobile-heading Shop
              mobile-mega-nav(
                v-for="(block,index) in blocks"
                :key="index + '_mobile_navigation'"
                :block="block"
                :shop-all-link="shopAllLink"
              )
              mobile-mega-nav-design(:design-menu="designMenu")

              mobile-mega-nav-help(
                :help-menu="helpMenu"
                :onClose="() => isHelpOpen = false"
                :open="isHelpOpen"
              )
              ul.header__menu--mobile
                li.header__menu-item--mobile
                  a.header__menu-main-link()
                    span.header__menu-main-link-icon
                      icon(name="cart" size="19")
                    span Cart
                li.header__menu-item--mobile
                  a.header__menu-main-link()
                    span.header__menu-main-link-icon
                      icon(name="account" size="16")
                    span Account
                li.header__menu-item--mobile
                  a.header__menu-main-link(href="" @click="(e) => {e.preventDefault();isHelpOpen = true}")
                    span.header__menu-main-link-icon
                      icon(name="help" size="16")
                    span Help
          .navbar__mobile__nav.navbar__mobile__nav--search(v-else-if="showSearch" v-scroll-lock="showSearch")
            search-form(:enable-predictive-search="enablePredictiveSearch")
      navbar-logo(:image="logo", :mobileImage="mobileLogo" :large-image="logoLarge", :alt="shopName", :h1="h1")
      .logo-nav-search
        navbar-search(:enablePredictiveSearch="enablePredictiveSearch")
      .desktop-header-search-cart-container
        a.navbar-button(href="/account/")
          span
            icon(name="account" size="13")
          span Account
        button.navbar-button(href="/account/" @click="openHelp")
          span
            icon(name="help" size="16")
          span Help
        .cart-icon-container
          navbar-cart(:cartBubbleColors="cartBubbleColors")
      .logo-nav-container
        mega-nav-help(:onClose="closeMenu" :open="isHelpOpen" :helpMenu="helpMenu")
        .nav-links-dropdown-content-container
          .nav-links-dropdown-inner-content-container
            ul.nav-main-links-container
              li.header__menu-item(
                aria-haspopup="true"
                tabindex="0"
                v-for="(block, index) in blocks"
                @click="() => openMenu(index)"
                :key="index + '_navigation'"
                :class="meganavOpen === index ? 'header__menu-item--active' : ''"
              )
                span.header__menu-main-link {{block.title}}
                mega-nav(
                  :block="block"
                  :shop-all-link="shopAllLink"
                  :open="meganavOpen === index"
                  :onClose="closeMenu"
                )
              li.header__menu-item(
                v-for="(link, index) in links"
                :key="index + '_'"
              )
                a.header__menu-main-link(
                  :href="link.url"
                ) {{ link.title }}
              li.header__menu-item.header__menu-item--design(
                tabindex="0"
                @click="openDesign"
                :class="isDesignOpen ? 'header__menu-item--active' : ''"
              )
                span.header__menu-main-link Free Design Requests
                mega-nav-design(:designMenu="designMenu" :open="isDesignOpen" :onClose="() => isDesignOpen = false")

</template>

<script>
  import { mapState } from 'vuex'
  import { elementAtTop } from 'scripts/helpers/elementAtTop.js'

  import SearchForm from 'scripts/components/forms/SearchForm.vue'
  import Icon from 'scripts/components/basic/Icon.vue'
  import IconLink from 'scripts/components/buttons/IconLink.vue'
  import VButton from 'scripts/components/buttons/VButton.vue'
  import AccordionGroup from 'scripts/components/basic/AccordionGroup.vue'

  import MegaNav from './MegaNav.vue';
  import MegaNavHelp from './MegaNavHelp.vue';
  import MegaNavDesign from './MegaNavDesign.vue';
  import MobileMegaNav from './MobileMegaNav.vue'
  import MobileMegaNavHelp from './MobileMegaNavHelp.vue';
  import MobileMegaNavDesign from './MobileMegaNavDesign.vue';
  import NavbarCart from './NavbarCart.vue'
  import NavbarHamburger from './NavbarHamburger.vue'
  import NavbarLogo from './NavbarLogo.vue'
  import NavbarSearch from './NavbarSearch.vue'
  import NavbarMobileSearch from './NavbarMobileSearch.vue'
  import NavbarMobileAccordion from './NavbarMobileAccordion.vue'
  import NavbarMobileLogoLinks from './NavbarMobileLogoLinks.vue'

  export default {
    name: 'Navbar',
    components: {
      MobileMegaNav,
      MobileMegaNavHelp,
      MobileMegaNavDesign,
      MegaNav,
      MegaNavHelp,
      MegaNavDesign,
      NavbarCart,
      NavbarHamburger,
      NavbarLogo,
      Icon,
      IconLink,
      VButton,
      NavbarSearch,
      NavbarMobileSearch,
      SearchForm,
      AccordionGroup,
      NavbarMobileAccordion,
      NavbarMobileLogoLinks
    },
    props: {
      logo: String,
      mobileLogo: String,
      logoLarge: String,
      mobileOpenLogo: String,
      shopName: String,
      title: String,
      url: String,
      shopAllLink: {
        type: String,
        default: '/collections/all/',
      },
      useTransparentMenu: {
        type: Boolean,
        default: false
      },
      h1: {
        type: Boolean,
        default: false
      },
      blocks: {
        type: Array,
        default: () => []
      },
      links: {
        type: Array,
        default: () => []
      },
      helperlinks: {
        type: Array,
        default: () => []
      },
      helpMenu: {
        type: Object,
      },
      designMenu: {
        type: Object,
      },
      cartBubbleColors: Object,
      logoTabs: {
        type: Object,
        default: () => ({
          enabled: Boolean,
          tabBorderColorClass: String,
          logo1: {
            type: Object,
            default: () => ({
              imgUrl: String,
              url: String
            })
          },
          logo2: {
            type: Object,
            default: () => ({
              imgUrl: String,
              url: String
            })
          },
          logo3: {
            type: Object,
            default: () => ({
              imgUrl: String,
              url: String
            })
          }
        })
      },
      enablePredictiveSearch: Boolean
    },
    data () {
      return {
        SCROLL_OFFSET: 200,
        pageAtTop: true,
        meganavOpen: false,
        isMenuOpen: false,
        isHelpOpen: false,
        showSearch: false,
        isNavSticky: false,
        isDesignOpen: false,
        blockTypes: {
          text_blocks: {
            mobile: 'navbar-mobile-text-blocks',
            desktop: 'navbar-desktop-text-blocks',
          },
          text_large_image: {
            mobile: 'navbar-mobile-text-large-image',
            desktop: 'navbar-desktop-text-large-image',
          },
          text_small_image_blocks_1: {
            mobile: 'navbar-mobile-text-small-image-blocks',
            desktop: 'navbar-desktop-text-small-image-blocks',
          },
          text_small_image_blocks_2: {
            mobile: 'navbar-mobile-text-small-image-blocks',
            desktop: 'navbar-desktop-text-small-image-blocks',
          },
          text_small_image_blocks_3: {
            mobile: 'navbar-mobile-text-small-image-blocks',
            desktop: 'navbar-desktop-text-small-image-blocks',
          },
          small_image_blocks: {
            mobile: 'navbar-mobile-small-image-blocks',
            desktop: 'navbar-desktop-small-image-blocks',
          },
        },
      }
    },
    mounted () {
      if (this.useTransparentMenu) document.addEventListener('scroll', this.checkIfPageAtTop);

      window.addEventListener('scroll', this.navPositioningCallback, { passive: true });
    },
    computed: {
      ...mapState({
        socialLinks: state => state.social.socialLinks,
      }),
      socialIcons () {
        const icons = [];
        Object.keys(this.socialLinks).forEach((iconName) => {
          if (!this.socialLinks[iconName]) return;
          icons.push({
            'name': iconName,
            'url': this.socialLinks[iconName],
          });
        });
        return icons;
      },
      mobileNavClass () {
        return {
          'is-open': this.isMenuOpen === true
        }
      },
      mobileNavSearchClass () {
        return {
          'is-open': this.isMenuOpen === false
        }
      },
      showTransparentMenu () {
        if (this.meganavOpen || this.isMenuOpen) return false;
        else if (this.useTransparentMenu && this.pageAtTop) return true;
      }
    },
    methods: {
      /** Show the nav promobar only when the user is at top [promobar height] of page */
      navPositioningCallback () {
        const scrollTop = document.documentElement.scrollTop || document.body.scrollTop;
        const promobar = document.querySelector('#shopify-section-top-header');
        const promobarHeight = promobar ? promobar.offsetHeight : 0;
        const target = document.querySelector('.main-header-nav-inner-container');

        if(scrollTop >= promobarHeight) {
          target.classList.add('is-at-top')
        } else {
          target.classList.remove('is-at-top');
        }
      },
      checkIfPageAtTop () {
        const scrollTop = document.documentElement.scrollTop || document.body.scrollTop;
        this.pageAtTop = scrollTop < this.SCROLL_OFFSET;
      },
      openHelp () {
        this.isHelpOpen = true;
        this.showSearch = false;
        this.meganavOpen = false;
        this.isDesignOpen = false;
      },
      openDesign () {
        this.isDesignOpen = true;
        this.isHelpOpen = false;
        this.showSearch = false;
        this.meganavOpen = false;
      },
      openMenu (num) {
        let page = document.body;
        page.classList.add('nav-open');
        this.isMenuOpen = true;
        this.meganavOpen = num;
        this.isHelpOpen = false;
        this.showSearch = false;
        this.isDesignOpen = false;
      },
      closeMenu () {
        let page = document.body;
        page.classList.remove('nav-open');
        this.isMenuOpen = false;
        this.meganavOpen = false;
        this.showSearch = false;
        this.isHelpOpen = false;
      },
      openSearch () {
        this.showSearch = true
        this.$refs.hamburger.addActiveState()
      },
      closeSearch () {
        this.showSearch = false
        this.$refs.hamburger.removeActiveState()
      },
      toggleSearch () {
        this.showSearch ? this.closeSearch() : this.openSearch()
      },
      isValidBlockType (blockType) {
        return Object.keys(this.blockTypes).indexOf(blockType) >= 0;
      }
    }
  }
</script>

<style scoped lang="scss">
  // Desktop + Mobile Styles
  .navbar {
    display: flex;
    position: relative;

    &__search {
      display: flex;
      width: 100%;
      max-width: rem(240);
      @include desktop-up {
        max-width: unset;
      }
    }
  }

  .navbar-button {
    border: 1px solid $color-light-grey;
    border-radius: 4px;
    padding: 12px 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12);
    margin-left: 10px;
    display: inline-flex;
    align-items: center;
    min-width: 108px;
    color: $color-off-black;
    text-transform: initial;
    font-weight: 500;
    text-align: center;
    font-size: rem(14);
    line-height: rem(22);
    height: 45px;
    span {
      display: flex;
      align-items: center;
      &:last-child {
        margin-left: 8px;
      }
    }

    svg {
      color: $color-black;
    }
  }

  .mobile-close {
    border: 0;
    width: auto;
    min-width: 0;
    padding: 0;
    box-shadow: none;
  }

  .main-header-nav-container {
    /* position: fixed; */
    top: 0;
    width: 100%;
    background-color: $color-white;
    transition: background-color 0.3s;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    @include mobile-tablet {
      box-shadow: none;
      height: 116px;
    }
  }

  .main-header-nav-container--transparent {
    border-color: transparent;
    background-color: rgba($color-white, 0.25);
  }

  .main-header-nav-inner-container {
    display: grid;
    width: 100%;
    height: 116px;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);

    @include mobile-tablet {
    box-shadow: 0 1px 1px rgba(0,0,0,0.15);
      &.is-at-top {
        background-color: $color-white;
        position: fixed;
        top: 0;
      }
    }

    @include desktop-up {
      height: 130px;
      padding-top: 24px;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: 45px auto;
    }
  }

  .nav-links-dropdown-inner-content-container {
    display: flex;

    @media screen and (max-width: 1023px) {
      flex-direction: column;
      position: relative;
      min-height: calc(100vh - 100px);
    }
  }

  .nav-main-links-container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #FAFAFA;

    @include desktop-up {
      flex-direction: row;
      background-color: transparent;
    }
  }

  .header__menu--mobile {
    padding: 20px 16px;
    margin: 20px 0 0;
    border-top: 1px solid $color-light-grey;
    .header__menu-item--mobile {
      margin-bottom: 16px;
    }
  }

  .header__menu-item {
    list-style: none;

    &--design .header__menu-main-link {
      color: $color-primary-red;
    }

    &--active,
    &:hover,
    &:focus-visible,
    &:focus {
      .header__menu-main-link:after {
        content: '';
        width: 100%;
        height: 4px;
        background-color: $color-primary-red;
        display: block;
        position: absolute;
        bottom: 0;
      }
    }

/*
    &:hover,
    &:focus-within,
    &:active {
      .header__dropdown-container {
        display: block;
      }

      .header__menu-main-link {
        &:before {
          content: '';
          position: absolute;
          width: 100%;
          height: 4px;
          bottom: 0;
          left: 0;
          background-color: $color-primary-red;
          z-index: 100;
        }
      }

    }

    &:hover .header__menu-main-link--solo {
      &:before {
        content: none;
      }
    }

    &:first-of-type .header__menu-main-link {
      padding-left: 0;
    } */

  }

  .header__dropdown-container-wrapper {
    background: rgba(0,0,0,0.15);

    @include desktop-up {
      position: absolute;
      width: 100%;
      left: 50%;
      top: 100%;
      border-bottom: 1px solid #ecece1;
      z-index: -1;
      display: none;
      transform: translateX(-50%);
      height: calc(100vh - 173px);
    }
  }
  .header__dropdown-container {
    position: relative;
    padding-top: 40px;
    padding-bottom: 80px;
  }

  /deep/ .header__menu-main-link {
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
    line-height: rem(22);
    font-size: rem(16);
    color: $color-black;
    font-family: $font-gibson;
    font-weight: 500;

    @include desktop-up {
      background-color: transparent;
      padding: 0;
      justify-content: space-between;
      height: 60px;
      line-height: rem(22);
      font-size: rem(14);
      font-weight: 300;
      margin: 0 15px;
    }

    span {
      align-items: center;
      display: inline-flex;
    }

    .accordion__title {
      letter-spacing: 0px !important;
    }

    .header__menu-main-link-icon {
      margin-right: 8px;
    }
  }

  .header__menu-main-link-text {
    font-size: inherit;
    font-weight: inherit;
  }

  .is-open.nav-links-dropdown-content-container {
    @media screen and (max-width: 1023px) {
      display: block;
      position: fixed;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      overflow: scroll;
      transform: translateX(0);
      transition: transform 0.3s ease-in-out;
      background-color: rgba(0,0,0,0.15);
      z-index: 2;
      /* padding-bottom: 60px; */
      padding-left: 61px;;
    }

    .navbar__mobile__nav-inner {
      position: relative;
      width: 100%;
      background-color: $color-white;
      min-height: 100%;
    }
  }

  .navbar__mobile-header {
    background-color: $color-accent-yellow-brand;
    height: 48px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navbar__mobile-heading {
    padding: 9px 20px;
    font-size: rem(18);
    line-height: rem(22);
    font-weight: 600;
  }

  .nav-links-dropdown-content-container {
    display: none;

    @media screen and (max-width: 1023px) {
      display: none;
      position: fixed;
      top: 87px;
      background-color: $color-white;
      width: 100%;
      height: calc(100% - 70px);
      overflow: scroll;
      transform: translateX(-100%);
      transition: transform 0.3s ease-in-out;
      z-index: 1;
    }

    @include desktop-up {
      display: block;
    }
  }

  .navbar__logo {
    order: 0;

    @include mobile-tablet {
      margin: 0;
    }
  }

  .logo-nav-search {
    grid-column: span 3;

    @include mobile-tablet {
      order: 2;
      align-self: flex-start;
      grid-column: span 2;
    }
  }

  .logo-nav-container {
    display: none;

    @include desktop-up {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-basis: 0;
      flex-grow: 4;
      grid-column: span 6;
    }
  }

  .header-logo {
    max-width: 150px;
  }

  .desktop-header-search-container,
  .mobile-hamburger-container,
  .mobile-search-icon-form-container{
    cursor: pointer;
  }

  .cart-icon-container {
    @include mobile-tablet {
      width: 28px;
    }
  }

  /* MOBILE */
  .mobile-cart-menu-container {
    display: flex;
    align-items: center;

    @include desktop-up {
      display: none;
    }
  }

  .mobile-search-icon-form-container,
  .mobile-cart-menu-container {
    display: flex;
    align-items: center;
    flex-grow: 0;

    @include desktop-up {
      display: none;
      flex-grow: 3;
    }
  }

  .mobile-search-icon-form-container {
    margin-right: 20px;
    justify-content: flex-start;
    flex-basis: 0;

    @include desktop-up {
      margin-right: 0;
    }
  }

  .mobile-cart-menu-container {
    justify-content: flex-end;
    flex-basis: 0;
  }

  .navbar__mobile__linklist {
    display: flex;
    flex-direction: column;

    ul {
      margin: 0;
      padding: 0 20px;
    }
  }

  .mobile-dropdown__helper-links-main-container {
    display: flex;
    flex-direction: column;
    padding: 6px 20px;
    margin-top: 16px;

    @include desktop-up {
      display: none;
    }
  }

  .mobile-dropdown__helper-main-link-container {
    margin-bottom: 24px;
  }

  .mobile-dropdown__helper-links-container {
    list-style: none;
    padding-left: 0;
  }

  .mobile-help-icon-container {
    margin-right: 8px;
    display: flex;
  }

  .mobile-helper-icon {
    width: 20px;
    height: 20px;
  }

  .navigation-icon {
    margin-right: 40px;
    color: $color-off-black;
  }

  .mobile-dropdown__helper-main-link {
    margin-bottom: 16px;
    color: $color-black;
  }

  .mobile-dropdown__helper-link {
    color: $color-black;
    margin-bottom: 16px;
    display: block;
  }

  .mobile-helper-title {
    margin: 0;
    font-size: 16px;
  }

  .desktop-help-icon-container {

    @include desktop-up {
      margin-left: 4px;
    }
  }

  .mobile-dropdown__helper-main-link {
    display: flex;
    align-items: center;
  }

  .mobile-dropdown__helper-links-container {
    margin: 0;
    padding: 0;
  }

  .navbar__mobile {
    display: flex;
    align-items: center;
    order: 1;
    justify-content: flex-end;
    @include desktop-up {
      display: none;
    }
  }

  /* SEARCH */
  .navbar__mobile__nav--search {

    @media screen and (max-width: 1023px) {
      position: absolute;
      top: 54px;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: rgba(0, 0, 0, .15);
    }
  }

  .navbar__mobile__nav--search .button__content {
    display: flex;
  }

  .desktop-header-search-cart-container {
    display: none;

    @include desktop-up {
      grid-column: span 2;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 0;
      position: relative;
    }
  }

  .header-search-container {
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 30px;
    height: 40px;
  }

  .header-search-form-container {
    position: absolute;
    top: 0;
    width: 280px;
    display: none;
    height: 100%;
    overflow: hidden;
    z-index: 60;
    transform: translateX(100%);
    border: 1px solid $color-off-white;
    background-color: $color-white;
  }

  .active-accordion .icon-plus-path {
    fill: $color-brand-tertiary !important;
  }

  .mobile-account-icon {
    margin-left: 20px;

    @include desktop-up {
      display: none;
    }
  }

  .social-icons {
    margin: 17px 20px 0;
    border-top: 1px solid $color-semi-grey;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .social-icons__list {
      margin-top: 16px;
      display: flex;
      justify-content: center;
    }
  }

  .social-icons_label {
    font-size: rem(12);
    line-height: 1.5;
    letter-spacing: 0.25px;
    font-weight: 300;
    font-family: $font-gibson;
    color: $color-black;
  }

  .social-icons__link {
    margin: 0 5px;
  }
</style>
