<template lang="pug">
  .atc-wrapper
    v-button.product-atc(
      tag="button"
      :primary="true"
      @click="addToCart"
      :label="label"
    ) {{ label }}
</template>

<script>
  import VButton from 'scripts/components/buttons/VButton.vue';

  export default {
    name: 'AddToCart',
    components: { VButton },
    props: {
      label: String,
      variantId: Number,
    },
    methods: {
      addToCart () {
        const items = [{ id: this.variantId, quantity: 1 }];
        const addToCartPromise = this.$store.dispatch('cart/addItems', items)
          .then(() => window.setTimeout(() => this.$store.dispatch('cart/afterAddToCart'), 1000))
          .catch(error => this.$store.dispatch('toast/send', { text: error, type: 'error' }))
      }
    },
  };
</script>
