
<template lang="pug">
  a(
    :href="href"
    :class="buttonClass"
  )
    icon(v-if="icon", :name="icon", :size="iconSize")
    span.button__content {{ label }}
</template>

<script>
  import Icon from 'scripts/components/basic/Icon.vue'

  export default {
    components: { Icon },
    name: 'LinkButton',
    props: {
      href: {
        type: String,
        default: '#'
      },
      buttonClass: {
        type: String,
        default: '',
      },
      label: String,
    }
  }
</script>

<style scoped lang="scss">
</style>
