<template lang="pug">
  accordion-group.product-details(
    ref="accordion-group"
  )
    accordion(
      ref="product-details-accordion"
      id="product-details-accordion"
      :expand-max-height="3000"
      :selected="true"
      :auto-close="false"
      theme="product-details")
      span.h6.product-details__heading(slot="heading") Overview
      accordion-tease(:on-tease-expand="onTeaseExpand" :collapsed-height="314")
        .product-details__description.client-generated(v-html="product.description")
    accordion(
      v-if="customFields['show_additional_details_accord']"
      theme="product-details"
      :auto-close="false"
      :expand-max-height="2000"
      heading="Additional Details")
      span.h6.product-details__heading(slot="heading") Additional Details
      accordion-tease(:on-tease-expand="onTeaseExpand" :collapsed-height="314")
        .product-details__optional-body-copy.client-generated(v-if="customFields['optional_body_copy']" v-html="customFields['optional_body_copy']")
        table.product-details__table(v-if="splitTableCategory.length")
          tr.product-details__table-row(v-for="(item, index) in splitTableCategory")
            td.body-sm-mobile.body-md-tablet-up.product-details__table-category {{ item }} 
            td.body-sm-mobile.body-md-tablet-up.product-details__table-specification {{ splitTableSpecification[index] }}
        v-link(secondary v-if="customFields['link_text'] && customFields['link_url']" :href="customFields['link_url']") {{ customFields['link_text'] }}
    accordion(
      theme="product-details"
      :auto-close="false"
      v-if="settings.accordionContent"
    ) 
      span.h6.product-details__heading(slot="heading") {{ settings.accordionName }}
      accordion-tease(:on-tease-expand="onTeaseExpand" :collapsed-height="314")
        div.client-generated(v-html="settings.accordionContent")
    div.flex.align-center.product-details__download(v-if="customFields.d2_download_link_url && customFields.d2_download_link_text")
      icon(name="save_alt", size="16px")
      v-link(tertiary, :href="customFields.d2_download_link_url", download)
        span {{ customFields.d2_download_link_text }}
</template>

<script>
import AccordionGroup from '../../basic/AccordionGroup.vue';
import Accordion from '../../basic/Accordion.vue';
import AccordionTease from '../../basic/AccordionTease.vue';
import Icon from '../../basic/Icon.vue';
import VLink from '../../buttons/VLink.vue';

export default {
  name: 'ProductDetails',
  components: {
    AccordionGroup,
    Accordion,
    VLink,
    AccordionTease,
    Icon
  },
  props: {
    collection: Object,
    product: Object,
    customFields: Object,
    settings: Object
  },
  mounted() {
    // expose methood for product form to open product details accordion
    window.bvaccel.productDetailsaccordion = this.$refs['product-details-accordion'];
    window.bvaccel.toggleProductDetailsaccordion = this.$refs['accordion-group'].activate.bind(this.$refs['accordion-group'], this.$refs['product-details-accordion']); 
  },
  computed : {
    splitTableCategory() {
      return this.customFields['details_category'].split('|###|');
    },
    splitTableSpecification() {
      return this.customFields['specification'].split('|###|');
    }
  },
  methods: {
    onTeaseExpand() {
      // tell the active accordions to update their height
      this.$refs['accordion-group'].accordions.filter(a => a.active)
        .forEach(a => a.setContentHeight())
    }
  }
}
</script>

<style lang="scss" scoped>
  .product-details {
    @include tablet-up {
      padding-bottom: 47px; // to match the bottom border of value props
      margin-top: 16px;
    }

    &__optional-body-copy{
      margin-bottom: $grid-gutter;
    }

    &__table {
      border-collapse: collapse;
      margin: $grid-gutter 0;
    }

    &__table-row {
      width: 100%;
      border-top: 1px solid $color-grey;

      &:last-child {
        border-bottom: 1px solid $color-grey;
      }

      &:nth-child(odd) {
        background-color: #F8F8F8;
      }
    }

    &__table-category,
    &__table-specification {
      padding: 16px 8px;
    }

    &__download {
      margin-top: 20px;


      .link {
        line-height: inherit;
      }

      svg {
        margin-right: 8px;
        display: inline-block;
      }

      &:hover svg {
        fill: $color-brand-primary;
      }
    }

    /deep/ .accordion {
      border-bottom: 1px solid $color-light-grey;
      border-top: 1px solid $color-light-grey;

      + .accordion {
        border-top: none !important;
      }

      .accordion__content {
        padding: 16px 20px;
      }

      .accordion__header {
      padding: 12px 8px;
      transition: background-color .2s linear;

      @include tablet-up {
        padding: 12px 20px;

        &:not(.is-open):hover {
          background: $color-off-white;
        }  
      }
    }
    }

    /deep/ .accordion.is-open  {
      border-bottom: 1px solid $color-grey;
      border-top: 1px solid $color-grey;

      .accordion__header {
        border-bottom: 1px solid $color-grey;
      }

      .accordion__header,
      .accordion__content {
        background: $color-light-grey;
      }
    }


    /deep/ .accordion__header.is-open + .accordion__content .show-more__overlay {
      background: linear-gradient(180deg, rgba(250, 251, 250, 0) 0%, rgba($color-light-grey, .98) 86%, rgba($color-light-grey, 1) 100%);
    }
  }
</style>