<template lang="pug">
  section.pdp-gallery(:class="{'pdp-gallery--zooming': zoomState}")
    //- badges
    .pdp-gallery__badge-container
      transition-group(name="fade")
          div.badge.button-text(v-for="badge in badges", :key="badge" v-if="variant", :class="[$store.state.badgeColorMap[badge]]") {{ badge }}
    .pdp-gallery__main-container
      div.pdp-gallery__main
        //- navigation buttons
        button.pdp-gallery__button.pdp-gallery__button--next.button--arrow-primary(
          @click="slideNextMain"
          aria-label="Next Featured Image"
          v-if="productMedia.length > 1" 
        )
          icon(name="chevron-right", size="12px")
        button.pdp-gallery__button.pdp-gallery__button--prev.button--arrow-primary(
          @click="slidePrevMain"
          aria-label="Previous Featured Image"
          v-if="productMedia.length > 1" 
        )
          icon(name="chevron-left", size="12px")
        //- zoom-in/zoom-out icon indicators 
        span.pdp-gallery__zoom-icon(@click="() => zoomState = false", v-if="zoomState")
          icon(
            name="zoom_out"
            size="30px"
          )
        span.pdp-gallery__zoom-icon(v-else, @click="zoomCenter")
          icon(
            name="zoom_in"
            size="30px"
          )
        //- slider
        swiper(:options="swiperOptionsMain", ref="swiper", :key="mainSwiperKey")
          div.text-center.pdp-gallery__pagination(slot="pagination", v-if="productMedia.length > 1")
          swiper-slide(v-for="(media, index) in productMedia", :key="media.id")
            div(@click="setZoom($event, !zoomState)", @mouseleave="() => zoomState = false")
              media(:media="media")
                zoom(
                  ref="zoom"
                  slot="image"
                  :img-normal-attrs="{ src: media.src, alt: getProductImageAlt(media) }" 
                  :img-zoom-attrs="{ src: media.src, alt: getProductImageAlt(media) }"
                  :zooming="zoomState"
                  :disabled="!zoomState"
                )
      //- nav slider (hide mobile)
      button.pdp-gallery__button-thumb.pdp-gallery__button-thumb--next(
        @click="slideNextThumb"
        v-show="thumbsShouldSlide"
        aria-label="Next Thumbnail"
        v-if="productMedia.length > 1" 
      )
        icon(name="chevron-down", size="12px")
      button.pdp-gallery__button-thumb.pdp-gallery__button-thumb--prev(
        @click="slidePrevThumb"
        v-show="thumbsShouldSlide"
        aria-label="Previous Thumbnail"
        v-if="productMedia.length > 1" 
      )
        icon(name="chevron-up", size="12px")
      div.pdp-gallery__thumbs
        swiper(:options="swiperOptionThumbs", ref="thumbSwiper" class="pdp-gallery__thumbs-slider" :key="thumbSwiperKey")
          swiper-slide(
            v-for="(media, index) in productMedia", 
            :key="media.src", 
            :class="{'pdp-gallery__thumbs-slide--active': slideIndexMain() === index, [settings.thumbnailColor]: slideIndexMain() === index}")
            button(
              @click="thumbSlideTo(index)"
            )
              media-preview(:media="media", size="160x160")
</template>

<script>
import '../../../typedefs';
import { swiper, swiperSlide } from 'vue-awesome-swiper';
import { imageSize, fileUrl, noImageMedia, swiperLoopInit, swiperLoopSlideChange, is3rdPartyProduct, badgeList, getProductImageAlt, badge, getVariantImages  } from '../../../helpers/util';
import Icon from '../../basic/Icon.vue';
import Zoom from '../../basic/Zoom.vue';
import Media from '../../basic/Media.vue';
import MediaPreview from '../../basic/MediaPreview.vue';

export default {
  components: {
    swiper, 
    swiperSlide,
    Zoom,
    Icon,
    Media,
    MediaPreview
  },
  model: {
    prop: 'variant',
  },
  props: {
    collection: Object,
    product: Object,
    customFields: Object,
    settings: Object,
    variant: Object
  },
  data() {
    return {
      zoomState: false,
      initialSlide: 0,
      mainSwiperKey: 0,
      thumbSwiperKey: 0,
      thumbsShouldSlide: false,
    }
  },
  computed: {
    /** @returns {Boolean} */
    hasColorVariants() {
      return this.product.options.some(opt => /color|pattern|design/i.test(opt));
    },
    /** @returns {Number} */
    colorIndex() {
      if(!this.hasColorVariants) return 0;
      
      return this.product.options.reduce((acc, opt, i) => /color|pattern|design/i.test(opt) ? i : acc, 0);
    },
    /**
     * @desc
     *  - if the variant is not defined return an array of one with src: no image
     *  - if the variant is defined but the are no images with alt text to filter to a smaller subset of images, 
     *    show all product images with the image for the current variant selected.
     *  - if there are images with alt text that match the option set, show the subset that matches;
     */
    productMedia() {
      if(!this.variant) 
        return [noImageMedia()];
        
      const variantSpecificImages = getVariantImages(this.product.media, this.product.options[this.colorIndex], this.variant.option1)
      if(variantSpecificImages.length)
        return variantSpecificImages;

      return this.product.media;
    },
    onSale() {
      return this.variant && this.variant.price < this.variant.compare_at_price;
    },
    badges() {
      return badgeList(this.product, this.variant, this.onSale);
    },
    swiperOptionsMain() {
      const vue = this;
      let adjustedInitialSlide = this.initialSlide;
      const variantImageSrcs = this.productMedia.map(image => image.src.split('?')[0].replace('http:','').replace('https:',''));
      if(window.location.href.includes('variant=') && variantImageSrcs.includes(this.variant.image.src.split('?')[0])) {
        adjustedInitialSlide = variantImageSrcs.indexOf(this.variant.image.src.split('?')[0]);
      }

      return {
        initialSlide: adjustedInitialSlide,
        centeredSlides: true,
        pagination: {
          el: '.pdp-gallery__pagination',
          clickable: true,
        },
        threshold: 50,
        iOSEdgeSwipeDetection: true,
        iOSEdgeSwipeThreshold: 100,
        loop: true,
        on: {
          slideChange: function () {
            swiperLoopSlideChange(this, this.params.slidesPerView, vue.thumbSlideTo);
          },
        }
      }
    },
    swiperOptionThumbs() {
      let adjustedInitialSlide = this.initialSlide;
      const variantImageSrcs = this.productMedia.map(image => image.src.split('?')[0].replace('http:','').replace('https:',''));
      if(window.location.href.includes('variant=') && variantImageSrcs.includes(this.variant.image.src.split('?')[0])) {
        adjustedInitialSlide = variantImageSrcs.indexOf(this.variant.image.src.split('?')[0]);
      }

      return {
        initialSlide: adjustedInitialSlide > 0 ? adjustedInitialSlide - 1 : 0,
        spaceBetween: 8,
        height: 80,
        threshold: 15,
        direction: 'vertical',
        loop: true,
        on: {
          init: function () {
            // Get slides per view based on gallery height and slide height
            const $galleryContainer = document.querySelector('.pdp-gallery__main-container');
            if (!$galleryContainer) {
              return;
            }
            const slidesPerView = Math.floor($galleryContainer.getBoundingClientRect().height / (this.params.height + this.params.spaceBetween));

            swiperLoopInit(this, slidesPerView);
          },
          slideChange: function () {
            // Get slides per view based on gallery height and slide height
            const $galleryContainer = document.querySelector('.pdp-gallery__main-container');
            if (!$galleryContainer) {
              return;
            }
            const slidesPerView = Math.floor($galleryContainer.getBoundingClientRect().height / (this.params.height + this.params.spaceBetween));

            swiperLoopSlideChange(this, slidesPerView);
          }
        }
      }
    },
  },
  methods: {
    getProductImageAlt,
    zoomCenter (event) {
      this.zoomState = true;
      this.$nextTick(() => {
        const zoomContainer = this.$refs.zoom[this.slideIndexMain()];
        if(zoomContainer)
          zoomContainer.zoomCenter();
      })
    },

    setZoom(event, state) {
      this.zoomState = state;
      this.$nextTick(() => {
        const zoomContainer = this.$refs.zoom[this.slideIndexMain()];
        if(zoomContainer)
          zoomContainer.move(event);
      })
    },
    slideNextMain() {
      this.$refs.swiper.swiper.slideNext();
      this.thumbSlideTo(this.slideIndexMain());
    },
    slidePrevMain() {
      this.$refs.swiper.swiper.slidePrev();
      this.thumbSlideTo(this.slideIndexMain());
    },
    slideNextThumb() {
      this.$refs.thumbSwiper.swiper.slideNext();
    },
    slidePrevThumb() {
      this.$refs.thumbSwiper.swiper.slidePrev();
    },
    /** @returns {Number} */
    slideIndexMain() {
      if(!this.$refs.swiper) return 0;
      return this.$refs.swiper.swiper.activeIndex - 1;
    },
    /** @returns {Number} */
    slideIndexThumb() {
      if(!this.$refs.thumbSwiper) return 0;
      return this.$refs.thumbSwiper.swiper.activeIndex - 1;
    },
    thumbSlideTo(index) {
      // Get array of non duplicate slides
      const nonDupSlides = [...this.$refs.thumbSwiper.swiper.slides].filter((el) => !el.matches('.swiper-slide-duplicate'));

      // Slide main swiper to index
      this.$refs.swiper.swiper.slideToLoop(index);

      if (this.thumbsShouldSlide) {
        // Get slides per view based on gallery height and slide height
        const $galleryContainer = document.querySelector('.pdp-gallery__main-container');
        if (!$galleryContainer) {
          return;
        }
        const slidesPerView = Math.floor($galleryContainer.getBoundingClientRect().height / (this.$refs.thumbSwiper.swiper.params.height + this.$refs.thumbSwiper.swiper.params.spaceBetween));

        // if new index + slidesPerView is greather then the number of slides and (stops duplicates from showing)
        // if the new index is less than the number of slides (not a duplicate)
        //// slide to last set of slides
        if (index - 1 > nonDupSlides.length - slidesPerView && index - 1 < nonDupSlides.length) {
          this.$refs.thumbSwiper.swiper.slideToLoop(nonDupSlides.length - slidesPerView);
        } else {
          // otherwise slide to index
          this.$refs.thumbSwiper.swiper.slideToLoop(index > 0 ? index - 1 : index);
        }
      }
    },
    updateThumbsShouldSlide() {
      // Get slides per view based on gallery height and slide height
      const $galleryContainer = document.querySelector('.pdp-gallery__main-container');
      if (!$galleryContainer) {
        this.thumbsShouldSlide = false;
        return;
      }

      const slidesPerView = Math.floor($galleryContainer.getBoundingClientRect().height / (this.$refs.thumbSwiper.swiper.params.height + this.$refs.thumbSwiper.swiper.params.spaceBetween));
      this.thumbsShouldSlide = this.productMedia.length > slidesPerView;
    },
  },
  watch: {
    variant(newVariant) {
      if(!newVariant) return;

      // re-render swipers to make sure duplicate slides are in correct position
      this.mainSwiperKey += 1;
      this.thumbSwiperKey += 1;
    }
  },
  mounted() {
    this.updateThumbsShouldSlide();
    window.addEventListener('resize', this.updateThumbsShouldSlide);
  }
}
</script>

<style lang="scss" scoped>
  /deep/ .swiper-wrapper {
    display: flex;
    align-items: center;
  }

  /deep/ .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    background: $color-grey;
  }

  /deep/ .swiper-pagination-bullet-active {
    background: $color-brand-primary;
  }

  .pdp-gallery {
    margin: 0;
    width: 100%;
    
    &__main {
      position: relative;
      overflow: hidden;
      max-width: 100%;
      width: 100%;
    }

    .zoom-on-hover {
      text-align: center;
    }

    &__badge-container {
      display: none;
      align-items: center;
      min-height: 25px;
    }

    &__logo-badge {
      z-index: 4;
      height: 40px;
      margin-right: 16px;
      margin-left: 5%;
      img {
        height: 40px;
        width: auto;
      }
      @include mobile-only {
        height: 35px;
        img {
          height: 35px;
        }
      }
    }

    .badge {
      position: relative;
      top: unset;
      left: unset;
      pointer-events: none;
      float: right;
      margin-left: 16px;
      padding: 0 32px;
      line-height: 26px;
      height: 25px;
      border-radius: 4px 4px 0 0; 
      font-size: rem(12);

      &.has-logo-badge {
        @include mobile-only {
          margin-left: auto;
          margin-right: 5%;
        }
      }
    }

    &__button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 5;
      font-size: 0;
      cursor: pointer;
    }

    &__pagination {
      position: relative;
      font-size: 0;
      z-index: 11;
    }

    &__button--next {
      right: 8px;
    }

    &__button--prev {
      left: 8px;
    }

    &__button--next svg {
      margin-right: -2px;
    }

    &__button--prev svg {
      margin-left: -2px;
    }

    &__zoom-icon {
      position: absolute;
      top: 8px;
      right: 8px;
      display: inline-block;
      width: 40px;
      height: 40px;
      background: $color-zoom-background;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 31;
    }

    &__zoom-icon * {
      pointer-events: none;
    }

    &__thumbs-slider {
      display: none;
    }

    &__thumbs {
      display: none;
    }

    @include tablet-up {      
      display: inline-block;
      min-width: 50%;
      flex-basis: 50%;
      width: 50%;

      &__badge-container {
        display: flex;
      }

      &__main-container {
        display: inline-flex;
        justify-content: flex-end;
        max-width: 100%;
        // height: 40vw;
        max-height: 560px;
        width: 100%;
        position: relative;
        overflow: hidden;
      }

      &__main {
        display: inline-flex;
        align-items: center;
        width: calc(100% - 5% - 80px);
        order: 1;
        border: 1px solid $color-light-grey;
      }

      &__main .swiper-slide {
        width: 100% !important;
      }

      &__badge-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }

      &__main &__button {
        opacity: 0;
        transition: opacity .2s linear;
      }

      &:hover &__main &__button {
        opacity: 1;
      }

      &__pagination {
        display: none;
      }

      &__thumbs-slider {
        display: block;
        // max-height: 560px;
        max-height: 100%;
      }

      &__thumbs-slider .swiper-slide {
        border-top-color: $color-light-grey !important;
        border-left-color: $color-light-grey !important;
        border-right-color: $color-light-grey !important;
        border: 1px solid $color-light-grey;
        max-height: 80px;
      }

      &__thumbs-slider .swiper-slide.pdp-gallery__thumbs-slide--active {
        border-bottom-width: 2px;
      }

      &__thumbs-slider .swiper-slide-duplicate {
        opacity: 0;
        visibility: hidden;
      }

      &__thumbs-slider button {
        height: 100%;
        width: 100%;
        overflow: hidden;
      }

      &__thumbs-slider img {
        // width: 153px;
        max-width: 100%;
      }

      .zoom-on-hover {
        cursor: zoom-in;
      }

      .zoom-on-hover .zoom {
        cursor: zoom-out;
      }

      &__zoom-icon {
        width: 30px;
        height: 30px;
      }

      &__zoom-icon svg {
        width: 16px !important;
        height: 16px !important;
      }

      &__button {
        width: 40px;
        height: 40px;
      }

      &__thumbs {
        position: absolute;
        left: 0;
        display: flex;
        align-items: center;
        overflow: hidden;
        display: inline-block;
        max-width: 80px;
        margin-right: percentage(strip-unit(80px / $container-max-width));
      }

      &__button-thumb {
        position: absolute;
        left: 0;
        width: 80px;
        height: 32px;
        background: $color-black;
        opacity: .3;
        align-items: center;
        justify-content: center;
        z-index: 5;
        transition: right .2s .2s ease, left .2s .2s ease;
        @include tablet-up {
          display: flex;
        }
      } 

      &__button-thumb svg {
        fill: $color-white;
      }

      &__button-thumb--next {
        bottom: 0;
      }

      &__button-thumb--prev {
        top: 0;
      }

      &__button-thumb--next:disabled {
        bottom: -33px;
      }

      &__button-thumb--prev:disabled {
        top: -33px;
      }
    }

    @include desktop-up {
      width: 58%;
    }
  }

  .pdp-gallery.pdp-gallery--zooming {
    .pdp-gallery__main .pdp-gallery__button {
      pointer-events: none;
      opacity: 0;
    }
  }
</style>