<div class="customers account-dash addresses-template">
  {%- render 'account-nav' -%}

  <div class="account-content-area">
    <div id="addresses-content" class="panel">
      <h2>Address Book</h2>

      {% paginate customer.addresses by 5 %}

        {% for address in customer.addresses %}
          <div class="customer-address-container" data-address>
            {% form 'customer_address', address %}
              <div data-address-form class="customer-address-form u-hidden">

                <div class="edit-address-header">
                  {% unless address == customer.default_address %}
                    <div class="default-group">
                      {{ form.set_as_default_checkbox }}
                      <label class="address-make-default-label" for="address_default_address_{{ form.id }}">Make Default</label>
                    </div>
                  {% endunless %}
                </div>

                <div data-address="root">
                  <div class="input input--text input--labeled" data-line-count='2'>
                    <label for="EditAddressFirstName">{{ 'customer.addresses.first_name' | t }}</label>
                    <input type="text" id="EditAddressFirstName" name="address[first_name]" value="{{ form.first_name }}">
                  </div>

                  <div class="input input--text input--labeled" data-line-count='2'>
                    <label for="EditAddressLastName">{{ 'customer.addresses.last_name' | t }}</label>
                    <input type="text" id="EditAddressLastName" name="address[last_name]" value="{{ form.last_name }}">
                  </div>

                  <div class="input input--text input--labeled">
                    <label for="EditAddressCompany">{{ 'customer.addresses.company' | t }}</label>
                    <input type="text" id="EditAddressCompany" name="address[company]" value="{{ form.company }}">
                  </div>

                  <div class="input input--text input--labeled">
                    <label for="EditAddressAddress1">{{ 'customer.addresses.address1' | t }}</label>
                    <input type="text" id="EditAddressAddress1" name="address[address1]" value="{{ form.address1 }}">
                  </div>

                  <div class="input input--text input--labeled">
                    <label for="EditAddressAddress2">{{ 'customer.addresses.address2' | t }}</label>
                    <input type="text" id="EditAddressAddress2" name="address[address2]" value="{{ form.address2 }}">
                  </div>

                  <div class="input input--text input--labeled">
                    <label for="EditAddressCity">{{ 'customer.addresses.city' | t }}</label>
                    <input type="text" id="EditAddressCity" name="address[city]" value="{{ form.city }}">
                  </div>

                  <div class="input input--text input--labeled">
                    <label for="EditAddressCountry">{{ 'customer.addresses.country' | t }}</label>
                    <select id="EditAddressCountry" name="address[country]" data-default="{{ address.country_code }}"></select>
                  </div>

                  <div class="input input--text input--labeled">
                    <label for="EditAddressProvince">{{ 'customer.addresses.province' | t }}</label>
                    <select id="EditAddressProvince" name="address[province]" data-default="{{ address.province_code }}"></select>
                 </div>

                  <div class="input input--text input--labeled">
                    <label for="EditAddressZip">{{ 'customer.addresses.zip' | t }}</label>
                    <input type="text" id="EditAddressZip" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters">
                  </div>

                  <div class="input input--text input--labeled">
                    <label for="EditAddressPhone">{{ 'customer.addresses.phone' | t }}</label>
                    <input type="tel" id="EditAddressPhone" name="address[phone]" value="{{ form.phone }}">
                  </div>
                </div>

                <div class="button-group">
                  <div class="button-container"><button class="account-button button button--primary" type="submit">SAVE</button></div>
                  <div class="button-container">
                    <button class="account-button button button--secondary" type="button" data-address-toggle data-form-id="{{ form.id }}">CANCEL</button>
                  </div>
                </div>

              </div>
            {% endform %}
            <div class="customer-address">
              {% if address == customer.default_address %}
                <div>
                  <span class="h7 customer-address-default-title">DEFAULT ADDRESS</span>
                  {% if address.name != blank %}
                    <p class="customer-address-name">{{ address.name }}</p>
                  {% endif %}
                  <p class="customer-address-details">
                    {% if address.address1 != blank  %}
                      <span>{{ address.address1 }}</span>
                    {% endif %}
                    {% if address.address2 != blank %}
                      <span>{{ address.address2 }}</span>
                    {% endif %}

                    <span>{% if address.city != blank %}
                      {{ address.city }},
                    {% endif %} {% if address.province_code != blank or address.zip != blank %}
                      {{ address.province_code }} {{ address.zip }}
                    {% endif %}</span>
                  </p>
                </div>
              {% else %}
                <div>
                  {% if address.name != blank %}
                    <p class="customer-address-name">{{ address.name }}</p>
                  {% endif %}
                  <p class="customer-address-details">
                    {% if address.address1 != blank  %}
                      <span>{{ address.address1 }}</span>
                    {% endif %}
                    {% if address.address2 != blank %}
                      <span>{{ address.address2 }}</span>
                    {% endif %}

                    <span>{% if address.city != blank %}
                      {{ address.city }},
                    {% endif %} {% if address.province_code != blank or address.zip != blank %}
                      {{ address.province_code }} {{ address.zip }}
                    {% endif %}</span>
                  </p>
                </div>
              {% endif %}
              <div class="address-card-menu">
                <ul>
                  <li>
                    <button class="edit button button--primary" data-address-toggle>Edit</button>
                  </li>
                  <li>
                    <form data-address-delete-form method="post" action="/account/addresses/{{ address.id }}" data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}">
                      <input type="hidden" name="_method" value="delete"/>
                      <button class="delete button button--secondary" type="submit">
                        {{ 'customer.addresses.delete' | t }}
                      </button>
                    </form>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        {% endfor %}

        <div class="customer-address-container">
          <div data-address-form class="customer-address-form u-hidden">
            {% form 'customer_address', customer.new_address %}

              <div class="edit-address-header">
                <div class="default-group">
                  {{ form.set_as_default_checkbox }}
                  <label class="address-make-default-label" for="address_default_address_{{ form.id }}">Make Default</label>
                </div>
              </div>

              <div data-address="root">
                <div class="input input--text input--labeled">
                  <input placeholder=" " type="text" id="AddressFirstName" name="address[first_name]" value="{{ form.first_name }}">
                  <label for="AddressFirstName">{{ 'customer.addresses.first_name' | t }}</label>
                </div>

                <div class="input input--text input--labeled">
                  <input placeholder=" " type="text" id="AddressLastName" name="address[last_name]" value="{{ form.last_name }}">
                  <label for="AddressLastName">{{ 'customer.addresses.last_name' | t }}</label>
                </div>

                <div class="input input--text input--labeled">
                  <input placeholder=" " type="text" id="AddressCompany" name="address[company]" value="{{ form.company }}">
                  <label for="AddressCompany">{{ 'customer.addresses.company' | t }}</label>
                </div>

                <div class="input input--text input--labeled">
                  <input placeholder=" " type="text" id="AddressAddress1" required="required" name="address[address1]" value="{{ form.address1 }}">
                  <label for="AddressAddress1">{{ 'customer.addresses.address1' | t }}</label>
                </div>

                <div class="input input--text input--labeled">
                  <input placeholder=" " type="text" id="AddressAddress2" name="address[address2]" value="{{ form.address2 }}">
                  <label for="AddressAddress2">{{ 'customer.addresses.address2' | t }}</label>
                </div>

                <div class="input input--text input--labeled">
                  <input placeholder=" " type="text" id="AddressCity" required="required" name="address[city]" value="{{ form.city }}">
                  <label for="AddressCity">{{ 'customer.addresses.city' | t }}</label>
                </div>

                <div class="input">
                  <label class="u-hidden" for="AddressCountry">{{ 'customer.addresses.country' | t }}</label>
                  <select id="AddressCountry" name="address[country]" required="required" data-default="{{ form.country }}"></select>
               </div>

                <div class="input">
                  <label class="u-hidden" for="AddressProvince">{{ 'customer.addresses.province' | t }}</label>
                  <select id="AddressProvince" name="address[province]" data-default="{{ form.province }}"></select>
                </div>

                <div class="input input--text input--labeled">
                  <input placeholder=" " type="text" id="AddressZip" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters">
                  <label for="AddressZip">{{ 'customer.addresses.zip' | t }}</label>
                </div>

                <div class="input input--text input--labeled">
                  <input placeholder=" " type="tel" id="AddressPhone" name="address[phone]" value="{{ form.phone }}">
                  <label for="AddressPhone">{{ 'customer.addresses.phone' | t }}</label>
                </div>
              </div>

              <div class="button-group">
                <div class="button-container"><button class="button button--primary" type="submit">SAVE</button></div>
                <div class="button-container">
                  <button class="account-button button button--secondary" type="button" data-address-toggle>CANCEL</button>
                </div>
              </div>

            {% endform %}
          </div>

          <button class="account-add-address" type="button" data-address-toggle><span><icon name="plus" size="24px" /></span> Add New Address</button>

          {% if paginate.pages > 1 %}
            <div class="account__pagination">
              <div class="container">
                <div class="pagination">
                  <div class="pagination__items">
                    {{ paginate | default_pagination: next: '<i class="icon icon--right-t"></i>', previous: '<i class="icon icon--left-t"></i>' }}
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
        </div>

      {% endpaginate %}
    </div>
  </div>
</div>
