<div class="customers login-template">
  {% if settings.account_image != blank %}
    <div class="login-splash" style="background-image: url('{{ settings.account_image | img_url:'1440x' }}');"></div>
  {% endif %}
  <div class="login-form">
    <h1 class="h3">{{ settings.login_heading }}</h1>
    <p class="login-form__blurb body-md">{{ settings.login_blurb }}</p>
    <div class="form-state-tabs login-form__ctas">
      <a href="/account/login" class="login-form__cta login-form__cta--active">Login</a>
      <a href="/account/register" class="login-form__cta">Create Account</a>
    </div>
    <div data-login-form>
      <div class="form-container">
        {% form 'customer_login' %}
          <div class="login-fields">
            <div class="input input--labeled">
              <input type="email" name="customer[email]" id="CustomerEmail"
                class="customer-login-input{% if form.errors contains 'email' %} input-error{% endif %}" placeholder=" "
                class="customer-login-input"
                spellcheck="false" autocomplete="off" autocapitalize="off" autofocus>
              <label for="CustomerEmail" class="label-hidden">Email</label>
            </div>
            <div class="input input--labeled">
              <input type="password" name="customer[password]" id="CustomerPassword"
                class="customer-login-input{% if form.errors contains 'password' %} input-error{% endif %}"
                placeholder=" ">
              <label for="CustomerPassword" class="label-hidden">Password</label>
            </div>
            {% if form.errors %}
              {{ form.errors | default_errors }}
            {% endif %}
          </div>
          <div class="login-buttons">
            <input type="submit" class="account-button button button--primary" value="{{ 'customer.login.sign_in' | t }}">
            <a class="forgot-password" href="#recover" @click.prevent="$refs.recoveryModal.open()" data-recover-toggle><span>Forgot Password <icon name="chevron-right" size="9px" /></span></a>
          </div>
        {% endform %}
      </div>
    </div>
  </div>

  {% form 'recover_customer_password' %}
    <modal ref="recoveryModal" {% if form.posted_successfully? or form.errors %}:auto-open="true"{% endif %}>
      <template v-slot:content>
        <div class="login-recovery-modal" data-recover-form>
          <div class="login-recovery-form{% if form.posted_successfully? %} u-hidden{% endif %}">

            <h2>Reset Your Password</h2>
            <p>We will send you an email to reset your password.</p>

            <div class="login-reset-form-container">
              <div class="input input--labeled">
                <input type="email" name="email" id="RecoverEmail" onkeydown="return event.key != 'Enter';"
                       placeholder=" "
                       class="customer-login-input"
                       spellcheck="false" autocomplete="off" autocapitalize="off" required="required">
                <label for="RecoverEmail" class="label-hidden">
                  {{ 'customer.recover_password.email' | t }}
                </label>
              </div>

              {% if form.errors %}
                {{ form.errors | default_errors }}
              {% endif %}
              <div class="button-container">
                <input type="submit" class="button login-reset-cta login-reset-cta--submit" value="Send">
              </div>
              <div class="button-container">
                <input type="button" @click.prevent="$refs.recoveryModal.close()" class="button login-reset-cta login-reset-cta--cancel" value="Cancel">
              </div>
            </div>
          </div>

          <div class="recovery-sent {% if form.posted_successfully? %}{% else %}u-hidden{% endif %}">
            <h2>Password Sent!</h2>
            <div class="form-success" data-reset-success>
              <p id="confirm_text">We’ve sent a link to your email that you can use to reset your password.</p>
              <div class="button-container">
                <input type="button" @click.prevent="$refs.recoveryModal.close()" class="button button--secondary" value="Close">
              </div>
            </div>
          </div>
        </div>
      </template>
    </modal>
  {% endform %}
</div>
