<div class="customers form-reset-password">
  <div class="form-container">
    {% form 'reset_customer_password' %}

      <div class="reset-password-heading-container">
        <h1>Reset Password</h1>
        <p>{{ 'customer.reset_password.subtext' | t: email: email }}</p>
      </div>

      {{ form.errors | default_errors }}

      <div class="input">
        <label for="ResetPassword" class="label-hidden">
          {{ 'customer.reset_password.password' | t }}
        </label>
        <input type="password"
          name="customer[password]"
          id="ResetPassword"
          class="{% if form.errors contains 'password' %}input-error{% endif %}"
          placeholder="{{ 'customer.reset_password.password' | t }}">
      </div>

      <div class="input">
        <label for="PasswordConfirmation" class="label-hidden">
          {{ 'customer.reset_password.password_confirm' | t }}
        </label>
        <input type="password"
          name="customer[password_confirmation]"
          id="PasswordConfirmation"
          class="{% if form.errors contains 'password_confirmation' %}input-error{% endif %}"
          placeholder="{{ 'customer.reset_password.password_confirm' | t }}">
      </div>

      <div class="button-container">
        <input type="submit" class="account-button button button--secondary" value="{{ 'customer.reset_password.submit' | t }}">
      </div>
    {% endform %}
  </div>
</div>
