<template lang="pug">
  div.blogsection(:style="containerStyles" )
    .container.featuredArticlesContainer
      .featured-articles()
        .featured-articles__header-container
          h2.h3.featured-articles__heading(v-if="featuredArticles.heading" :style="headingColor(featuredArticles.headerColor, featuredArticles.borderColor)") {{ featuredArticles.heading }}
          v-button.featured-articles__button.button(v-if="$mq !== 'mobile'" :class="featuredArticles.titleButtonStyles" :href="featuredArticles.titleButtonUrl" tag="a") {{ featuredArticles.titleButton }}
        .featured-articles__articles(v-if="!['mobile', 'tablet'].includes($mq)")
          a.featured-articles__article( v-for="(article, index) in featuredArticles.articles" :href="article.articleUrl" :key="index" :class="featuredArticles.textColor")
              .featured-articles__image(data-clip-img, :style="{backgroundImage: `url('${article.articleImg}')`}")
              span.preheader.featured-articles__preheading {{ article.blogName }}
              h5.h5.featured-articles__title(:style="colorStyles(featuredArticles.articleTitleColor)") {{ article.articleTitle }}
              .featured-articles__content(:style="colorStyles(featuredArticles.articleTextColor)") {{textPreview(article.articleContent)}}
              v-link.featured-articles__read-more.link.link--primary(:style="colorStyles(featuredArticles.articleLinkColor)") Read More
      Carousel(ref="blogCarousel", :infinite="true", :slides-to-show="$mq === 'mobile' ? 1 : 2", :dots="true", :centerMode="false", v-if="['mobile', 'tablet'].includes($mq)")
        Slide( v-for="(article, index) in featuredArticles.articles" :key="index")
          a.featured-articles__article(:href="article.articleUrl" :class="featuredArticles.textColor")
            .featured-articles__image(data-clip-img, :style="{backgroundImage: `url('${article.articleImg}')`}")
            span.preheader.featured-articles__preheading {{ article.blogName }}
            h5.h5.featured-articles__title(:style="colorStyles(featuredArticles.articleTitleColor)") {{ article.articleTitle }}
            .featured-articles__content(:style="colorStyles(featuredArticles.articleTextColor)") {{textPreview(article.articleContent)}}
            v-link.featured-articles__read-more.link.link--primary(:style="colorStyles(featuredArticles.articleLinkColor)") Read More
    .mobile-featured-articles__button(v-if="['mobile', 'tablet'].includes($mq)")
      v-button.featured-articles__button.button(v-if="$mq == 'mobile'" :class="featuredArticles.titleButtonStyles" :href="featuredArticles.titleButtonUrl" tag="a") {{ featuredArticles.titleButton }}

</template>

<script>
  import Icon from 'scripts/components/basic/Icon.vue'
  import VButton from 'scripts/components/buttons/VButton.vue'
  import VLink from 'scripts/components/buttons/VLink.vue'
  import { px } from 'scripts/filters/string.js'
  import { checkUndefined } from 'scripts/helpers/util.js';
  import Carousel from 'scripts/components/basic/Carousel.vue';
  import Slide from 'scripts/components/basic/Slide.vue';

  export default {
    name: 'BlogSectionArticlesStatic',
    components: {
      Icon,
      VButton,
      VLink,
      Carousel,
      Slide
    },
    props: {
      featuredArticles: {
        type: Object,
        default: () => ({
          backgroundColor: String,
          backgroundSecondaryColor: String,
          headerColor: String,
          borderColor: String,
          articleTitleColor: String,
          articleLinkColor: String,
          articleTextColor: String,
          textColor: String,
          heading: String,
          titleButton: String,
          titleButtonUrl: String,
          titleButtonStyles: String,
          enableCta: Boolean,
          ctaLayout: String,
          marginTop: Number,
          marginBottom: Number,
          articles: {
            type: Array,
            default: () => ([
              {
                blogName: String,
                articleTitle: String,
                articleUrl: String,
                articleImg: String,
                articleContent: String
              }
            ])
          }
        })
      }
    },
    computed: {
      containerStyles() {
        if(!['mobile', 'tablet'].includes(this.$mq)){
          return {
            'padding-top': px(checkUndefined(this.featuredArticles.marginTop, 56)),
            'padding-bottom': px(checkUndefined(this.featuredArticles.marginBottom, 56)),
            'background': `linear-gradient(180deg, ${this.featuredArticles.backgroundColor} 35%, ${this.featuredArticles.backgroundSecondaryColor} 35%)`
          };
        }else{
          let padTop = this.featuredArticles.marginTop / 2;
          let padBottom = this.featuredArticles.marginTop / 2;
          return {
            'padding-top': px(padTop),
            'padding-bottom': px(padBottom),
            'background': `linear-gradient(180deg, ${this.featuredArticles.backgroundColor} 35%, ${this.featuredArticles.backgroundSecondaryColor} 35%)`
          };
        }
      }
    },
    methods: {
      colorStyles(color) {
        return {
          'color': color
        }
      },
      headingColor(color, color2) {
        return {
          'color': color,
          'border-color': color2
        }
      },
      textPreview(str) {

      if (str.length <= 100){
        return str
      }else{
        return (str.substr(0, str.lastIndexOf(' ', 150)) + "...");
      }

      }
    }
  }
</script>

<style scoped lang="scss">

  .container.featuredArticlesContainer::v-deep .carousel__dots {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 18px;
    box-sizing: border-box;
    width: 67px;
    border: 1px solid $color-v-light-grey;
    border-radius: 4px;
    background-color: $color-white;
    padding: 11.5px 0px 11.5px 0px;
    box-shadow: 0 1px 1px 0 #0000001f;
  }

  .container.featuredArticlesContainer::v-deep .carousel__dots li.is-active {
    background-color: $color-primary-red !important;
  }

  .container.featuredArticlesContainer::v-deep .carousel__dots li {
      background-color: $color-light-grey;
      border: none !important;
      height: 10px;
      width: 10px;
      margin: 2px;
  }

  .container.featuredArticlesContainer::v-deep .carousel.loaded{
    text-align: center;
  }

  .container.featuredArticlesContainer::v-deep .carousel__track {
    text-align: left;
  }

  .blogsection {
    padding: 80px 0px;
  }

  .featured-articles__header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .container {
    @include mobile-only {
      padding-right:0;
      padding-left: 12px;
    }
  }
  .mobile-featured-articles__button {
    width: 100%;
    text-align: center;
    margin-top: 25px;
  }
  .featuredArticlesContainer{
    @include mobile-only {
        padding-right: 12px
      }
  }

  .featured-articles {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    &__preheading {
      text-align: center;
      @include mobile-only {
        margin-bottom: 4px;
      }
    }
    &__heading {
      font-size: 1.75rem;
      font-weight: 600;
      letter-spacing: 0;
      line-height: 2.125rem;
      display: inline-block;
      text-transform: none;
      margin-bottom: 20px;
      &:after {
        content: '';
        position: absolute;
        left: 0px;
        top: 45px;
        width: 53px;
        border-bottom: 5px solid;
        border-color: inherit;
      }

      @include desktop-up {
        margin-bottom: 0px;
        &:after {
        top: 52px;
        }
      }

    }
    &__button {
      @include desktop-up {
        float: right;
      }
    }
    &__title {
      color: $color-off-black;
      font-size: 1.25rem;
      font-weight: 600;
      letter-spacing: 0.4px;
      line-height: 1.625rem;
      width: 340px;
      margin-bottom: 8px;
      text-transform: none;
      @include desktop-up {
        width: 100%;
      }
    }
    &__articles {
      width: 100%;
      margin-top: 40px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: inherit;
    }
    &__article {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      padding-top: 20px;
      padding-right: 0px;

      @include desktop-up {
        width: 33.3%;
        padding-right: 38px;

        &:last-child{
          padding-right: 0px;
        }
      }
    }
    &__image {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      margin-bottom: 16px;
      width: 100%;
      height: 231px;
      border-radius: 10px;
      box-shadow: 0 1px 4px 0 rgba(142,142,142,0.5);
    }
    &__content {
      font-size: 0.875rem;
      letter-spacing: -0.2px;
      line-height: 1.25rem;
    }
    &__cta-slide {
      display: flex;
      align-items: center;
      justify-content: center;
      max-height: 250px;
    }
    &__articles-mobile {
      width: 100%;
      margin: 0 auto;
      display: flex;
      overflow: scroll;
    }
    &__slide {
      h5 {
        margin-bottom: 24px;
      }
    }
    &__view-all-button {
      margin: 40px 0 0;
    }
    &__read-more {
      overflow: inherit;
      font-size: 0.875rem;
      font-weight: 500;
      letter-spacing: -0.2px;
      line-height: 1.25rem;
      width: 100%;
      padding: 8px 0px 0px 0px;
      .icon--arrow-right {
        margin-left: 6.5px;
      }
    }
  }
  h5 {
    margin: 0 0 16px 0;
  }
  .controls-container {
    display: flex;
    position: absolute;
    bottom: 124px;
    width: 100%;
    z-index: 5;
    @include mobile-only {
      justify-content: center;
    }
    .pagination-dots {
      display: flex;
      align-items: center;
      cursor: pointer;
      margin: 0 auto;
    }
    .dot {
      width: 6px;
      height: 6px;
      border-radius: 100%;
      background-color: $color-grey;
      margin: 4px;
    }
    .dot.active {
      background-color: $color-off-black;
    }
    &.controls-no-cta {
      bottom: 48px;
    }
  }
</style>
