<template lang="pug">
  div.hpc-tile(
    :class="settings.showTextOnHover ? 'hpc-tile--show-text-on-hover' : ''"
  )
    a.hpc-tile__inner(
      :href="block.settings.tile_cta_link"
      :style="{ 'background-image': `url(${block.settings.tile_image})` }"
    )
      .hpc-tile__overlay(:class="settings.overlayColor" :style="{opacity: 0. + settings.overlayOpacity / 100}")
      .row.hpc-tile__preheader
        span.preheader-sm-mobile.preheader-tablet-up.col-12-sm.col-8(
          :class="settings.subHeaderColor"
        )
          | {{ block.settings.tile_preheader }}
      .row
        h3.hpc-tile__title.col-12-sm.col-8(
          :class="settings.headerColor"
        )
          | {{ block.settings.tile_header }}
      div.fade-in-up-group
        .row
          .hpc-tile__description.client-generated.body-md.col-12-sm.col-8(
            :class="settings.textColor"
            v-html="truncateHTML(block.settings.tile_description, 156)"
          )
        component(
          :is="/link/.test(settings.ctaStyle) ? 'v-link': 'v-button'"
          tag="a"
          :class="settings.ctaStyle"
          :href="block.settings.tile_cta_link"
          v-if="block.settings.tile_cta_link"
        ) {{ block.settings.tile_cta_text }}
</template>

<script>
import truncateHTML from 'truncate-html';
import VButton from '../buttons/VButton.vue';
import VLink from '../buttons/VLink.vue';
import { imageSize } from '../../helpers/util';

export default {
  name: "CollectionLayoutTilesTile",
  components: {
    VButton,
    VLink
  },
  props: {
    block: Object,
    settings: {
      type: Object,
      default: Object,
    },
  },
  methods: {
    truncateHTML
  }
}
</script>

<style lang="scss">
  .hpc-tile {
    padding: 0 0 16px 0;

    &__inner {
      display: block;
      height: 100%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      padding: 16px;
      position: relative;
    }

    &__description {
      display: none;
      margin-bottom: 12px !important;

      blockquote, dd, div, dl, dt, figcaption, figure, hr, li, main, ol, p, pre, ul, strong {
        color: inherit;
      }
    }

    .row {
      margin-bottom: 8px;
    }

    &__overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }


    // small tiles
  .hpc-tile--config-5.hpc-tile--number-3,
  .hpc-tile--config-5.hpc-tile--number-4,
  .hpc-tile--config-5.hpc-tile--number-5,
  .hpc-tile--config-3.hpc-tile--number-2,
  .hpc-tile--config-3.hpc-tile--number-3 {
    .hpc-tile__description {
      width: 100%;
    }

    .hpc-tile__title { // h4
      @include h4-mobile;
    }
  }


  // big tiles
  .hpc-tile--config-5.hpc-tile--number-2,
  .hpc-tile--config-5.hpc-tile--number-1,
  .hpc-tile--config-3.hpc-tile--number-1,
  .hpc-tile--config-2.hpc-tile--number-1,
  .hpc-tile--config-2.hpc-tile--number-2 {
    .hpc-tile__title { // h3
      @include h3-mobile;
    }
  }

  @include tablet-up {
    .hpc-tile {
      padding: 12px;
    }

    .hpc-tile__inner {
      padding: 20px;
      overflow: hidden;
    }

    .hpc-tile__description {
      display: block;
    }

    .hpc-tile--show-text-on-hover {
      .fade-in-up-group {
        opacity: 0;
        transform: translateY(35%);
        transition: all .3s linear !important;
      }
    }

    .hpc-tile--show-text-on-hover:hover,
    .hpc-tile--show-text-on-hover:focus {
      .fade-in-up-group {
        opacity: 1;
        transform: translateY(0);
      }
    }

    // small tiles
    .hpc-tile--config-5.hpc-tile--number-3,
    .hpc-tile--config-5.hpc-tile--number-4,
    .hpc-tile--config-5.hpc-tile--number-5,
    .hpc-tile--config-3.hpc-tile--number-2,
    .hpc-tile--config-3.hpc-tile--number-3 {
      .hpc-tile__title { // h5
        @include h5-tablet;
      }
    }

    // big tiles
    .hpc-tile--config-5.hpc-tile--number-2,
    .hpc-tile--config-5.hpc-tile--number-1,
    .hpc-tile--config-3.hpc-tile--number-1,
    .hpc-tile--config-2.hpc-tile--number-1,
    .hpc-tile--config-2.hpc-tile--number-2 {
      .hpc-tile__title { // h4
        @include h4-tablet;
      }

      .button, .link {
        display: inline-block;
      }
    }

    .hpc-tile--config-5.hpc-tile--number-2,
    .hpc-tile--config-5.hpc-tile--number-1,
    .hpc-tile--config-3.hpc-tile--number-1 {
      padding-left: 0;
      padding-top: 0;
    }

    // small tiles
    .hpc-tile--config-5.hpc-tile--number-3,
    .hpc-tile--config-5.hpc-tile--number-4,
    .hpc-tile--config-5.hpc-tile--number-5,
    .hpc-tile--config-3.hpc-tile--number-2,
    .hpc-tile--config-3.hpc-tile--number-3 {
      padding-top: 0;
      padding-right: 0;
      padding-left: 0;
    }

    .hpc-tile--config-5.hpc-tile--number-5,
    .hpc-tile--config-3.hpc-tile--number-1,
    .hpc-tile--config-3.hpc-tile--number-3 {
      padding-bottom: 0;
    }

    .hpc-tile--config-5.hpc-tile--number-3,
    .hpc-tile--config-5.hpc-tile--number-4,
    .hpc-tile--config-5.hpc-tile--number-5,
    .hpc-tile--config-3.hpc-tile--number-2,
    .hpc-tile--config-3.hpc-tile--number-3 {
      .button, .link {
        display: inline-block;
      }
    }

    @include desktop-up {
      .hpc-tile {
        padding: 24px;
      }

      .hpc-tile__inner {
        padding: 40px;
      }

      // small tiles
      .hpc-tile--config-5.hpc-tile--number-3 .hpc-tile__inner,
      .hpc-tile--config-5.hpc-tile--number-4 .hpc-tile__inner,
      .hpc-tile--config-5.hpc-tile--number-5 .hpc-tile__inner,
      .hpc-tile--config-3.hpc-tile--number-2 .hpc-tile__inner,
      .hpc-tile--config-3.hpc-tile--number-3 .hpc-tile__inner {
        padding: 24px;
      }
    }
  }
</style>