<template lang="pug">
  .collection-links__wrapper(:style="wrapperStyle")
    .collection-links__container.container
      h5.collection-links__heading(:style="changeColor(schema.sectionTitleColor)") {{ schema.sectionTitle }}
        .arrow-container(v-show="show" v-if="!['mobile', 'tablet'].includes($mq)")
          Icon(name="ArrowRightDashed" class="leftarrowdashed" @mousedown="slideLeft" @mouseup="stopSlideLeft" @mouseleave="stopSlideLeft")
          Icon(name="ArrowRightDashed" class="rightarrowdashed" @mousedown="slideRight" @mouseup="stopSlideRight" @mouseleave="stopSlideRight")
      .collection-links__links-section
        .collection-links__link-wrapper(ref="linkWrapper")
          .collection-links__link-container(v-for="link in smallLinks" :key="link.id" :class="{'collection-links__link-container--active': activeLink === link.settings.linkUrl}")
            a.collection-links__link(:href="link.settings.linkUrl")
              span.strong-bold.body-md-sm(:style="pillStyle") {{ link.settings.linkTitle }}
</template>

<script>
import Icon from 'scripts/components/basic/Icon.vue';
import VLink from 'scripts/components/buttons/VLink.vue';

import { px } from 'scripts/filters/string.js';

export default {
  name: 'CollectionLinks',
  components: {
    Icon,
    VLink
  },
  data: () => ({ show: false, stopscroll: false, arrowcolor: false }),
  methods: {
    slideRight() {
      let that = this;
      that.stopscroll = setInterval(function(){
        that.$refs.linkWrapper.scrollLeft += 2
      }, 1)
    },
    stopSlideRight() {
      clearInterval(this.stopscroll)
    },
    slideLeft() {
      let that = this;
      that.stopscroll = setInterval(function(){
        that.$refs.linkWrapper.scrollLeft -= 2
      }, 1)
    },
    stopSlideLeft() {
      var that = this;
      clearInterval(that.stopscroll)
    },
    changebackgroundColor (color) {
      return `background-color: ${color}`;
    },
    changeColor (color) {
      return `color: ${color}`;
    }
  },
  mounted() {
    if(this.$refs.linkWrapper.clientWidth < this.$refs.linkWrapper.scrollWidth){
      var that = this
      that.show = true
    }
  },
  computed: {
    wrapperStyle() {
      if(!['mobile', 'tablet'].includes(this.$mq)){
      return {
        paddingTop: px(this.schema.topMargin),
        paddingBottom: px(this.schema.bottomMargin),
        backgroundColor: (this.schema.sectionBgColor)
      };
      }else{
      let padTop = this.schema.topMargin / 2
      let padBottom = this.schema.bottomMargin / 2
      return {
        paddingTop: px(padTop),
        paddingBottom: px(padBottom),
        backgroundColor: (this.schema.sectionBgColor)
      };
      }
    },
    pillStyle() {
      return {
        color: this.schema.pillColor
      };
    },
    largeLinkStyle() {
      if (this.largeLink.settings.bgImage) {
        return {
          backgroundImage: `url(${this.largeLink.settings.bgImage})`
        };
      }
    }
  },
  props: {
    schema: Object,
    smallLinks: Array,
    largeLink: Object,

    /** Optional: used on the collections page for supercollection navigation 
     *  On match, applies a class */
    activeLink: String,
  }
};
</script>

<style lang="scss" scoped>

.collection-links__link-wrapper::-webkit-scrollbar {
  width: 1em;
  height: 3.5px;
  @include mobile-only {
    display: none;
  }
}

.collection-links__link-wrapper::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.collection-links__link-wrapper::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #d13326;
}

svg.leftarrowdashed.icon.icon--ArrowRightDashed, svg.rightarrowdashed.icon.icon--ArrowRightDashed {
    filter: grayscale(100) brightness(2)
}

svg.leftarrowdashed.icon.icon--ArrowRightDashed {
    transform: rotate(180deg);
    padding-top: 1px;
}

svg.leftarrowdashed.icon.icon--ArrowRightDashed:hover {
    filter: none
}

svg.rightarrowdashed.icon.icon--ArrowRightDashed:hover {
    filter: none
}

.icon--ArrowRightDashed {
  margin-left: 5px;
  margin-right: 5px
}
.arrow-container {
    display: inline;
    float: right;
}

.collection-links {
  &__wrapper {
    padding-top: 80px;
    padding-bottom: 80px;
    @include mobile-only {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }
  &__container{
    @include mobile-only {
        padding-left: 0px;
        padding-right: 0px;
    }
  }
  &__heading {
    margin-bottom: 12.5px;
    font-size: 1.25rem;
    letter-spacing: 0.4px;
    line-height: 1.625rem;
    text-transform: none;
    @include mobile-only {
        padding-left: 16px;
        padding-right: 16px;
    }
  }
  &__large-link-heading {
    margin-bottom: 8px;
    max-width: 60%;
  }
  &__large-link-copy {
    margin-bottom: 16px;
    max-width: 60%;
  }
  &__large-link-anchor {
    display: block;
    max-width: 60%;
  }
  &__links-section {
    display: flex;
    flex-direction: column;
    margin-top: 10px
  }
  &__link-wrapper {
    width: 100%;
    overflow: auto;
    display: flex;
    height: 95px;
    padding-top: 15px;
    grid-gap: 8px;
    @include mobile-only {
      padding-bottom: 15px;
      height: auto;
    }
  }
  &__link-container {
    width: fit-content;
    min-width: 0;
    display: inline-table;
    @include mobile-only {
      &:first-child {
        border-left: 16px transparent solid;
      }
      &:last-child {
        border-right: 16px transparent solid;
      }
    }
  }
  &__large-link {
    padding: 20px;
    background-color: $color-white;
    background-repeat: no-repeat;
    background-size: 176px;
    background-position: calc(100% + 30px) calc(100% + 30px);
    margin-bottom: 8px;
  }
  &__link {
    justify-content: space-between;
    align-items: center;
    background-color: $color-white;
    padding: 12px 16px;
    box-shadow: 0 1px 1px 0 #00000026;
    transition: box-shadow 300ms ease, transform 300ms ease;
    box-sizing: border-box;
    height: 41px;
    width: 119px;
    border: 1px solid $color-light-grey;
    border-radius: 4px;
    background-color: $color-white;


    span {
      font-family: $font-family-secondary;
      font-size: 12px;
      letter-spacing: 0px;
      line-height: 22px;
      color: $color-black;
      max-width: calc(100% - 24px);
      white-space: nowrap;
      @include mobile-only {
        font-family: $font-family-primary;
        font-size: 12px;
        letter-spacing: 0;
        line-height: 16px;
      }
    }

    &:hover {
      box-shadow: inset 0 1px 1px 0 #00000026;
    }
  }
  @media (min-width: 960px) {
    &__links-section {
      flex-direction: row;
    }
    &__link-wrapper {
      overflow: auto;
      display: flex;
      height: 95px;
      padding-top: 15px;
    }
    &__large-link {
      margin-bottom: 0;
    }
  }
}
</style>