<template lang="pug">
  div.fifty-fifty(:style="componentStyles()")
    modal(v-if="schema.settings.modalHtml" ref="modal")
      .modal-content(slot="content" v-html="modalContent")
    .container
      split-wrapper(
        :imageWidthClass="schema.settings.imageWidth"
        :reversedClass="schema.settings.layout"
        :marginTop="0"
        :marginBottom="0"
        :class="{ 'sw__image-video' : schema.settings.backgroundVideoURL || schema.settings.youtubeVideoURL }"
      )
        template(slot="image")
          span.ff__image.ff__image--mobile(
            role="img"
            v-if="!schema.settings.backgroundVideoURL && !schema.settings.youtubeVideoURL && ['mobile', 'tablet'].includes($mq)"
            :style="`background-image: url(${schema.settings.imageMobile || schema.settings.imageDesktop});`",
            :aria-label="getImageAlt"
          )
          span.ff__image.ff__image--desktop.hidden-sm(
            role="img"
            v-if="!schema.settings.backgroundVideoURL && !schema.settings.youtubeVideoURL && !['mobile', 'tablet'].includes($mq)"
            :style="`background-image: url(${schema.settings.imageDesktop});`",
            :aria-label="getImageAlt"
          )

          video.ff__video(
            v-if="schema.settings.backgroundVideoURL"
            :src="schema.settings.backgroundVideoURL"
            loop
            playsinline
            autoplay
            controls
            mute
          )

          iframe.ff__video(
            v-else-if="schema.settings.youtubeVideoURL"
            :src="schema.settings.youtubeVideoURL + '?autoplay=1&start=1&loop=1'"
            :frameborder="0"
          )

        template(slot="content")
          .ff__main-wrap.fifty-fifty__content-wrapper(
            :class="[schema.settings.align]"
          )
            h2.ff__header.fifty-fifty__title(:style="changeColor(schema.settings.headerColor)" ref="uniqueName" :class="[schema.settings.imageWidth === 'sw--50' ? 'h3': 'h2']", v-if="schema.settings.header", v-html="schema.settings.header")
            p.subheader.ff__subheader(:style="changeColor(schema.settings.subHeaderColor)" v-if="schema.settings.subheader") {{ schema.settings.subheader }}
            div.ff__body.body-md.client-generated.fifty-fifty__content(v-if="schema.settings.body")
              div(:style="changeColor(schema.settings.bodyColor)" v-html="schema.settings.body")
            v-button(
              :tag="schema.settings.ctaUrl ? 'a' : 'button'"
              :href="schema.settings.ctaUrl"
              primary
              @click="buttonClick"
            ) {{schema.settings.ctaText}}
            slot(name="extraContent")
</template>

<script>
import AddToCart from '../buttons/AddToCart.vue';
import VButton from '../buttons/VButton.vue';
import VLink from '../buttons/VLink.vue';
import Modal from 'scripts/components/basic/Modal.vue';
import SplitWrapper from '../basic/SplitWrapper.vue';

export default {
  name: "FiftyFifty",
  props: {
    schema: Object,
  },
  computed: {
    getImageAlt () {
      return this.schema.settings.altText || this.schema.settings.preheader;
    }
  },
  data () {
    return {
      modalContent: '',
    }
  },
  methods: {
    changeColor (color) {
      return `color: ${color}`;
    },
    buttonClick () {
      if (!this.schema.settings.ctaUrl) this.$refs.modal.open();
      if (this.schema.settings.id) {
        setTimeout(() => {
          const contentElement = document.querySelector(`[data-modal-contents="${this.schema.settings.id}"]`);
          this.modalContent = contentElement.innerHTML;
        }, 800);
      }
    },
    componentStyles() {

      if(!['mobile', 'tablet'].includes(this.$mq)){

        return {
          'background-color': this.schema.settings.backgroundColor,
          'padding-top': `${this.schema.settings.marginTop}px`,
          'padding-bottom': `${this.schema.settings.marginBottom}px`
        };

      }else{

        let padTop = this.schema.settings.marginTop / 2;
        let padBottom = this.schema.settings.marginBottom / 2;

        return {
          'background-color': this.schema.settings.backgroundColor,
          'padding-top': `${padTop}px`,
          'padding-bottom': `${padBottom}px`
        };

      }

    },
  },
  mounted () {
    if (this.schema.settings.id && this.schema.settings.modalHtml) {
      const contentElement = document.querySelector(`[data-modal-contents="${this.schema.settings.id}"]`);
      this.modalContent = contentElement.innerHTML;
    }
  },
  beforeMount() {
    var spantext = this.schema.settings.header;
    var spancolor = `<span style="color: ${this.schema.settings.spanColor}">`
    var newspantext = spantext.replaceAll("<span>", spancolor);
    this.schema.settings.header = newspantext;
  },
  components: {
    VButton,
    VLink,
    SplitWrapper,
    AddToCart,
    Modal,
  }
}
</script>

<style lang="scss">
  .ff {
    &__main-wrap > * {
      margin-bottom: 16px;

      @include desktop-up {
        margin-bottom: 8px;
      }

    }

    &__main-wrap > *:last-child {
      margin-bottom: 0;
    }

    &__header {
      @include tablet-up {
        margin-bottom: 8px;
      }
    }

    &__body {
      margin-bottom: 24px;
    }

    &__body-margin-bottom--none {
      margin-bottom: 0;
    }

    .button {
      margin: 0;
    }
  }

  .fifty-fifty {

    /deep/ .sw {
      min-height: 430px;
    }

    /deep/ .sw__image {
      border-radius: 25px;
      box-shadow: 0 1px 1px 0 rgba(0,0,0,0.15);
      overflow: hidden;
      height: 256px;
      width: 340px;

      @include desktop-up {
        height: 408px;
        width: 544px;
      }

      .ff__video {
        height: auto;
        min-height: 0;
      }
    }

    .sw__image-video {
      .sw__image {
        box-shadow: none;
        display: flex;
        align-items: center;
      }
    }

    /deep/ .ff__image {
      border-radius: 25px;
      background-size: cover;
    }

    @include tablet-up {
      /deep/ .sw__main {
        padding: 5% 0 5% 10%;
      }

      /deep/ .sw--reverse .sw__main {
        padding: 5% 10% 5% 0;
      }
    }

    .fifty-fifty__content-wrapper {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      text-align: left;
      width: 100%;

      @include desktop-up {
        width: 430px;
      }
    }

    .fifty-fifty__title,
    .fifty-fifty__subtitle,
    .fifty-fifty__content {
      color: $color-black;
    }

    .fifty-fifty__title {
      color: $color-off-black;
      font-family: $font-gibson;
      font-size: 36px;
      font-weight: 600;
      letter-spacing: -0.1px;
      line-height: 42px;
      text-transform: inherit;
    }

    .fifty-fifty__subtitle {
      color: $color-off-black;
      font-family: $font-gibson;
      font-size: 18px;
      font-weight: 500;
      letter-spacing: -0.4px;
      line-height: 24px;
    }

    .fifty-fifty__content p {
      font-family: $font-gibson;
      color: $color-grayish-gray;
      font-size: 14px;
      letter-spacing: -0.2px;
      line-height: 20px;
    }
  }

  .free-sample__title {
    margin-bottom: 15px;
  }

  .free-sample__wrapper {
    text-align: center;

    @include tablet-up {
      text-align: left;
    }
  }

  .fifty-fifty {
    .modal-content {
      height: 100%;
      overflow: scroll;
    }

    .modal__content {
      height: 100%;
      width: 100%;
      max-width: 100%;
    }
  }
</style>
