<template lang="pug">
  div(:class="heroSchema.mobileBgColor")
    .hero-banner__container(v-if="$mq !== 'mobile'" :style="containerStyle" :class="heroSchema.layout")
      video.hero-banner__video(
        v-if="heroSchema.backgroundVideoURL && heroSchema.enableCta"
        :src="heroSchema.backgroundVideoURL"
        autoplay
        loop
        muted
        playsinline
      )
      a.hero-banner(v-if='heroSchema.enableCta' :class="[layoutHorizontal, layoutVertical($mq), textAlign]" :style='[backgroundStyles, layoutStyle]' :href='heroSchema.ctaUrl')
        .hero-banner__overlay(v-if="heroSchema.overlayEnable" :class="heroSchema.overlayColor" :style="overlayStyles")
        .hero-banner__content-container
          .hero-banner__content(:class="contentProperties.classes" :style="contentProperties.style")
            h4.preheader.hero-banner__preheading(v-if="heroSchema.preHeading", :class="heroSchema.preHeadingColor") {{heroSchema.preHeading}}
            h1.h1.hero-banner__heading(v-if="heroSchema.heading", :class="heroSchema.headingColor") {{heroSchema.heading}}
            h3.subheader.hero-banner__subheading(v-if="heroSchema.subHeading", :class="heroSchema.subHeadingColor") {{heroSchema.subHeading}}
            p.body-md.hero-banner__body-copy(v-if="heroSchema.copy", :class="heroSchema.copyColor") {{heroSchema.copy}}
            .hero-banner__cta-wrapper(v-if="heroSchema.enableCta && heroSchema.ctaText")
              v-button.hero-banner__cta(v-if="heroSchema.ctaLayout.includes('button')" :href='heroSchema.ctaUrl' :class="heroSchema.ctaLayout" tag="a") {{heroSchema.ctaText}}
              v-link.hero-banner__cta(v-if="heroSchema.ctaLayout.includes('link')" :href='heroSchema.ctaUrl' :class="heroSchema.ctaLayout") {{heroSchema.ctaText}}
      .hero-banner(v-else :class="[layoutHorizontal, layoutVertical($mq), textAlign]" :style='[backgroundStyles, layoutStyle]')
        video.hero-banner__video(
          v-if="heroSchema.backgroundVideoURL"
          :src="heroSchema.backgroundVideoURL"
          autoplay
          loop
          muted
          playsinline
        )
        .hero-banner__content-container
          .hero-banner__content(:class="contentProperties.classes" :style="contentProperties.style")
            h4.preheader.hero-banner__preheading(v-if="heroSchema.preHeading", :class="heroSchema.preHeadingColor") {{heroSchema.preHeading}}
            h1.h1.hero-banner__heading(v-if="heroSchema.heading", :class="heroSchema.headingColor") {{heroSchema.heading}}
            h3.subheader.hero-banner__subheading(v-if="heroSchema.subHeading", :class="heroSchema.subHeadingColor") {{heroSchema.subHeading}}
            p.body-md.hero-banner__body-copy(v-if="heroSchema.copy", :class="heroSchema.copyColor") {{heroSchema.copy}}
        .hero-banner__overlay(v-if="heroSchema.overlayEnable" :class="heroSchema.overlayColor" :style="overlayStyles")
      .hero-banner__scroll-trigger(v-if="heroSchema.enableScrollTrigger" @click.stop="scrollTrigger")
        icon(:fill-class="heroSchema.arrowColor" name="arrow_down" size="16px")
    .hero-banner__container(v-else :style="containerStyle" ref="main")
      .hero-banner(:class="[...textAlignMobile, layoutVertical($mq), heroSchema.mobileLayout]")
        .hero-banner__image-mobile( v-if="!heroSchema.backgroundVideoURL" :style="backgroundStyles")
        .hero-banner__overlay(v-if="isOverlayMobile" :class="heroSchema.overlayColor" :style="overlayStyles")
        video.hero-banner__video(
          v-if="heroSchema.backgroundVideoURL"
          :src="heroSchema.backgroundVideoURL"
          :style="videoStyleMobile"
          autoplay
          loop
          muted
          playsinline
        )
        .hero-banner__content(:class="[{[heroSchema.mobileBgColor]: heroSchema.mobileLayout === 'below'}, contentProperties.classes]" :style="contentProperties.style")
          h4.preheader.hero-banner__preheading(v-if="heroSchema.preHeading", :class="heroSchema.preHeadingColor") {{heroSchema.preHeading}}
          h1.h1.hero-banner__heading(v-if="heroSchema.heading", :class="heroSchema.headingColor") {{heroSchema.heading}}
          h3.subheader.hero-banner__subheading(v-if="heroSchema.subHeading", :class="heroSchema.subHeadingColor") {{heroSchema.subHeading}}
          p.body-md.hero-banner__body-copy(v-if="heroSchema.copy", :class="heroSchema.copyColor") {{heroSchema.copy}}
          .hero-banner__cta-wrapper(v-if="heroSchema.enableCta && heroSchema.ctaText")
            v-button.hero-banner__cta(v-if="heroSchema.ctaLayout.includes('button')" :href='heroSchema.ctaUrl' :class="heroSchema.ctaLayout" tag="a") {{heroSchema.ctaText}}
            v-link.hero-banner__cta(v-if="heroSchema.ctaLayout.includes('link')" :href='heroSchema.ctaUrl' :class="heroSchema.ctaLayout") {{heroSchema.ctaText}}
</template>

<script>
import { flexSwitch } from 'scripts/helpers/flex.js';
import { textAlignSwitch } from 'scripts/helpers/textAlign.js';
import { scrollToId } from 'scripts/helpers/scroll.js';
import Icon from 'scripts/components/basic/Icon.vue';
import VButton from 'scripts/components/buttons/VButton.vue';
import VLink from 'scripts/components/buttons/VLink.vue';
import { px } from 'scripts/filters/string.js';

export default {
  name: 'HeroBanner',
  components: {
    Icon,
    VButton,
    VLink
  },
  props: {
    heroSchema: {
      type: Object,
      default: () => ({
        layoutHorizontal: String,
        layoutVertical: String,
        mobileBgColor: String,
        enableScrollTrigger: Boolean,
        arrowColor: String,
        image: String,
        imageMobile: String,
        imageMobileEnable: Boolean,
        overlayEnable: Boolean,
        overlayColor: String,
        overlayOpacity: Number,
        preHeading: String,
        preHeadingColor: String,
        heading: String,
        headingColor: String,
        subHeading: String,
        subHeadingColor: String,
        copy: String,
        copyColor: String,
        enableCta: Boolean,
        ctaLayout: String,
        ctaText: String,
        ctaUrl: String
      })
    }
  },
  data() {
    return {
      overlayStyles: {
        opacity: `${this.heroSchema.overlayOpacity / 100}`
      },
      scrollTriggerIconStyles: {}
    };
  },
  computed: {
    layoutHorizontal() {
      return flexSwitch('justify', this.heroSchema.layoutHorizontal);
    },
    textAlign() {
      return textAlignSwitch(this.heroSchema.layoutHorizontal);
    },
    textAlignMobile() {
      return [textAlignSwitch(this.heroSchema.mobileTextAlignment), this.heroSchema.mobileTextAlignment === 'center' && this.heroSchema.mobileLayout === 'overlay' ? 'flex-align-center' : ''];
    },
    backgroundStyles() {
      if (this.heroSchema.backgroundVideoURL) {
        return;
      } else if (this.heroSchema.imageMobileEnable && ['mobile', 'tablet'].includes(this.$mq)) {
        return {
          backgroundImage: `url('${this.heroSchema.imageMobile}')`
        };
      } else {
        return {
          backgroundImage: `url('${this.heroSchema.image}')`
        };
      }
    },
    contentProperties() {
      return {
        classes: this.heroSchema.enableTextBox
          ? [
              {
                'hero-banner__content--text-box': true,
                'hero-banner__content--text-box-img': this.heroSchema
                  .textBoxBgImage
              },
              this.heroSchema.textBoxBgColor
            ]
          : undefined,
        style:
          this.heroSchema.enableTextBox && this.heroSchema.textBoxBgImage
            ? { backgroundImage: `url(${this.heroSchema.textBoxBgImage})` }
            : undefined
      };
    },
    containerStyle() {
      const {
        heroSchema: { bottomMargin, topMargin, maxWidth }
      } = this;
      if (this.$mq === 'mobile') {
        return {
          marginTop: px(topMargin / 2),
          marginBottom: px(bottomMargin / 2),
          maxWidth,
        };
      }
      return {
        marginTop: px(topMargin),
        marginBottom: px(bottomMargin),
        maxWidth
      };
    },
    layoutStyle() {
      return {
        minHeight: this.heroSchema.layout === 'short' ? '540px' : '720px'
      };
    },
    isOverlayMobile() {
      const { heroSchema } = this;
      return !!(
        heroSchema.overlayEnable &&
        !heroSchema.enableCta &&
        heroSchema.mobileLayout === 'overlay'
      );
    },
    videoStyleMobile() {
      const { heroSchema } = this;
      if ( heroSchema.mobileLayout === 'below' ) {
        return { position: `relative` };
      } else{
        return { position: `absolute` };
      }
    }
  },
  methods: {
    // get the next section below this and smoothly scroll to it
    scrollTrigger(e) {
      const nextElement = document.querySelector('.shopify-section.hero-banner')
        .nextSibling;
      if (nextElement) {
        const id = `#${nextElement.id}`;
        scrollToId(e, id);
      }
    },
    layoutVertical($breakpoint) {
      const isMobile = $breakpoint === 'mobile';
      const direction = isMobile ? 'justify' : 'align';
      if (this.heroSchema.enableTextBox) {
        // content in text box is always vertically centered
        return `flex-${direction}-center`;
      }
      return flexSwitch(direction, this.heroSchema.layoutVertical);
    }
  }
};
</script>

<style scoped lang="scss">
.hero-banner {
  position: relative;
  display: flex;
  width: 100%;
  padding: 64px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &__preheading,
  &__heading,
  &__subheading {
    margin-bottom: 4px;
  }

  @include desktop-up {
    &__preheading,
    &__heading,
    &__subheading {
      margin-bottom: 8px;
    }
  }

  &__heading {
    font-family: $font-gibson;
    font-size: 33px;
    font-weight: bold;
    letter-spacing: -0.33px;
    line-height: 30px;
    text-transform: none;

    @include desktop-up {
      margin-bottom: 16px;
      font-size: rem(79);
      line-height: 1.1;
    }
  }

  &__subheading {
    font-family: $font-gibson;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.29px;
    line-height: 20px;
  }

  &.overlay {
    max-height: 410px;
    .hero-banner {
      &__image-mobile {
        position: absolute;
        height: 100%;
        width: 100%;
      }
    }
  }

  &.below {
    justify-content: flex-start;

    .hero-banner__content--text-box {
      position: relative;
      top: -30px;
    }

    .hero-banner__content {
      margin: 0;
      max-width: none;

      @include mobile-only {
        padding: 48px 14px;
      }
    }
  }

  @include mobile-only {
    position: auto;
    height: auto;
    flex-direction: column;
    padding: 0;
  }

  @include tablet-only {
    background-position: initial;
  }

  &__container {
    position: relative;
    margin: 0 auto;
    overflow: hidden;

    .hero-banner.overlay {
      min-height: 225px;
    }
  }

  &__content-container {
    z-index: 21;

    @include desktop-up {
      padding: 0 16px;
      max-width: 880px;
      width: 100%;

      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        max-width: none;
        width: auto;
      }
    }
  }

  &__content {
    display: inline-flex;
    flex-direction: column;
    max-width: 250px;
    width: 100%;
    z-index: 21;

    &--text-box {
      margin: 0 18px;
      padding: 24px 8px;
      border-radius: $hero-content-border-radius;
      background-size: cover;
    }

    @include tablet-up {
      max-width: none;

      &--text-box {
        margin: 0;
        padding: 40px;
        border-radius: $hero-content-border-radius;
        background-size: cover;

        &.short {
          padding: 24px;
        }
      }
    }

    @include mobile-only {
      padding: 64px 14px 48px;
    }
  }

  &__body-copy {
    margin-top: 0;
    word-break: break-word;

    @include desktop-up {
      font-size: rem(19);
    }
  }

  &__cta-wrapper {
    display: inline-block;
    margin-top: 12px;

    @include desktop-up {
      margin-top: 16px;
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__scroll-trigger {
    width: 58px;
    height: 58px;
    padding: 20px;
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: 8px;
    transform: translate(-50%, 0);
    cursor: pointer;
  }

  &__image-mobile {
    position: relative;
    height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
</style>
