<template>
  <div class="hero-slide__wrapper"
       :class="heroSliderClass">
    <div class="hero-slide" :style="textboxFlexAlign">

      <div class="hero-slide__media">
        <video class="hero-slide__video" v-if="slides[activeSlide].settings.shopify_video_url != ''" muted autoplay>
          <source :src="slides[activeSlide].settings.shopify_video_url" type="video/mp4" />
        </video>
        <img class="hero-slide__video" :alt="slides[activeSlide].settings.desktop_image.alt" v-else :src="bannerImage($mq)" />
        <div class="hero-slide__video" v-if="slides[activeSlide].settings.enable_image_overlay" :style="overlayCSS"></div>
      </div>

      <div class="hero-slide__content" :class="contentBoxClass" :style="textboxCSS">
        <p v-if="slides[activeSlide].settings.slide_preheader"
           :style="preHeaderColor" v-html="slides[activeSlide].settings.slide_preheader"
           class="preheader"></p>
        <h1 v-if="slides[activeSlide].settings.slide_header"
           :style="headerBodyColor"
           v-html="slides[activeSlide].settings.slide_header"
           class="h1"></h1>
        <div v-if="slides[activeSlide].settings.slide_body_copy"
           :style="headerBodyColor"
           v-html="slides[activeSlide].settings.slide_body_copy"
           class="body-md"></div>
        <div class="hero-slide__cta-wrapper"
             :style="ctaAlignmentCSS">
          <a class="button"
             :class="slides[activeSlide].settings.cta_1_type"
             v-if="slides[activeSlide].settings.cta_1_url != null"
             :href="slides[activeSlide].settings.cta_1_url"
             v-html="slides[activeSlide].settings.cta_1_text"></a>
          <a class="button"
             :class="slides[activeSlide].settings.cta_2_type"
             v-if="slides[activeSlide].settings.cta_2_url != null"
             :href="slides[activeSlide].settings.cta_2_url"
             v-html="slides[activeSlide].settings.cta_2_text"></a>
        </div>
      </div>
    </div>

    <div v-if="slides.length > 1" class="hero-slide__navigation">
      <div class="hero-slide__navigation-dot"
           :class="{ 'active' : activeSlide === slideIndex }"
           v-for="(slide, slideIndex) in slides"
           :key="'slide' + slideIndex"
           @click="setSlide(slideIndex)">
      </div>
    </div>

  </div>
</template>

<script>

export default  {
  name: 'HeroCarousel',
  props: {
    schema: {
      type: Object,
      default: () => ({})
    }
  },
  data() {
    return {
      activeSlide: 0,
      slideInteraction: false,
      navVisible: {
        prev: false,
        next: true,
      },
      swiperOptions: {
        slidesPerView: 'auto',
        scrollbar: {
          el: '.swiper-scrollbar',
          draggable: true,
        },
        mousewheel: {
          forceToAxis: true,
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
      },
    }
  },
  mounted() {
    const timePerSlide = this.schema.modsettings.time_per_slide * 1000;
    this.intervalSlide = setInterval(this.slideRotate, timePerSlide);
    this.setSwiperFakeArrows();
    setInterval(this.setSwiperFakeArrows, 1000);
  },
  methods: {
    hexToRgb (hex) {
      const result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex);
      return result ? {
        r: parseInt(result[1], 16),
        g: parseInt(result[2], 16),
        b: parseInt(result[3], 16)
      } : null;
    },
    bannerImage(breakpoint) {
      if (breakpoint === 'sm') {
        if (this.slides[this.activeSlide].settings.mobile_image != null) {
          return this.slides[this.activeSlide].settings.mobile_image;
        }
        return this.slides[this.activeSlide].settings.desktop_image;
      }
      return this.slides[this.activeSlide].settings.desktop_image;
    },
    setSlide(slideNumber) {
      this.activeSlide = slideNumber;
      this.slideInteraction = true;
      clearInterval(this.intervalSlide);
    },
    slideRotate() {
      let totalSlides = this.slides.length;
      if (this.activeSlide + 1 === totalSlides) {
        this.activeSlide = 0;
      } else {
        this.activeSlide++;
      }
    },
    setSwiperFakeArrows() {
      if (this.swiper) {
        this.navVisible.next = !this.swiper.isEnd;
        this.navVisible.prev = !this.swiper.isBeginning;
      }
    }
  },
  computed: {
    heroSliderClass() {
      if (['mobile', 'tablet'].includes(this.$mq) && this.modsettings.layout !== 'overlaid') {
        return 'hero-slide__wrapper--stacked';
      }
      return 'hero-slide__wrapper--overlay';
    },
    slides() {
      return this.schema.slides;
    },
    modsettings() {
      return this.schema.modsettings;
    },
    overlayCSS() {
      return "background-color: " + this.slides[this.activeSlide].settings.image_overlay_color + "; opacity: " + (this.slides[this.activeSlide].settings.image_overlay_opacity_percentage / 100) + ";";
    },
    contentBoxClass () {
      return this.textboxCSS.includes('background-color') ? 'has-shadow' : '';
    },
    textboxCSS() {
      let hexR = this.hexToRgb(this.slides[this.activeSlide].settings.text_box_color).r;
      let hexG = this.hexToRgb(this.slides[this.activeSlide].settings.text_box_color).g;
      let hexB = this.hexToRgb(this.slides[this.activeSlide].settings.text_box_color).b;
      let opacity = this.slides[this.activeSlide].settings.text_box_opacity_percentage / 100;
      let textAlignment = "";

      if (this.slides[this.activeSlide].settings.text_box_alignment === "center") {
        textAlignment = "justify-content: center; text-align: center;";
      } else {
        textAlignment = "justify-content: flex-start; text-align: left;";
      }

      if (this.slides[this.activeSlide].settings.enable_text_box) {
        if (this.slides[this.activeSlide].settings.text_box_color === 'light' || this.slides[this.activeSlide].settings.text_box_color === 'dark') {
          if (this.slides[this.activeSlide].settings.text_box_color === 'dark') {
            return "background-color: rgba(" + 0 + "," + 0 + "," + 0 + "," + opacity + "); color: var(--color-white); " + textAlignment;
          }
          return "background-color: rgba(" + 255 + "," + 255 + "," + 255 + "," + opacity + "); color: var(--color-black); " + textAlignment;
        }
        return "background-color: rgba(" + hexR + "," + hexG + "," + hexB + "," + opacity + "); " + textAlignment;
      }
      return textAlignment;
    },
    ctaCSS() {
      let ctaStyles = "";
      let opacity = this.slides[this.activeSlide].settings.text_box_opacity_percentage / 100;

      if (this.slides[this.activeSlide].settings.text_box_alignment === "center") {
        ctaStyles = "justify-content: center; align-items: center; text-align: center;";
      } else {
        ctaStyles = "justify-content: flex-start; align-items: flex-start; text-align: left;";
      }

      if (this.slides[this.activeSlide].settings.text_box_color === 'light' || this.slides[this.activeSlide].settings.text_box_color === 'dark') {
        if (this.slides[this.activeSlide].settings.text_box_color === 'dark') {
          return "background-color: rgba(" + 0 + "," + 0 + "," + 0 + "," + opacity + "); color: var(--color-white); " + ctaStyles;
        }
        return "background-color: rgba(" + 255 + "," + 255 + "," + 255 + "," + opacity + "); color: var(--color-black); " + ctaStyles;
      }
      return ctaStyles;
    },
    ctaAlignmentCSS() {
      let ctaStyles = "";

      if (this.slides[this.activeSlide].settings.text_box_alignment === "center") {
        ctaStyles = "justify-content: center; align-items: center; text-align: center;";
      } else {
        ctaStyles = "justify-content: flex-start; align-items: flex-start; text-align: left;";
      }
      return ctaStyles;
    },
    preHeaderColor() {
      return "color: " + this.slides[this.activeSlide].settings.preheader_color + "; border-color: " + this.slides[this.activeSlide].settings.preheader_color;
    },
    headerBodyColor() {
      return "color: " + this.slides[this.activeSlide].settings.header_body_color;
    },
    cta1Colors() {
      return "color: " + this.slides[this.activeSlide].settings.cta_1_text_color + "; background-color: " + this.slides[this.activeSlide].settings.cta_1_bg_color;
    },
    cta2Colors() {
      return "color: " + this.slides[this.activeSlide].settings.cta_2_text_color + "; background-color: " + this.slides[this.activeSlide].settings.cta_2_bg_color;
    },
    textboxFlexAlign() {
      if (this.slides[this.activeSlide].settings.text_box_alignment === "left") {
        return {
          justifyContent: "flex-start"
        };
      }
      if (this.slides[this.activeSlide].settings.text_box_alignment === "center") {
        return {
          justifyContent: "center"
        };
      }
      if (this.slides[this.activeSlide].settings.text_box_alignment === "right") {
        return {
          justifyContent: "flex-end"
        };
      }
      return "";
    },
  }
};
</script>

<style scoped lang="scss">
  .featured-products-card.with-hover {
    @media (hover: hover) {
      &:hover {
        color: white;
        transition: 0.4s ease color;

        .subtext {
          color: white;
        }

        .hover-image {
          opacity: 1;
        }
      }
    }

    .hover-image {
      opacity: 0;
      transition: 0.4s ease opacity;
    }
  }

  .carousel-text {
    p {
      @apply font-body font-semibold text-megamenu_sub;
      @screen md {
        @apply text-md;
      }
    }
    a {
      @apply font-body font-bold text-megamenu_sub underline;
      @screen md {
        @apply text-md;
      }
    }
  }

  .active-slide {
    .bar-grow {
      animation: growRight 5s linear forwards;
    }
  }

  @keyframes growRight {
    from {
      width: 0%;
    }
    to {
      width: 100%;
    }
  }

  .hero-slide__wrapper {
    height: 560px;
    align-items: center;

    @include tablet-up {
      height: 600px;
    }

    &.hero-slide__wrapper--stacked {
      height: auto;
    }
  }

  .hero-slide__wrapper--overlay {
    .hero-slide {
      height: 100%;
    }

    .hero-slide__media {
      position: absolute;
    }

    .hero-slide__video {
      position: absolute;
      height: 100%;
    }

    .hero-slide__content {
      margin: 0 10px;
      border-radius: 10px;

      @include tablet-up {
        margin: 0 26px;
      }
    }
  }

  .hero-slide {
    position: relative;
    display: flex;
    align-items: center;

    .hero-slide__wrapper--stacked & {
      flex-direction: column;
    }
  }

  .hero-slide__media {
    display: flex;
    width: 100%;
    height: 560px;

    @include tablet-up {
      height: 600px;
    }
  }

  .hero-slide__video {
    display: block;
    width: 100%;
    object-fit: cover;
  }

  .hero-slide__content {
    position: relative;
    z-index: 1;
    max-width: 640px;
    padding: 40px 26px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: auto;

    &.has-shadow {
      box-shadow: 0 1px 1px 0 rgba(0,0,0,0.15);
    }

    @include desktop-up {
      margin: 0 156px;
      padding: 40px 60px;
    }

    .hero-slide__wrapper--stacked & {
      padding: 40px 10px 100px;
    }
  }

  .hero-slide__cta-wrapper {
    margin-top: 23px;

    .button + .button {
      margin-left: 20px;

      .hero-slide__wrapper--stacked & {
        margin-left: 0;
      }
    }

    .hero-slide__wrapper--stacked & {
      flex-direction: column;
    }
  }

  .hero-slide__navigation {
    position: absolute;
    left: 50%;
    bottom: 24px;
    transform: translateX(-50%);
    border: 1px solid $color-v-light-grey;
    border-radius: 4px;
    padding: 14px 15px;
    display: flex;
    background-color: $color-white;
    box-shadow: 0 1px 1px 0 rgba($color-black, 0.12);
    z-index: 1;

    .hero-slide__wrapper--stacked & {
      bottom: 40px;
    }
  }

  .hero-slide__navigation-dot {
    margin: 0 2px;
    border-radius: 100%;
    width: 10px;
    height: 10px;
    background-color: $color-light-grey;
    cursor: pointer;

    &.active {
      background-color: $color-primary-red;
    }
  }
</style>
