 
<template lang="pug">
    .how-it-works.container(v-if="$mq !== 'mobile'")
        img.how-it-works__image-desktop(:src="schema.imageDesktop")
    .how-it-works(v-else)
        img.how-it-works__image-mobile(:src="schema.imageMobile")
</template>

<script>
  export default {
    name: 'HowItWorks',
    props: {
        schema: Object
    }
  }
</script>

<style scoped lang="scss">
    .how-it-works {
        margin: 50px auto;
    }
</style>
