<template lang="pug">
  .header__dropdown-container-inner
    .linklist__featured(v-if="isFeatured && block.show_linklist")
      ul(v-for="(link, index) in block.linkLists[0]")
        li
          a.bold.link.link--primary(:href="link.url") {{ link.title }}
    div(v-if="block.show_linklist")
      .linklist__normal(v-for="(linkList, index) in isFeatured ? block.linkLists.slice(1) : block.linkLists")
        ul(v-for="(link, index) in linkList")
          li
            a.bold.link.link--primary(:href="link.url" :class="{'header__dropdown-list-title--margin-bottom-none': !(link.children && link.children.length > 0)}") {{ link.title }}
            ul(v-for="(child_link, index) in link.children")
              li
                a.link.link--primary(:href="child_link.url") {{ child_link.title }}
    .header__dropdown-images--large-image-container
      .header__dropdown-images--large-image-inner-container
        .header__dropdown-images-large-image.clip-transition
          img.header__dropdown-large-image(:src="block.large_image", :alt="block.large_image_title")
        .header__dropdown-images--large-image-description-container
          p.header__dropdown-images--large-image-title(v-if="block.large_image_title") {{ block.large_image_title}}
          div.header__dropdown-images--large-image-description(v-if="block.large_image_description", v-html="block.large_image_description") {{ block.large_image_description }}
          a.header__dropdown-images--large-image-link.link.link--primary(v-if="block.large_image_link", :href="block.large_image_link") {{ block.large_image_link_text }}
            icon.menu-image-link-arrow.fill-brand-primary(name="arrow_long_right" size="24px")
    .shop-all(v-if="block.url")
      v-link.header__menu-main-inner-link(
        secondary
        :href="block.url"
      )   Shop All
</template>

<script>
  import Icon from 'scripts/components/basic/Icon.vue'
  import VLink from '../buttons/VLink.vue';

  export default {
    name: 'NavbarMobileTextLargeImage',
    components: { Icon, VLink },
    props: {
      block: Object
    },
    computed: {
      isFeatured() {
        return this.block.featured_link_list_active
      }
    }
  }
</script>
<style scoped lang="scss">
  .header__dropdown-container-inner {
    padding: 16px;
  }
  ul {
    font-size: 18px;
    padding: 0;
    margin: 0;
    li {
      a {
        color: $color-black;
        margin-bottom: 16px;
        &.bold {
          font-weight: bold;
        }
      }
    }
  }
  .linklist__normal, .linklist__featured {
    margin: 0 0 24px;
  }
  .header__dropdown-images--large-image-description-container {
    & > p, div, a {
      margin-bottom: 8px;
    }
    .header__dropdown-images--large-image-title {
      margin-top: 8px;
      font-size: 18px;
      line-height: 24px;
      font-weight: bold;
    }
  }
</style>
