<template lang="pug">
  .header__dropdown-container
    .header__dropdown-container-inner
      .small-featured-image(v-for="(image, index) in block.images")
        a.header__dropdown-image-outer-content-container.clip-transition(v-if="image.url", :href="image.url")
          .header__dropdown-image-container
            img.header__dropdown-image(:src="image.image", :alt="image.text")
          .header-menu-image-title.link.link--primary(v-if="image.text") {{ image.text }}
            icon.menu-image-link-arrow(name="arrow_long_right", size="24px")
        .header__dropdown-image-outer-content-container.clip-transition(v-else)
          .header__dropdown-image-container
            img.header__dropdown-image(:src="image.image", :alt="image.text")
          p.header-menu-image-title(v-if="image.text") {{ image.text }}
</template>

<script>
  import Icon from 'scripts/components/basic/Icon.vue'

  export default {
    name: 'NavbarDesktopSmallImageBlocks',
    components: { Icon },
    props: {
      block: Object
    }
  }
</script>

<style scoped lang="scss">
  .header__dropdown-container-inner {
    width: 100%;
    padding: 0 32px;
    display: flex;
    justify-content: center;
    & > div {
      flex: 1;
      margin: 0 24px 0 0;
      padding: 0 24px 0 0;
      &:last-of-type {
        margin: 0;
      }
    }
  }
</style>