<template lang="pug">
  .header__dropdown-container-inner
    .header__dropdown-container-inner-featured-menu-links-container
      .linklist__featured(v-if="isFeatured")
        ul(v-for="(link, index) in block.linkLists[0]")
          li
            a.bold.link.link--primary(:href="link.url") {{ link.title }}
      .linklist__normal(v-for="(linkList, index) in isFeatured ? block.linkLists.slice(1) : block.linkLists")
        ul(v-for="(link, index) in linkList")
          li
            a.bold.link.link--primary(:href="link.url" :class="{'header__dropdown-list-title--margin-bottom-none': !(link.children && link.children.length > 0)}") {{ link.title }}
            ul(v-for="(child_link, index) in link.children")
              li
                a.link.link--primary(:href="child_link.url") {{ child_link.title }}
      .small-featured-images-container
        .small-featured-image(v-for="(image, index) in block.images")
          a.header__dropdown-image-outer-content-container.clip-transition(v-if="image.url", :href="image.url")
            .header__dropdown-image-container
              img.header__dropdown-image(:src="image.image", :alt="image.text")
            .header-menu-image-title.link.link--primary(v-if="image.text") {{ image.text }}
              icon.menu-image-link-arrow(name="arrow_long_right", size="24px")
          .header__dropdown-image-outer-content-container.clip-transition(v-else)
            .header__dropdown-image-container
              img.header__dropdown-image(:src="image.image", :alt="image.text")
            p.header-menu-image-title(v-if="image.text") {{ image.text }}
    .shop-all(v-if="block.url")
      v-link.header__menu-main-inner-link(
        secondary
        :href="block.url"
      )   Shop All
</template>

<script>
  import Icon from 'scripts/components/basic/Icon.vue'
  import VLink from '../buttons/VLink.vue';


  export default {
    name: 'NavbarMobileTextSmallImageBlocks',
    components: { Icon, VLink },
    props: {
      block: Object
    },
    computed: {
      isFeatured() {
        return this.block.featured_link_list_active
      }
    }
  }
</script>

<style scoped lang="scss">
  .header__dropdown-container-inner-featured-menu-links-container {
    padding: 16px;
  }
  ul {
    font-size: 18px;
    padding: 0;
    margin: 0;
    li {
      a {
        color: $color-black;
        margin-bottom: 16px;
        &.bold {
          font-weight: bold;
        }
      }
    }
  }
  .linklist__normal, .linklist__featured {
    margin: 0 0 24px;
  }
  .shop-all {
    padding: 0 16px 16px;
  }
  img {
    object-fit: cover;
    object-position: center;
    width: 280px;
    height: 200px;
  }
  .small-featured-images-container {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
  }
  .small-featured-image {
    display: inline-block;
    min-width: 280px;
    margin-right: 16px;
    scroll-snap-align: start;
    &:last-of-type {
      margin-right: 0;
    }
  }
</style>