<template lang="pug">
  .packages
    .packages__wrapper
      .packages__header
        h2 {{block.settings.title}}
      .packages__content(v-html="block.settings.content")
      .packages__button-wrapper
        v-button(
          :tag="block.settings.ctaUrl ? 'a' : 'button'"
          :href="block.settings.ctaUrl"
          primary
          @click="buttonClick"
        ) {{block.settings.ctaText}}
      modal(v-if="block.settings.modalHtml" ref="modal")
        .modal-content(slot="content" v-html="modalContent")
      .packages__packages
        .packages__package(
          v-for="pack in packages"
          v-if="pack.title"
          :key="pack.title"
          :class="{ 'packages__package--best-seller': pack.best_seller }"
          :style="{backgroundColor: pack.backgroundColor, color: pack.color}"
        )
          .packages__package-badge(v-if="pack.best_seller")
            icon.packages__package-badge-star(name="review-star" size="12px")
            p.packages__package-badge-text Best Seller
            icon.packages__package-badge-star(name="review-star" size="12px")
          .packages__package-title {{ pack.title }}
          .packages__package-subtitle {{ pack.subTitle}}
          .packages__package-price {{ pack.price}}
          .packages__package-content(v-html="pack.content")
</template>

<script>
import VButton from 'scripts/components/buttons/VButton.vue';
import Modal from 'scripts/components/basic/Modal.vue';
import Icon from 'scripts/components/basic/Icon.vue';

export default {
  name: 'PagePackages',
  components: {
    VButton,
    Modal,
    Icon,
  },
  props: {
    block: {
      type: Object
    }
  },
  data () {
    return {
      modalContent: '',
    }
  },
  mounted () {
    if (this.block.settings.id) {
      const contentElement = document.querySelector(`[data-modal-contents="${this.block.settings.id}"]`);
      this.modalContent = contentElement.innerHTML;
    }
  },
  computed: {
    packages() {
      return Array.from({length: 3}, (_, i) => this.block.settings[`package${i + 1}`]);
    },
  },
  methods: {
    buttonClick () {
      if (!this.block.settings.ctaUrl) this.$refs.modal.open();
      if (this.block.settings.id) {
        setTimeout(() => {
          const contentElement = document.querySelector(`[data-modal-contents="${this.block.settings.id}"]`);
          this.modalContent = contentElement.innerHTML;
        }, 800);
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  .packages {
    padding: 56px 0 68px;
  }

  .packages__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 866px;
    padding: 0 12px;
    margin: 0 auto;
    text-align: center;
  }

  .packages__header {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 16px;
  }

  .packages__content {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 24px;
    font-size: rem(14);
    line-height: rem(20);
  }

  .packages__button-wrapper {
    margin-bottom: 39px;
  }

  .packages__packages {
    display: block;

    @include tablet-up {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 13px;
    }
  }

  .packages__package {
    position: relative;
    margin-bottom: 16px;
    padding: 24px;
    border-radius: 10px;
    text-align: left;

    @include tablet-up {
      margin-bottom: 0;
      text-align: center;
    }
  }

  .packages__package--best-seller {
    border-radius: 0 10px 10px 10px;
    margin-top: 16px + 24px;

    @include tablet-up {
      border-radius: 10px;
      margin-top: 0;
    }
  }

  .packages__package-badge {
    position: absolute;
    top: -24px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 139px;
    height: 24px;
    border-radius: 4px 4px 0 0;
    text-align: center;
    background-color: #FFEF01;
    color: #222;
    fill: #222;

    @include tablet-up {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .packages__package-badge-text {
    font-size: rem(12);
    font-weight: 600;
    line-height: rem(16);
    letter-spacing: 0.6px;
    text-transform: uppercase;
    margin: 0 4px;
  }

  .packages__package-title {
    font-size: rem(20);
    font-weight: 600;
    line-height: rem(24);
    margin-bottom: 4px;
  }

  .packages__package-subtitle {
    font-size: rem(14);
    font-weight: 500;
    line-height: rem(22);
    margin-bottom: 24px;
  }

  .packages__package-price {
    position: absolute;
    top: 23px;
    right: 20px;
    font-size: rem(40);
    font-weight: 600;
    line-height: rem(32);

    @include tablet-up {
      position: relative;
      top: unset;
      right: unset;
      margin-bottom: 24px;
    }
  }

  .packages__package-content {
    /deep/ p {
      font-size: rem(14);
      font-weight: 400;
      line-height: rem(22);
      margin-bottom: 4px;
    }
  }

  .modal-content {
    height: 100%;
    overflow: scroll;
  }

  /deep/ .modal__content {
    height: 100%;
    width: 100%;
    max-width: 100%;
  }
</style>
