<template lang="pug">
    section.testimonials.testimonials--carousel.container.text-center(:style="paddingStyles")
      h3.h3.testimonials__title.text-center(
        :class="schema.settings.sectionHeaderColor"
      ) {{ schema.settings.sectionHeader }}
      swiper#testimonial-slider.testimonials__testimonials(
        :options="swiperOptions" 
        ref="swiper"
      )
        swiper-slide(
            v-for="block in schema.blocks"
            :key="block.id"
          )
          article.testimonials__testimonial
            div.testimonials__inner
              p.h7.testimonials__source(v-if="block.settings.testimonial_source", :class="schema.settings.textColor") {{ block.settings.testimonial_source }}
              img(v-else :src="schema.settings.defaultQuoteImg", alt="quotation mark", aria-role="presentation")
              blockquote.body-sm.testimonials__body(
                :class="schema.settings.textColor"
                v-html="block.settings.testimonial_body"
              )
              img.testimonials__img(
                aria-role="presentation"
                v-if="block.settings.testimonial_logo" 
                :src="imageSize(block.settings.testimonial_logo, '256x256')", 
                :srcset="`${imageSize(block.settings.testimonial_logo, '128x128')} 1x, ${imageSize(block.settings.testimonial_logo, '256x256')} 2x`"
                :alt="block.testimonial_logo_alt"
              )
      div.testimonials__pagination
      div.testimonials__pagination-images
        img(
          v-for="(block, index) in schema.blocks"
          aria-role="button"
          aria-label="next quote"
          aria-controls="#testimonial-slider"
          v-if="block.settings.testimonial_logo" 
          :src="imageSize(block.settings.testimonial_logo, '320x320')", 
          :srcset="`${imageSize(block.settings.testimonial_logo, '160x160')} 1x, ${imageSize(block.settings.testimonial_logo, '320x320')} 2x`"
          :alt="block.testimonial_logo_alt"
          @click="slide(index)"
          :class="index === slideIndex ? 'active': ''"
        )
</template>

<script>
import { swiper, swiperSlide } from 'vue-awesome-swiper';
import { imageSize, imageCrop, checkUndefined } from '../../helpers/util';
import { px } from 'scripts/filters/string.js'

export default {
  name: "TestimonialBlocks",
  props: {
    schema: Object
  },
  components: {
    swiper,
    swiperSlide
  },
  data() {
    return {
      slideIndex: 0,
      swiperOptions: {
        pagination: {
          el: '.testimonials__pagination'
        },
        on: {
          slideChange: (t) => {
            this.slideIndex = this.$refs.swiper.swiper.activeIndex;
          }
        }
      }
    }
  },
  computed: {
    paddingStyles() {
      return {
        'padding-top': px(checkUndefined(this.schema.settings.marginTop, 56)), 
        'margin-bottom': px(checkUndefined(this.schema.settings.marginBottom, 56))
      }
    }
  },
  methods: {
    imageSize,
    imageCrop,

    slide (index) {
      this.$refs.swiper.swiper.slideTo(index);
      this.slideIndex = index;
    }
  },
}
</script>

<style lang="scss">
  .testimonials.testimonials--carousel {
    max-width: 640px;

    .testimonials__pagination-images {
      display: none;
    }

    .testimonials__testimonial {
      max-width: 100%;
    }

    .testimonials__source {
      margin-bottom: 16px;
    }

    .testimonials__inner {
      padding: 16px 0;
    }

    .testimonials__img {
      margin-bottom: 0;
      min-width: 40px;
      width: auto;
      max-width: 30%;
    }

    .testimonials__body {
      margin-bottom: 32px;
    }

    .swiper-pagination-bullet {
      margin: 0 4px;
      background: $color-off-black;
      width: 5px;
      height: 5px;
    }

    .swiper-pagination-bullet-active {
      margin: 0 4px;
      background: $color-black;
    }

    @include tablet-up {
      .testimonials__pagination {
        display: none;
      }

      .testimonials__pagination-images {
        display: flex;
        justify-content: space-between;
        justify-content: space-evenly;
        align-items: center;
      }

      .testimonials__pagination-images img {
        width: 80px;
        opacity: .25;
        transition: opacity .2s ease-in;
        cursor: pointer;
      }

      .testimonials__pagination-images .active {
        opacity: 1;
      }

      .testimonials__img {
        display: none;
      }
    }
  }
</style>