.column-blocks__header {
  position: relative;
  margin: 0 auto 40px auto;
  max-width: 988px;

  .column-blocks--enable-steps & {
    padding-top: 40px;
    padding-bottom: 74px + 24px;
    margin-bottom: 0;

    @include tablet-up {
      padding-bottom: 74px + 40px;
    }

    @include mobile-only {
      text-align: center;
    }
  }

  .column-blocks--centered & {
    text-align: center;
  }
}

.column-blocks__title {
  font-size: 28px;
  text-transform: capitalize;

  @include tablet-up {
    font-size: rem(36);
    line-height: rem(42);
    margin-bottom: 16px;
  }

  .column-blocks--enable-steps & {
    padding: 0 18px;
  }
}

.column-blocks__subtext {
  max-width: 460px;
  font-size: rem(13);
  line-height: rem(24);

  .column-blocks--enable-steps & {
    padding: 0 18px;
    line-height: rem(22);
    font-size: rem(14);

    @include tablet-up {
      font-size: rem(14);
      line-height: rem(20);
    }
  }

  .column-blocks--centered & {
    margin: 0 auto;
  }
}

.column-blocks__cta {
  display: none;

  .column-blocks--centered & {
    position: relative;
    top: 0;
    right: 0;
    margin: 10px auto;
    width: fit-content;
    max-width: 250px;
  }

  @include tablet-up {
    display: block;
    position: absolute;
    top: 86px;
    right: 24px;
  }
}

.column-blocks__cta-mobile-wrap {
  padding: 20px 0;

  @include tablet-up {
    display: none;
  }

  .column-blocks--enable-steps & {
    margin-top: 90px;

    @include tablet-up {
      margin-top: 0;
    }
  }
}

.column-blocks__cta-mobile {
  display: block;
  width: fit-content;
  max-width: 250px;
  margin: 0 auto;
}

.column-blocks__blocks-wrap {
  .column-blocks--enable-steps & {
    margin-top: -74px;
  }
}

div.column-blocks__blocks {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 14px;
  width: 100%;
  max-width: 988px;


  &.carousel {
    .carousel__track {
      @include tablet-up {
        justify-content: space-between;
        align-items: stretch;
      }

      .slide {
        justify-content: flex-start;

        @include mobile-only {
          position: relative;
          right: 13px;
        }

        &:first-of-type {
          .column-blocks__blocks-line-mobile {
            left: 50%;
            transform: translateY(-50%);
          }
        }
        &:last-of-type {
          .column-blocks__blocks-line-mobile {
            left: unset;
            right: 50%;
            transform: translateY(-50%);
          }
        }
      }
    }

    .carousel__dots {
      @include tablet-up {
        display: none;
      }
    }
  }

  @include mobile-only {
    &.carousel {
      padding-bottom: 20px;

      .carousel__dots {
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);

        > li {
          width: 8px;
          height: 8px;
          margin: 2px;
          border: 0;
          background-color: $color-light-grey;

          &.is-active {
            background-color: $color-primary-red;
          }
        }
      }
    }
  }
}

.column-blocks__block {
  position: relative;
  padding: 36px 30px 14px;
  max-width: 216px;
  width: 100%;

  .column-blocks--enable-steps & {
    padding-top: 36px 30px 40px;
    border-radius: 10px;
    height: 100%;
    background: $color-white;
    min-width: 241px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);

    @include tablet-up {
      padding: 36px 10px 40px;
      min-width: 216px;
    }
  }
}

.column-blocks__block-img-wrap {
  position: relative;
  margin: 0px auto 20px;
  height: 96px;
  width: 96px;
}

.column-blocks__block-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 100%;
  max-width: 100%;
}

.column-blocks__block-title {
  padding-bottom: 10px;
  text-align: center;
  font-size: 16px;
  text-transform: capitalize;
}

.column-blocks__block-subtext {
  text-align: center;
  font-size: 12px;
  line-height: 16px;
}

.column-blocks__step-number {
  display: block;
  margin: 25px auto 15px;
  padding: 8.5px;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  height: 31px;
  width: 31px;
  border: 1px solid $color-light-grey;
  border-radius: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.column-blocks__blocks-line {
  display: none;
  position: absolute;
  top: 159px;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 1px;
  width: calc(100% - 30px);
  z-index: -1;

  @include tablet-up {
    display: block;
  }
}

.column-blocks__blocks-line-mobile {
  position: absolute;
  top: 159px;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 1px;
  width: 100vw;
  z-index: -1;

  @include tablet-up {
    display: none;
  }
}
