.full-width-text-block {
  width: 100%;
  @include mobile-only {
    padding: 0 14px;
  }
  &__copy {
    padding: 24px 14px;
    @include tablet-only {
      padding: 32px 42px;
    }
    @include desktop-up {
      padding: 48px 64px;
    }
    background-color: $color-util-bg-offwhite;
    text-align: center;
  }
}

.full-width-image,
.full-width-image__img {
  width: 100%;
}
