.product-fiftyfifty {
  .sw__main--fiftyfifty {
    flex-direction: column;
  }

  .sw__image--fiftyfifty {
    object-fit: contain;
  }

  .sw--fiftyfifty {
    flex-direction: column-reverse;

    @include desktop-up {
      flex-direction: row;
    }
  }

  .sw__main.sw__main--fiftyfifty {
    padding-top: 0;
    padding-left: 0;
  }

  &__title {
    font-size: rem(44);
    letter-spacing: -1px;
    line-height: 1;
    font-family: $font-gibson;
    font-weight: 700;
    text-transform: none;

    @include desktop-up {
      font-size: rem(99);
    }
  }

  &__content {
    margin-bottom: 45px;
    font-size: rem(14);
    letter-spacing: 0.29px;
    line-height: 1.5;
    font-weight: 300;
    font-family: $font-gibson;

    p {
      margin-top: 17px;
    }
  }

  .microgel__images--fiftyfifty {
    width: 100%;
    flex-direction: column;

    @include desktop-up {
      flex-direction: row;
    }
  }

  .microgel__figure--fiftyfifty {
    margin-top: 7px;
    padding-bottom: 15px;
    max-width: unset;
    display: flex;
    align-items: center;

    @include desktop-up {
      margin-top: 0;
      flex-direction: column;
      max-width: 160px;
    }
  }

  .microgel__figure-image {
    margin-right: 15px;
    max-width: 65px;

    @include desktop-up {
      margin-right: 0;
      max-width: 135px;
      flex-grow: 1;
      object-fit: contain;
      object-position: top;
    }
  }

  .microgel__figure-subtitle {
    text-align: left;

    @include desktop-up {
      text-align: center;
    }
  }
}

.trial-product-anchor-wrap {
  position: relative;
}

.trial-product-anchor {
  position: absolute;
  top: -87px;
}

.free-trial-wrapper {
  background-color: $color-white;
}

.product-fiftyfifty__title,
.product-fiftyfifty__content {
  text-align: center;

  @include desktop-up {
    text-align: left;
  }
}

.sw__main-wrap {
  width: 100%;
}
