.main-navigation-container {
  width: 100%;
  position: static;
  @include desktop-up {
    position: fixed;
  }
}

.top-header__inner-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  @include desktop-up {
    height: 100%;
    position: relative;
  }
  &--design-2 {
    max-width: ($container-max-width + ($grid-gutter * 2));
    margin-left: auto;
    margin-right: auto;
    padding-left: $grid-gutter;
    padding-right: $grid-gutter;
    @include desktop-up {
      max-width: ($container-max-width + ($grid-gutter * 2));
      margin-left: auto;
      margin-right: auto;
      padding-left: $grid-gutter;
      padding-right: $grid-gutter;
    }
    .carousel__nav__next,
    .carousel__nav__prev {
      display: flex !important;
      top: 50% !important;
      transform: translateY(-50%);
      @include desktop-up {
        svg.icon {
          width: 12px !important;
          height: 12px !important;
        }
      }
    }
    .promobar-block-content {
      p {
        display: block;
      }
      a {
        display: inline;
        text-decoration: underline;
        background-color: transparent;
        &:before {
          display: none;
        }
      }
    }
  }
}

.top-header__container {
  display: flex;
  align-items: center;
  position: relative;
  padding: 10px 100px 10px 16px;
  @include tablet-up {
    padding: 0 110px;
    height: 44px;
  }

  &--design-2 {
    height: 52px;
    @include desktop-up {
      height: 44px;
    }
  }

  .slide {
    @include mobile-only {
      align-items: initial !important;
    }
  }


  .carousel__arrow {
    @include mobile-only {
      display: none;
    }
  }
}

.top-header__extra-link-outer-container {
  display: none;

  @include desktop-up {
    display: flex;
    align-items: center;
    width: 25%;
    font-size: 14px;
    height: 100%;

    .top-header__logo-tab {
      height: 36px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-left: 1px solid;
      &:last-child {
        border-right: 1px solid;
      }
    }
    .top-header__logo-tab-image {
      max-height: 80%;
      width: auto;
      padding: 0 16px;
      svg {
        width: 100%;
      }
    }
  }
}

.top-header__extra-link {
  font-family: $font-family-primary;

  @include desktop-up {
    font-size: 14px;
    font-weight: 400;
  }
}

.top-header__extra-link--light,
.helper-links__link--light {
  @include desktop-up {
    font-size: 14px;
    color: $color-white !important;
    font-weight: 400;

    &:hover {
      &::before {
        background-color: $color-white;
      }
    }

    &::before {
      background-color: $color-white;
    }
  }
}

.top-header__extra-link--dark,
.helper-links__link--dark {
  @include desktop-up {
    font-size: 14px;
    color: $color-black !important;
    font-weight: 400;

    &:hover {
      &::before {
        background-color: $color-black !important;
      }
    }

    &::before {
      background-color: $color-black !important;
    }
  }
}

.promo-bar__carousel--single {
  .carousel__arrow {
    display: none;
  }
}

.top-bar__promobar-carousel {
  width: 100%;
  overflow: hidden;
  text-align: center;

  @include desktop-up {
    max-width: 500px;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .carousel__arrow {
    display: none;

    @include tablet-up {
      display: block;
    }
  }
}

.top-bar__helper-links-container {
  display: none;

  @include desktop-up {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 20px;
  }
}

.top-bar__helper--first-link-container,
.top-bar__helper--second-link-container {
  position: relative;
  margin-left: 16px;

  @include desktop-up {
    height: 100%;
    display: flex;
    align-items: center;
  }
}

.top-bar__helper--first-link-container {
  cursor: pointer;

  &:hover {
    .top-bar__helper--first-links-container {
      display: block;
      left: -30px;
    }
  }
}

.top-bar__helper--first-links-container li,
.top-bar__helper--second-links-container li {
  padding: 6px;
}

.top-bar__helper--second-link-container {
  cursor: pointer;

  &:hover {
    .top-bar__helper--second-links-container {
      display: block;
      right: -15px;
    }
  }
}

.top-bar__helper--first-links-container,
.top-bar__helper--second-links-container {
  display: none;
  position: absolute;
  margin: 0;
  list-style: none;
  padding: 0;
  background-color: #fafafa;
  top: 35px;
  padding: 12px;
  width: 150px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.08);

  &:before {
    content: '';
    position: absolute;
    width: 0px;
    height: 0px;
    top: -8px;
    left: 33px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fafafa;
  }
}

.top-bar__helper--first-links-container {
  &:before {
    left: 30px;
  }
}

.top-bar__helper--second-links-container {
  &:before {
    left: 60%;
  }
}

.top-bar__helper-link {
  display: inline-block;
  color: $color-black !important;
  font-size: 14px;
  font-weight: 400;
  font-family: $font-family-primary;

  &:hover {
    &::before {
      background-color: $color-black !important;
    }
  }

  &::before {
    background-color: $color-black !important;
  }
}

.top-bar__account-helper-link {
  display: flex;
  color: $color-black !important;
  font-size: 14px;
  font-weight: 400;
  margin-left: 16px;
  font-family: $font-family-primary;

  &:hover {
    &::before {
      background-color: $color-black !important;
    }
  }

  &::before {
    background-color: $color-black !important;
  }
}

.top-bar__promobar-carousel p {
  margin: 0;
  font-size: 12px;

  @include desktop-up {
    font-size: 14px;
  }
}

.top-bar__promobar-carousel .button__content {
  vertical-align: middle;
}

.top-bar__helper-main-link {
  display: flex;
  align-items: center;
  font-family: $font-family-primary;
}

.desktop-help-icon-container {
  display: flex;
  margin-left: 5px;
}

.top-bar__helper-main-link-title {
  margin: 0;
  font-size: 14px;
  font-family: $font-family-primary;
}

.top-bar__helper-main-link-title-container {
  display: flex;
}

.desktop-helper-icon {
  width: 20px;
  height: 20px;
}

.promobar-block-content,
.promobar-block-content p,
.promobar-block-content a,
.promobar-block-content em,
.promobar-block-content strong {
  font-size: 12px;
  font-family: $font-family-primary;
  line-height: inherit;
  margin: 0 4px;

  @include desktop-up {
    font-size: 14px;
  }
}

.promobar-block-content {
  line-height: rem(20);
}

.promobar-block-content p {
  display: flex;
  align-items: center;
  font-family: $font-family-primary;
}

.promobar-block-content a {
  transition: all 0.15s ease;
  text-decoration: none;
  position: relative;
  outline: transparent;
  background: none;
  border: none;
  display: inline-block;
  overflow: hidden;
  margin-right: 5px;
  font-family: $font-family-primary;

  &::before {
    content: '';
    position: absolute;
    top: inherit;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    opacity: 0.2;
    background: $color-brand-primary;
    transition: height 0.15s;
  }

  &:hover::before,
  &:focus::before,
  &:active::before,
  &:visited::before {
    height: 85%;
  }

  &:visited::before {
    background: $color-brand-tertiary;
    height: 85%;
  }
}

.promo-color-light .promobar-block-content a,
.promo-color-light .promobar-block-content p {
  color: $color-white;
}

.promo-color-dark .promobar-block-content a,
.promo-color-dark .promobar-block-content p {
  color: $color-black;
}
