.who-its-for__grid {
  margin: 35px auto;
  max-width: 380px;
  display: grid;
  grid-template-rows: repeat(2, 190px) auto;
  grid-template-columns: repeat(2, auto);

  @include desktop-up {
    margin: 50px auto;
    max-width: 1440px;
    grid-template-rows: repeat(2, 17vw) auto;
    grid-template-columns: 33% 20% 1fr;
  }

  @include mq-from(1440px) {
    grid-template-rows: repeat(2, 250px) auto;
  }
}

.who-its-for__content {
  grid-row: 3;
  grid-column: 1 / span 2;
  text-align: center;
}

.who-its-for__image {
  display: block;
  height: 100%;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}

.who-its-for__image-one {
  grid-row: 1;
  grid-column: 1;

  @include desktop-up {
    grid-row: 1 / span 2;
    grid-column: 1;
  }
}

.who-its-for__image-two {
  grid-row: 1;
  grid-column: 2;

  @include desktop-up {
    grid-row: 1;
    grid-column: 2;
  }
}

.who-its-for__image-three {
  grid-row: 2;
  grid-column: 1;

  @include desktop-up {
    grid-row: 2;
    grid-column: 2;
  }
}

.who-its-for__image-four {
  grid-row: 2;
  grid-column: 2;

  @include desktop-up {
    grid-row: 1 / span 3;
    grid-column: 3;
  }
}

.who-its-for__subtitle {
  margin: 32px auto 14px;
  border-bottom: 2px solid $color-grayish-gray;
  padding-bottom: 5px;
  display: inline-block;
  font-size: rem(12);
  line-height: 1.5;
  letter-spacing: 0.5px;
  font-weight: 700;
  font-family: $font-gibson;
  text-transform: uppercase;
}

.who-its-for__title {
  margin-bottom: 20px;
  font-size: rem(33);
  line-height: 1;
  letter-spacing: -0.5px;
  font-family: $font-gibson;
  font-weight: 300;
  text-transform: uppercase;
}

.who-its-for__text {
  margin: auto;
  padding: 0 12px;
  max-width: 415px;
  font-size: rem(14);
  line-height: 1.5;
  letter-spacing: 0.3px;
  font-family: $font-gibson;
  font-weight: 300;

  @include desktop-up {
    font-size: rem(16);
  }

  p + p {
    margin-top: 15px;
  }
}

.who-its-for__cta {
  margin-top: 15px;
}
