.yotpo.yotpo-pictures-gallery,
.yotpo.yotpo-pictures-widget {
  margin-top: 0;
  margin-bottom: 0;
}

.instagram-content {
  margin: auto;
  max-width: 425px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.instagram-content__title {
  margin-top: 24px;
  font-size: rem(33);
  line-height: 1;
  letter-spacing: -0.5px;
}

.instagram-content_link,
.instagram-content__hashtag {
  display: inline-block;
  margin-top: 12px;
  color: $color-black;
}

.instagram-content_link {
  letter-spacing: 0.3px;
  font-family: $font-gibson;
  font-weight: 700;
}

div.yotpo {
  font-family: $font-gibson;

  @include tablet-up {
    .main-widget {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

    .main-widget .yotpo-label {
      grid-column: 3;
      grid-row: 2;
    }

    .main-widget .yotpo-nav.reviews {
      grid-column: 1;
      grid-row: 2;
    }

    .yotpo-nav-primary {
      display: flex;
      justify-content: space-between;
    }

    .main-widget .yotpo-display-wrapper {
      grid-column: 2;
      grid-row: 1;
    }

    .main-widget form,
    .main-widget .yotpo-nav-content {
      grid-column: 1 / span 3;
    }
  }

  .yotpo-stars {
    padding-right: 0 !important;
  }

  .yotpo-stars-and-sum-reviews {
    float: none !important;
    max-width: 100% !important;
    margin: auto;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    .based-on {
      font-family: $font-gibson;
      font-size: rem(28);
      color: $color-black;
    }

    .yotpo-icon {
      font-size: rem(19) !important;
    }
  }

  .yotpo-nav-tab span {
    font-family: $font-gibson !important;
    text-transform: uppercase;
  }

  .yotpo-small-box,
  .yotpo-regular-box {
    border: 0px !important;
  }

  .main-widget .yotpo-logo-link-new {
    display: none;
  }

  .content-title,
  .content-review,
  .y-label,
  .yotpo-nav-dropdown span,
  .yotpo-user-name,
  .yotpo-user-letter,
  .yotpo-icon {
    color: $color-black !important;
  }

  .content-title {
    font-family: $font-gibson !important;
  }

  .yotpo-review-date,
  .y-label,
  .content-review {
    font-family: $font-gibson !important;
    font-weight: 300 !important;
  }

  .yotpo-icon-profile {
    border: 1px solid $color-semi-grey !important;
    background-color: $color-white !important;
  }

  .yotpo-review {
    border-bottom: 1px solid $color-semi-grey !important;
    padding-top: 40px !important;
  }

  .yotpo-comments-box {
    border-width: 1px;
  }

  .content-review {
    display: block !important;
    margin-bottom: 21px;
  }

  .content-title {
    margin-top: 21px;
  }

  .yotpo-default-button {
    min-width: 200px;
    border: 3px solid $color-black;
    border-radius: 3px;
    transition: all 0.3s;
    background-color: $color-black;

    .yotpo-icon,
    span {
      color: $color-white !important;
    }

    &:hover {
      background-color: $color-white;

      .yotpo-icon,
      span {
        color: $color-black !important;
      }
    }
  }

  .yotpo-page-element {
    color: $color-grayish-gray !important;
    font-family: $font-gibson;

    &.yotpo-active {
      color: $color-black !important;
    }
  }
}
