<template lang="pug">
form#email_signup.klaviyo-form(
  :class="embedClass",
  data-ajax-submit="//manage.kmail-lists.com/ajax/subscriptions/subscribe",
  action='//manage.kmail-lists.com/subscriptions/subscribe',
  method='GET',
  target="_blank",
  accept-charset='UTF-8',
  _lpchecked='1',
  @submit='showMessaging'
  )
  input(type='hidden', name='form_type', value='customer')
  input(type='hidden', name='g', :value='listId')

  transition(name="slideOut")
    .klaviyo-form-inner-container(:class="inputClass")
      input.klaviyo-form__input(
        type="email", name="email",
        id="k_id_email"
        value="",
        :placeholder="placeholderText",
        autocorrect="off",
        autocapitalize="off",
        autocomplete="email",
        v-model="emailInput"
        required
        aria-label="Email"
      )
      v-button.submit-button(
        id="Subscribe"
        primary
      ) Submit
  transition(name="slideIn")
    p.klaviyo-form-success(v-if="isSuccess && message") {{ message }}

</template>

<script>
  import IconSubmitButton from '../buttons/IconSubmitButton.vue';
  import VButton from '../buttons/VButton.vue';

  export default {
    name: 'KlaviyoForm',
    data () {
      return {
        isSuccess: false,
        notSubmitted: true,
        emailInput: ""
      }
    },
    props: {
      message: String,
      listId: String,
      inputClass: String,
      buttonClass: String,
      sendEvent: String,
      event: String,
      customProps: Object,
      placeholderText: {
        type: String,
        default: 'Email'
      }
    },
    components: {
      IconSubmitButton,
      VButton
    },
    methods: {
      showMessaging: function() {
        this.$store.dispatch('email/addEmail', this.emailInput);
        if (this.sendEvent === "true") {
          setTimeout(() => {
            this.$emit(this.event)
          }, 1000);
        }
        this.notSubmitted = false;
        setTimeout(() => {
          this.isSuccess = true;
        }, 500);
      }
    },
    computed: {
      embedClass () {
        return "klaviyo_embed_" + this.listId;
      }
    },
    mounted () {
      let interval = setInterval(() => {
        if (KlaviyoSubscribe) {
          KlaviyoSubscribe.attachToForms(this.$el, {
            hide_form_on_success: false,
            extra_properties: typeof this.customProps != "undefined" ? this.customProps : {}
            // custom_success_message: true
          });
          clearInterval(interval)
        }
      }, 1000)
    }
  }
</script>

<style scoped lang="scss">
  .klaviyo-form {
  }

  .klaviyo-form__input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: rem(46);
    width: 100%;
    border-radius: 23px;
    padding-left: 24px;
    padding-right: 160px;
    border: 0;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    outline: none;

    &::placeholder {
      font-family: $font-gibson;
      font-size: rem(14);
      color: $color-black;
      font-weight: 300;
      letter-spacing: 0;
    }
    
    &:focus,
    &:focus-visible {
      box-shadow: 0 1px 1px rgba(0,0,0,0.15), 0 0 0 2px rgb(76, 152, 219) ;
      
    }
  }

  button {
  }

  .klaviyo-form-inner-container {
    position: relative;
  }

  .klaviyo-form-success {
    color: $color-black;
  }

  .submit-button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 46px;

    @include mobile-only {
      min-width: 120px;
    }
  }
</style>
