<template lang="pug">
  form.search-form(action="/search")
    input(type="hidden" name="type" value="article,page,product")
    input(type="hidden" name="options[prefix]" value="last")
    .input
      label.u-sr-only(for="q") Search
      search-input(
        ref="searchInput"
        @keyup="showSearchResults"
        @focus="openSearchResults"
        :placeholder="placeholder"
        v-model="searchValue"
        autocomplete="off"
      )
    fade-transition
      .search-form__modal-close.bg-white(v-if="enablePredictiveSearch && showSearchModal" @click="closeSearchResults")
        icon(name="close" size="12px")
    v-button.search-form__submit.button--icon(
      label="Search"
    )
      icon(
        name="search",
        :size="searchIconSize")
    predictive-search-modal(v-if="enablePredictiveSearch" :searchTerm="searchValue" ref="predictiveSearchModal")
</template>

<script>
  import SearchInput from 'scripts/components/forms/SearchInput.vue'
  import PredictiveSearchModal from 'scripts/components/search/PredictiveSearchModal.vue'
  import VButton from 'scripts/components/buttons/VButton.vue'
  import Icon from 'scripts/components/basic/Icon.vue'
  import {FadeTransition} from 'vue2-transitions'

  export default {
    name: 'SearchForm',
    components: {
      SearchInput,
      PredictiveSearchModal,
      VButton,
      Icon,
      FadeTransition
    },
    data() {
      return {
        searchValue: '',
        isMounted: false,
        enablePredictiveSearch: true,
      };
    },
    props: {
      inputPlaceholder: String,
      searchIconSize: {
        type: String,
        default: "18px"
      },
    },
    computed: {
      // cannot use default prop because empty strings
      // get passed from shopify.
      placeholder() {
        return this.inputPlaceholder || 'What are you looking for?'
      },
      showSearchModal() {
        if (!this.$refs.predictiveSearchModal) return false;
        return this.isMounted ? this.$refs.predictiveSearchModal.showModal : false;
      }
    },
    methods: {
      showSearchResults() {
        if (!this.$refs.predictiveSearchModal) return;
        this.$refs.predictiveSearchModal.getSearchResults();
      },
      closeSearchResults() {
        if (!this.$refs.predictiveSearchModal) return;
        this.$refs.predictiveSearchModal.close();
      },
      openSearchResults() {
        if (this.searchValue.length <= 0 || this.$refs.predictiveSearchModal) {
          return;
        }
        this.$refs.predictiveSearchModal.show();
      }
    },
    mounted() {
      this.isMounted = true;
    }
  }
</script>

<style scoped lang="scss">
  .search-form {
    position: relative;
    padding: 0;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: #F9F9F9;
    border: 1px solid $color-light-grey;
    border-radius: 24px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    padding: 0 40px;

    @include desktop-up {
      padding: 0 24px;
      right: 0;
      left: auto;
      height: 45px;
    }

    &__submit {
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      box-shadow: none;
      left: 0;
      padding: 9px 4px 9px 16px;

      @include tablet-up {
        left: auto;
        right: 0;
        z-index: 1;
        padding: 9px 16px 9px 4px;
      }

      .icon {
        color: $color-grayish-gray;
      }
    }

    &__modal-close {
      position: absolute;
      top: 50%;
      right: 72px;
      z-index: 1;
      display: flex;
      padding: 8px;
      border-radius: 50%;
      box-shadow: $drop-shadow--light;
      transform: translateY(-50%);
      cursor: pointer;

      .navbar & {
        display: none;
      }
    }

    .input {
      margin: 0;
      width: 100%;
      background-color: transparent;
      border-bottom: 0;
    }

    .search-input {
      border: 0;
      padding: 0;
      background-color: transparent;
      font-family: $font-gibson;

      @include mobile-only {
        text-align: center;
      }
    }
  }

  /deep/ .button__content {
    display: flex;
  }

  /deep/ .search-input::-webkit-input-placeholder, /* Chrome/Opera/Safari */
  /deep/ .search-input::-moz-placeholder, /* Chrome/Opera/Safari */
  /deep/ .search-input:-ms-input-placeholder,/* Chrome/Opera/Safari */
  /deep/ .search-input:-moz-placeholder { /* Chrome/Opera/Safari */
    color: $color-grayish-gray;
  }

  /deep/ .search-input::placeholder {
    color: $color-grayish-gray;
  }
</style>
