{%- render 'blog-category-hero' -%}

{%- render 'blog-tags' -%}

<div class="container blog-wrapper">
  {% if canonical_url contains "tagged" %}
    <div class="blog__tagged-container">
      <h6 class="blog__tagged-title">Post's in {{ blog.title }} tagged with "{{ current_tags.first }}"</h6>
    </div>
  {% endif %}

  {% if blog.articles.size > 0 %}
    {%- paginate blog.articles by 10 -%}

      {% comment %} Article Grid {% endcomment %}
      <div class="article__container container">
        {%- for article in blog.articles -%}
        {% if forloop.first %}
          <div class="article__featured-article clip-transition">
            <div class="article__preview">
              {%- if article.image -%}
                <a class="article-preview__image-wrapper" href="{{ article.url }}">
                  <img class="article-preview__image" src="{{ article.image | img_url: '1024x1024' }}" alt="{{ article.image.alt }}" />
                </a>
              {%- endif -%}
              <div class="article-preview__content">
                <a class="article-preview__title-link" href="{{ article.url }}">
                  <h3 class="article-preview__title h3">
                    {%- render 'article-excerpt', _excerpt: article.title -%}
                  </h3>
                </a>
                <div class="article-preview__excerpt article-preview__feature-excerpt body-md">
                  {%- if article.excerpt.size > 0 -%}
                    {%- render 'article-excerpt', _excerpt: article.excerpt -%}
                  {%- else -%}
                    {%- render 'article-excerpt', _excerpt: article.content -%}
                  {%- endif -%}
                </div>
                <v-link class="body-sm-mobile u-hidden-tablet-up" primary href="{{ article.url }}">Read More</v-link>
                <v-button tag="a" class="u-hidden-mobile-only" primary href="{{ article.url }}">Read More</v-button>
              </div>
            </div>
          </div>
        {% else %}
          <div class="article__column clip-transition">
            <div class="article__columns">
              {%- if article.image -%}
                <a class="article-preview__image-wrapper" href="{{ article.url }}">
                  <img class="article-preview__image" src="{{ article.image | img_url: '1024x1024' }}" alt="{{ article.image.alt }}" />
                </a>
              {%- endif -%}
              <div class="article-preview__content">
                <a class="article-preview__title-link" href="{{ article.url }}">
                  <h3 class="article-preview__title h5">
                    {%- render 'article-excerpt', _excerpt: article.title -%}
                  </h3>
                </a>
                <div class="article-preview__excerpt body-md">
                  {%- if article.excerpt.size > 0 -%}
                    {%- render 'article-excerpt', _excerpt: article.excerpt, _truncate_length: 100 -%}
                  {%- else -%}
                    {%- render 'article-excerpt', _excerpt: article.content, _truncate_length: 100 -%}
                  {%- endif -%}
                </div>
                <v-link class="body-sm-mobile" primary href="{{ article.url }}">Read More</v-link>
              </div>
            </div>
          </div>
          {% endif %}
        {%- endfor -%}
      </div>

      {% comment %} Blog Pagination {% endcomment %}
      {%- if paginate.pages > 1 -%}
        {%- include 'pagination-blog' -%}
      {%- endif -%}
    {%- endpaginate -%}
  {% else %}
    <div class="article__container no-articles">
      <h3 class="article-no-article-title">There are currently no articles!</h3>
    </div>
  {% endif %}
</div>
