{%- layout none -%}
[
  {%- for item in cart.items -%}
    {%- include 'json--product', product: item.product, show_all_data: true -%}
    {%- unless forloop.last -%},{%- endunless -%}
  {%- endfor -%}
]
