{% layout 'ui-kit' %}
<main>
  <h5>Desktop Typography</h5><hr>
  <h1>Headline 1</h1><hr>
  <h2>Headline 2</h2><hr>
  <h3>Headline 3</h3><hr>
  <h4>Headline 4</h4><hr>
  <h5>Headline 5</h5><hr>
  <h6 style="margin-bottom: 20px;">Headline 6</h6><hr>
  <p class="subheader">subheader</p><hr>
  <p class="preheader">preheader</p><hr>
  <p class="body-lg">Body (Large)</p><hr>
  <p class="body-md">Body (Base)</p><hr>
  <p class="body-sm">Body (Small)</p><hr>

  <p class="label">Form Label</p>
  <hr>

  {% comment %}





  {% endcomment %}
  <h5>Buttons and Links</h5>
  <hr><h6 style="margin-bottom: 20px;">Button Primary</h6>
  <v-button primary>Default</v-button>
  <v-button primary disabled>Disabled</v-button>

  <hr><h6 style="margin-bottom: 20px;">Button Secondary</h6>
  <v-button secondary>Default</v-button>
  <v-button secondary disabled>Disabled</v-button>

  <hr><h6 style="margin-bottom: 20px;">Button Tertiary</h6>
  <v-button tertiary>Default</v-button>
  <v-button tertiary disabled>Disabled</v-button>

  <hr><h6 style="margin-bottom: 20px;">Button Outline</h6>
  <v-button outline>Default</v-button>
  <v-button outline disabled>Disabled</v-button>

  <hr><h6 style="margin-bottom: 20px;">Links primary</h6>

  <v-link primary href="https://sdlkgjlskdg.com">Link - primary</v-link>
  <br/><br/>
  <v-link secondary href="https://sdlkgjlskdg.com">Link - secondary</v-link>
  <br/><br/>
  <v-link tertiary href="https://sdlkgjlskdg.com">Link - tertiary</v-link>
  <br/><br/>
  <v-link light-link href="https://sdlkgjlskdg.com">Link - Default</v-link>
  <br/><br/>

  <hr><h5>Primary Form Fields</h5>
  <hr><h6 style="margin-bottom: 20px;">Text</h6>
  <text-input label="Label"></text-input>
  <text-input label="" :disabled="true"></text-input>
  <text-area-input label="Textarea"></text-area-input>

  <hr><h6 style="margin-bottom: 20px;">Checkbox</h6>
  <div>
    <input type="checkbox" id="check1">
    <label for="check1">Label</label>
  </div>
  <div>
    <input type="checkbox" id="check2" checked>
    <label for="check2">Selected</label>
  </div>
  <div>
    <input type="checkbox" id="check3" disabled="disabled">
    <label for="check3">Disabled</label>
  </div>
  <div>
    <input type="checkbox" id="check4" disabled="disabled" checked>
    <label for="check4">Disabled Selected</label>
  </div>
  <div>
    <input type="checkbox" class="input--toggle" id="toggle1">
    <label for="toggle1">Toggle</label>
  </div>
  <div>
    <input type="checkbox" class="input--toggle" id="toggle2" checked>
    <label for="toggle2">Toggle Selected</label>
  </div>
  <div>
    <input type="checkbox" class="input--toggle" id="toggle3" disabled="disabled">
    <label for="toggle3">Toggle Disabled</label>
  </div>
  <div>
    <input type="checkbox" class="input--toggle" id="toggle4" checked disabled="disabled">
    <label for="toggle4">Toggle Disabled Selected</label>
  </div>
  <hr><h6 style="margin-bottom: 20px;">Radio</h6>
  <div>
    <input type="radio" name="t" id="radio1">
    <label for="radio1" >Default</label>
  </div>
  <div>
    <input type="radio" name="ts" id="radio2" checked>
    <label for="radio2" >Selected</label>
  </div>
  <div>
    <input type="radio" name="f" id="radio3" disabled>
    <label for="radio3" >Disabled</label>
  </div>
  <div>
    <input type="radio" name="f" id="radio4" disabled checked>
    <label for="radio4" >Disabled Selected</label>
  </div>

  <hr><h5>Tooltips</h5>
  <span v-tooltip.top="'tooltop top center'">hover for tooltip top</span>
  <span v-tooltip.bottom="'tooltop bottom center'">hover for tooltip bottom</span>

  <br/>
</main>
