<!-- Because search results can sometimes run the for loop long after the if statement, we sometimes still get a comma using the "unless" trick. To remedy that we're first creating the two arrays, then splitting them by the '::', then using another forloop to construct the data properly as JSON. -->
{%- paginate search.results -%}
  {% capture products %}
    {%- for item in search.results -%}
      {%- if item.object_type == 'product' -%}
        {% render 'json--product', product: item %}:::
      {%- endif -%}
    {%- endfor -%}
  {% endcapture %}

  {% capture articles %}
    {%- for item in search.results -%}
      {%- if item.object_type == 'article' -%}
        {
          "type": "{{ item.object_type }}",
          "title": "{{ item.title }}",
          "url": "{{ item.url }}",
          "image": {
            "src": "{{ item.image.src | img_url: '400x' | crop: 'center' }}",
            "alt": "{{ item.image.alt }}"
          }
        }:::
      {%- endif -%}
    {%- endfor -%}
  {% endcapture %}

  {% capture pages %}
    {%- for item in search.results -%}
      {%- if item.object_type == 'page' -%}
        {
          "type": "{{ item.object_type }}",
          "title": "{{ item.title }}",
          "url": "{{ item.url }}"
        }:::
      {%- endif -%}
    {%- endfor -%}
  {% endcapture %}

  {% assign products_split = products | split: ":::" %}
  {% assign articles_split = articles | split: ":::" %}
  {% assign pages_split = pages | split: ":::" %}

  {% capture search_results_data %}
    {
      "products": [
        {% for product in products_split %}
          {{ product }}{%- unless forloop.last -%},{%- endunless -%}
        {% endfor %}
      ],
      "articles": [
        {% for article in articles_split %}
          {{ article }}{%- unless forloop.last -%},{%- endunless -%}
        {% endfor %}
      ],
      "pages": [
        {% for page in pages_split %}
          {{ page }}{%- unless forloop.last -%},{%- endunless -%}
        {% endfor %}
      ]
    }
  {% endcapture %}

  {% capture search_cta_settings %}
    {
      "text": {{ settings.search_shop_cta_text | json }},
      "url": {{ settings.search_shop_cta_url | json }},
      "cta": {{ settings.search_shop_cta_style | json }}
    }
  {% endcapture %}

  <search-results
    :search-results="{{ search_results_data | escape | strip }}"
    :term="{{ search.terms | json | escape }}"
    :search-performed="{{ search.performed | json }}"
    :search-cta-settings="{{ search_cta_settings | escape | strip }}"
    next-link="{{ paginate.next.url }}"
    previous-link="{{ paginate.previous.url }}"
    :current-page="{{ paginate.current_page }}"
    :total-pages="{{ paginate.pages }}"
  >
  </search-results>
{%- endpaginate -%}