<template lang="pug">
  .search-results-tile(:class="{'product': tileType === 'products'}")
    product-tile(v-if="tileType === 'products'" :simple="true" :product="data" :selected-variant="data.variants[0]")
    a.search-results-tile__article(v-if="tileType === 'articles'" :href="data.url")
      img.search-results-tile__article-image(:src="data.image.src" :alt="data.image.alt")
      .search-results-tile__article-text
        h5.body-md {{data.title}}
        v-link.link(primary :href="data.url") View
    a.search-results-tile__page(v-if="tileType === 'pages'" :href="data.url")
      .search-results-tile__page-text
        span Page
        h5.body-md {{data.title}}
        v-link.link(primary :href="data.url") View
</template>

<script>
  import Icon from '../basic/Icon.vue'
  import VLink from '../buttons/VLink.vue'

  import ProductTile from '../product/ProductTile.vue'

  export default {
    name: "SearchResultsTile",
    components: { Icon, VLink, ProductTile },
    props: {
      tileType: {
        type: String,
        required: true
      },
      data: {
        type: Object,
        required: true
      }
    }
  }
</script>

<style lang="scss" scoped>
  .search-results-tile {
    &:hover {
      cursor: pointer;
    }
    &__article, &__page {
      min-height: 342px;
      background-color: $color-white;
      border-radius: 4px;
      a, h5, span {
        color: $color-black;
      }
      .link {
        margin-top: 16px;
      }
      @include tablet-up {
        min-height: 342px;
      }
      @include mobile-only {
        min-height: 112px;
      }
    }
    &__article, &__page {
      display: block;
      box-shadow: $drop-shadow--light;
      transition: box-shadow 200ms ease;
      &:hover {
        cursor: pointer;
        box-shadow: 1px 2px 2px -1px rgba(0,0,0,0.4);
      }
    }
    &__article {
      &-image {
        height: 216px;
        width: 100%;
        object-fit: cover;
        object-position: center;
      }

      &-text {
        padding: 8px;

        h5 {
          color: $color-black;
          text-transform: none;
        }

        @include mobile-only {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
      }
      @include mobile-only {
        display: flex;
        &-image {
          height: 112px;
          width: 40%;
        }
      }
    }
    &__page {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 8px;
    }
  }
</style>
