<template lang="pug">
  .search-results-grid-wrapper
    .search-results-grid.container
      .search-results-grid__total
        span {{ resultsText }}
      fade-transition(:duration="{enter: 1000, leave: 300}" group)
        .search-results-grid__no-results(v-if="currentResults && currentResults.length < 1" key="noresults")
          h4 There are no {{currentTab.slice(0, -1)}} results for "{{searchTerm}}"
          .search-results-grid__no-results-other-results(v-if="totalResults")
            p Other Results:
              span(v-if="totalProducts") {{`${totalProducts} ${totalProducts > 1 ? 'products' : 'product'}`}}{{`${totalArticles || totalPageItems ? ',' : ''}`}}
              span(v-if="totalArticles") {{`${totalArticles} ${totalArticles > 1 ? 'articles' : 'article'}`}}{{`${totalPageItems ? ',' : ''}`}}
              span(v-if="totalPageItems") {{`${totalPageItems} ${totalPageItems > 1 ? 'pages' : 'page'}`}}
          v-button.search-results-grid__no-results-button(
            v-if="searchCtaSettings.cta && searchCtaSettings.url"
            :class="searchCtaSettings.cta"
            :href="searchCtaSettings.url"
            tag="a"
          ) {{searchCtaSettings.text}}
        .search-results-grid__products.grid(v-if="currentTab === 'products' && currentResults.length >=1" key="products" id="SearchResults" aria-live="polite")
          search-results-tile(v-for="(product, index) in currentResults" v-if="!product.tags.includes('hide')" :data="product" :tileType="currentTab" :key="index + product.type")
        .search-results-grid__articles.grid(v-if="currentTab === 'articles' && currentResults.length >=1" key="articles" id="SearchResults" aria-live="polite")
          search-results-tile(v-for="(article, index) in currentResults" :data="article" :tileType="currentTab" :key="index + article.type")
        .search-results-grid__pages.grid(v-if="currentTab === 'pages' && currentResults.length >=1" key="pages" id="SearchResults" aria-live="polite")
          search-results-tile(v-for="(page, index) in currentResults" :data="page" :tileType="currentTab" :key="index + page.type")
      search-results-pagination-controls(
        v-on:go-to-page="goToPage"
        :current-results="currentResults"
        :next-link="nextLink"
        :previous-link="previousLink"
        :current-page="currentPage"
        :total-pages="totalPages"
      )
</template>

<script>
  import {FadeTransition} from 'vue2-transitions'

  import VButton from '../buttons/VButton.vue'

  import SearchResultsTile from './SearchResultsTile.vue'
  import SearchResultsPaginationControls from './SearchResultsPaginationControls.vue'

  export default {
    name: "SearchResultsGrid",
    components: { FadeTransition, VButton, SearchResultsTile, SearchResultsPaginationControls },
    props: {
      currentTab: {
        type: String,
        default: "products"
      },
      searchResults: {
        type: Object,
        required: true
      },
      searchTerm: {
        type: String,
        required: true
      },
      searchCtaSettings: Object,
      nextLink: String,
      previousLink: String,
      totalPages: Number,
      currentPage: Number,
    },
    data() {
      return {
        currentResults: [],
      }
    },
    computed: {
      totalProducts() {
        return this.searchResults.products.length
      },
      totalArticles() {
        return this.searchResults.articles.length
      },
      totalPageItems() {
        return this.searchResults.pages.length
      },
      totalResults() {
        return this.totalProducts + this.totalArticles + this.totalPageItems
      },
      resultsText() {
        return `Page ${this.currentPage} of ${this.totalPages}`;
      }
    },
    watch: {
      currentTab() {
        this.currentResults = this.searchResults[this.currentTab]
      }
    },
    methods: {
      goToPage() {

      },
    },
    mounted() {
      this.currentResults = this.searchResults[this.currentTab]
    }
  }
</script>

<style lang="scss" scoped>
  .search-results-grid-wrapper {
    background-color: $color-white;
  }

  .search-results-grid {
    &__total{
      height: 96px;
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        font-size: 18px;
        letter-spacing: 0;
        line-height: 24px;
      }
    }

    &__no-results {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      min-height: 50vh;
      h4 {
        margin-bottom: 16px;
      }
      span {
        margin-left: 4px;
      }
      &-button {
        margin-top: 16px;
      }
    }
    .grid {
      display: flex;
      flex-wrap: wrap;
      /deep/ .search-results-tile {
        width: 100%;
        display: inline-block;
        vertical-align: top;

        @include mobile-only {
          width: 100%;
          margin-right: 0;
          margin-bottom: 24px;
        }

        @include tablet-only {
          width: calc(33% - #{(40px * 2) / 3});
          margin-right: 40px;
          margin-bottom: 20px;
          &:nth-child(3n) {
            margin-right: 0;
          }
        }

        @include desktop-up {
          width: calc(25% - #{(40px * 3) / 4});
          margin-right: 40px;
          margin-bottom: 20px;
          &:nth-child(4n) {
            margin-right: 0;
          }
        }
      }

      /deep/ .search-results-tile.product {
        width: 100%;
        display: inline-block;
        vertical-align: top;

        @include mobile-only {
          width: 100%;
          margin-bottom: 10px;

          &:nth-child(2n) {
            margin-right: 0;
          }
        }

        @include tablet-only {
          width: calc(33% - #{(40px * 2) / 3});
          margin-right: 40px;
          margin-bottom: 20px;

          &:nth-child(3n) {
            margin-right: 0;
          }
        }

        @include desktop-up {
          width: calc(25% - #{(40px * 3) / 4});
          margin-right: 40px;
          margin-bottom: 20px;

          &:nth-child(4n) {
            margin-right: 0;
          }
        }
      }
    }

  }
</style>
