<template lang="pug">
  tabs.search-results-tabs(@changed="tabChanged")
    tab.search-results-tabs__tab.strong-medium(title="Products")
    tab.search-results-tabs__tab.strong-medium(title="Articles")
    tab.search-results-tabs__tab.strong-medium(title="Pages")
</template>

<script>
  import { Tabs, Tab } from 'vue-simple-tabs'

  export default {
    name: 'SearchResultsTabs',
    components: { Tabs, Tab },
    methods: {
      tabChanged(tab) {
        this.$emit('change-tab', tab.title.toLowerCase())
      }
    }
  }
</script>

<style lang="scss" scoped>
  .search-results-tabs {
    margin-bottom: 8px;
    border-bottom: 1px solid $color-light-grey;
    height: 80px;
    width: 100%;

    /deep/ ul {
      display: flex;
      justify-content: center;
      padding: 0;
      margin: 0;
    }
    /deep/ li {
      cursor: pointer;
      position: relative;
      font-family: $font-family-secondary;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 1px;
      line-height: 24px;
      text-align: center;
      display: flex;
      align-items: flex-end;
      height: 80px;
      padding: 16px 0;
      margin: 0 16px;

      &::after {
        content: ' ';
        position: absolute;
        bottom: 13px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: transparent;
        transform: scaleY(0);
        transition: transform 300ms ease, background-color 300ms ease;
      }
      &.active {
        &::after {
          transform: scaleY(1);
          background-color: $color-primary-red;
        }
      }
    }
  }
</style>
