<template lang="pug">
  .product-custom-note 
    .product-custom-note__sub-text {{option['text_sub-text']}}
    .product-custom-note__text
      input.product-custom-note__input(v-model="customNote" placeholder="Please provide us the text here..." name="custom_note")
      button.product-custom-note__button(@click="confirmNote")
        span(v-if="customNoteConfirmed.length > 0") Edit
        span(v-else) Add
</template>

<script>
export default {
  name: 'ProductCustomNote',
  props: {
    option: {
      type: Object,
    },
    onSelect: {
      type: Function
    },
    selectedValue: {
      type: Object
    },
    label: {
      type: String
    }
  },
  data () {
    return {
      customNote: '',
      customNoteConfirmed: ''
    }
  },
  methods: {
    confirmNote() {
      this.customNoteConfirmed = this.customNote;
    }
  },
  watch: {
    customNoteConfirmed (newValue) {
      this.onSelect({
        type: 'CustomNote',
        label: this.label,
        displayText: newValue ? newValue : 'No',
        value: newValue,
        price: 0,
      });
    }
  }
}
</script>

<style lang="scss" scoped>
.product-custom-note { 
  &__sub-text {
    margin-top: 8px;
    font-size: rem(11);
    font-weight: 400;
    line-height: rem(16);
    color: $color-off-black;
  }



  &__text {
    margin-top: 20px;
    border: 1px solid $color-light-grey;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    display: flex;
    overflow: hidden;
  }

  &__input {
    height: 42px;
    border: 0;
    flex: 1;
    padding: 0 12px;
    font-size: rem(12);
    line-height: rem(12);
    color: $color-off-black;
  }
  &__button {
    background-color: $color-grey;
    color: $color-white;
    border-color: $color-off-black;
    border-radius: 4px;
    height: 42px;
    width: 84px;
    min-width: 0;
    text-transform: none;

    span {
      font-size: rem(12);
      font-weight: 500;
      line-height: rem(16);
    }
  }
}
</style>