<template lang="pug">
  .product-color-selection
    .product-color-toggle
      .toggle-item(@click="() => customColor = false" :class="!customColor && 'toggle-item--selected'" tabindex="0")
        span In Stock Colors
      .toggle-item(@click="() => customColor = true" :class="customColor && 'toggle-item--selected'" tabindex="0")
        span Custom Pantone
    .product-color__swatches(v-if="!customColor")
      button.color-item(v-for="color in colors" @click="() => selectColor(color)" :class="[selectedValue? selectedValue.color === color && 'color-item--selected': '']")
        .color-item__swatch
          img.color-item__swatch-img(:src="fileUrl(`swatch_${cleanFile(color)}.png`)")
        .color-item__title {{color}}
    .product-color__custom(v-else)
      input.product-color__input(type="text" v-model="customColorValue" placeholder="Please provide us the PMS color or HEX code")
      button.product-color__button(@click="() => selectColor(customColorValue)") Add
</template>

<script>
import {fileUrl} from 'scripts/helpers/util.js';
export default {
  name: "ProductColorSelector",
  props: {
    option: {
      type: Object,
    },
    selectedValue: {
      type: Object,
    },
    label: {
      type: String,
    },
    onSelect: {
      type: Function,
      default: () => {}
    }
  },
  data () {
    return {
      customColor: false,
      customColorValue: '',
    }
  },
  computed: {
    colors () {
      return this.option.in_stock_colors.split(', ');
    }
  },
  methods: {
    fileUrl,
    cleanFile (fileName) {
      return fileName.toLowerCase()
              .trim()
              .replaceAll(/[&\s\/\\#,+()$~%.'":*?<>{}]/g,'-')
              .replaceAll(/-+/g,"-");
    },
    selectColor (color) {
      let selectedOptions = {
        type: 'ColorSelector',
        label: this.label,
        color,
        price: 0,
      };

      if (this.customColorValue.length !== 0 && this.customColor) {
        selectedOptions.displayText = `Custom Color: ${this.customColorValue}`;
        selectedOptions.color = this.customColorValue;
        selectedOptions.price = parseInt(this.option.builder_color_additional_fee) * 100 || 0;
      } else {
        selectedOptions.displayText = color;
        selectedOptions.price = parseInt(this.option.builder_custom_color_fee) * 100 || 0;
      }
      this.onSelect(selectedOptions)
    }
  }
}
</script>

<style lang="scss" scoped>
  .product-color-selection {
    display: flex;
    flex-direction: column;
  }

  .product-color-toggle {
    display: flex;
    margin-top: 16px;
    margin-bottom: 12px;
    width: 208px;
    border: 1px solid $color-light-grey;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15);
  }

  .toggle-item {
    display: flex;
    width: 50%;
    height: 33px;
    font-size: rem(12);
    font-weight: 500;
    line-height: rem(15);
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .toggle-item--selected {
    color: $color-white;
    background-color: $color-grey;
    border-radius: 4px;
  }

  .product-color__swatches {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    grid-row-gap: 16px;
  }

  .color-item {
    display: flex;
    padding: 0;
    height: auto;
    min-width: 50px;
    text-align: center;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .color-item__swatch {
    position: relative;
    width: 30px;
    height: 30px;
    border: 1px solid $color-light-grey;
    border-radius: 16px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    overflow: hidden;

    .color-item--selected & {
      border-color: $color-off-black;
    }
  }

  .color-item__swatch-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid $color-white;
    border-radius: 16px;
  }

  .color-item__title {
    font-size: rem(11);
    font-weight: 500;
    line-height: rem(13);
    text-transform: none;
  }

  .product-color__custom {
    display: flex;
    border: 1px solid $color-light-grey;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    overflow: hidden;
  }

  .product-color__input {
    padding: 0 12px;
    height: 42px;
    color: $color-off-black;
    font-size: rem(12);
    line-height: rem(12);
    border: 0;
    flex: 1;
  }

  .product-color__button {
    width: 84px;
    height: 42px;
    min-width: 0;
    color: $color-white;
    font-size: rem(12);
    font-weight: 500;
    line-height: rem(16);
    text-transform: none;
    background-color: $color-grey;
    border-color: $color-off-black;
    border-radius: 4px;
  }
</style>
