<template lang="pug">
  .product-custom-image
    button.product-custom-image__select(v-for="image in option.image" @click="() => onImageSelect(image)")
      img(:src="image.image" alt="image")
</template>

<script>
export default {
  name: 'ProductCustomImage',
  props: {
    option: {
      type: Object,
    },
    onSelect: {
      type: Function
    },
    selectedValue: {
      type: Object
    },
    label: {
      type: String,
    },
  },
  methods: {
    onImageSelect (image) {
      let option = {
        type: 'CustomImageSelect',
        label: this.label,
        displayText: 'Selected',
        value: image,
        price: 0,
      }
      this.onSelect(option);
    }
  }
}
</script>

<style lang="scss" scoped>
.product-custom-image {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 6px;
  row-gap: 6px;
  margin-top: 16px;

  &__select {
    width: 100%;
    padding-top: 100%;
    height: 0;
    position: relative;
    border: 1px solid $color-light-grey;
    border-radius: 1px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.08);
    overflow: hidden;
    min-width: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: fill;
      object-position: center center;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
</style>