<template lang="pug">
  .product-custom-pills(v-if="option.display_options_as.toLowerCase() === 'pill buttons'")
    .product-custom-pills__pill(v-for="optionItem in options" :key="optionItem.name")
      input(type="radio" :id="`pill_${option.builder_title}_${optionItem.name}`" :name="option.builder_title" v-model="selectedPill" :value="optionItem.name")
      label(:for="`pill_${option.builder_title}_${optionItem.name}`" name="pill") {{optionItem.name}}
  .product-custom-radios(v-else-if="option.display_options_as.toLowerCase() === 'radio buttons'")
    .product-custom-radios__radio(v-for="optionItem in options")
      input(type="radio" :id="`pill_${option.builder_title}_${optionItem.name}`" :name="option.builder_title" v-model="selectedPill" :value="optionItem.name")
      label(:for="`pill_${option.builder_title}_${optionItem.name}`" name="pill") {{optionItem.name}}
  .product-custom-dropdown(v-else-if="option.display_options_as.toLowerCase() === 'dropdown selector'")
    select.product-custom-dropdown__dropdown(v-model="selectedPill")
      option(disabled value="") Select an Option
      option(v-for="optionItem in options" :key="optionItem.name" :value="optionItem.name") {{optionItem.name}}

</template>

<script>
export default {
  name: "ProductCustomPills",
  props: {
    option: {
      type: Object,
    },
    onSelect: {
      type: Function
    },
    selectedValue: {
      type: Object
    },
    label: {
      type: String
    }
  },
  data () {
    return {
      selectedPill: "",
    }
  },
  mounted() {
    if (this.selectedValue) this.selectedPill = this.selectedValue.option;
  },
  computed: {
    options () {
      let splitPills = this.option.pill_options.split(', ')
      let pillObject = splitPills.map((pill) => {
        let splitPill = pill.split('::');
        return {
          name: splitPill[0],
          price: parseInt(splitPill[1]) || 0
        }
      })
      return pillObject;
    }
  },
  watch: {
    selectedPill (newValue, oldValue) {
      let selectedPill = {
        type: 'PillSelect',
        label: this.label,
        displayText: newValue,
        option: newValue,
        price: this.options.find((option) => option.name === newValue).price * 100 || 0,
      }
      this.onSelect(selectedPill);
    }
  }
}
</script>

<style lang="scss" scoped>
.product-custom-pills,
.product-custom-radios,
.product-custom-dropdown {
  margin-top: 16px;
}
.product-custom-pills {
  display: flex;
  flex-wrap: wrap;
  &__pill {
    margin-right: 10px;
    input {
      height: 0;
      width: 0;
      margin: 0;
      border: 0;
      &:after {
        display: none;
      }

      &:checked + label {
        background-color: $color-grey;
        border-color: $color-grey;
        color: $color-white;
      }
    }
    label {
      display: inline-flex;
      align-items: center;
      padding: 0 16px;
      height: 41px;
      border: 1px solid $color-light-grey;
      border-radius: 4px;
      font-size: rem(12);
      font-weight: 500;
      line-height: rem(16);
      box-shadow: 0 1px 1px rgba(0,0,0,0.12);
    }
  }
}
.product-custom-radios {
  &__radio {
    display: flex;
    align-items: center;
    
    & + .product-custom-radios__radio {
      margin-top: 7px;
    }

    label {
      font-size: rem(14);
      font-weight: 400;
      line-height: rem(22);
    }
  }
}
</style>