<template lang="pug">
  .product-custom-product-selector
    button.product-custom-product-selector__none(@click="onNoneSelect")
      span None
    product-custom-product-item(v-for="product in products" :key="product" :handle="product" :onSelect="onProductSelect")
</template>

<script>
import ProductCustomProductItem from './ProductCustomProductItem.vue';

export default {
  name:"ProductCustomProductSelect",
  components: {
    ProductCustomProductItem,
  },
  props: {
    option: {
      type: Object,
    },
    onSelect: {
      type: Function
    },
    selectedValue: {
      type: Object
    },
    label: {
      type: String
    }
  },
  computed: {
    products () {
      return this.option.select_products.split('|');
    }
  },
  methods: {
    onProductSelect(product) {
      let theVariant = product.variants[0];
      let selectedProduct = {
        type: 'ProductSelect',
        label: this.label,
        displayText: product.title,
        price: theVariant.price,
        variant: theVariant.id
      };

      this.onSelect(selectedProduct);
    },
    onNoneSelect() {
      let selectedProduct = {
        type: 'ProductSelect',
        displayText: 'None',
        label: this.label,
        price: 0,
        variant: null
      };

      this.onSelect(selectedProduct);
    }
  }
}
</script>

<style lang="scss" scoped>
.product-custom-product-selector {
  margin-top: 16px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 6px;
  row-gap: 6px;

  &__none {
    position: relative;
    height: 0;
    padding-top: 100%;
    background-color: $color-v-light-grey;
    color: $color-grayish-gray;
    border: 1px solid $color-light-grey;
    border-radius: 1px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.08);
    min-width: 0;

    span {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: rem(11);
      font-weight: 400;
      line-height: rem(16);
      text-transform: none;
    }
  }
}
</style>