<template lang="pug">
  .product-custom-upload
    .product-custom-upload__instructions(
      v-if="option.builder_instructions"
    )
      p {{option.builder_instructions}}

    product-custom-yes-no-toggle.product-custom-upload__toggle(v-model="active")
    form.product-custom-upload__wrapper(
      action="/cart/add" method="post"
      :class="active === 'true' && 'product-custom-upload__wrapper--open'"
      @upload:added="handleUpload"
      @upload:removed="handleRemove"
    )
      .product-custom-upload__upload-wrapper.product-form__item.product-form__item--submit.product-form__item--payment-button.product-form__item--no-variants
        button.shopify-payment-button(type="submit" name="add" aria-label="Add to cart" class="btn product-form__cart-submit btn--secondary-accent" aria-hidden="true" data-add-to-cart="" style="display: none;")
      .product-custom-upload__template-download(v-if="option.template_file")
        a.product-custom-upload__template-link(:href="option.template_file" target="_blank") 
          span Download Template
          icon(name="download-template" size="24px")
</template>

<script>
import Icon from 'scripts/components/basic/Icon.vue';
import ProductCustomYesNoToggle from 'scripts/components/product/custom/ProductCustomYesNoToggle.vue';

export default {
  name: 'ProductCustomUpload',
  components: {
    Icon,
    ProductCustomYesNoToggle,
  },
  data () {
    return {
      active: null,
      images: [],
    }
  },
  mounted () {
    setTimeout(() => { window.Cloudlift.upload.App.setup(); }, 1000)
  },
  props: {
    option: {
      type: Object,
    },
    onSelect: {
      type: Function
    },
    label: String,
  },
  methods: {
    handleUpload(e) {
      if (e.detail && e.detail.url) {
        this.images = [e.detail.url]
      }
    },
    handleRemove() {
      this.images = [];
    },
    select () {
      let selectedOptions = null;
      if (this.active === 'true') {
        if (this.confirmedLettering !== null && this.confirmedColor !== null) {
          selectedOptions = {
            type: 'CustomImageUpload',
            label: this.label,
            images: this.images,
            displayText: `Yes; Image Uploaded`,
            price: parseInt(this.option.file_upload_additional_fee) * 100 || 0,
          }
        }
      } else {
        selectedOptions =  {
          type: 'CustomImageUpload',
          label: this.label,
          images: false,
          displayText: 'No',
          price: 0,
        }
      }

      if (selectedOptions !== null) {
        this.onSelect(selectedOptions);
      }
    }
  },
  watch: {
    active (newValue) {
      if (newValue === 'false') this.select();
    },
    images () {
      this.select();
    }
  }
}
</script>

<style lang="scss" scoped>
  .product-custom-upload__upload-wrapper {
    & > button {
      display: none !important;
    }
  }

  .product-custom-upload__instructions {
    margin-top: 8px;
    color: $color-grayish-gray;
    font-size: rem(11);
    font-weight: 400;
    line-height: rem(16);
  }

  .product-custom-upload__wrapper {
    display: none;
    margin-top: 16px;
    grid-template-columns: repeat(2, 1fr);
  }

  .product-custom-upload__wrapper--open {
    display: grid;
  }

  .product-custom-upload__toggle {
    margin-top: 10px;
  }

  .product-custom-upload__template-link {
    display: flex;
    position: relative;
    padding: 0 20px;
    max-width: 98px;
    color: $color-primary-red;
    font-size: rem(10);
    font-weight: 500;
    line-height: rem(12);
    text-align: center;
    text-decoration: underline;

    /deep/ .icon {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
    }
  }

  /*
   * File Upload Widget
   */

  /deep/ .filepond--root {
    margin-bottom: 0;
  }

  /deep/ .filepond--file-action-button {
    min-width: unset;
  }
</style>