$blog-grey: #EFEFEF;

.article {
  position: relative;

  &__icon {
    margin-bottom: 8px;
  }

  .product-tile-badge {
    position: absolute;
    top: -30px;
    right: 10px;
  }

  &__title {
    margin: 0;
    padding: 8px 0;
    font-size: rem(33);
    letter-spacing: -0.5px;

    @include desktop-up {
      padding: 16px 0;
      font-size: rem(40);
      line-height: 0.9;
      letter-spacing: -1px;
      font-family: $font-gibson;
      font-weight: 300;
    }
  }

  &__social-sharing {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: $grid-gutter 0;

    @include mobile-only {
      padding-bottom: $grid-gutter * 2;
    }

    label {
      font-size: rem(23);
    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 45px;
      height: 45px;
    }
  }

  &__tags {
    text-align: center;

    a {
      text-decoration: none;
    }
  }

  &__paginate {
    display: flex;
    justify-content: center;

    a {
      width: 45px;
      height: 46px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $color-accent-1;
      margin: 0 3px;

      &:hover {
        background-color: $color-accent-1;
      }
    }
  }

  &__comments-section {
    padding: $grid-gutter 0;
  }

  &__form-success {
    padding: $grid-gutter;
  }

  &__comment {
    list-style: none;
    padding-bottom: $grid-gutter;
    border-bottom: 1px solid $color-off-black;

    &__content {
      line-height: 30px;
    }

    &__date {
      position: relative;
      padding-left: 17px;
      margin-left: 11px;

      &::before {
        content: '';
        width: 6px;
        height: 6px;
        background: $color-off-black;
        display: block;
        position: absolute;
        top: 44%;
        left: 0;
        border-radius: 50%;
      }
    }
  }

  &__tags-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 auto;
    max-width: 95%;
    margin-bottom: 40px;

    @include desktop-up {
      max-width: 820px;
      padding-left: 26px;
      padding-right: 26px;
      margin-bottom: 32px;
      flex-direction: row;
      align-items: center;
      width: 100%;
    }

    .link {
      vertical-align: bottom;
    }

    &::before {
      content: "";
      display: block;
      margin: 0 auto 32px;
      border-bottom: 1px solid $color-grey;
      padding-top: 4px;
      width: 95%;

      @include desktop-up {
        width: 100%;
      }
    }
  }

  &__tags-text {
    margin-bottom: 16px;
    font-size: rem(14);
    line-height: 1.3;
    letter-spacing: 0.3px;
    font-family: $font-gibson;
    font-weight: 500;

    @include desktop-up {
      margin-bottom: 0;
      margin-right: 24px;
    }
  }

  &__tags-left {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;

    @include desktop-up {
      flex-direction: row;
      text-align: left;
      margin: 0;
    }

    .article__tags {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }

    li {
      margin-bottom: 10px;
      margin-right: 16px;
      background-color: $color-black;

      @include desktop-up {
        margin-bottom: 0;
      }

      a {
        padding: 1px 16px 0 16px;
        text-align: center;
        vertical-align: middle;
        font-size: rem(14);
        line-height: 1.75;
        letter-spacing: 0.3px;
        font-family: $font-gibson;
        font-weight: 300;
        color: $color-white;
      }
    }
  }
  &__header-section-container {

  }

  &__header-section  {

  }

  &__blog-category {
    text-transform: uppercase;
    font-size: rem(12);
    line-height: 1.5;
    letter-spacing: 0.5px;
    font-family: $font-gibson;
    font-weight: 700;
    color: $color-slate;

    @include desktop-up {
      font-size: rem(14);
      letter-spacing: 0.7px;
    }
  }

  &__excerpt {
    padding-bottom: 8px;
    font-size: rem(16);
    line-height: 1.5;
    letter-spacing: 0.3px;
    font-family: $font-gibson;
    font-weight: 300;

    @include desktop-up {
      padding-bottom: 32px;
    }
  }

  &__container {
    max-width: 1440px;
    margin: 0 auto;
  }

  &__content {
    margin: 0 auto;
    margin-bottom: 28px;
    max-width: 95%;
    overflow: hidden;
    overflow-wrap: break-word;
    padding: 0 0 40px 0;

    img {
      border-radius: 14px;
    }

    img + * {
      margin-top: 16px;
    }

    &.client-generated {
      margin-bottom: 0;

      > * + * {
        margin-top: 0;
      }

      ol, ul {
        max-width: 95%;
        margin-top: 16px;
        list-style: initial;
      }

      h1,
      h2 {
        @extend .h3;
        text-transform: none;
      }

      > * + h1,
      > * + h2 {
        margin-top: 24px;
      }

      > h1 + p,
      > h2 + p {
        margin-top: 8px;
      }

      h3,
      h4,
      h5 {
        @extend .body-lg;
        text-transform: none;
        font-weight: 400;
      }

      p,a,li {
        color: $color-off-black;
        font-family: $font-family-primary;
        font-size: 14px;
        letter-spacing: -0.2px;
        line-height: 22px;
      }

      a {
        color: $color-primary-red;
        vertical-align: baseline;
        
        &:visited {
          color: $color-accent-red;
        }

        &::before,
        &::after {
          display: none;
        }
      }

      li {
        margin-bottom: 16px;
        padding-left: 8px;
      }
    }
  }

  .social-share__button {
    margin-top: 10px;
  }

  &__share-container {
    display: none;
    position: sticky;
    margin-top: 160px;
    flex-direction: column;
    text-transform: uppercase;

    @include desktop-up {
      display: flex;
      max-width: 100px;
      margin-left: 0;
      margin-right: 70px;
    }

    @include hd-up {
      margin-left: 44px;
    }

    .article__share-text {
      text-align: center;
      font-size: rem(14);
    }

    .social-sharing {
      display: flex;
      flex-direction: column;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 1px;
      line-height: 22px;
      text-align: center;

      a {
        margin-top: 10px;
      }
    }
  }

  &__more-articles-wrapper {
    background-color: $color-off-white;
  }

  &__more-articles {
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 40px;

    @include desktop-up {
      padding-left: 64px;
      padding-right: 64px;
    }
  }

  &__more-articles-headline {
    text-align: center;
    padding-top: 40px;
    font-size: rem(26);

    @include desktop-up {
      padding-top: 56px;
      font-size: rem(33);
    }
  }

  &__more-all {
    flex: 0 33%;
    &:not(:last-child) {
      margin-right: 32px;
    }
    img {
      width: 416px;
      max-height: 240px;
      object-fit: cover;
      margin-bottom: 16px;
    }
    h4 {
      margin-bottom: 8px;
    }
    span {
      display: inline-block;
    }
    .more-article-read-more {
      margin-top: 16px;
    }
    a p span,
    a span,
    a:not(.link) {
      text-decoration: none;
      color: $color-black;
    }
  }
  &__author {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    font-size: rem(16);
    line-height: 1.5;
    letter-spacing: 0.3px;
    font-family: $font-gibson;
    font-weight: 500;

    @include desktop-up {
      margin-bottom: 0;
    }

    .article__by {
      @include mobile-tablet {
        margin-right: 16px;
      }
    }
  }

  &__author-mobile {
    display: inline-block;
    @include desktop-up {
      display: none;
    }
  }
  &__paginates {
    margin: 40px auto 0 auto;
    @include desktop-up {
      margin: 0;
    }
  }

  &__share-container-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;

    @include desktop-up {
      display: none;
    }

    .article__share-text {
      margin-bottom: 8px;
      text-transform: uppercase;
    }

    .social-sharing a{
      &:not(:last-child) {
        margin-right: 32px;
      }
    }
  }
  &__more-articles-carousel {
    margin-top: 24px;

    img {
      height: 200px
    }
    @include desktop-up {
      margin-top: 48px;
      padding-bottom: 56px;
    }
    .carousel__dots {
      margin-top: 0;
      margin-bottom: 40px;
      display: flex;
      @include desktop-up {
        display: none;
      }
      .carousel__dots__button:after {
        height: 5px;
        width: 5px;
      }
      .carousel__dots__button:not(.is-active) {
        &::after {
          background-color: #e4e4e4;
        }
      }
    }
    .slide {
      display: block !important;
      @include desktop-up {
        padding: 0 16px !important;
      }
    }
  }
  &__blog-url {
    .reversed.link.link--primary {
      display: flex;
      svg {
        order: -1;
        transform: rotate(180deg);
      }
    }
  }
}
#shopify-section-article .container {
  width: 100%;
}
#shopify-section-article .article__container {
  margin-bottom: 0;
}

.article__citations {
  margin: auto;
  padding: 40px 0 24px;
  max-width: 95%;

  @include desktop-up {
    max-width: 820px;
    padding-left: 26px;
    padding-right: 26px;
  }

  &::before {
    content: "";
    position: relative;
    top: -40px;
    display: block;
    margin: 0 auto 32px;
    border-bottom: 1px solid $color-grey;
    width: 95%;

    @include desktop-up {
      width: 100%;
    }
  }
}

.article__about-the-author {
  margin: auto;
  padding: 24px 0;
  max-width: 95%;

  @include desktop-up {
    max-width: 820px;
    padding: 24px 26px;
  }
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.article.container {
  max-width: 1210px;
}

.article__top-line {
  position: relative;
  line-height: 0;
  margin-top: -23px;
  z-index: 11;
  margin-bottom: 16px;
  
  @include desktop-up {
    margin-bottom: 40px;
    padding-left: 44px;
  }
}

.article__top-line .button__content {
  flex-direction: row-reverse;

  svg {
    transform: rotate(180deg);
    margin: 0 8px 0 0;
  }
}

.article-hero {
  .blog__hero-text {
    display: none;

    &:not(.hidden-desktop) {
      @include desktop-up {
        display: block;
      }
    }
  }
}

.article__main-container {
  @include desktop-up {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
  }
}

.article__content {
  margin: 0;
}

.article__share-container--desktop {
  position: sticky;
  top: 200px;
  margin: 0 70px 0 0;
  padding-bottom: 80px;
}

.article__sidebar {
  width: 350px;
  min-width: 350px;
  margin-left: 50px;
  display: none;
  background: $color-v-light-grey;
  position: sticky;
  top: 200px;
  padding: 32px 24px;
  border-radius: 12px;
  
  p, li {
    color: $color-black;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 22px;
  }
  
  ul {
    list-style: initial;
    padding-left: 26px;
    line-height: 32px;
  }
  
  > * + * {
    margin-top: 12px;
  }
  
  > * + .button {
    margin-top: 24px;
  }
  
  @include desktop-up {
    display: block;
    margin-bottom: 80px;
  }
}

.article .social-share__button {
  color: $color-black;
}

.article__share-text {
  color: $color-off-black;
  font-family: $font-family-primary;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1.75px;
  line-height: 22px;
}

.asidebar__button {
  width: 100%;
}

.article__table-of-contents {
  border-radius: 12px;
  background: $color-v-light-grey;
  padding: 16px 26px;
  margin-top: 16px;
  
  @include tablet-up {
    display: inline-block;
    padding-right: 72px;
  }

  a {
    color: $color-off-black  !important;
    transition: color 300ms ease;
    
    &:hover {
      color: $color-primary-red !important;
    }

    &:visited {
      color: $color-off-black !important;
    }
  }

  ul, ol {
    padding-left: 14px !important; 
  }
}

.hbanner {
  background: linear-gradient(186.71deg, #821D0F 0%, $color-primary-red 100%);
  color: $color-white;
  text-align: center;
  
  .container {
    max-width: 1170px;
    padding: 56px 20px;

    @include desktop-up {
      padding-top: 64px;
      padding-bottom: 64px;
      padding-left: 122px;
    }
  }
}

.hbanner__text-container {
  @include desktop-up {
    max-width: 56%;
  }
}

.hbanner__text {
  font-family: $font-family-primary;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 26px;
}

.hbanner__button {
  margin-top: 24px;
}

.more-section-header {
  @extend .h3;
  margin-top: 0;
  width: fit-content;
  text-transform: none;
  position: relative;
  padding: 0 20px 22px;
  margin-bottom: 38px;

  &:after {
    content: '';
    background-color: $color-primary-red;
    height: 4px;
    width: 24px;
    position: absolute;
    bottom: 0;
    display: block;
  }
}

.article__sidebar-container-mobile {
  padding: 40px 20px;

  @include desktop-up {
    display: none;
  }

  .article__sidebar {
    max-width: initial;
    width: 100%;
    margin: 0;
    display: block;
  }
}