.blog-hero {
  position: relative;
}

.blog-hero__image {
  width: 100%;
  height: 57vw;
  object-fit: cover;

  @include desktop-up {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
}

.blog__tagged-title {
  margin-bottom: 50px;
  text-align: center;
}

.blog-hero__content-wrapper {
  position: relative;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 25px;

  .container {
    width: 100%;
  }

  @include desktop-up {
    margin-top: 0;
    padding: 145px 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: $color-white;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.blog-hero__title {

}

.blog-hero__content {
  margin: 8px 0 0;
  max-width: 615px;

  @include desktop-up {
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
  }
}

.blog-wrapper {
  margin-bottom: 40px;
}

.blog-tags {
  margin-bottom: 10px;
  overflow-x: auto;
  padding: 16px 30px 8px 0;
  white-space: nowrap;
  max-width: calc(100% + 20px);
  display: inline-block;

  &::-webkit-scrollbar {
    height: 4px;
    width: 109px;
    max-width: 109px;
    border-radius: 2px;
  }
  
  &::-webkit-scrollbar-track {
    background: #D8D8D8;
  }
  
  &::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #D63427;
  }

  @include tablet-up {
    padding-left: 0;
    padding-right: 0;
    max-width: 100%;
  }
}

.blog-tag {
  display: inline-block;
}

.blog-tag {
  margin-left: 30px;

  &:first-of-type {
    margin-left: 22px;
  }  
}

.blog-tag__link {
  @include h6;
  color: $color-off-black;
  font-size: rem(16);
}

.blog-wrapper .body-md {
  font-size: rem(14);
}

.article {
  &__container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 16px;
    flex-wrap: wrap;
    margin-bottom: 80px;
    justify-content: space-between;


    @include tablet-up {
      padding: 0;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 56px;
      column-gap: 40px;
    }
    @include desktop-up {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &-preview__feature-excerpt p {
    color: $color-grayish-gray;
  }

  &__featured-article {
    @include tablet-up {
      grid-column: 1 / span 2;
    }

    @include desktop-up {
      grid-column: 1 / span 3;
      margin-bottom: 24px;
    }
  }

  &__preview {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    @include mobile-tablet {
      flex-direction: column;
    }

    .article-preview__image-wrapper {
      img {
        border-radius: 12px;
      }

      @include desktop-up {
        flex: 0 60%;
        flex-shrink: 0;
        margin-right: 32px;
      }
    }
  }

  &__column {
    width: 100%;
    margin-top: 4px;
    display: block;

    .article-preview__image-wrapper {
      img {
        width: 100%;
        height: 210px;
        flex-shrink: 0;
        object-fit: cover;
        margin-bottom: 16px;
        font-family: 'object-fit: cover;';
        border-radius: 12px;
      }
    }

    .article-preview__title {
      margin-bottom: 12px;
    }

    .article-preview__icon {
      margin-bottom: 4px;
    }

    .article-preview__excerpt {
      margin-top: 0;
      margin-bottom: 16px;
      color: $color-semi-grey;
      font-size: rem(13);
    }

    .article-preview__content {
      margin-left: 0;
      padding: 0;
    }
  }

  &__columns {
    display: flex;
    flex-direction: column;
  }

  &-preview__image {
    object-fit: cover;
    width: 100%;
    @include desktop-up {
      width: 752px;
      height: 480px;
    }
  }
  &-preview__excerpt {
    color: $color-grayish-gray;
    margin-bottom: 16px;
    @include desktop-up {
      margin-bottom: 24px;
    }
  }
}

.article__featured-article .article-preview__title {
  @include tablet-up {
    @include h2;
  }
}

.tags-wrapper.container,
.blog-wrapper.container {
  max-width: 1168px;
}

.blog-wrapper.container {
  padding-top: 45px;
  padding-bottom: 45px;

  @include tablet-up {
  }
}

.blog__hero {
  position: relative;
  width: 100%;
  height: 133px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  @include tablet-up {
    height: 290px;    
  }
  @include mobile-only {
    height: auto;
  }
  @include mobile-tablet {
    height: auto;
    align-items: flex-start;
    flex-direction: column;
  }
  &-with-image {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include mobile-only {
      flex-direction: column-reverse;
    }
    height: 133px;
    background-size: cover;
    background-position: center;
    display: flex;
    @include tablet-up {
      height: 290px;    
    }
    @include mobile-only {
      width: 100%;
    }
  }
  &-text {
    padding: 0 32px 0 64px;
    max-width: 680px;
    z-index: 10;
    @include mobile-only {
      padding: 24px 13px;
      width: 100%;
      text-align: center;
    }
    @include mobile-tablet {
      text-align: left;
      color: $color-black;
      padding-bottom: 0;
      padding-top: 0;
    }
    @include desktop-up {
      margin: 0 auto;
    }
    h1 {
      margin: 0;
    }
  }
}

.blog {
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    display: none;
    @include desktop-up {
      display: block;
    }
  }
  &__categories {
    margin: 0 auto;
    text-align: center;
    height: 80px;
    white-space: nowrap;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    @include mobile-tablet {
      border-top: 1px solid $color-grey;
      border-bottom: 1px solid $color-grey;
      margin-right: 0;
      max-width: 97%;
      box-shadow: none;
      margin-top: 32px;
      height: 107px;
    }
    @include hd-up {
      justify-content: center;
    }
    -webkit-overflow-scrolling: touch;
    .button {
      padding: 0;
    }
    &.is-at-top {
      @include desktop-up {
        box-shadow: rgba($color-black, 0.18) 0px 2px 2px 0px;
        position: fixed;
        top: 0;
        z-index: 99;
        background-color: $color-white;
        margin: 0 auto;
        max-width: 100%;
      }
    }
  }
  &__categories-wrapper {
    @include desktop-up {
      margin: 32px 0;
    }
  }
  &__copy {
    @include mobile-tablet {
      margin-top: 8px;
    }
  }
  &__tagged-container {
    margin: $grid-gutter 0;
  }
}

#shopify-section-blog-category-links {
  width: 100%;
  background-color: $color-white;
}

.pagination--blog {
  margin: 0;
  padding-top: 24px;
  border-top: 1px solid $color-light-grey;

  @include tablet-up {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @include tablet-up {
    .pagination__item--prev .icon {
      margin-right: 16px
    }
    .pagination__item--next .icon {
      margin-left: 16px
    }

    .pagination__item {
      display: flex;
      align-items: center;
    }
  }

  .pagination__item-text {
    display: none;
  
    @include tablet-up {
      display: inline;
      text-decoration: underline;
      color: $color-black;
      font-family: $font-family-primary;
      font-size: rem(14);
      font-weight: 500;
      letter-spacing: 0;
      line-height: 22px;
    }
  }
  
  .pagination__li-first,
  .pagination__li-last {
    font-size: rem(20);
    line-height: 28px;
  }
  
  .pagination__li-last::before {
    content: "/";
  }
  
  .pagination__link {
    margin: 0;
  }
  
  .pagination__link--active {
    color: $color-black;
    background-color: $color-white;
  }
  
  .hidden-mobile-tablet {
    display: none;
    @include desktop-up {
      display: flex;
    }
  }
}


.hidden-desktop {
  display: block;
  @include desktop-up {
    display: none;
  }
}

.article-preview__excerpt {
  margin-top: 8px;
  color: $color-off-black;

  @include mobile-tablet {
    margin-bottom: 16px;
    margin-top: 0;
  }
}

.article-preview__title {
  margin-bottom: 16px;
}

.article-preview__content {
  .link__content {
    font-size: rem(14);
    line-height: 1.5;
    letter-spacing: -0.2px;

    @include desktop-up {
      font-size: rem(14);
    }

    .article__column & {
      font-size: rem(14);
      line-height: 2;
    }
  }
}

.more-article-read-more {
  font-size: rem(12);
}

.article-preview__title-link {
  color: $color-black;
}

.article__container.no-articles {
  margin: 100px auto;
  .article-no-article-title {
    margin: 0 auto;
  }
}
.pagination__item {
  a:visited {
    color: inherit;
  }

  .disabled {
    cursor: pointer;
    pointer-events: none;
  }
  .icon--minus {
    opacity: 0.5;
  }
}


.blog__hero {
  position: relative;
  width: 100%;
  height: 133px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  
  @include tablet-up {
    height: 290px;    
  }
  @include mobile-only {
    height: auto;
  }
  @include mobile-tablet {
    height: auto;
    align-items: flex-start;
    flex-direction: column;
  }
  &-with-image {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include mobile-only {
      flex-direction: column-reverse;
    }
    height: 133px;
    background-size: cover;
    background-position: center;
    display: flex;
    @include tablet-up {
      height: 290px;    
    }
    @include mobile-only {
      width: 100%;
    }
  }
  &-text {
    padding: 30px 20px 25px;
    max-width: 680px;
    z-index: 10;

    @include tablet-up {
      text-align: center;
      width: 100%;
    }

    @include mobile-tablet {
      text-align: left;
      color: $color-black;
      // padding-bottom: 0;
      // padding-top: 0;
    }
    // h1 {
    //   margin: 0;
    //   @include mobile-only {
    //   }
    // }
    // p {
    //   @include desktop-up {
    //     margin: 16px 0 0;
    //   }
    // }
  }
}

.blog {
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    display: none;
    @include desktop-up {
      display: block;
    }
  }
  &__subheader {
    color: $color-off-black;
    font-family: $font-family-primary;
    font-size: rem(18);
    font-weight: 500;
    letter-spacing: -0.4px;
    margin: 8px 0 0;
    
    @include desktop-up {
      color: inherit;
      font-size: rem(20);
      font-weight: 600;
      letter-spacing: 0;
      line-height: 28px;
      margin: 2px 0 0;
    }
  }
}

.hidden-mobile-tablet {
  display: none;
  @include desktop-up {
    display: flex;
  }
}

.hidden-desktop {
  display: block;
  @include desktop-up {
    display: none;
  }
}

.blog__hero-text {

}