.newsletter-form{
  background-color: $color-accent-yellow-brand;
  padding: 24px 0;
}

.newsletter-form__header {
  width: 100%;
  display: flex;
  margin-bottom: 24px;

  @include tablet-up {
    max-width: 400px;
    margin-bottom: 0;
  }
}

.newsletter-form__header-content {
  margin: auto 0;
}
.newsletter-form__logo {
  max-width: 42px;
  float: left;
  margin-right: 16px;

  @include tablet-up {
    max-width: 86px;
    margin-right: 40px;
  }
}

.newsletter-form-title-container {
  margin: auto;
  max-width: 1160px;
  display: flex;
  flex-direction: column;
  padding: 0 16px;
  @include tablet-up {
    flex-direction: row;
  }
}

.newsletter-form-heading {
  max-width: 400px;
  margin: 0 auto;
  padding-bottom: 10px;
  font-family: $font-gibson;
  font-weight: 600;
  font-size: rem(18);
  line-height: rem(20);
  letter-spacing: 0.64px;
  text-transform: none;

  @include tablet-up {
    max-width: unset;
  }

  @include desktop-up {
    font-size: rem(20);
    line-height: rem(26);
  }
}

.klaviyo-form__input {
  // margin-top: 16px;
}

.newsletter-form-subtext {
  margin: 0 auto;
  margin-bottom: 5px;
  max-width: 300px;

  @include tablet-up {
    max-width: unset;
    margin-bottom: 0;
  }
}

.newsletter-form-success {
  color: $color-off-black;
  width: fit-content;
  margin: 8px auto 0;
  padding-top: 5px;
}
