.shopify-challenge__container {
  padding: 64px;
}

.shopify-challenge__button {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  background-color: transparent;
  transition: 0.3s ease all;
  text-decoration: none;
  white-space: nowrap;
  color: $color-black;
  outline: none;
  overflow: hidden;
  position: relative;
  height: 44px;
  min-width: 160px;
  border: 1px solid $color-black;
  font-size: 12px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  font-family: $font-family-primary; 
  font-weight: 700;
  
  * {
    vertical-align: middle;
  }

  &:hover {
    background-color: $color-black;
    color: $color-white;
    border-color: $color-black;
  }
}

.shopify-challenge__container .errors,
.footer .errors {
  background-color: transparent;
  border-color: transparent;
  color: $color-util-error-1;
  font-size: 16px;
}