<template lang="pug">
  .account-container
    slot(
      :name="getSlot"
    )
</template>

<script>
  export default {
    name: 'AccountPanel',
    computed: {
      getSlot () {
        const urlParams = new URLSearchParams(window.location.search);
        if (urlParams.has('subscriptions')) return 'subscriptions';
        return 'order-history';
      },
    },
  };
</script>
