<template lang="pug">
  customer-select-input(
    name="account-nav"
    :required="true"
    @input="handleRedirect"
    :selected="selected"
    :options="options"
  )
</template>

<script>
  import CustomerSelectInput from 'scripts/components/forms/CustomerSelectInput.vue'

  export default {
    name: 'AccountSelectNav',
    components: { CustomerSelectInput },
    props: {
      options: Array,
    },
    data () {
      return {
        selected: String,
        currentValue: String
      }
    },
    created () {
      if (window.location.href.includes('/account/orders/')) this.selected = '/account';
      else this.options.forEach((option) => {
        if (window.location.href.endsWith(option.value)) this.selected = option.value;
      })
    },
    methods: {
      handleRedirect(newLocation) {
        if ( newLocation !== this.selected ) {
          window.location = newLocation;
        }
      }
    }
  }
</script>
