<template lang="pug">
  ul.account-navigation
    li(
      v-for="link in links"
      :key="link.value"
    )
      a.account-nav-menu-item(
        :class="{ 'active' : isActiveLink(link.value) }"
        :href="link.value"
      )
        | {{ link.label }}
        icon.arrow-icon(
          v-if="isActiveLink(link.value)"
          name="chevron-right"
          size="12px"
        )
    li
      a.account-nav-menu-logout(
        :href="logoutUrl"
      ) Log Out
</template>

<script>
  import Icon from 'scripts/components/basic/Icon.vue'

  export default {
    name: 'AccountNav',
    props: {
      links: Array,
      logoutUrl: String,
    },
    components: { Icon },
    methods: {
      isActiveLink (link) {
        return window.location.href.endsWith(link);
      }
    }
  };
</script>
