{%- assign seperator = '|###|' -%}
{%- assign productCF = product.metafields.custom_fields -%}
{%- assign texts = productCF.fiftyfifty_icon_text | split: seperator -%}
{%- assign icons = productCF.fiftyfifty_icon_image | split: seperator -%}
{%- assign icon_keys = productCF.fiftyfifty_icons | split: ',' -%}

<io-lazy-loader>
  <div class="product-fiftyfifty container">
    <div class="sw sw--50 sw--fiftyfifty">
      <div class="sw__main sw__main--fiftyfifty">
        <h2 class="product-fiftyfifty__title">{{- productCF.fiftyfifty_title -}}</h2>
        <div class="product-fiftyfifty__content">{{- productCF.fiftyfifty_content -}}</div>

        <div class="microgel__images microgel__images--fiftyfifty">
          {%- for key in icon_keys -%}
            <figure class="microgel__figure microgel__figure--fiftyfifty">
              <img src="{{- icons[forloop.index0]  -}}"
                   alt="{{- texts[forloop.index0] -}}"
                   class="microgel__figure-image" />
              <figcaption>
                <p class="microgel__figure-subtitle">{{- texts[forloop.index0] -}}</p>
              </figcaption>
            </figure>
          {%- endfor -%}
        </div>

      </div>
      <div class="sw__image sw__image--fiftyfifty-wrapper">
        <img class="sw__image sw__image--fiftyfifty" src="{{- productCF.fiftyfifty_image -}}" alt="{{- product.CF.fiftyfifty_image_alt_text -}}" />
      </div>
    </div>
  </div>
</io-lazy-loader>
