{%- assign seperator = '|###|' -%}
{%- assign productCF = product.metafields.custom_fields -%}

{% if productCF.product_value_props != blank %}
  {%- assign value_props_keys = productCF.product_value_props | split: ',' -%}
  {%- assign titles = productCF.product_value_prop_title | split: seperator -%}
  {%- assign descriptions = productCF.product_value_prop_description | split: seperator -%}
  {%- assign images = productCF.product_value_prop_image | split: seperator -%}

  {%- capture _value_props -%}
    {%- for key in value_props_keys -%}
      {
        "icon": {{- images[forloop.index0] | json -}},
        "title": {{- titles[forloop.index0] | json -}},
        "content": {{- descriptions[forloop.index0] | json -}}
      },
    {%- endfor -%}
  {%- endcapture -%}
{%- endif -%}


<product-value-props :value-props="[{{- _value_props | escape -}}]"></product-value-props>
