{% if article.metafields.custom_fields.highlight_text %}
  <div class="hbanner">
    <div class="container">
      <div class="hbanner__text-container">
        <p class="hbanner__text">
          {{ article.metafields.custom_fields.highlight_text }}
        </p>
        {% if article.metafields.custom_fields.highlight_cta_text and article.metafields.custom_fields.highlight_cta_text%}
          <v-button class="hbanner__button" secondary tag="a" href="{{ article.metafields.custom_fields.highlight_cta_link }}">{{article.metafields.custom_fields.highlight_cta_text}}</v-button>
        {% endif %}
      </div>
    </div>
  </div>
{% endif %}