<div class="blog__hero">
  {% if blog.metafields.custom_fields["image_overlay_color"] %}
    {% if  blog.metafields.custom_fields["image_overlay_color"] == "Light" %}
      {% assign overlayColor = "bg-white" %}
    {% else %}
      {% assign overlayColor = "bg-black" %}
    {% endif %}
    <div class="blog__overlay {{ overlayColor }}" style="opacity: {{ blog.metafields.custom_fields["overlay_opacity"] | divided_by: 100.0 }}"></div>
  {% endif %}
  <div class="blog__hero-with-image flex-justify-start flex-align-center hidden-mobile-tablet" 
  style="background-image: url('{{ blog.metafields.custom_fields["desktop_image"] }});">
    {% if  blog.metafields.custom_fields["text_color"] == "Light" %}
      {% assign textColor = "color-white" %}
    {% else %}
      {% assign textColor = "color-black" %}
    {% endif %}
    <div class="blog__hero-text {{ textColor }}">
      <h2 class="blog__header h1">{{ blog.metafields.custom_fields["heading_text"] }}</h2>
      <p class="blog__subheader subheader">{{ blog.metafields.custom_fields["subheading_text"] }}</p>
    </div>
  </div>
  <div class="blog__hero-with-image flex-justify-start flex-align-center hidden-desktop" 
  {% if blog.metafields.custom_fields["mobile_image"] %}style="background-image: url('{{ blog.metafields.custom_fields["mobile_image"] }});"
  {% else %}style="background-image: url('{{ blog.metafields.custom_fields["desktop_image"] }});"
  {% endif %}></div>
  <div class="blog__hero-text hidden-desktop {{ textColor }}">
    <h2 class="blog__header h2">{{ blog.metafields.custom_fields["heading_text"] }}</h2>
    <p class="blog__subheader subheader">{{ blog.metafields.custom_fields["subheading_text"] }}</p>
  </div>
</div>
