<div class="container tags-wrapper">
  <ul class="blog-tags">
    {%- for link in linklists.blog-categories.links -%}
      {%- if link.url == request.path -%}
        <li class="blog-tag blog-tag--active">
          <a class="blog-tag__link" href="{{ link.url }}">{{ link.title }}</a>
        </li>
      {%- else -%}
        <li class="blog-tag">
          <a class="blog-tag__link" href="{{ link.url }}">{{ link.title }}</a>
        </li>
      {%- endif -%}
    {%- endfor -%}
  </ul>
</div>
