{% capture content_settings %}
  {
    "title": {{ mod_settings.title | json }},
    "textColor": {{ mod_settings.text_color | json }},
    "backgroundColor": {{ mod_settings.background_color | json }},
    "marginTop": {{ mod_settings.margin_top | json }},
    "marginBottom": {{ mod_settings.margin_bottom | json }},
    "collections": [
      {%- for block in mod_blocks -%}
        {
          "handle": {{ block.settings.collection | json }},
          "name": {{ collections[block.settings.collection].title | json }}
        }
        {%- unless forloop.last -%},{%- endunless -%}
      {%- endfor -%}
    ]
  }
{% endcapture %}

<collections-grid
  :settings="{{ content_settings | escape | strip }}"
/>