{
  {%- if order != blank -%}
    "order": {{ order | json }},
  {%- endif -%}
  "title": {{ product.title | json }},
  "description": {{ product.content | json }},
  "handle": {{ product.handle | json }},
  "id": {{ product.id | json }},
  "created_at": {{- product.created_at | date: "%s" | json -}},
  "type": {{ product.type | json }},
  "url": {{ product.url | json }},
  "vendor": {{ product.vendor | json }},
  "price": {{ product.price | json }},
  "compare_at_price": {{ product.compare_at_price | json }},
  "available": {{ product.available | json }},
  "tags": {{ product.tags | json }},
  {%- if keywords != blank -%}
    "keywords": "{{ keywords }}",
  {%- endif -%}
  "options": [
    {%- for option in product.options -%}
      {{ option | json}}{%- unless forloop.last -%},{%- endunless -%}
    {%- endfor -%}
  ],
  "has_only_default_variant": "{{ product.has_only_default_variant }}",
  "media": {{ product.media | json }},
  "custom_fields": {{ product.metafields.custom_fields | json }},
  "images": [
    {%- for image in product.images -%}
      {
        "id": {{ image.id | json }},
        {%- if image.alt != blank -%}
          "alt": {{ image.alt | json }},
        {%- else -%}
          "alt": {{ product.title | json }},
        {%- endif -%}
        "src": {{ image.src | img_url: 'master' | json }},
        "width": {{ image.width }},
        "height": {{ image.height }}
      }{%- unless forloop.last -%},{%- endunless -%}
    {%- endfor -%}
  ],
  "variants": [
    {%- for variant in product.variants -%}
      {
        "title": {{ variant.title | json }},
        "id": {{ variant.id | json }},
        "url": "{{ variant.url }}",
        "available": {{ variant.available | json }},
        "remaining_quantity": {{ variant.inventory_quantity | json }},
        "price": {{ variant.price }},
        "compare_at_price": {% if variant.compare_at_price != blank %}{{ variant.compare_at_price }}{% else %}{{ variant.price }}{% endif %},
        "image": {
          "id": {%- if variant.image.id -%}{{ variant.image.id }}{%- else -%}""{%- endif -%},
          "src": {{ variant.image.src | img_url: 'master' | json }},
          "alt": {{ variant.image.alt  | json }}
        },
        "option1": {{ variant.option1  | json }},
        "option2": {{ variant.option2  | json }},
        "option3": {{ variant.option3  | json }},
        "options": {{ variant.options | json }},
        "sku": {{ variant.sku | json }},
        "inventory_management": {{ variant.inventory_management  | json }},
        "inventory_policy": {{ variant.inventory_policy  | json }},
        "weight": {{ variant.weight | weight_with_unit | json }},
        "custom_fields": {{ variant.metafields.custom_fields | json }}
      }{%- unless forloop.last -%},{%- endunless -%}
    {%- endfor -%}
  ],
  "additional_info": {{ product.metafields.custom_fields.additional_info | json }}
}

{% comment %} Original code preserved for later reference {% endcomment %}
{% comment %} 
{%- assign seperator = '|###|' -%}
{%- assign productCF = product.metafields.custom_fields -%}

{
  {%- if order != blank -%}
    "order": {{ order | json }},
  {%- endif -%}
  "title": {{ product.title | json }},
  "handle": {{ product.handle | json }},
  "id": {{ product.id | json }},
  "created_at": {{- product.created_at | date: "%s" | json -}},
  "type": {{ product.type | json }},
  "url": {{ product.url | json }},
  "vendor": {{ product.vendor | json }},
  {% comment %} "description": {{ product.description | json }},
  "descriptionText": {{ product.description | strip_html | json }}, {% endcomment %}
  "price": {{ product.price | json }},
  "available": {{ product.available | json }},
  "tags": {{ product.tags | json }},
  {%- if keywords != blank -%}
    "keywords": "{{ keywords }}",
  {%- endif -%}
  "options": [
    {%- for option in product.options -%}
      {{ option | json}}{%- unless forloop.last -%},{%- endunless -%}
    {%- endfor -%}
  ],
  "has_only_default_variant": "{{ product.has_only_default_variant }}",
  "media": {{ product.media | json }},
  "images": [
    {%- for image in product.images -%}
      {
        "id": {{ image.id | json }},
        {%- if image.alt != blank -%}
          "alt": {{ image.alt | json }},
        {%- else -%}
          "alt": {{ product.title | json }},
        {%- endif -%}
        "src": {{ image.src | img_url: 'master' | json }},
        "width": {{ image.width }},
        "height": {{ image.height }}
      }{%- unless forloop.last -%},{%- endunless -%}
    {%- endfor -%}
  ],
  "variants": [
    {%- for variant in product.variants -%}
      {
        "title": {{ variant.title | json }},
        "id": {{ variant.id | json }},
        "url": "{{ variant.url }}",
        "available": {{ variant.available | json }},
        "remaining_quantity": {{ variant.inventory_quantity | json }},
        "price": {{ variant.price }},
        "compare_at_price": {% if variant.compare_at_price != blank %}{{ variant.compare_at_price }}{% else %}{{ variant.price }}{% endif %},
        "image": {
          "id": {%- if variant.image.id -%}{{ variant.image.id }}{%- else -%}""{%- endif -%},
          "src": {{ variant.image.src | img_url: 'master' | json }},
          "alt": {{ variant.image.alt  | json }}
        },
        "option1": {{ variant.option1  | json }},
        "option2": {{ variant.option2  | json }},
        "option3": {{ variant.option3  | json }},
        "options": {{ variant.options | json }},
        "sku": {{ variant.sku | json }},
        "inventory_management": {{ variant.inventory_management  | json }},
        "inventory_policy": {{ variant.inventory_policy  | json }},
      }{%- unless forloop.last -%},{%- endunless -%}
    {%- endfor -%}
  ]
} {% endcomment %}
