{
  "type": "{{ product.object_type }}",
  "title": "{{ product.title }}",
  "url": "{{ product.url }}",
  "id": {{ product.id }},
  "price": {{ product.price }},
  {% if product.compare_at_price %}
    "compare_at_price": {{ product.compare_at_price }},
  {% endif %}
  {% if product.metafields.custom_fields["hide_price"] != blank %}
    "hidePrice": {{ product.metafields.custom_fields["hide_price"] | json }},
  {% endif %}
  "images": [
    {%- for image in product.images -%}
      {
        "id": {{ image.id }},
        "src": "{{ image.src | img_url: 'master' }}",
        "alt": {{ image.alt | json }},
        "width": {{ image.width }},
        "height": {{ image.height }}
      }{%- unless forloop.last -%},{%- endunless -%}
    {%- endfor -%}
  ],
  "tags": [
    {%- for tag in product.tags -%}
      "{{ tag }}"{%- unless forloop.last -%},{%- endunless -%}
    {%- endfor -%}
  ],
  "options": [
    {%- for option in product.options -%}
      {{ option | json}}{%- unless forloop.last -%},{%- endunless -%}
    {%- endfor -%}
  ],
  "variants": [
    {%- for variant in product.variants -%}
      {
        "title": {{ variant.title | json }},
        "id": {{ variant.id | json }},
        "url": "{{ variant.url }}",
        "available": {{ variant.available | json }},
        "remaining_quantity": {{ variant.inventory_quantity | json }},
        "price": {{ variant.price }},
        "compare_at_price": {% if variant.compare_at_price != blank %}{{ variant.compare_at_price }}{% else %}{{ variant.price }}{% endif %},
        "image": {
          "id": {%- if variant.image.id -%}{{ variant.image.id }}{%- else -%}""{%- endif -%},
          "src": {{ variant.image.src | img_url: 'master' | json }},
          "alt": {{ variant.image.alt  | json }}
        },
        "option1": {{ variant.option1  | json }},
        "option2": {{ variant.option2  | json }},
        "option3": {{ variant.option3  | json }},
        "options": {{ variant.options | json }},
        "sku": {{ variant.sku | json }},
        "badge": {{ variant.metafields.custom_fields.magnet_badge | json }},
        "swatch_type": {{ variant.metafields.custom_fields.color_group | json }},
        "swatch_image": {{ variant.metafields.custom_fields.swatch_image | json }},
        "inventory_management": {{ variant.inventory_management  | json }},
        "inventory_policy": {{ variant.inventory_policy  | json }},
        "cf_vendor": {{ variant.metafields.custom_fields.product_vendor | json }}
        {%- if variant.metafields.subscriptions.discount_variant_id != blank -%}
          , "subscription_variant_id": {{ variant.metafields.subscriptions.discount_variant_id }}
        {%- endif -%}
      }{%- unless forloop.last -%},{%- endunless -%}
    {%- endfor -%}
  ]
}