<ul class="pagination pagination--blog">
  <li class="pagination__item pagination__item--prev">
    <a href="{{ paginate.previous.url }}" {% unless paginate.previous %}class="disabled"{% endunless %}>
      <icon class="minus-icon" name="chevron-left" size="10px"></icon>
      <span class="pagination__item-text">Previous Page</span>
    </a>
  </li>

  <li class="pagination__text">
    Page <span class="u-underline">{{ paginate.current_page }} of {{ paginate.pages }}</span>
  </li>

  <li class="pagination__item pagination__item--next">
    <a href="{{ paginate.next.url }}" {% unless paginate.next %}class="disabled"{% endunless %}>
      <span class="pagination__item-text">Next Page</span>
      <icon class="minus-icon" name="chevron-right" size="10px"></icon>
    </a>
  </li>
</ul>