{%- if product and product.metafields.shogun.head -%}
  {{- product.metafields.shogun.head -}}
{%- endif -%}

{%- if page and page.metafields.shogun.head -%}
  {{- page.metafields.shogun.head -}}
{%- endif -%}

{%- if article and article.metafields.shogun.head -%}
  {{- article.metafields.shogun.head -}}
{%- endif -%}
