<template lang="pug">
  .refer-form__wrapper
    form.refer-form(
      v-if="needReferrerEmail"
      @submit="setReferrerEmail($event)"
    )
      .input
        input.refer-form__email(
          v-model="referrerEmail"
          type="email"
          name="referrer-email"
          placeholder="Your Email"
        )
      v-button(
        :primary="true"
        label="Next"
      )
    form.refer-form(
      v-else-if="referralsUnsent"
      @submit="sendReferralEmail($event)"
    )
      .input
        input.refer-form__email(
          v-model="referredEmails"
          type="text"
          name="referrer-friends"
          placeholder="Your Friends Emails (seperated by commas)"
        )
      v-button(
        :primary="true"
        label="Send Referrals"
      )
    .refer-form__message(
      v-else
    ) {{ emailsSentString }}
</template>

<script>
  import swellLoader from 'scripts/mixins/swellLoader.js';
  import VButton from 'scripts/components/buttons/VButton.vue';

  export default {
    name: 'ReferalForm',
    mixins: [swellLoader],
    components: { VButton },
    props: {
      emailsSentString: String,
    },
    data() {
      return {
        referrerEmail: '',
        referredEmails: '',
        referrerEmailSet: false,
        referralsUnsent: true,
      };
    },
    computed: {
      /**
       * Checks whether the current user is logged in OR has already entered their
       * email in to check if the referrer email is needed or not.
       *
       * @return {boolean}: whether the referrer email is needed
       */
      needReferrerEmail() {
        return this.referrerEmailSet === false;
      },
    },
    watch: {
      /**
       * Once (if) the swell customer is setup, set that as our referrer
       * email in the form
       */
      swellCustomer() {
        if (this.referrerEmailSet || !this.swellCustomer) return;
        window.swellAPI.identifyReferrer(this.swellCustomer.email);
        this.referrerEmailSet = true;
      },
    },
    methods: {
      /**
       * Set's the referrer's email via the Swell API
       *
       * @param {Event} event: the form submission event
       */
      setReferrerEmail(event) {
        event.preventDefault();
        window.swellAPI.identifyReferrer(this.referrerEmail);
        this.referrerEmailSet = true;
        this.referredEmails = '';
      },
      /**
       * Sends referral emails based to each address entered by the referrer (current user)
       *
       * @param {Event} event: the form submission event
       */
      sendReferralEmail(event) {
        event.preventDefault();
        const emails = this.referredEmails.split(',');
        window.swellAPI.sendReferralEmails(emails);
        this.referralsUnsent = false;
      },
    },
  };
</script>

<style lang="scss" scoped>
  .refer-form__email {
    display: block;
  }

  .refer-form__message {
    font-size: rem(14);
    letter-spacing: 0.3px;
    line-height: 1.4;
    font-family: $font-gibson;
    font-weight: 300;
  }

  .button {
    width: 100%;
  }

  .refer-form__wrapper {
    margin-top: 16px;
    width: 320px;
  }
</style>
