<div id="orders-content" class="panel">
  <h2>{{ 'customer.orders.title' | t }}</h2>

  {% paginate customer.orders by 10 %}
    {% if customer.orders.size != 0 %}
      <div class="table-wrapper">
        <table class="orders-table">
          <thead>
            <tr>
              <th class="accounts-order-data-head">Order</th>
              <th>Date</th>
              <th>Status</th>
              <th>Total</th>
              <th class="accounts-order-data-head-icon"><icon name="chevron-right" size="10px" /></th>
            </tr>
          </thead>
          <tbody>
            {% for order in customer.orders %}
              <tr>
                <td class="accounts-order-data" data-label="{{ 'customer.orders.order_number' | t }}"><a href="{{ order.customer_url }}" class="link link--secondary">{{ order.name }}</a></td>
                <td data-label="{{ 'customer.orders.date' | t }}">{{ order.created_at | date: "%b %d, %Y" }}</td>
                <td data-label="{{ 'customer.orders.fulfillment_status' | t }}">{{ order.fulfillment_status_label }}</td>
                <td data-label="{{ 'customer.orders.total' | t }}">{{ order.total_price | money }}</td>
                <td class="account-order-icon"><a href="{{ order.customer_url }}"><icon name="chevron-right" size="10px" /></a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% else %}
      <div class="table-wrapper">
        <table class="orders-table">
          <thead>
            <tr>
              <th class="accounts-order-data-head">Order</th>
              <th>Date</th>
              <th>Status</th>
              <th>Total</th>
              <th></th>
            </tr>
          </thead>
        </table>
        <div class="no-orders">
          <p>You have no order history</p>
          <p class="no-order-link-container">
            <link-button button-class="button button--primary" href="{{ settings.no_orders_link }}" label="Start Shopping"></link-button>
          </p>
        </div>
      </div>

    {% endif %}
    {% if paginate.pages > 1 %}
      <div class="account__pagination">
        <div class="container">
          <div class="pagination">
            <div class="pagination__items">
              {{ paginate | default_pagination: next: '<i class="icon icon--right-t"></i>', previous: '<i class="icon icon--left-t"></i>' }}
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  {% endpaginate %}
</div>
