<template lang="pug">
  div.menu-bar__col-container(v-if="dropdownImage1 || dropdownImage2 || linkList")
    div.menu-bar__col(v-if="['mobile', 'tablet'].includes($mq)")
      .menu-bar__col-image-wrapper-mobile(v-if="dropdownImage1 || dropdownImage2")
        a.menu-bar__col-image-link(v-if="dropdownImage1" :href="dropdownImageLinkUrl1")
          .menu-bar__col-image-link-container
            img.menu-bar__col-image(:src="dropdownImage1")
            span(v-if="dropdownImageLinkText1").menu-bar__col-image-link-text {{ dropdownImageLinkText1 }}
        a.menu-bar__col-image-link(v-if="dropdownImage2 && !(dropdownImage1 && dropdownLinklist)" :href="dropdownImageLinkUrl2" :class="dropdownImage1 && 'no-margin'")
          .menu-bar__col-image-link-container
            img.menu-bar__col-image(:src="dropdownImage2")
            span.menu-bar__col-image-link-text(v-if="dropdownImageLinkText2") {{ dropdownImageLinkText2 }}
      .menu-bar__col-linklist(v-if="linkList")
        .menu-bar__col-linklist-item(v-for="(linklistItem, idx) in linkList.links" :key="`${linklistItem.url}_${idx}`")
            .menu-bar__col-linklist-nested(v-if="linklistItem.links")
              component.menu-bar__col-linklist-nested-title.strong-bold(:is="linklistItem.title.includes('::nolink') ? 'span' : 'a'" :href="linklistItem.title.includes('::nolink') ? '' : linklistItem.url" :class="{ ...featuredClasses(linklistItem), 'menu-bar__col-linklist-nested-title--no-link': linklistItem.title.includes('::nolink')}") {{ linklistItem.title.split('::')[0] }}
              .menu-bar__col-linklist-nested-container
                a.menu-bar__col-linklist-nested-item(v-for="(linklistNestedItem, idx) in linklistItem.links" :key="`${linklistNestedItem.url}_${idx}`" :href="linklistNestedItem.url" :class="featuredClasses(linklistNestedItem)") {{ linklistNestedItem.title }}
                a.menu-bar__col-linklist-nested-item(:href="linklistItem.url") {{ 'Shop All' }}
            .menu-bar__col-linklist-link(v-else)
                a.menu-bar__col-linklist-nested-title.strong-bold(:href="linklistItem.url" :class="featuredClasses(linklistItem)") {{ linklistItem.title }}
    div.menu-bar__col(v-else)
      a.menu-bar__col-image-link(v-if="dropdownImage1" :href="dropdownImageLinkUrl1")
        img.menu-bar__col-image(:src="imageSize(dropdownImage1, '200x200')")
        span(v-if="dropdownImageLinkText1").menu-bar__col-image-link-text {{ dropdownImageLinkText1 }}
      a.menu-bar__col-image-link(v-if="dropdownImage2 && !(dropdownImage1 && dropdownLinklist)" :href="dropdownImageLinkUrl2" :class="dropdownImage1 && 'no-margin'")
        img.menu-bar__col-image(:src="imageSize(dropdownImage2, '200x200')")
        span.menu-bar__col-image-link-text(v-if="dropdownImageLinkText2") {{ dropdownImageLinkText2 }}
      .menu-bar__col-linklist(v-if="linkList")
        .menu-bar__col-linklist-item(v-for="(linklistItem, idx) in linkList.links" :key="`${linklistItem.url}_${idx}`")
          .menu-bar__col-linklist-nested(v-if="linklistItem.links")
            component.menu-bar__col-linklist-nested-title.strong-bold(:is="linklistItem.title.includes('::nolink') ? 'span' : 'a'" :href="linklistItem.title.includes('::nolink') ? '' : linklistItem.url" :class="{ ...featuredClasses(linklistItem), 'menu-bar__col-linklist-nested-title--no-link': linklistItem.title.includes('::nolink')}") {{ linklistItem.title.split('::')[0] }}
            a.menu-bar__col-linklist-nested-item(v-for="(linklistNestedItem, idx) in linklistItem.links" :key="`${linklistNestedItem.url}_${idx}`" :href="linklistNestedItem.url" :class="featuredClasses(linklistNestedItem)") {{ linklistNestedItem.title }}
          .menu-bar__col-linklist-link(v-else)
            a.menu-bar__col-linklist-link-title.strong-bold(:href="linklistItem.url" :class="featuredClasses(linklistItem)") {{ linklistItem.title }}

</template>

<script>
import { imageSize } from 'scripts/helpers/util';
export default {
  name: 'MenuBarColumn',
  props: {
    dropdownImage1: String,
    dropdownImageLinkUrl1: String,
    dropdownImageLinkText1: String,
    dropdownImage2: String,
    dropdownImageLinkUrl2: String,
    dropdownImageLinkText2: String,
    dropdownLinklist: Object,
    featuredLinkColor: String
  },
  data() {
    return {
      linkList: this.dropdownLinklist && {
        ...this.dropdownLinklist,
        links: this.dropdownLinklist.links.map(lnk => {
          const handleFeatured = obj =>
            obj.title.match(/::Featured/i)
              ? {
                  ...obj,
                  title: obj.title.replace(/::Featured/i, ''),
                  featured: true
                }
              : obj;
          if (lnk.links) {
            return {
              ...handleFeatured(lnk),
              links: lnk.links.map(lnkNested => handleFeatured(lnkNested))
            };
          }
          return handleFeatured(lnk);
        })
      }
    };
  },
  methods: {
    imageSize,
    featuredClasses(linkItem) {
      return {
        featured: linkItem.featured,
        [this.featuredLinkColor]: linkItem.featured
      };
    }
  }
};
</script>

<style lang="scss">
.menu-bar,
.menu-bar__col {
  &__col-image-wrapper-mobile {
    display: flex;
    justify-content: center;
    .menu-bar__col-image-link {
      flex: 1;
      max-width: 480px;
    }
  }
  &__col-linklist-nested-title,
  &__col-linklist-link-title {
    font-weight: bold;
    display: block;
    &:not(.featured) {
      color: inherit;
      &:hover {
        color: inherit;
      }
    }
  }
  &__col-linklist-nested-item {
    display: block;
    &:not(.featured) {
      color: inherit;
      &:hover {
        color: inherit;
      }
    }
  }
  &__col-linklist-item {
    @include desktop-up {
      &:last-of-type {
        & > *:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  &__col-linklist-nested-title,
  &__col-linklist-nested-item,
  &__col-linklist-link-title {
    margin-bottom: 12px;
    line-height: 1;
    &:hover {
      text-decoration: underline;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  &__col-linklist-nested-title--no-link {
    &:hover {
      text-decoration: none;
    }
  }
  &__col-image {
    transition: opacity 150ms ease-in;
    display: block;
    margin-bottom: 12px;
  }
  &__col-image-link {
    cursor: pointer;
    display: block;
    color: inherit;
    &:hover {
      .menu-bar__col-image {
        opacity: 0.8;
      }
    }
    @include desktop-up {
      margin-bottom: 32px;
    }
  }
  @include desktop-up {
    &__col-linklist-nested {
      margin-bottom: 32px;
    }
    &__col-linklist-link {
      margin-bottom: 16px;
    }
  }
}
</style>