<template lang="pug">
  .menu-mobile__accordion
    div.menu-accordion-item-container(v-for="(menuLink, idx) in menuLinks")
      menu-accordion-item(
        :menuLink="menuLink"
        :ref="menuLink.id"
        :onOpen="openAccordionItem"
        :expandToggle="expandToggle"
        :featuredLinkColor="featuredLinkColor"
      )
        menu-bar-column(
          :dropdownImage1="menuLink.settings.col1DropdownImage1"
          :dropdownImageLinkUrl1="menuLink.settings.col1DropdownImageLinkUrl1"
          :dropdownImageLinkText1="menuLink.settings.col1DropdownImageLinkText1"
          :dropdownImage2="menuLink.settings.col1DropdownImage2"
          :dropdownImageLinkUrl2="menuLink.settings.col1DropdownImageLinkUrl2"
          :dropdownImageLinkText2="menuLink.settings.col1DropdownImageLinkText2"
          :dropdownLinklist="menuLink.col1DropdownLinklist"
          :onLinkListExpand="onLinkListExpand"
          :featuredLinkColor="featuredLinkColor"
        )
        menu-bar-column(
          :dropdownImage1="menuLink.settings.col2DropdownImage1"
          :dropdownImageLinkUrl1="menuLink.settings.col2DropdownImageLinkUrl1"
          :dropdownImageLinkText1="menuLink.settings.col2DropdownImageLinkText1"
          :dropdownImage2="menuLink.settings.col2DropdownImage2"
          :dropdownImageLinkUrl2="menuLink.settings.col2DropdownImageLinkUrl2"
          :dropdownImageLinkText2="menuLink.settings.col2DropdownImageLinkText2"
          :dropdownLinklist="menuLink.col2DropdownLinklist"
          :onLinkListExpand="onLinkListExpand"
          :featuredLinkColor="featuredLinkColor"
        )
        menu-bar-column(
          :dropdownImage1="menuLink.settings.col3DropdownImage1"
          :dropdownImageLinkUrl1="menuLink.settings.col3DropdownImageLinkUrl1"
          :dropdownImageLinkText1="menuLink.settings.col3DropdownImageLinkText1"
          :dropdownImage2="menuLink.settings.col3DropdownImage2"
          :dropdownImageLinkUrl2="menuLink.settings.col3DropdownImageLinkUrl2"
          :dropdownImageLinkText2="menuLink.settings.col3DropdownImageLinkText2"
          :dropdownLinklist="menuLink.col3DropdownLinklist"
          :onLinkListExpand="onLinkListExpand"
          :featuredLinkColor="featuredLinkColor"
        )
        menu-bar-column(
          :dropdownImage1="menuLink.settings.col4DropdownImage1"
          :dropdownImageLinkUrl1="menuLink.settings.col4DropdownImageLinkUrl1"
          :dropdownImageLinkText1="menuLink.settings.col4DropdownImageLinkText1"
          :dropdownImage2="menuLink.settings.col4DropdownImage2"
          :dropdownImageLinkUrl2="menuLink.settings.col4DropdownImageLinkUrl2"
          :dropdownImageLinkText2="menuLink.settings.col4DropdownImageLinkText2"
          :dropdownLinklist="menuLink.col4DropdownLinklist"
          :onLinkListExpand="onLinkListExpand"
          :featuredLinkColor="featuredLinkColor"
        )
        menu-bar-column(
          :dropdownImage1="menuLink.settings.col5DropdownImage1"
          :dropdownImageLinkUrl1="menuLink.settings.col5DropdownImageLinkUrl1"
          :dropdownImageLinkText1="menuLink.settings.col5DropdownImageLinkText1"
          :dropdownImage2="menuLink.settings.col5DropdownImage2"
          :dropdownImageLinkUrl2="menuLink.settings.col5DropdownImageLinkUrl2"
          :dropdownImageLinkText2="menuLink.settings.col5DropdownImageLinkText2"
          :dropdownLinklist="menuLink.col5DropdownLinklist"
          :onLinkListExpand="onLinkListExpand"
          :featuredLinkColor="featuredLinkColor"
        )
        a.menu-bar__featured-product(v-if="menuLink.col6DropdownFeaturedProduct" :href="menuLink.col6DropdownFeaturedProduct.url")
          p.menu-bar__featured-product-heading(v-if="menuLink.settings.col6DropdownFeaturedProductHeadingText") {{ menuLink.settings.col6DropdownFeaturedProductHeadingText }}
          img.menu-bar__featured-product-image(:src="menuLink.col6DropdownFeaturedProduct.image")
          p.menu-bar__featured-product-title.strong-bold {{ menuLink.col6DropdownFeaturedProduct.title }}
          p.menu-bar__featured-product-price {{ menuLink.col6DropdownFeaturedProduct.price }}
        menu-bar-column(
          :dropdownImage1="menuLink.settings.col6DropdownImage1"
          :dropdownImageLinkUrl1="menuLink.settings.col6DropdownImageLinkUrl1"
          :dropdownImageLinkText1="menuLink.settings.col6DropdownImageLinkText1"
          :dropdownImage2="menuLink.settings.col6DropdownImage2"
          :dropdownImageLinkUrl2="menuLink.settings.col6DropdownImageLinkUrl2"
          :dropdownImageLinkText2="menuLink.settings.col6DropdownImageLinkText2"
          :dropdownLinklist="menuLink.col6DropdownLinklist"
          :onLinkListExpand="onLinkListExpand"
          :featuredLinkColor="featuredLinkColor"
        )
</template>

<script>
import MenuAccordionItem from 'scripts/components/header-2/sub/MenuAccordionItem.vue';
import MenuBarColumn from 'scripts/components/header-2/sub/MenuBarColumn.vue';

export default {
  name: 'MenuAccordion',
  components: {
    MenuAccordionItem,
    MenuBarColumn
  },
  props: {
    menuLinks: Array,
    featuredLinkColor: String,
    onAccordionItemOpen: Function
  },
  data() {
    return {
      expandToggle: false
    };
  },
  methods: {
    onLinkListExpand() {
      this.expandToggle = !this.expandToggle;
    },
    openAccordionItem(id, $event) {
      const $item = this.$refs[id][0];
      Object.keys(this.$refs).forEach(key => {
        if (key !== id) {
          this.$refs[key][0].closeItem();
        }
      });
      if ($item.open) {
        return $item.closeItem();
      }
      this.onAccordionItemOpen();
      $item.openItem();
    }
  }
};
</script>

<style lang="scss">
.menu-accordion-item-container {
  cursor: pointer;
  display: block;
  width: 100%;
  .menu-bar__featured-product {
    padding: 16px;
    text-align: center;
    border-top: 1px solid $color-light-grey;
  }
}
</style>