<template lang="pug">
  div.menu-mobile-container(:class="{ active: mobileMenuOpen }" ref="menu")
    button.hamburger-close(type="button" @click="onCloseClick" :class="{ hidden: !mobileMenuOpen }")
      icon(name="close")
    .menu-mobile__featured-offers(v-if="showOffers" :class="{ open: featuredOffersOpenMobile }")
      .menu-mobile__section-content
        button.menu-mobile__linklist-item.menu-mobile__linklist-item--promos.bg-off-white.back(@click="hideFeaturedOffersMobile")
          h4 {{ offers.settings.mobileHeadingText }}
          icon(name="chevron-left" size="12px")
        .featured-offers
          featured-offer(v-for="offer in offers.blocks" :key="offer.id" :offer="offer")
              
    .menu-mobile
      .menu-mobile__section
          h6.menu-mobile__section-title
              span.menu-mobile__section-title-text(:class="{ icon: !!icons.shopIcon }") {{ settings.mobileNavHeadingText || 'Shop' }}
              img.menu-mobile__section-title-img(:src="icons.shopIcon")
          .menu-mobile__accordion
            menu-accordion(:menuLinks="menuLinks" :onAccordionItemOpen="onAccordionItemOpen" :featuredLinkColor="settings.navFeaturedLinkColor")
      .menu-mobile__section(v-if="settings.helpDropdownEnabled")
          h6.menu-mobile__section-title
              span.menu-mobile__section-title-text(:class="{ icon: !!icons.helpIcon }") {{ settings.helpLinkText || 'Help' }}
              img.menu-mobile__section-title-img(:src="icons.helpIcon" v-if="icons.helpIcon")
          .menu-mobile__section-content
            .menu-mobile__section-content-text(v-if="settings.helpDropdownContent" v-html="settings.helpDropdownContent")
            a.menu-mobile__linklist-item(v-for="(link, idx) in helpLinks" :key="`${link.url}_${idx}`" :href="link.url") {{ link.title }}
      .menu-mobile__section
          h6.menu-mobile__section-title
              span.menu-mobile__section-title-text(:class="{ icon: !!icons.accountIcon }") {{ settings.accountLinkText || 'Account' }}
              img.menu-mobile__section-title-img(:src="icons.accountIcon")
          .menu-mobile__section-content
            a.menu-mobile__linklist-item(href="/account/login") {{ 'Login' }}
            a.menu-mobile__linklist-item(href="/account/register") {{ 'Create Account' }}
      .menu-mobile__section(v-if="showOffers || (settings.elLinkText1 && settings.elLinkUrl1) || (settings.elLinkText2 && settings.elLinkUrl2) || (settings.elLinkText3 && settings.elLinkUrl3) || (settings.elLinkText4 && settings.elLinkUrl4) || (!settings.helpDropdownEnabled && settings.helpDropdownLinkURL) || (settings.navLinkText && settings.navLinkURL)")
          h6.menu-mobile__section-title
              span.menu-mobile__section-title-text(:class="{ icon: !!icons.extraLinksIcon }") {{ settings.elMobileHeadingText || 'Extra' }}
              img.menu-mobile__section-title-img(:src="icons.extraLinksIcon")
          .menu-mobile__section-content
            button.menu-mobile__linklist-item.menu-mobile__linklist-item--promos.bg-off-white(v-if="showOffers" @click="showFeaturedOffersMobile")
              h4 {{ offers.settings.mobileHeadingText }}
              icon(name="chevron-right" size="12px")
            a.menu-mobile__linklist-item(v-if="!settings.helpDropdownEnabled && settings.helpDropdownLinkURL" :href="settings.helpDropdownLinkURL") {{ settings.helpLinkText || 'Help' }}
            a.menu-mobile__linklist-item(v-if="settings.navLinkText && settings.navLinkURL" :href="settings.navLinkURL") {{ settings.navLinkText }}
            a.menu-mobile__linklist-item(v-if="settings.elLinkText1 && settings.elLinkUrl1" :href="settings.elLinkUrl1") {{ settings.elLinkText1 }}
            a.menu-mobile__linklist-item(v-if="settings.elLinkText2 && settings.elLinkUrl2" :href="settings.elLinkUrl2") {{ settings.elLinkText2 }}
            a.menu-mobile__linklist-item(v-if="settings.elLinkText3 && settings.elLinkUrl3" :href="settings.elLinkUrl3") {{ settings.elLinkText3 }}
            a.menu-mobile__linklist-item(v-if="settings.elLinkText4 && settings.elLinkUrl4" :href="settings.elLinkUrl4") {{ settings.elLinkText4 }}
      .menu-mobile__section(v-if="(settings.ltLogoText1 && settings.ltLogoLinkUrl1) || (settings.ltLogoText2 && settings.ltLogoLinkUrl2) || (settings.ltLogoText3 && settings.ltLogoLinkUrl3) || (settings.ltLogoText4 && settings.ltLogoLinkUrl4) || (settings.ltLogoText5 && settings.ltLogoLinkUrl5) || (settings.ltLogoText6 && settings.ltLogoLinkUrl6) || (settings.ltLogoText7 && settings.ltLogoLinkUrl7)")
          h6.menu-mobile__section-title
              span.menu-mobile__section-title-text(:class="{ icon: !!icons.brandsIcon }") {{ settings.ltMobileHeadingText || 'Our Brands' }}
              img.menu-mobile__section-title-img(:src="icons.brandsIcon")
          .menu-mobile__section-content
            a.menu-mobile__linklist-item(v-if="settings.ltLogoText1 && settings.ltLogoLinkUrl1" :href="settings.ltLogoLinkUrl1") {{ settings.ltLogoText1 }}
            a.menu-mobile__linklist-item(v-if="settings.ltLogoText2 && settings.ltLogoLinkUrl2" :href="settings.ltLogoLinkUrl2") {{ settings.ltLogoText2 }}
            a.menu-mobile__linklist-item(v-if="settings.ltLogoText3 && settings.ltLogoLinkUrl3" :href="settings.ltLogoLinkUrl3") {{ settings.ltLogoText3 }}
            a.menu-mobile__linklist-item(v-if="settings.ltLogoText4 && settings.ltLogoLinkUrl4" :href="settings.ltLogoLinkUrl4") {{ settings.ltLogoText4 }}
            a.menu-mobile__linklist-item(v-if="settings.ltLogoText5 && settings.ltLogoLinkUrl5" :href="settings.ltLogoLinkUrl5") {{ settings.ltLogoText5 }}
            a.menu-mobile__linklist-item(v-if="settings.ltLogoText6 && settings.ltLogoLinkUrl6" :href="settings.ltLogoLinkUrl6") {{ settings.ltLogoText6 }}
            a.menu-mobile__linklist-item(v-if="settings.ltLogoText7 && settings.ltLogoLinkUrl7" :href="settings.ltLogoLinkUrl7") {{ settings.ltLogoText7 }}
  
  </template>

<script>
import { mapState } from 'vuex';
import Icon from 'scripts/components/basic/Icon.vue';
import MenuBarColumn from 'scripts/components/header-2/sub/MenuBarColumn.vue';
import MenuAccordionItem from 'scripts/components/header-2/sub/MenuAccordionItem.vue';
import MenuAccordion from 'scripts/components/header-2/sub/MenuAccordion.vue';
import FeaturedOffer from 'scripts/components/featured-offers/FeaturedOffer.vue';

export default {
  name: 'MenuMobile',
  components: {
    Icon,
    MenuAccordion,
    MenuAccordionItem,
    MenuBarColumn,
    FeaturedOffer
  },
  props: {
    settings: Object,
    defaultIcons: Object,
    menuLinks: Array,
    helpLinks: Array,
    mobileMenuOpen: Boolean,
    onClose: Function
  },
  data() {
    return {
      featuredOffersOpenMobile: false
    };
  },
  computed: {
    ...mapState({
      offers: state => state.offers,
    }),
    showOffers() {
      if (!this.offers.settings) return false;
      return this.offers.settings.enableFeaturedOffers;
    },
    icons() {
      return {
        shopIcon:
          this.settings.mobileNavIconSvgUrl || this.settings.mobileNavIconImage,
        helpIcon:
          this.settings.helpDropdownIconSvgUrl ||
          this.settings.helpDropdownIconImage ||
          null,
        accountIcon:
          this.settings.accountIconSvgUrl ||
          this.settings.accountIconImage ||
          null,
        extraLinksIcon: this.settings.elSvgUrl || this.settings.elIconImage,
        brandsIcon:
          this.settings.mobileNavIconImage || this.settings.ltMobileIconSvgUrl
      };
    }
  },
  watch: {
    mobileMenuOpen(value) {
      if (value) {
        document.querySelector('body').classList.add('no-overflow');
      } else {
        document.querySelector('body').classList.remove('no-overflow');
      }
    }
  },
  methods: {
    onCloseClick() {
      if (this.onClose) {
        this.onClose();
        window.scrollTo({
          top: 0,
          left: 0,
          behavior: 'smooth'
        });
      }
    },
    onAccordionItemOpen() {
      this.$refs.menu.scrollTo({
        top: 0,
        left: 0,
        behavior: 'smooth'
      });
    },
    showFeaturedOffersMobile() {
      this.featuredOffersOpenMobile = true;
    },
    hideFeaturedOffersMobile() {
      this.featuredOffersOpenMobile = false;
    }
  }
};
</script>

<style lang="scss">
body.no-overflow {
  overflow: hidden;
}
#app.header-fixed {
  .menu-mobile-container {
    height: calc(100vh - 122px);
    top: 122px;
    .menu-mobile {
      &__featured-offers {
        position: fixed;
        left: 0;
        top: 122px;
      }
    }
  }
}
.menu-mobile-container {
  @include desktop-up {
    display: none !important;
  }
  display: none;
  height: calc(100vh - 174px);
  top: 174px;
  position: fixed;
  width: 100vw;
  overflow: scroll;
  background-color: $color-white;
  &.active {
    display: block;
  }
  .hamburger-close {
    position: fixed;
    bottom: 32px;
    height: 42px;
    width: 42px;
    box-shadow: 0 9px 6px 0 rgba(110, 96, 63, 0.2);
    border-radius: 50%;
    background-color: $color-white;
    left: 50%;
    transform: translateX(-50%);
    &.hidden {
      display: none;
    }
  }
  .menu-mobile {
    padding-bottom: 115px;
    &__section-title {
      padding: 0 16px;
      background-color: $color-light-grey;
      color: $color-black;
      height: 32px;
      display: flex;
      align-items: center;
    }
    &__section-title-img {
      width: 16px;
      height: auto;
      position: absolute;
      left: 16px;
    }
    &__section-title-text {
      text-transform: uppercase;
      font: inherit;
      font-size: 10px;
      letter-spacing: 2px;
      &.icon {
        padding-left: 20px;
      }
    }
    &__section-content-text {
      border-bottom: 1px solid $color-light-grey;
      padding: 16px;
      p,
      a {
        margin-bottom: 16px;
        color: $color-black;
        &:last-child {
          margin-bottom: 0;
        }
      }
      a {
        text-decoration: underline;
      }
    }
    &__linklist-item {
      padding: 16px;
      border-bottom: 1px solid $color-light-grey;
      display: block;
      color: inherit;
      &--promos {
        width: 100%;
        text-align: left;
        position: relative;
        & > h4 {
          font-size: 1.125rem;
        }
        & > svg {
          position: absolute;
          right: 16px;
          top: 50%;
          transform: translateY(-50%);
        }
        &.back {
          padding-left: 52px;
          & > svg {
            left: 16px;
            right: auto;
          }
        }
      }
    }
    &__featured-offers {
      position: fixed;
      left: 0;
      top: 174px;
      height: calc(100vh - 174px);
      width: 100vw;
      z-index: 1;
      transform: translate3d(100%, 0, 0);
      background-color: $color-white;
      transition: transform 150ms ease-in-out;
      overflow: scroll;
      &.open {
        transform: translate3d(0, 0, 0);
      }
    }
  }
  .featured-offers {
    padding: 20px 28px;
    .offer {
      &__image {
        overflow: hidden;
        height: 0;
        padding-top: 50%;
      }
      &__content {
        margin-bottom: 24px;
      }
    }
  }
}
</style>