<template lang="pug">
  .menu-accordion__item
    .menu-accordion__item-title(:class="{ open: !!open, 'bg-brand-secondary': !!open }")
      a.menu-accordion__item-title-text(:href="menuLink.settings.menuLinkUrl" :class="menuLink.settings.menuLinkFeatured ? featuredLinkColor : 'color-black'")
        h4 {{ menuLink.settings.menuLinkName }}
      button.menu-accordion__item-title-arrow(v-if="!menuLink.settings.menuLinkHideDropdown" type="button" @click="onOpen(menuLink.id, $event)")
        icon(:name="open ? 'chevron-up' : 'chevron-down'" size="12px")
    .menu-accordion__item-content(ref="content" :style="open && ({ maxHeight: `${height}px` })")
      slot
</template>

<script>
import Icon from 'scripts/components/basic/Icon.vue';

export default {
  name: 'MenuAccordionItem',
  components: {
    Icon
  },
  props: {
    menuLink: Object,
    onOpen: Function,
    expandToggle: Boolean,
    featuredLinkColor: String
  },
  data() {
    return {
      open: false,
      height: 0
    };
  },
  watch: {
    expandToggle() {
      // recalculate height when a nested linklist
      // is expanded in mobile accordion.
      this.height = this.$refs.content.scrollHeight;
    }
  },
  mounted() {
    window.addEventListener('resize', () => this.onResize());
  },
  updated() {
    this.height = this.$refs.content.scrollHeight;
  },
  methods: {
    closeItem() {
      this.open = false;
    },
    openItem() {
      this.open = true;
    },
    onResize() {
      if (this.$refs.content) this.height = this.$refs.content.scrollHeight;
    }
  }
};
</script>

<style lang="scss">
.menu-accordion {
  &__item-content {
    height: auto;
    max-height: 0;
    overflow: hidden;
    transition: max-height 300ms ease-in;
    .menu-bar {
      &__col-image-link {
        padding: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      &__col-linklist-item {
        padding: 0 16px;
        border-bottom: 1px solid $color-light-grey;
        &:last-child {
          border: none;
        }
      }
      &__col-linklist-nested-item {
        margin-bottom: 16px;
        &:hover {
          text-decoration: none;
        }
      }
      &__col-linklist-nested-title {
        display: flex;
        align-items: center;
        font-size: 16px;
        @include strong-medium;
        height: 56px;
        width: 100%;
        text-align: left;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  &__item-title {
    border: 1px solid $color-light-grey;
    border-width: 1px 0 0;
    width: 100%;
    height: 52px;
    display: flex;
    align-items: center;
    padding-left: 16px;
    transition: background-color 200ms ease-in;
    &.open {
      .menu-accordion__item-title-arrow {
        border-color: transparent;
      }
    }
  }
  &__item-title-text {
    font-size: 18px;
    text-align: left;
    flex: 1;
    display: block;
    & > * {
      font-size: inherit;
    }
  }
  &__item-title-arrow {
    width: 50px;
    height: 50px;
    border-left: 1px solid $color-light-grey;
    transition: border 200ms ease-in;
  }
}
</style>