<template lang="pug">
  .menu-bar(v-if="!['mobile', 'tablet'].includes($mq)")
    .container
      .menu-bar__wrapper(:class="settings.logoAlignment")
        .menu-bar__link(
          v-for="menuLink in menuLinks"
          :key="menuLink.id"
        )
          a.menu-bar__link-text(:class="{ 'menu-bar__link-text--icon': !menuLink.settings.menuLinkHideDropdown, [settings.navFeaturedLinkColor]: menuLink.settings.menuLinkFeatured, featured: menuLink.settings.menuLinkFeatured }" :href="menuLink.settings.menuLinkUrl") {{ menuLink.settings.menuLinkName }}
            icon.menu-bar__link-icon(v-if="!menuLink.settings.menuLinkHideDropdown" name="caret-down" size="12px")
          
          .menu-bar__dropdown(v-if="!menuLink.settings.menuLinkHideDropdown" :class="[settings.navDropdownBgColor, settings.navDropdownTextLinkColor]")
            .menu-bar__dropdown-col-container.container
              .menu-bar__dropdown-col.menu-bar__dropdown-col--1(
                v-if="menuLink.settings.col1DropdownImage1 || menuLink.settings.col1DropdownImage2 || menuLink.col1DropdownLinklist"
                :class="{ 'no-border': menuLink.settings.col1DropdownImage1 && menuLink.settings.col1DropdownImage2 && !menuLink.settings.col1DropdownLinklist }"
              )
                a.menu-bar__featured-product(v-if="menuLink.col1DropdownFeaturedProduct" :href="menuLink.col1DropdownFeaturedProduct.url")
                  p.menu-bar__featured-product-heading(v-if="menuLink.settings.col1DropdownFeaturedProductHeadingText") {{ menuLink.settings.col1DropdownFeaturedProductHeadingText }}
                  img.menu-bar__featured-product-image(:src="imageSize(menuLink.col1DropdownFeaturedProduct.image, '200x200')")
                  p.menu-bar__featured-product-title.strong-bold {{ menuLink.col1DropdownFeaturedProduct.title }}
                  p.menu-bar__featured-product-price {{ menuLink.col1DropdownFeaturedProduct.price }}
                div(v-else)
                  menu-bar-column(
                  :dropdownImage1="menuLink.settings.col1DropdownImage1"
                  :dropdownImageLinkUrl1="menuLink.settings.col1DropdownImageLinkUrl1"
                  :dropdownImageLinkText1="menuLink.settings.col1DropdownImageLinkText1"
                  :dropdownImage2="menuLink.settings.col1DropdownImage2"
                  :dropdownImageLinkUrl2="menuLink.settings.col1DropdownImageLinkUrl2"
                  :dropdownImageLinkText2="menuLink.settings.col1DropdownImageLinkText2"
                  :dropdownLinklist="menuLink.col1DropdownLinklist"
                  :featuredLinkColor="settings.navFeaturedLinkColor"
                  )
              .menu-bar__dropdown-col.menu-bar__dropdown-col--2(
                  v-if="menuLink.settings.col2DropdownImage1 || menuLink.settings.col2DropdownImage2 || menuLink.col2DropdownLinklist"
                  :class="{ 'no-border': menuLink.settings.col2DropdownImage1 && menuLink.settings.col2DropdownImage2 && !menuLink.settings.col2DropdownLinklist }"
              )
                menu-bar-column(
                  :dropdownImage1="menuLink.settings.col2DropdownImage1"
                  :dropdownImageLinkUrl1="menuLink.settings.col2DropdownImageLinkUrl1"
                  :dropdownImageLinkText1="menuLink.settings.col2DropdownImageLinkText1"
                  :dropdownImage2="menuLink.settings.col2DropdownImage2"
                  :dropdownImageLinkUrl2="menuLink.settings.col2DropdownImageLinkUrl2"
                  :dropdownImageLinkText2="menuLink.settings.col2DropdownImageLinkText2"
                  :dropdownLinklist="menuLink.col2DropdownLinklist"
                  :featuredLinkColor="settings.navFeaturedLinkColor"
                )
              .menu-bar__dropdown-col.menu-bar__dropdown-col--3(
                  v-if="menuLink.settings.col3DropdownImage1 || menuLink.settings.col3DropdownImage2 || menuLink.col3DropdownLinklist"
                  :class="{ 'no-border': menuLink.settings.col3DropdownImage1 && menuLink.settings.col3DropdownImage2 && !menuLink.settings.col3DropdownLinklist }"
              )
                menu-bar-column(
                  :dropdownImage1="menuLink.settings.col3DropdownImage1"
                  :dropdownImageLinkUrl1="menuLink.settings.col3DropdownImageLinkUrl1"
                  :dropdownImageLinkText1="menuLink.settings.col3DropdownImageLinkText1"
                  :dropdownImage2="menuLink.settings.col3DropdownImage2"
                  :dropdownImageLinkUrl2="menuLink.settings.col3DropdownImageLinkUrl2"
                  :dropdownImageLinkText2="menuLink.settings.col3DropdownImageLinkText2"
                  :dropdownLinklist="menuLink.col3DropdownLinklist"
                  :featuredLinkColor="settings.navFeaturedLinkColor"
                )
              .menu-bar__dropdown-col.menu-bar__dropdown-col--4(
                  v-if="menuLink.settings.col4DropdownImage1 || menuLink.settings.col4DropdownImage2 || menuLink.col4DropdownLinklist"
                  :class="{ 'no-border': menuLink.settings.col4DropdownImage1 && menuLink.settings.col4DropdownImage2 && !menuLink.settings.col4DropdownLinklist }"
              )
                menu-bar-column(
                  :dropdownImage1="menuLink.settings.col4DropdownImage1"
                  :dropdownImageLinkUrl1="menuLink.settings.col4DropdownImageLinkUrl1"
                  :dropdownImageLinkText1="menuLink.settings.col4DropdownImageLinkText1"
                  :dropdownImage2="menuLink.settings.col4DropdownImage2"
                  :dropdownImageLinkUrl2="menuLink.settings.col4DropdownImageLinkUrl2"
                  :dropdownImageLinkText2="menuLink.settings.col4DropdownImageLinkText2"
                  :dropdownLinklist="menuLink.col4DropdownLinklist"
                  :featuredLinkColor="settings.navFeaturedLinkColor"
                )
              .menu-bar__dropdown-col.menu-bar__dropdown-col--5(
                  v-if="menuLink.settings.col5DropdownImage1 || menuLink.settings.col5DropdownImage2 || menuLink.col5DropdownLinklist"
                  :class="{ 'no-border': menuLink.settings.col5DropdownImage1 && menuLink.settings.col5DropdownImage2 && !menuLink.settings.col5DropdownLinklist }"
              )
                menu-bar-column(
                  :dropdownImage1="menuLink.settings.col5DropdownImage1"
                  :dropdownImageLinkUrl1="menuLink.settings.col5DropdownImageLinkUrl1"
                  :dropdownImageLinkText1="menuLink.settings.col5DropdownImageLinkText1"
                  :dropdownImage2="menuLink.settings.col5DropdownImage2"
                  :dropdownImageLinkUrl2="menuLink.settings.col5DropdownImageLinkUrl2"
                  :dropdownImageLinkText2="menuLink.settings.col5DropdownImageLinkText2"
                  :dropdownLinklist="menuLink.col5DropdownLinklist"
                  :featuredLinkColor="settings.navFeaturedLinkColor"
                )
              .menu-bar__dropdown-col.menu-bar__dropdown-col--6(
                v-if="menuLink.col6DropdownFeaturedProduct || menuLink.settings.col6DropdownImage1 || menuLink.settings.col6DropdownImage2 || menuLink.col6DropdownLinklist"
                :class="{ 'no-border': menuLink.settings.col6DropdownImage1 && menuLink.settings.col6DropdownImage2 && !menuLink.settings.col5DropdownLinklist &&  !menuLink.col6DropdownFeaturedProduct }"
              )
                menu-bar-column(
                  :dropdownImage1="menuLink.settings.col6DropdownImage1"
                  :dropdownImageLinkUrl1="menuLink.settings.col6DropdownImageLinkUrl1"
                  :dropdownImageLinkText1="menuLink.settings.col6DropdownImageLinkText1"
                  :dropdownImage2="menuLink.settings.col6DropdownImage2"
                  :dropdownImageLinkUrl2="menuLink.settings.col6DropdownImageLinkUrl2"
                  :dropdownImageLinkText2="menuLink.settings.col6DropdownImageLinkText2"
                  :dropdownLinklist="menuLink.col6DropdownLinklist"
                  :featuredLinkColor="settings.navFeaturedLinkColor"
                )
            .menu-bar__shop-all-bar(v-if="!menuLink.settings.hideShopAllLink")
              v-link(:href="menuLink.settings.menuLinkUrl" :primary="true") {{ 'Shop All' }} 
  
    
  </template>

<script>
import Icon from 'scripts/components/basic/Icon.vue';
import MenuBarColumn from 'scripts/components/header-2/sub/MenuBarColumn.vue';
import VLink from 'scripts/components/buttons/VLink.vue';
import { imageSize } from 'scripts/helpers/util';

export default {
  name: 'MenuBar',
  components: {
    Icon,
    MenuBarColumn,
    VLink
  },
  props: {
    settings: Object,
    menuLinks: Array
  },
  methods: {
    imageSize,
  }
};
</script>

<style lang="scss">
.menu-bar {
  display: none;
  position: relative;
  border-width: 1px 0;
  border-style: solid;
  border-color: $color-light-grey;
  background-color: $color-off-white;
  @include desktop-up {
    display: block;
  }
  &__dropdown {
    position: absolute;
    z-index: 22;
    width: 100%;
    top: 43px;
    left: 0;
    overflow: hidden;
    height: auto;
    max-height: 0;
    transition: max-height 200ms ease-in-out;
    transition-delay: 0ms;
  }
  &__dropdown-col-container {
    display: flex;
    padding: 32px 0;
    justify-content: center;
    @include ie {
      justify-content: flex-start;
    }

    &:last-child {
      border-bottom: 1px solid $color-light-grey;
    }
  }
  &__dropdown-col {
    flex: 1;
    border-left: 1px solid $color-light-grey;
    min-height: 300px;
    &.no-border {
      border: none;
    }
  }
  &__wrapper {
    display: flex;
    height: 42px;
    &.center {
      justify-content: center;
    }
  }
  &__link {
    display: flex;
    height: 43px;
    z-index: 32; // needed for dropdowns to be over the zoom icon on pdp
    border-bottom: 2px solid transparent;
    cursor: default;
    align-items: center;
    &:hover {
      border-color: $color-brand-primary;
      .menu-bar__dropdown {
        overflow: scroll;
        max-height: calc(100vh - 148px);
        transition: max-height 200ms ease-in-out;
        transition-delay: 200ms;
      }
    }
  }
  &__link-text {
    display: block;
    position: relative;
    cursor: pointer;
    padding: 12px;
    &:not(.featured) {
      color: $color-black;
    }
    &--icon {
      padding-right: 28px;
    }
  }
  &__link-icon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
  }
  &__dropdown-col {
    padding: 0 20px;
    max-width: 240px;
  }
  &__featured-product {
    display: block;
    color: inherit;
    &:hover {
      .menu-bar__featured-product-image {
        opacity: 0.8;
      }
    }
  }
  &__featured-product-heading {
    font-weight: bold;
    margin-bottom: 4px;
  }
  &__featured-product-image {
    margin-bottom: 4px;
    transition: opacity 200ms ease-in;
  }
  &__featured-product-title {
    margin-bottom: 8px;
    line-height: 20px;
  }
  &__shop-all-bar {
    height: 44px;
    border-width: 1px 0;
    border-style: solid;
    border-color: $color-light-grey$color-off-white;
    background-color: $color-off-white;
    display: flex;
    justify-content: center;
    align-items: center;
    & > a {
      display: flex;
      align-items: center;
      /* color: inherit;
      text-decoration: underline; */
    }
  }
}
</style>