
<template lang="pug">
  .footer-subfooter-container(:class="[schema.settings.backgroundColor, schema.settings.borderColor]")
    .footer-subfooter(:class="[schema.settings.textColor]")
      .footer-subfooter__menu(v-if="schema.settings.subfooterMenu.links.length > 0")
        .footer-subfooter__link-container.body-sm-mobile.body-md-tablet-up(v-for="link in schema.settings.subfooterMenu.links" :key="link.id")
          a.footer-subfooter__link.link.link--primary(:href="link.url")
            span.link__content {{link.title}}
      .footer-subfooter__copyright.body-sm-mobile.body-md-tablet-up {{schema.settings.copyrightText}}
</template>

<script>
  export default {
    name: 'FooterSubFooter',
    components: {},
    props: {
      schema: Object
    },
    methods: {},
    data() {
      return {}
    }
  }
</script>

<style lang="scss">
  .footer-subfooter-container {
    padding: 16px;
    border-top: 1px solid;

    @include tablet-up {
      padding: 24px 20px;
    }
  }

  .footer-subfooter {
    max-width: #{$container-max-width - 40px};
    margin: 0 auto;
    overflow: hidden;

    @include tablet-up {
      display: flex;
      justify-content: center;
    }

    &__menu {
      display: flex;
      flex-wrap: wrap;

      &:not(:last-child) {
        @include tablet-up {
          margin-left: -12px;
        }
      }

      .footer-content--center & {
        @include mobile-only {
          justify-content: center;
        }
      }
    }

    &__link-container {
      margin-bottom: 16px;
      flex-basis: 50%;
      flex-grow: 1;

      @include tablet-up {
        margin: 0 12px;
        line-height: 1.15;
        flex-basis: auto;
        flex-grow: 0;
      }

      &:nth-child(even) {
        padding-left: 20px;

        @include tablet-up {
          padding-left: 0;
        }
      }

      &:nth-child(odd) {
        padding-right: 20px;

        @include tablet-up {
          padding-right: 0;
        }

        &:last-child {
          padding-right: 0;
        }
      }
    }

    &__link {
      display: block;
      font-size: inherit;
      line-height: inherit;
      color: inherit;

      .link__content {
        font-size: inherit;
        line-height: inherit;
      }

      .footer-content--center & {
        @include mobile-only {
          margin: 0 auto;
        }
      }
    }

    &__copyright {
      &:not(:nth-child(1)) {
        @include tablet-up {
          margin-left: 12px;
        }
      }

      .footer-content--center & {
        @include mobile-only {
          text-align: center;
        }
      }
    }
  }
</style>