
<template lang="pug">
  .footer-main-container(:class="[schema.settings.backgroundColor, schema.settings.borderColor]")
    accordion-group.footer-main(:class="[schema.settings.textColor]")
      .footer-main__column(v-for="block in filteredBlocks" :key="block.id" :class="{'footer-main__column--large footer-main__column--logo': block.type === 'logo_block'}")
        accordion.footer-main__menu-accordion(v-if="block.type === 'link_list_block' && $mq === 'mobile'" :heading="block.settings.menu.title" :titleClass="[schema.settings.headerColor]" :iconClass="[schema.settings.headerColor.replace('color', 'fill')]" activeIcon="chevron-up" inactiveIcon="chevron-down" iconSize="8px" theme="footer-bourdain")
          .footer-main__menu-list(:class="[schema.settings.textColor]")
            a.footer-main__menu-link.link.link--primary(v-for="(link, index) in block.settings.menu.links" :key="index" :href="link.url") {{link.title}}
        .footer-main__menu-content(v-else-if="block.type === 'link_list_block'")
          .footer-main__menu-title.h7-tablet-up(:class="[schema.settings.headerColor]") {{block.settings.menu.title}}
          .footer-main__menu-list(:class="[schema.settings.textColor]")
            a.footer-main__menu-link.link.link--primary(v-for="(link, index) in block.settings.menu.links" :key="index" :href="link.url") {{link.title}}
        .footer-main__logo-content(v-else)
            img.footer-main__logo(v-if="block.settings.logo_png || block.settings.logo_svg" :src="block.settings.logo_svg ? block.settings.logo_svg : block.settings.logo_png" :alt="block.settings.logo_png_alt ? block.settings.logo_png_alt : ''")
            .footer-main__title.body-sm-mobile.body-lg-tablet-up.strong-bold(:class="[schema.settings.headerColor]") {{block.settings.title}}
            .footer-main__body.body-sm-mobile.body-md-tablet-up.client-generated(v-html="block.settings.body" :class="[schema.settings.textColor]")
</template>

<script>
  import Accordion from 'scripts/components/basic/Accordion.vue';
  import AccordionGroup from 'scripts/components/basic/AccordionGroup.vue';
  import Icon from 'scripts/components/basic/Icon.vue';

  export default {
    name: 'FooterMain',
    components: {
      Accordion,
      AccordionGroup,
      Icon,
    },
    props: {
      schema: Object
    },
    methods: {},
    data() {
      return {}
    },
    computed: {
      filteredBlocks() {
        const filteredArr = [];
        let columnTotal = 0;
        this.schema.blocks.forEach((block) => {
          if (block.type === 'logo_block') {
            columnTotal += 2;
          } else {
            columnTotal += 1;
          }

          if (columnTotal > 6) {
            return;
          }

          filteredArr.push(block);
        });

        return filteredArr;
      }
    }
  }
</script>

<style lang="scss">
  .footer-main-container {
    padding: 0 16px;
    border-top: 1px solid;

    @include tablet-up {
      padding: 40px 20px 44px;
    }
  }

  .footer-main {
    max-width: #{$container-max-width - 40px};
    margin: 0 auto;
    @include tablet-up {
      display: flex;
      justify-content: space-around;
    }
    @include desktop-up {
      justify-content: flex-start;
    }

    &__column {
      @include desktop-up {
        flex-basis: 16.67%;
      }

      &:not(:last-child) {
        @include desktop-up {
          padding-right: 20px;
        }
      }
    }

    &__column--large {
      @include desktop-up {
        flex-basis: 33.33%;
      }
    }

    &__column--logo {
      @include tablet-only {
        display: none;
      }
    }

    &__menu-title {
      @include tablet-up {
        margin-bottom: 12px;
      }
    }

    &__menu-list {
      display: flex;
      padding-bottom: 16px;
      flex-direction: column;
      align-items: flex-start;

      @include tablet-up {
        padding-bottom: 0;
      }

      .footer-content--center & {
        @include mobile-only {
          align-items: center;
        }
      }
    }

    &__menu-link {
      color: inherit;
      margin-bottom: 16px;

      &:last-child {
        margin-bottom: 0;
      }

      
      .footer-main-container.bg-brand-primary &:hover {
        color: $color-brand-secondary;
      }
    }

    &__logo-content {
      padding: 24px 0 16px;

      @include tablet-up {
        display: none;
        padding-top: 0;
        padding-bottom: 0;
      }
      @include desktop-up {
        display: block;
      }

      .footer-content--center & {
        @include mobile-only {
          text-align: center;
        }
      }
    }

    &__logo {
      display: block;
      max-width: 170px;
      margin-bottom: 16px;

      .footer-content--center & {
        @include mobile-only {
          margin: 0 auto 16px;
        }
      }
    }
  }
</style>