
<template lang="pug">
  .footer-email-collection(:class="[schema.settings.backgroundColor, schema.settings.borderColor]")
    .footer-email-collection__content
      .footer-email-collection__inner-content
        .footer-email-collection__text
          .footer-email-collection__title.h4-tablet-up(:class="[schema.settings.headerColor]") {{ schema.settings.title }}
          .footer-email-collection__body.client-generated(v-html="schema.settings.body" :class="[schema.settings.textColor]")
        .footer-email-collection__form
          slot
      .footer-email-collection__image-wrapper(v-if="schema.settings.backgroundImage")
        img.footer-email-collection__image(:src="schema.settings.backgroundImage" :alt="schema.settings.backgroundImageAlt")
</template>

<script>
  export default {
    name: 'FooterEmailCollection',
    props: {
      schema: Object,
      newsletter: String,
    },
    methods: {},
    data() {
      return {};
    },
  }
</script>

<style lang="scss">
  .footer-email-collection {
    padding: 0 16px;
    border-top: 1px solid;

    @include tablet-up {
      padding: 0 20px;
    }

    &__content {
      position: relative;
      display: flex;
      padding-top: 24px;
      flex-direction: column;
      align-items: center;

      @include tablet-up {
        padding: 32px 0 28px;
        flex-direction: row;
        justify-content: center;
      }
      @include desktop-up {
        max-width: #{$container-max-width - 40px};
        margin: 0 auto;
        padding: 0;
      }
    }

    &__inner-content {
      width: 100%;

      @include tablet-up {
        width: 43%;
        margin: 0 auto;
      }
      @include desktop-up {
        display: flex;
        width: 100%;
        max-width: 875px;
        margin: 0 auto 0 0;
        padding: 56px 0 60px;
        align-items: center;
        order: 2;
      }
    }

    &__text {
      @include desktop-up {
        width: 100%;
        margin-right: 44px;
        flex-basis: 50%;
      }

      .footer-content--center & {
        @include mobile-only {
          text-align: center;
        }
      }
    }

    &__title {
      margin-bottom: 16px;

      @include mobile-only {
        @include h5-tablet();
      }
      @include tablet-up {
        margin-bottom: 12px;
      }
      @include desktop-up {
        width: 100%;
      }
    }

    &__body {
      margin-bottom: 16px;
      font-size: rem(12);
      line-height: 1.33;

      @include tablet-up {
        margin-bottom: 12px;
        font-size: rem(16);
        line-height: 1.38;
      }
      @include desktop-up {
        margin-bottom: 0;
        font-size: rem(14);
      }

      p, span, em, strong {
        font-size: inherit;
        line-height: inherit;
        color: inherit;
      }
    }

    &__form {
      width: 100%;
      margin-bottom: 16px;

      @include tablet-up {
        margin-bottom: 0;
      }
      @include desktop-up {
        margin-top: 4px;
        flex-basis: 45%;
      }

      .newsletter-form-inner-container {
        &:hover {
          cursor: pointer;

          button[type="submit"] {
            color: $color-brand-primary;
          }

          svg {
            fill: $color-brand-primary !important;
          }
        }
      }

      .errors {
        font-size: rem(10);
        line-height: 1.6;
        padding: 4px 0 0 0;

        ul, li {
          font-size: inherit;
          line-height: inherit;
        }
      }
    }

    &__image-wrapper {
      @include tablet-up {
        position: absolute;
        bottom: 0;
        left: 20px;        
        width: 20%;
      }
      @include desktop-up {
        position: relative;
        bottom: auto;
        left: auto;
        width: auto;
        margin-right: 40px;
        order: 1;
        align-self: flex-end;
      }
    }

    &__image {
      display: block;
    }
  }
</style>