<template lang="pug">
  .faq-wrapper
    .faq-contents
        ul.faq-contents__list
          li.h6.faq-contents__nav-item(
            v-for="(faqsObj, index) in faqsList"
            :key="index"
            @click="scrollToFAQ(`#${cleanID(faqsObj.category)}`)"
          ) {{faqsObj.category}}
    .faq
      accordion-group(v-for="(faqsObj, index) in faqsList" :key="index")
        p.faq__title.h3(
          :id="cleanID(faqsObj.category)"
        ) {{faqsObj.category}}
        accordion(
          v-for="(faq, subindex) in faqsObj.values"
          :key="subindex"
          :heading="faq.question"
          activeIcon="chevron-up"
          inactiveIcon="chevron-down"
          iconSize="14px"
          :auto-close="false"
          theme="faq")
            div.faq__answer.client-generated(v-html="faq.answer")
</template>

<script>
import AccordionGroup from 'scripts/components/basic/AccordionGroup.vue';
import Accordion from 'scripts/components/basic/Accordion.vue';

export default {
  name: 'FAQs',
  components: {
    AccordionGroup,
    Accordion,
  },
  props: {
    faqsList: {
      type: Array,
      default: () => ([{}])
    }
  },
  data() {
    return {};
  },
  methods: {
    cleanID (id) {
      return id.toLowerCase()
              .replaceAll(/[&\s\/\\#,+()$~%.'":*?<>{}]/g,'-')
              .replaceAll(/-+/g,"-");
    },
    scrollToFAQ (faqId) {
      const element = document.querySelector(faqId) || false;
      element && window.scrollTo({
        top: element.offsetTop - 175,
        behavior: 'smooth',
      });
    }
  },
};
</script>

<style lang="scss" scoped>
.faq-wrapper {
  @include tablet-up {
    display: grid;
    grid-template-columns: 260px 1fr;
    grid-column-gap: 50px;
  }
}

.faq {
  margin-bottom: 0;
  border-radius: 10px;
  padding: 45px 36px;
  background-color: rgba($color-off-white, .35);

  @include tablet-up {
    padding-top: 16px;
  }

  &__category {
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__title {
    margin-bottom: 16px;
  }

  &__answer {
    margin-bottom: 0;
  }

  /deep/ .accordion__menu-title {
    display: block;
    padding-right: 25px;
  }
}

.faq-contents__nav-item {
  cursor: pointer;

  &:hover {
    color: $color-primary-red;
  }
}

.faq-contents__list {
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
}

.faq {
  /deep/ .accordion {
    background-color: $color-white;
    border: 1px solid $color-v-light-grey;
    border-radius: 4px;
    padding: 17px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12);

    .accordion__menu-title {
      font-size: rem(16);
    }

    .accordion__header {
      position: relative;
    }

    .accordion__content {
      padding-top: 20px;
    }

    .accordion-icon {
      right: 0;
      top: 3px;
      position: absolute;
    }

    .product-accordion__content {

      h1, h2, h3, h4, h5, h6 {
        font-size: rem(14);
        line-height: rem(16);
        margin-bottom: 16px;
      }

      p {
        font-size: rem(12);
        line-height: rem(22);
        margin-bottom: 16px;

        @include tablet-up {
          font-size: rem(14);
          margin-bottom: 22px;
        }
      }

      strong {
        font-weight: 600;
      }

      a {
        color: $color-primary-red;
      }

      ul {
        padding-left: 20px;
        list-style-type: disc;

        li {
          list-style-type: disc;
        }
      }
    }

    .product-accordion__content--faq {
      h1, h2, h3, h4, h5, h6 {
        font-size: rem(14);
        line-height: rem(16);
        margin-top: 40px;
        margin-bottom: 15px;
        text-transform: none;

        &:first-child {
          margin-top: 0;
        }

        &:after {
          content: '';
          height: 2px;
          width: 30px;
          margin-top: 10px;
          background-color: $color-primary-red;
          display: block;
        }
      }
    }
  }
}
</style>

<style lang="scss">
  .faq__answer {
    ul {
      margin: 0;
      padding-left: 20px;

      @include tablet-up {
        padding-left: 27px;
      }

      li {
        margin-bottom: 8px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    p {
      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }

    tbody {
      border-top-color: $color-faq-table-border;
    }
  }
</style>
