<template lang="pug">
  .planetbox-wholesale-form
    .powr-form-builder#132bc340_1528854875
      script(type="application/javascript" src="https://www.powr.io/powr.js?platform=vuejs")
</template>

<script>
  export default {
    name: 'PlanetboxWholesaleForm'
  }
</script>