{%- if linklists[_menu_handle] -%}
  {%- assign menu = linklists[_menu_handle] -%}
  {%- for link in linklists[_menu_handle].links -%}
    {
      "title": "{{- link.title -}}",
      "url": "{{- link.url -}}"
      {%- unless link.links == blank-%}
        ,
        "topLevel": true
        },
        {%- for sublink in link.links -%}
          {
            "title": "{{- sublink.title -}}",
            "url": "{{- sublink.url -}}"
          }{%- unless forloop.last -%},{%- endunless -%}
        {%- endfor -%}
      {%- else -%}
        }
      {%- endunless -%}
    {%- unless forloop.last -%},{%- endunless -%}
  {%- endfor -%}
{%- endif -%}
