<template lang="pug">
  .collection-mobile-menu(:class="{'menu-active': menuActive}")
    .collection-mobile-menu__header
      .collection-mobile-menu__header-title
        h3.h3 {{menuTitle}}
      icon.collection-mobile-menu__header-close(@click="closeBinding" name="close" size="24px")
    .collection-mobile-menu__contents
      slot
      .collection-mobile-menu__apply-button
        v-button(v-if="enableApplyButton" :primary="true" :full="true" @click="closeBinding" label="APPLY")
</template>

<script>
  import { mapState } from 'vuex'

  import Icon from 'scripts/components/basic/Icon.vue'
  import VButton from 'scripts/components/buttons/VButton.vue'
  import VLink from 'scripts/components/buttons/VLink.vue'

  export default {
    name: "CollectionMobileMenuB",
    components: { Icon, VButton, VLink },
    props: {
      menuActive: {
        type: Boolean,
        default: false
      },
      menuTitle: {
        type: String,
        required: true
      },
      enableApplyButton: {
        type: Boolean,
        default: false
      },
      closeBinding: {
        type: Function,
        required: true
      }
    },
    computed: {
      ...mapState({
        currentFilters: state => state.collections.currentFilters
      })
    }
  }
</script>

<style lang="scss" scoped>
  .collection-mobile-menu {
    background-color: $color-white;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    opacity: 0;
    transform: translate3d(-100%,0,0);
    transition: transform 250ms ease-in-out, opacity 200ms ease;
    display: flex;
    flex-direction: column;
    padding: 0 8px;
    &.menu-active {
      opacity: 1;
      transform: translate3d(0,0,0);
    }
    &__header {
      position: relative;
      align-items: center;
      background-color: $color-white;
      padding: 16px;
      &-title {
        width: 100%;
        text-align: center;
        /deep/ .link {
          margin-left: 16px;
        }
      }
      &-close {
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    &__contents {
      position: relative;
      width: 100%;
      height: 100%;
      overflow-y: scroll;
    }
    &__apply-button {
      background-color: #fff;
      width: 100%;
      padding: $grid-gutter;
    }
    &__filters-clear {
      cursor: pointer;
    }
  }
</style>