
<template lang="pug">
  div
    span.collection-total-results.body-sm-mobile.body-md-tablet-up {{currentTotal}} {{results}}
    span.collection-total-results.body-sm-mobile.body-md-tablet-up(v-if="currentFilters && currentFilters.length > 0") {{currentFilters.length}} {{filters}}
</template>

<script>
  import { mapState } from 'vuex';

  export default {
    name: 'CollectionTotalResults',
    computed: {
      ...mapState({
        currentTotal: state => state.collections.currentTotal,
        currentFilters: state => state.collections.currentFilters
      }),
      results() {
        if (this.currentTotal === 1) {
          return 'Result'
        } else {
          return 'Results'
        }
      },
      filters() {
        if (this.currentFilters.length === 1) {
          return 'Filter'
        } else {
          return 'Filters'
        }
      }
    }
  }
</script>

<style scoped lang="scss">
  .collection-total-results {
    margin-right: 24px;
    vertical-align: middle;
    @include mobile-only {
      display: block;
      width: 100%;
      text-align: center;
      margin: 0;
    }
    &.italicized {
      font-style: italic;
    }
  }
</style>