<template lang="pug">
  section.sc-collection
    header.sc-collection__header
      div
        h1.h4.sc-collection__title {{ collectionTitle }}
        p.c__product-count.sc-collection__count {{ allProductsText }}
      v-button.sc-collection__link( tertiary tag="a" :href="collectionUrl" :aria-label="ctaText || `Shop all ${collectionTitle}`") {{ ctaText || 'Shop all' }} 
    div.sc-collection__tiles(
      aria-live="polite"
      role="list"
      :id="`${collectionHandle}-list`"
      v-if="products.length > 0"
    )
      product-tile.sc-collection__tile(
        v-for="product in products.slice(0, productsToShow)"
        :key="product.id"
        :selected-variant="product.variants[0]"
        :show-mobile-ATC="true"
        :collection-handle="collectionHandle"
        :product="product"
        :onAddToCart="addToCart"
        role="listitem"
      )
      div.sc-collection__tile(
        role="listitem"
      )
        div.load-more-tile.ratio(
          class="ro-2/3"
          v-if="!allProductsVisible"
        )
          div
            img.load-more-tile__image(
              v-if="loadMoreImage" 
              :src="loadMoreImage" 
              :alt="loadMoreImageAlt"
            )
            v-button.load-more-tile__button(
              primary 
              @click="loadMore"
              :aria-controls="`${collectionHandle}-list`"
              v-if="showLoadMoreButton" 
            ) Load More
            v-button.load-more-tile__button(
              primary 
              @click="showAll"
              :aria-controls="`${collectionHandle}-list`"
              v-else
            ) View All
            p.load-more__text.body-md {{ productsShowingText }}
    //- no products state
    div.sc-collection__no-products(v-else)
      p.h6 No products match your filters
</template>

<script>
  import CollectionLinks from 'scripts/components/sections/CollectionLinks.vue';
  import ProductTile from 'scripts/components/product/ProductTile.vue';
  import SelectInput from 'scripts/components/forms/SelectInput.vue';
  import VButton from 'scripts/components/buttons/VButton.vue';
  import VSelect from 'scripts/components/forms/SelectInput.vue';
  import Icon from 'scripts/components/basic/Icon.vue';
  import TransitionExpand from 'scripts/components/basic/TransitionExpand.vue';

  export default {
    name: 'CollectionGrid',
    components: { CollectionLinks, ProductTile, SelectInput, VButton, VSelect, Icon, TransitionExpand },
    props: {
      collectionHandle: String,
      collectionTitle: String,
      collectionTotalProducts: Number,
      ctaText: String,
      loadMoreImage: String,
      loadMoreImageAlt: String,
      products: Array,
      defaultProductCount: {
        default: 7
      }
    },
    data() {
      return {
        productsToShow: this.defaultProductCount,
      }
    },
    computed: {
      productsShowingText() {
        return `${this.products.length - this.productsToShow} products`;
      },
      allProductsText() {
        return `${this.collectionTotalProducts} products`;
      },
      allProductsVisible() {
        return this.productsToShow >= this.products.length;
      },
      collectionUrl () {
        return `/collections/${this.collectionHandle}`;
      },
      showLoadMoreButton() {
        return this.productsToShow < 23;
      }
    },
    methods: {
      loadMore() {
        this.productsToShow += 16;
      },
      showAll() {
        this.productsToShow = this.products.length;
      },
      addToCart (id) {
        let addProduct = {
          id: id,
          quantity: 1
        }
        this.$store.dispatch('cart/addItems', addProduct)
          .then(() => this.$store.dispatch('cart/afterAddToCart'))
          .catch(error => this.$store.dispatch('toast/send', { text: error, type: 'error' }))
      },
    },
  }
</script>

<style lang="scss" scoped>
  .sc-collection {
    padding-bottom: 40px;
  }

  .sc-collection__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $color-light-grey;
    padding: 8px 0;
    margin-bottom: 16px;
  }

  .sc-collection__title {
    text-transform: capitalize;
  }

  .sc-collection__tiles {
    white-space: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-padding-left: 20px;
    scroll-padding-right: 20px;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    // overflow parent padding on either side
    width: calc(100% + 40px);
    position: relative;
    left: -20px;
    padding-left: 20px;
    padding-right: 20px;

    @include tablet-up {
      white-space: initial;
      overflow: initial;
      scroll-snap-type: none;
      padding: 0;
      position: static;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: minmax(0, 1fr);
      column-gap: 16px;
      row-gap: 40px;
    }
  }

  .sc-collection__tile {
    max-width: 163px;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    scroll-snap-align: start;
    white-space: initial;

    @include tablet-up {
      max-width: initial;
    }
  }

  .sc-collection__tile + .sc-collection__tile {
    margin-left: 10px;

    @include tablet-up {
      margin-left: 0;
    }
  }

  .load-more-tile {
    background: $color-v-light-grey;
    border: 1px solid $color-off-white;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.3);
    width: 163px;
    border-radius: 12px;
    margin-top: 19px;

    @include tablet-up {
      width: 100%;
    }
  }

  .load-more__text {
    color: $color-grayish-gray !important;
  }

  .load-more-tile > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 28px 22px;
  }

  .load-more-tile__image {
    margin: 0 auto 16px;
    max-height: 100px;
  }

  /deep/ .load-more-tile__button {
    min-width: initial;
    margin-bottom: 12px;
    padding: 10px 18px;

    .button__content {
      font-size: 12px;
      font-weight: 600;
    }
  }

  .sc-collection__no-products {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
  }
</style>
