<template lang="pug">
  section.cf-modal(:id="$attrs.id || id" v-scroll-lock="syncedOpen")
    focus-lock(:disabled='!syncedOpen')
      transition(name='fade')
        button.cf-modal__overlay(
          @click='syncedOpen = false' 
          aria-label='close collection filters modal' 
          :aria-controls="$attrs.id || id"
          v-show='syncedOpen'
        )
      transition(name="slide-in-right")
        div.cf-modal__main(v-show='syncedOpen')
          header.cf-modal__header
            h1.cf-modal__title filters
            button.cf-modal__close(@click='syncedOpen = false' aria-label='close collection filters modal' :aria-controls="$attrs.id || id")
              icon(name='close')
          div.cf-modal__content-container
            div.cf-modal__top-controls
              span.c__vertically-centered(v-if="superCollectionLinkUrl")
                icon(name="arrow_long_right" style="transform: rotate(-180deg);") 
                a(
                  class="c__supercollection-link"
                  :href="superCollectionLinkUrl"
                ) {{ superCollectionLinkText }}
              v-link.cf-modal__clear-btn(
                tag="button"
                secondary
                v-if="onClearAllFilters" 
                @click="onClearAllFilters"
                aria-label="remove all applied filters"
              ) clear all
            slot(v-if='syncedOpen')
            v-button.cf-modal__apply-btn(
              secondary
              @click="syncedOpen = false"
              :aria-controls="$attrs.id || id"
            ) apply filters
</template>

<script>
import FocusLock from 'vue-focus-lock';
import modal from '../../helpers/modal';
import Icon from '../basic/Icon.vue';
import VLink from '../buttons/VLink.vue';
import VButton from '../buttons/VButton.vue';

export default {
  extends: modal,
  props: {
    superCollectionLinkUrl: String,
    superCollectionLinkText: String,
    onClearAllFilters: Function
  },
  components: {
    FocusLock,
    Icon,
    VLink,
    VButton
  }
}
</script>

<style lang="scss" scoped>
  .slide-in-right-enter-active,
  .slide-in-right-leave-active {
    right: 0 !important;
    transition: right 300ms ease-in-out;
  }

  .slide-in-right-enter,
  .slide-in-right-leave-to {
    transition: right 300ms ease-in-out;
    right: -101vw !important;
  }

  .cf-modal {
    position: fixed;
    top: 0;
    left: 0;
  }

  .cf-modal__overlay {
    position: relative;
    background: $color-black;
    opacity: .3;
    min-height: 100vh;
    min-width: 100vw;
    z-index: 1;
    border-radius: 0;

    &:focus, &:hover {
      box-shadow: initial;
      border-width: 0;
    }
  }
  
  .cf-modal__main {
    overflow-y: auto;
    background: $color-white;
    width: 315px;
    min-width: 315px;
    min-height: 100vh;
    max-height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
  }

  .cf-modal__header {
    background: $color-accent-yellow-brand;
    padding: 14px 20px;
    text-align: center;
    position: relative;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cf-modal__close {
    all: initial;
    position: absolute;
    padding: 14px 16px;
    top: 0;
    right: 0;
  }

  .cf-modal__title {
    color: #222222;
    font-family: $font-family-primary;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
    text-align: center;
  }

  .cf-modal__content-container {
    padding: 0 20px 100px 20px;
  }

  .cf-modal__top-controls {
    display: flex;
    justify-content: space-between;
  }

  .cf-modal__clear-btn {
    min-width: initial;
    padding: initial;
    box-shadow: initial;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0;
    text-transform: capitalize;
  }

  .cf-modal__apply-btn {
    margin-top: 24px;
    width: 100%;
  }
</style>