<template lang="pug">
  div.collection.container
    .collection__filters-desktop
      p.collection__filter-label Filters
      CollectionFitlersView(
        idPrefix="static"
        :filters="filtersList"
        :active-filters="activeFilters"
        :onFilterToggle="onFilterToggle"
        :availabilityFilterOptions="availabilityFilterNames"
        :activeAvailabilityFilter="activeAvailabilityFilter"
        :showAvailability="true"
        :onAvailabilityFilterToggle="onAvailabilityFilterToggle"
      )
    CollectionGridTopSuper(
      :sortCurrent="activeSort"
      :onSortSelect="onSortSelect"
      :sortOptions="sortOptions"
      :onFilterButtonClick="() => filtersModalOpen = true"
      :activeFilters="formattedActiveFilters"
      :onClearFilters="clearAllFilters"
      :superCollectionLinks="superCollectionLinks"
    )
      CollectionSuperCollection(
        v-for="(collectionController, index) in collectionControllers" 
        :key="collectionController.collection.handle"
        :products="collectionController.products"
        :collectionHandle="collectionController.collection.handle"
        :collectionTitle="collectionController.collection.title"
        :collectionTotalProducts="collectionController.collection.all_products_count"
        :ctaText="collections[index].ctaText"
        :loadMoreImage="collections[index].loadingImage"
        :loadMoreImageAlt="collections[index].loadingImageAlt"
      )
    CollectionFiltersModal(
      :open="filtersModalOpen" 
      @update:open="state => filtersModalOpen = state"
      :onClearAllFilters="clearAllFilters"
    )
      CollectionFitlersView(
        idPrefix="modal"
        :filters="filtersList"
        :active-filters="activeFilters"
        :onFilterToggle="onFilterToggle"
        :availabilityFilterOptions="availabilityFilterNames"
        :activeAvailabilityFilter="activeAvailabilityFilter"
        :showAvailability="true"
        :onAvailabilityFilterToggle="onAvailabilityFilterToggle"
      )
</template>

<script>
import CollectionFitlersView from './CollectionFiltersView.vue';
import CollectionFilterSortLogicSuper from './CollectionFilterSortLogicSuper';
import CollectionFiltersModal from './CollectionFiltersModal.vue';
import CollectionGridTopSuper from './CollectionGridTopSuper.vue';
import CollectionSuperCollection from './CollectionSuperCollection.vue';
import Icon from '../basic/Icon.vue';
import { AVAILABILITY_FILTER_NAMES } from './collection-constants';

export default {
  props: {
    superCollectionLinks: Array,
  },
  components: {
    CollectionFitlersView,
    CollectionFiltersModal,
    CollectionGridTopSuper,
    CollectionSuperCollection,
    Icon,
  },
  mixins: [CollectionFilterSortLogicSuper],
  name: 'CollectionSuper',
  data() {
    return {
      filtersModalOpen: false,
      availabilityFilterNames: AVAILABILITY_FILTER_NAMES
    }
  }
}
</script>

<style lang="scss" scoped>
  .collection {
    @include tablet-up {
      display: flex;
      flex-wrap: nowrap;
      align-items: flex-start;
    }
  }

  .collection__filters-desktop {
    display: none;
    min-width: 204px;
    max-width: 204px;
    margin-right: 46px;
    padding-bottom: 40px;

    @include tablet-up {
      display: block;
    }
  }

  .collection__open-filters-btn {
    @include tablet-up {
      display: none;
    }
  }

  .collection__filter-label {
    height: 38px;
    border-radius: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $color-v-light-grey;
    border: 1px solid $color-off-white;
    color: $color-off-black;
    font-family: $font-family-primary;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 10px;
  }

  .collection__super-container {
    padding-bottom: 10px;
    justify-content: center;
    width: 100%;
  }

  .collection__filter-label {
    margin-bottom: 24px;
  }
</style>