<template lang="pug">
  div.collection.container
    .collection__filters-desktop
      p.collection__filter-label Filters
      div.c__vertically-centered.collection__super-container(v-if="superCollectionLinkUrl" )
        icon(name="arrow_long_right" style="transform: rotate(-180deg);") 
        a.c__supercollection-link(
          :href="superCollectionLinkUrl"
        ) {{ superCollectionLinkText }}
      CollectionFitlersView(
        idPrefix="static"
        :filters="filtersList"
        :active-filters="activeFilters"
        :onFilterToggle="onFilterToggle"
        :availabilityFilterOptions="availabilityFilterNames"
        :activeAvailabilityFilter="activeAvailabilityFilter"
        :showAvailability="true"
        :onAvailabilityFilterToggle="onAvailabilityFilterToggle"
      )
    CollectionGrid(
      :collectionHandle="collection.handle"
      :collectionTitle="collection.title"
      :products="collectionController.products"
      :superCollectionLinks="superCollectionLinks"
      :sortOptions="sortOptions"
      :sortCurrent="activeSort"
      :onSortSelect="onSortSelect"
      :onFilterButtonClick="() => filtersModalOpen = true"
      :activeFilters="formattedActiveFilters"
      :onClearFilters="() => this.clearAllFilters()"
    )
    CollectionFiltersModal(
      :open="filtersModalOpen" 
      @update:open="state => filtersModalOpen = state"
      :onClearAllFilters="clearAllFilters"
      :superCollectionLinkText="superCollectionLinkText"
      :superCollectionLinkUrl="superCollectionLinkUrl"
    )
      CollectionFitlersView(
        idPrefix="modal"
        :filters="filtersList"
        :active-filters="activeFilters"
        :onFilterToggle="onFilterToggle"
        :availabilityFilterOptions="availabilityFilterNames"
        :activeAvailabilityFilter="activeAvailabilityFilter"
        :showAvailability="true"
        :onAvailabilityFilterToggle="onAvailabilityFilterToggle"
      )
</template>

<script>
import CollectionFitlersView from './CollectionFiltersView.vue';
import CollectionFilterSortLogic from './CollectionFilterSortLogic';
import CollectionFiltersModal from './CollectionFiltersModal.vue';
import CollectionGrid from './CollectionGrid.vue';
import Icon from '../basic/Icon.vue';
import { AVAILABILITY_FILTER_NAMES } from './collection-constants';

export default {
  props: {
    superCollectionLinkText: String,
    superCollectionLinkUrl: String,
    superCollectionLinks: Array,
  },
  components: {
    CollectionFitlersView,
    CollectionFiltersModal,
    CollectionGrid,
    Icon
  },
  mixins: [CollectionFilterSortLogic],
  name: 'Collection',
  data() {
    return {
      filtersModalOpen: false,
      availabilityFilterNames: AVAILABILITY_FILTER_NAMES,
    }
  }
}
</script>

<style lang="scss" scoped>
  .collection {
    @include tablet-up {
      display: flex;
      flex-wrap: nowrap;
      align-items: flex-start;
    }
  }

  .collection__filters-desktop {
    display: none;
    min-width: 204px;
    max-width: 204px;
    margin-right: 46px;
    padding-bottom: 40px;

    @include tablet-up {
      display: block;
    }
  }

  .collection__open-filters-btn {
    @include tablet-up {
      display: none;
    }
  }

  .collection__filter-label {
    height: 38px;
    border-radius: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $color-v-light-grey;
    border: 1px solid $color-off-white;
    color: $color-off-black;
    font-family: $font-family-primary;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 24px;
  }

  .collection__super-container {
    margin-top: -14px;
    padding-bottom: 10px;
    justify-content: center;
    width: 100%;
  }
</style>