<template lang="pug">
  section.cgrid
    collection-links.cgrid__collection-links(v-if="superCollectionLinks && superCollectionLinks.length > 0" v-bind="collectionLinksData" :activeLink="`/collections/${collectionHandle}`")
    //- 
    //- Static (Mobile) sort, active filters, filter button
    //- 
    div.u-hidden-tablet-up
      div.collection-sort-bar
        v-select.c__sort(
          :options="sortOptions" 
          :selected="sortCurrent" 
          iconName="chevron-down" 
          iconSize="8px" 
          dir="ltr" 
          disableDefault 
          @input="onSortSelect"
        )
        v-button.c__filters-button.cgrid__fitler-button#mobile-collection-filters-button(
          tertiary
          @click="() => onFilterButtonClick && onFilterButtonClick()"
        ) Filters
      div.grid-filters(v-if="activeFilters.length > 0")
        span.grid-filters__label Filtered:
        button.grid-filters__clear.link.link--secondary(@click="onClearFilters") clear all
        button.c__filter-pill(
          v-for="filter in activeFilters"
          :key="filter.value"
          @click="filter.remove"
        )
          span {{ filter.value }}
          icon(name="close" size="8px")
    //- 
    //- Static (Desktop) sort, active filters 
    //- 
    div.u-hidden-mobile-only
      div.collection-sort-bar.collection-sort-bar--desktop(ref="super-collection-desktop-static-category-bar")
        div.grid-filters(v-if="activeFilters.length > 0")
          span.grid-filters__label Filtered:
          button.grid-filters__clear.link.link--secondary(@click="onClearFilters") clear all
          button.c__filter-pill(
            v-for="filter in activeFilters"
            :key="filter.value"
            @click="filter.remove"
          )
            span {{ filter.value }}
            icon(name="close" size="8px")
        v-select.c__sort(
          :options="sortOptions" 
          :selected="sortCurrent" 
          iconName="chevron-down" 
          iconSize="8px" 
          dir="rtl" 
          disableDefault 
          @input="onSortSelect"
        )
    //- 
    //- Dynamic desktop sticky navbar categories and sort
    //- 
    portal(to="header-portal")
      transition-expand
        nav#super-collection-fixed-collection-bar(v-if="filterBarShowing")
          div.super-collection-fixed-collection-bar.collection-sort-bar.collection-sort-bar--desktop
            collection-links.cgrid__collection-links(v-if="superCollectionLinks && superCollectionLinks.length > 0" v-bind="collectionLinksData" :activeLink="`/collections/${collectionHandle}`")
            v-select.c__sort(
              :options="sortOptions" 
              :selected="sortCurrent" 
              iconName="chevron-down" 
              iconSize="8px" 
              dir="rtl" 
              disableDefault 
              @input="onSortSelect"
            )
    slot
</template>

<script>
  import CollectionLinks from 'scripts/components/sections/CollectionLinks.vue';
  import ProductTile from 'scripts/components/product/ProductTile.vue';
  import SelectInput from 'scripts/components/forms/SelectInput.vue';
  import VButton from 'scripts/components/buttons/VButton.vue';
  import VSelect from 'scripts/components/forms/SelectInput.vue';
  import Icon from 'scripts/components/basic/Icon.vue';
  import TransitionExpand from 'scripts/components/basic/TransitionExpand.vue';

  export default {
    name: 'CollectionGrid',
    components: { CollectionLinks, ProductTile, SelectInput, VButton, VSelect, Icon, TransitionExpand },
    props: {
      collectionHandle: String,
      sortOptions: Array, //[{ "label": "Bestsellers", "value": "bestseller" }]
      onSortSelect: Function,
      sortCurrent: String,
      superCollectionLinks: {
        type: Array,
        required: false,
        default: () => ([])
      },
      superCollectionLinksTitle: {
        type: String,
        required: false,
        default: 'Categories'
      },
      activeFilters: Array, // { remove: () => void, value: string }[]
      onFilterButtonClick: Function,
      onClearFilters: Function,
    },
    data() {
      return {
        filterBarShowing: false,
      }
    },
    mounted () {
      this.initScrollingStickyBar();
    },
    methods: {
      initScrollingStickyBar() {
        // when the mobile filter button is NOT visible, show the fixed title/filter bar
        const intersectionCallback = ([ intersectionEvent ]) => {
          if(intersectionEvent) 
            this.filterBarShowing = !intersectionEvent.isIntersecting && document.readyState === 'complete'
        };

        this.$nextTick(() => {
          const scrollingHeader = document.querySelector('#main-header-scrolling-nav');
          let rootMargin = '-116px 0px 0px 0px';

          if(scrollingHeader) {
            rootMargin = `-${scrollingHeader.offsetHeight}px 0px 0px 0px`;
          }

          new IntersectionObserver(intersectionCallback, {root: null, rootMargin, threshold: 1})
            .observe(this.$refs['super-collection-desktop-static-category-bar'])
        })
      }
    },
    computed: {
      collectionLinksData() {
        return {
          schema: {
            sectionTitle: this.superCollectionLinksTitle,
            sectionTitleColor: '#000000'
          },
          smallLinks: this.superCollectionLinks.map(link => {
            return {
              settings: {
                linkUrl: link.url,
                linkTitle: link.title
              }
            }
          })
        }
      },
    },
  }
</script>

<style lang="scss">

</style>

<style lang="scss" scoped>
  @import 'styles/core/grid.scss';

  .cgrid {
    width: 100%;
    position: relative;
  }

  .collection-sort-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    margin-bottom: 8px;
  }

  .cgrid__fitler-button {
    width: initial;
  }

  .grid-filters__label {
    @include h7;
    letter-spacing: 0;
    float: left;
    padding: 13px 0;
    text-transform: capitalize;
  }

  .grid-filters__clear {
    box-shadow: none;
    border: none;
    min-width: initial;
    height: auto;
    min-height: initial;
    float: right;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0;
    padding: 13px 0;
  }

  .collection-sort-bar--desktop {
    align-items: flex-start;
  }

  .collection-sort-bar--desktop .grid-filters__clear {
    margin-left: 8px;
    margin-right: 16px;
  }

  .collection-sort-bar--desktop .grid-filters__label {
    margin-right: 8px;
  }

  .collection-sort-bar--desktop .c__product-count {
    white-space: nowrap;
    margin-top: 10px;
    padding-right: 16px;
  }

  .collection-sort-bar--desktop .c__sort {
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 8px;
  }

  /deep/ .collection-sort-bar--desktop .vs__selected,
  /deep/ .collection-sort-bar--desktop .vs__search {
    padding: 0 12px !important;
    box-shadow: none;
  }

  .load-more {
    text-align: center;
  }

  .load-more__button-container {
    padding: 40px 0 24px;
  }

  .load-more button {
    margin: 0 4px;
    @include tablet-up {
      margin: 0 10px;
    }
  }

  .load-more__text {
    padding-bottom: 24px;
    border-bottom: 1px solid $color-light-grey;
    margin-bottom: 40px;
  }

  /deep/ .cgrid__collection-links {
    border-bottom: 1px solid $color-light-grey;
    margin-bottom: 8px;

    .collection-links__link-container--active .collection-links__link {
      background: $color-grey;
      border-color: $color-off-black;

       * {
        color: $color-white;
      }
    }

    @include mobile-only {
      padding: 20px 0;
      border-top: 1px solid $color-light-grey;
      
      .collection-links__heading {
        display: none;
      }
  
      .collection-links__links-section {
        margin: 0;
      }

      .collection-links__link-wrapper {
        width: calc(100% + 20px); // purposely overflow right side of container
      }
    }

    @include tablet-up {
      padding: 0;

      .collection-links__container {
        padding: 0;
      }

      .collection-links__links-section,
      .collection-links__link-wrapper {
        height: initial;
        padding-top: initial;
        overflow-x: auto;
      }

      .collection-links__link-container {
        display: inline-block;
      }

      .collection-links__link {
        display: flex;
        justify-content: center;
        width: auto;
      }

      .collection-links__link span {
        max-width: initial;
      }

      .collection-links__container {
        padding-bottom: 24px;
      }
    }

    .collection-links__link-container:first-child {
      border-left: 0;
    }
  }

  #super-collection-fixed-collection-bar {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding-top: 14px;
    padding-bottom: 20px;
    background: $color-white;
    border-top: 1px solid $color-light-grey;
    border-bottom: 1px solid $color-light-grey;
    width: 100%;

    @include tablet-up {
      display: block;
    }

    .c__sort {
      position: relative;
    }

    .collection-sort-bar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @extend .container;
    }

    /deep/ .collection-links__wrapper {
      border-bottom-width: 0;
      margin: 0;
    }

    /deep/ .collection-links__heading {
      display: inline-block;
      margin-right: 46px;
    }

    /deep/ .collection-links__links-section {
      display: inline-flex;
    }

    /deep/ .collection-links__container {
      border-bottom-width: 0;
      padding: 0;
    }
  }
</style>
