<template lang="pug">
  .collection-breadcrumbs(
    :class="{ 'collection-breadcrumbs--bordered' : ['mobile', 'tablet'].includes($mq) }"
  )
    icon-link.collection-breadcrumbs__icon(
      href="/home"
      label="Home"
      icon="nav-arrow-left"
      size="20px"
    )
    a(href="/") Home
    span.collection-breadcrumbs__divider /
    span {{collectionTitle}}
</template>

<script>
  import IconLink from 'scripts/components/buttons/IconLink.vue';

  export default {
    name: "CollectionBreadcrumbs",
    components: { IconLink },
    props: {
      collectionHandle: {
        type: String,
        required: true
      },
      collectionTitle: {
        type: String,
        required: true
      }
    }
  }
</script>

<style lang="scss" scoped>
  .collection-breadcrumbs {
    margin-bottom: 19px;
    padding: 6px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 20px;

    @include desktop-up {
      margin-bottom: 12px;
      padding: $grid-gutter 0;
      justify-content: flex-start;
    }

    &__divider {
      margin: 0 10px;
      font-size: 12px;
    }

    .collection-breadcrumbs__icon /deep/ svg {
      display: block;
      margin-right: 10px;
    }

    a, span {
      font-size: rem(12);
      line-height: 1.25;
      letter-spacing: 0.25px;
      font-weight: 700;
      color: $color-black;
    }

    span {
      user-select: none;
    }
  }

  .collection-breadcrumbs--bordered {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100vw;
      border-bottom: 1px solid $color-black;
      opacity: 0.1;
    }
  }
</style>
