<template lang="pug">
  a.collection-promo-tile(
    v-if="promoTile.enabled === 1"
    :href="promoTile.url ? promoTile.url : ''"
    :class="!promoTile.imageUrl ? getClass(promoTile.bgColor) : ''")
    img.collection-promo-tile__image(:src="promoTile.imageUrl")
    .collection-promo-tile__text(:class="getClass(promoTile.textColor)")
      h4.h4(v-if="promoTile.title") {{promoTile.title}}
      p.body-sm-mobile.body-md-tablet-up(v-if="promoTile.copy") {{promoTile.copy}}
</template>

<script>
  export default {
    name: "CollectionPromoTile",
    props: {
      promoTile: Object,
      default: () => ({
        enabled: Number,
        position: Number,
        url: String,
        bgColor: String,
        textColor: String,
        imageUrl: String,
        title: String,
        copy: String,
        price: String
      })
    },
    methods: {
      getClass(metafield) {
        return metafield.split(' - ')[1]
      }
    }
  }
</script>

<style lang="scss" scoped>
  .collection-promo-tile {
    display: flex;
    position: relative;
    max-width: (($container-max-width / 4) - (8px * 3));
    height: 100%;
    @media screen and (max-width: 340px) {
      height: 400px;
    }
    &__image {
      object-fit: cover;
      object-position: center;
    }
    &__text {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 24px;
      h4 {
        margin-bottom: 32px;
      }
      @include mobile-only {
        padding: 8px;
        h4 {
          font-size: 14px;
          line-height: 18px;
          margin-bottom: 14px;
        }
      }
    }
    &:visited {
      color: $color-black;
    }
  }
</style>