
<template lang="pug">
  .collection-sidebar
    div(v-if="globalMenu && (!collectionMenu || collectionMenu.length === 0)")
      .collection-sidebar__global-menu(v-for="(link, index) in globalMenu")
          a.top-level(:href="link.url" :class="link.links.length < 1 ? 'remove-bottom-spacing' : ''") {{link.title}}
          v-link.collection-sidebar__custom-menu-item(v-for="(link, index) in link.links" tertiary :key="`${link.title}-${index}`" :href="link.url") {{link.title}}
    div(v-if="collectionMenu")
      .collection-sidebar__custom-menu(v-for="(link, index) in collectionMenu")
        a.top-level(:href="link.url" :class="link.links.length < 1 ? 'remove-bottom-spacing' : ''") {{link.title}}
        v-link.collection-sidebar__custom-menu-item(v-for="(link, index) in link.links" tertiary :key="`${link.title}-${index}`" :href="link.url") {{link.title}}
    collection-filters-b(:tags="tags" :filters="filters")
</template>

<script>
  import VLink from 'scripts/components/buttons/VLink.vue'

  import CollectionFiltersB from './CollectionFiltersB.vue'


  export default {
    name: 'CollectionSidebarB',
    components: { CollectionFiltersB, VLink },
    props: {
      defaultSort: String,
      globalMenu: {
        type: Array,
        default: () => ([
          {
            url: String,
            title: String
          }
        ])
      },
      collectionMenu: {
        type: Array,
        default: () => ([
          {
						handle: String,
						title: String,
						links: {
              type: Array,
              default: () => ([
                {
                  title: String,
                  url: String,
                  link: {
                    type: Array,
                    default: () => ({
                      title: String,
                      url: String
                    })
                  }
                }
              ])
            }
          }
        ])
      },
      filtersDisabled: {
        type: Boolean,
        default: false
      },
      tags: {
        type: Array,
        required: true
      },
      filters: {
        type: Array,
        required: true
      }
    },
    computed: {},
    methods: {}
  }
</script>

<style scoped lang="scss">
  .collection-sidebar {
    min-width: 204px;
    margin-top: 32px;
    margin-right: 32px;
    &__global-menu {
      display: flex;
      flex-direction: column;
      padding: 24px 0 16px;
      .top-level {
        border-bottom: 1px solid $color-grey;
        padding: 12px 0 6px;
        font-weight: 600;
        color: $color-black;
      }
      .collection-sidebar__custom-menu-item {
        color: $color-black;
        font-size: 12px;
        font-family: $font-family-primary;
      }

      > a:visited {
        color: $color-black;
      }
    }
    &__custom-menu {
      display: flex;
      flex-direction: column;
      .top-level {
        border-bottom: 1px solid $color-grey;
        padding: 12px 0 6px;
        font-weight: 600;
        color: $color-black;
      }
      .collection-sidebar__custom-menu-item {
        padding: 12px 0 6px;
        font-weight: 600;
        color: $color-black;
        font-size: 12px;
        font-family: $font-family-primary;
      }
    }
  }
  .remove-bottom-spacing {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
  }
</style>