<template lang="pug">
  .quickshop(
    v-if="!['mobile', 'tablet'].includes($mq)"
  )
    .quickshop__overlay(
      @click="closeQuickshop"
    )
    .quickshop__container
      icon-button.quickshop__close(
        icon-name="close-circle"
        label="close"
        @click="closeQuickshop"
      )
      .quickshop__left
        product-slider(
          :images="product.images"
        )
      .quickshop__right
        product-form(
          :product="product"
        )
</template>

<script>
  import ProductSlider from 'scripts/components/product/ramsay/ProductCarousel.vue';
  import ProductForm from 'scripts/components/product/ProductForm.vue';
  import IconButton from 'scripts/components/buttons/IconButton.vue';

  export default {
    name: 'Quickshop',
    components: { ProductSlider, ProductForm, IconButton, },
    props: {
      product: Object,
    },
    mounted () {
      // prevent scolling
      const htmlDocument = document.querySelector('html');
      htmlDocument.style.overflowY = 'hidden';

      document.addEventListener('keydown', this.shouldCloseQuickshop);
    },
    methods: {
      closeQuickshop () {
        // allow scolling again
        const htmlDocument = document.querySelector('html');
        htmlDocument.style.overflowY = 'auto';
        // notify parent to hide modal
        this.$emit('closeQuickshop');
      },
      shouldCloseQuickshop (event) {
        if (event.keyCode === 27) this.closeQuickshop();
      }
    },
  };
</script>

<style lang="scss" scoped>
  .quickshop__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
  }

  .quickshop__container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 70px 45px;
    display: grid;
    align-items: center;
    grid-template-columns: auto 385px;
    grid-column-gap: 40px;
    background-color: $color-white;
    z-index: 200;
  }

  .quickshop__left {
    width: 500px;

    @include hd-up {
      width: 775px;
    }

    /deep/ .product-carousel__image {
      height: 450px;
      width: 600px;
      object-fit: contain;
      object-position: center;
    }

    /deep/ .slide {
      height: 450px;
    }
  }

  .quickshop__right {
    /deep/ .product-bottomline {
      margin-bottom: 10px;
      display: inline-block;
    }
  }

  .quickshop__close {
    position: absolute;
    top: 30px;
    right: 40px;
    cursor: pointer;
  }
</style>
