<template lang="pug">
  header-2(v-bind="header" :checkout="checkout")
    template(v-slot:topbar)
      slot(name="topbar")
</template>

<script>
//* imports: store
import { mapState } from 'vuex';
// * imports: components
import Header2 from 'scripts/components/header-2/Header2.vue';

export default {
  name: 'Header2Container',
  components: {
    Header2

  },
  computed: mapState({
    header: state => state.header,
    checkout: state => state.cart.checkout
  })
};
</script>
