<template lang="pug">
.top-header__container.top-header__container--design-2(:class="[settings.background_color, settings.promobar_border_color_class]" :style="{'border-bottom': settings.enable_bottom_border ? '1px solid' : ''}" data-promo-bar)
  .top-header__inner-container.top-header__inner-container--design-2
    featured-offers-link(v-if="showOffers" content="See All Offers" :colorClass="settings.offers_color")

    .top-bar__promobar-carousel(v-if="settings.enable_promo_bar" :class="[settings.promo_content_colors]")
      promobar-carousel(:promos="promoData" bg-color="settings.background_color" text-color="settings.text_link_colors" icon-arrow-right="chevron-right" icon-arrow-left="chevron-left")
</template>

<script>
// * imports: vuex
import { mapState } from 'vuex';
// * imports: components
import FeaturedOffersLink from 'scripts/components/featured-offers/FeaturedOffersLink.vue';
import PromobarCarousel from 'scripts/components/promobar/PromobarCarousel.vue';

export default {
  name: 'TopHeader2',
  components: {
    FeaturedOffersLink,
    PromobarCarousel,
  },
  props: {
    settings: Object,
    promoData: Array,
  },
  computed: {
    ...mapState({
      offers: state => state.offers,
    }),
    showOffers() {
      if (!this.offers.settings) return false;
      return this.offers.settings.enableFeaturedOffers;
    }
  },
  methods: {
  },
  data() {
    return {
    };
  }
};
</script>

<style lang="scss">
</style>