<template lang="pug">
  div.cart__shipping-promo-container(v-if="shippingPromoEnabled")
    .cart__shipping-promo(:class="colors.shippingBg")
      transition(name="fade")
        span.cart__shipping-promo-message.body-sm(v-if="normalizedTotalPrice < shippingPromoTotal" :class="colors.shippingText") {{`Free shipping if you spend $${remainingThresholdValue}${subtotal === 0 ? '' : ' more'}.`}}
        span.cart__shipping-promo-message.body-sm(v-if="normalizedTotalPrice >= shippingPromoTotal" :class="colors.shippingText") {{shippingPromoCopy}}
    div.cart__shipping-promo-progress-bar-container
      .cart__shipping-promo-progress-bar(v-if="shippingPromoEnabled" :style="{width: `${remainingThresholdPercentage}%`}" :class="colors.shippingProgress")
</template>

<script>
export default {
  props: {
    shippingPromoEnabled: Boolean,
    shippingPromoTotal: Number,
    shippingPromoCopy: String,
    subtotal: Number,
    colors: {
      type: Object,
      default: () => ({})
    }
  },
  computed: {
    normalizedTotalPrice() {
      return parseFloat(this.subtotal / 100)
    },
    remainingThresholdValue () {
      if(this.normalizedTotalPrice < this.shippingPromoTotal) {
        return parseFloat((this.shippingPromoTotal - this.normalizedTotalPrice)).toFixed(2)
      }
      return 0
    },
    remainingThresholdPercentage() {
      if(this.normalizedTotalPrice < this.shippingPromoTotal) {
        return parseInt((this.normalizedTotalPrice / this.shippingPromoTotal * 100).toFixed(0))
      }
      return 100
    },
  }
}
</script>

<style lang="scss" scoped>
  .cart {
    &__shipping-promo-container {
      padding: 16px;
      background: $color-v-light-grey;
      border: 1px solid $color-off-white;
      border-radius: 4px;
      box-shadow: 0 1px 1px 0 rgba(0,0,0,0.12);
      width: 100%;

      @include tablet-up {
        padding: 32px 16px;
      }
    }

    &__shipping-promo {
      padding-bottom: 6px;
      text-align: center;
      cursor: pointer;
      background: transparent;

      @include tablet-up {
        padding-bottom: 12px;
      }
    }

    &__shipping-promo-message {
      color: $color-off-black;
      font-family: $font-family-primary;
      font-size: 14px;
      letter-spacing: 0;
      line-height: 22px;
    }

    &__shipping-promo-progress-bar {
      height: 4px;
      transition: width 200ms ease;
      background: $color-primary-red;
    }

    &__shipping-promo-progress-bar-container {
      background: $color-off-white;
    }
  }
</style>