<template lang="pug">
  transition(name="slide-fade-left")
    .sidecart__line-item(v-if="item", :class="[itemClass, inKit ? `kit-${_kitId}-${line - 1}` : '', inKit ? 'kit-item' : '', productBadge ? 'has-badge' : '' ]")
      span.sidecart__line-item-badge.badge(
        :class='badgeClass(productBadge)'
        v-if='productBadge'
      ) {{ productBadge }}
      .sidecart__line-item__image-wrapper(:alt="item.product_title" :style="`backgroundImage: url(${item.image})`")
      .sidecart__line-item__content
        .sidecart__line-item__header
          p.sidecart__line-item__title.h6 {{ itemName }}
        .sidecart__line-item__option-list
          span.sidecart__line-item__option.sidecart__line-item__sku.body-sm
            span(v-if="subtitlePreText") {{`${subtitlePreText} `}}

          p.sidecart__line-item__price
            span.sidecart__line-item__price--compare-at(v-if="price > 0") {{ price | money }}
            span(v-else) FREE
            span.sidecart__line-item__price--discount(
              v-if="isDiscounted && product && product.variants[0].price != price"
            ) {{ comparedPrice(price, item) | money }}
        side-cart-line-item-custom-properties(v-if="item.properties && item.properties._custom" :properties="item.properties._custom")
        .sidecart__line-item__details
          .sidecart__line-item__quantity(v-if="!disableQuantity && !isPDPDesign2")
            icon-button.sidecart__line-item__quantity__change.button--icon.fill-black(
              label="Decrement Count"
              @click="decrement"
              aria-label="Decrement count"
              iconName="bordered-minus"
              size="24px"
            )
            p.sidecart__line-item__quantity__label.body-md {{ item.quantity }}
            icon-button.sidecart__line-item__quantity__change.button--icon.fill-black(
              label="Increment Count"
              @click="increment"
              aria-label="Increase count"
              iconName="bordered-plus"
              size="24px"
            )
          button.sidecart__line-item__remove.button--icon(v-if="!disableRemove" label="Remove" @click="removeItem", aria-label="Remove item") Remove
</template>

<script>
  import isEqual from 'lodash/isEqual';
  import { mapState } from 'vuex'
  import { badge, debounce } from 'scripts/helpers/util.js'

  import IconButton from 'scripts/components/buttons/IconButton.vue'
  import Icon from 'scripts/components/basic/Icon.vue'
  import QuantitySelector from 'scripts/components/basic/Quantity.vue';
  import SideCartLineItemCustomProperties from './SideCartLineItemCustomProperties.vue';


  export default {
    name: 'SidecartLineItem',
    components: {
      Icon,
      QuantitySelector,
      IconButton,
      SideCartLineItemCustomProperties
    },
    props: {
      item: Object,
      line: Number,
      inKit: Boolean,
      _kitId: [Number, String],
      disableQuantity: Boolean,
      disableRemove: Boolean,
    },
    data () {
      return {
        SUBSCRIPTION_SKU_CHAR: 'S',
        SUBSCRIPTION_QUARTERLY_SKU_CHAR: 'X3S',
        updating: false,
        isPDPDesign2: window.bvaccel && window.bvaccel.themeTemplates && window.bvaccel.themeTemplates.product === 'BourdainProductDisplay',
      }
    },
    computed: {
      ...mapState({
        allProducts: state => state.products.all,
        items: (state) => state.cart.checkout.items,
      }),
      itemClass () {
        return {
          'updating': this.updating
        }
      },
      product () {
        return this.allProducts.find(product => {
          return Boolean(product.variants.find(variant => this.item.id === variant.id))
        })
      },
      variant () {
        return this.product ? this.product.variants.find(variant => variant.id === this.item.id) : null
      },
      hasBaseProduct () {
        return this.item.properties && !!this.item.properties._base_product;
      },
      baseProduct () {
        if(this.hasBaseProduct) {
          return this.allProducts.find(product => product.handle === this.item.properties._base_product)
        }

        return null;
      },
      itemName () {
        if(this.baseProduct) {
          const freq = this.item.properties.shipping_interval_frequency
          const unit = this.item.properties.shipping_interval_unit_type

          return `${this.item.product_title} - ${freq} ${unit} Subscription`;
        }

        return this.item.product_title;
      },
      comparePrice () {
        if(this.baseProduct) {
          return this.baseProduct.price * this.item.quantity;
        }

        return (this.variant) ? parseInt(this.variant.compare_at_price, 10) * this.item.quantity : this.item.price * this.item.quantity
      },
      price() {
        if (this.item.properties && this.item.properties._custom && this.item.properties._custom.length > 0) {
          return this.item.line_price + (this.item.properties._custom.reduce((total, option) => total + option.price, 0) * this.item.quantity);
        }

        return this.item.line_price;
      },
      isDiscounted () {

        return !isNaN(this.comparePrice) && this.item.price * this.item.quantity < this.comparePrice
      },
      /** @returns {String} */
      productBadge() {
        if (this.variant) {
          return badge(this.product, this.variant, this.isDiscounted);
        }
      },
      subtitlePreText() {
        return window.bvaccel.schema.productTile.subtitle_pretext
      },
    },
    methods: {
      badgeClass (badge) {
        return `product-tile__badge--${badge.toLowerCase().replace(' ', '-')}`;
      },
      comparedPrice (variantPrice, item) {
        if (!this.product) return;
        const basePrice = this.product.variants[0].price;
        if (variantPrice === basePrice) return basePrice;
        return item.price * item.quantity;
      },
      removeItem () {
        this.updating = true
        this.$store.dispatch('cart/removeItems', {key: this.item.key})
          .catch(error => this.$store.dispatch('toast/send', { text: error, type: 'error' }))
          .then(() => this.updating = false)
      },
      increment () {
        this.updateQuantity(this.item.quantity + 1)
      },
      decrement () {
        if (this.item.quantity > 0) {
          this.updateQuantity(this.item.quantity - 1)
        }
      },
      updateQuantity: debounce(function (newQuantity) {
        this.updating = true;
        let items = [{ key: this.item.key, quantity: newQuantity }];

        if (newQuantity < 1) {
          this.removeItem()
          return
        }

        if (this.item.properties && this.item.properties._custom && this.item.properties._custom.length > 0) {
          let customizedPricingItem = this.items.find(i => {
            return i.properties._customizedItemId === this.item.id
              && isEqual(i.properties._customProperties, this.item.properties._custom);
          });
          let newCustomItemPrice = this.item.properties._custom.reduce((total, option) => total + option.price, 0) * newQuantity;

          items.push({
            key: customizedPricingItem.key,
            quantity: newCustomItemPrice / 100
          })
        }

        this.$store.dispatch('cart/updateItems', items)
          .catch(error => this.$store.dispatch('toast/send', { text: error, type: 'error' }))
          .then(() => this.updating = false)
      }, 100)
    },
    created () {
      if(this.hasBaseProduct && !this.baseProduct) {
        this.$store.dispatch('products/addProduct', this.item.properties._base_product)
      }
    }
  }
</script>

<style scoped lang="scss">
  .sidecart__line-item {
    display: flex;
    position: relative;
    padding: 24px 0;
    border-bottom: 1px solid $color-light-grey;

    &.updating {
      opacity: 0.5;
      pointer-events: none;

      &.slide-fade-left-leave-active {
        opacity: 0;
      }
    }

    &__image-wrapper {
      border-radius: 4px;
      width: 112px;
      height: 110px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      box-shadow: 0 1px 1px 0 rgba(0,0,0,0.15);
      flex-shrink: 0;

      .has-badge & {
        margin-top: 13px;
      }
    }

    &__content {
      padding-left: 8px;
      flex-grow: 1;
    }

    &__header,
    &__details {
      display: flex;
    }

    &-badge {
      position: absolute;
      padding-top: 2px;
      padding-bottom: 2px;
      font-size: 8px;
    }

    &__details {
      justify-content: space-between;
      margin-top: 12px;

      /deep/ .quantity {
        padding: 8px;
        width: 100%;
        max-width: 120px;
        border: 1px solid $color-light-grey !important;
        border-radius: 2px;
        background-color: $color-white;
      }

      /deep/ .quantity__label {
        width: 100%;
      }
    }

    .sidecart__line-item__quantity__change {
      box-shadow: none;

      &:focus {
        box-shadow: 0 0 0 3px $color-grayish-gray;
      }
    }

    &__title {
      margin: 0;
      padding-right: 8px;
      flex-grow: 1;
    }

    &__option-list {
      display: flex;
      flex-direction: column;
    }

    &__sku {
      span {
        font-size: inherit;
      }
    }

    &__option {
      font-size: rem(10);
      line-height: 1.4;
      letter-spacing: 0.3px;
      font-weight: 300;
      font-family: $font-gibson;
      text-transform: uppercase;

      &:nth-child(1) {
        padding-top: 4px;
      }

      &:last-child {
        padding-bottom: 4px;
      }
    }

    &__remove {
      margin-top: 0;
      align-self: flex-start;
      font-size: rem(12);
      line-height: 2;
      letter-spacing: 0.2px;
      font-family: $font-gibson;
      color: $color-primary-red;
      font-weight: 500;
      text-transform: none;
      opacity: 1;
      transition: opacity 200ms ease;

      &:hover {
        opacity: 0.5;
      }
    }

    &__price {
      margin: 4px 0 0;
      flex-grow: 1;
      text-align: left;

      &--compare-at,
      &--discount {
        font-size: rem(14);
        line-height: 1.5;
        font-weight: 500;
      }

      &--compare-at {
        color: $color-primary-red;
      }

      &--discount {
        margin-left: 8px;
        text-decoration: line-through;
        color: $color-grey;
      }
    }

    &__quantity {
      display: flex;
      border: none;
      align-items: center;

      &__label {
        margin: 0 24px;
        width: auto;
        text-align: center;
        font-family: $font-gibson;
        font-size: rem(14);
        color: $color-black;
      }

      &__change {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        transition: box-shadow 200ms ease;

        &[disabled] {
          background-color: transparent;
          opacity: 0.3;
        }
      }
    }

    /deep/ &-quantity-select {
      max-width: 50px;

      .vs__dropdown-menu {
        max-width: 50px;
      }
    }

    .sidecart__line-item__price--discount {
      font-weight: 300;
    }
  }
</style>
