<template lang="pug">
  div 
    .sidecart__shipping-promo(v-if="shippingPromoEnabled" :class="colors.shippingBg")
      transition(name="fade")
        span.sidecart__shipping-promo-message.body-sm(v-if="normalizedTotalPrice < shippingPromoTotal" :class="colors.shippingText") {{`Free shipping if you spend $${remainingThresholdValue}${subtotal === 0 ? '' : ' more'}.`}}
        span.sidecart__shipping-promo-message.body-sm(v-if="normalizedTotalPrice >= shippingPromoTotal" :class="colors.shippingText") {{shippingPromoCopy}}
    .sidecart__shipping-promo-progress-bar(v-if="shippingPromoEnabled" :style="{width: `${remainingThresholdPercentage}%`}" :class="colors.shippingProgress")
</template>

<script>
export default {
  props: {
    shippingPromoEnabled: Boolean,
    shippingPromoTotal: Number,
    shippingPromoCopy: String,
    subtotal: Number,
    colors: {
      type: Object,
      default: () => ({})
    }
  },
  computed: {
    normalizedTotalPrice() {
      return parseFloat(this.subtotal / 100)
    },
    remainingThresholdValue () {
      if(this.normalizedTotalPrice < this.shippingPromoTotal) {
        return parseFloat((this.shippingPromoTotal - this.normalizedTotalPrice)).toFixed(2)
      }
      return 0
    },
    remainingThresholdPercentage() {
      if(this.normalizedTotalPrice < this.shippingPromoTotal) {
        return parseInt((this.normalizedTotalPrice / this.shippingPromoTotal * 100).toFixed(0))
      }
      return 100
    },
  }
}
</script>

<style lang="scss" scoped>
  .sidecart {
    &__shipping-promo {
      padding: 6px 10px;
      text-align: center;
      cursor: pointer;
      background: $color-slate;
    }

    &__shipping-promo-message {
      color: $color-white;
      font-family: $font-family-primary;
      font-size: 14px;
      letter-spacing: 0;
      line-height: 22px;
    }

    &__shipping-promo-progress-bar {
      height: 4px;
      transition: width 200ms ease;
      background: $color-primary-red;
    }
  }
</style>