<template>
  <div class="liprops">
    <button class="liprops__btn" :aria-controls="id + 'cp-accordion'" :aria-expanded="propertiesAccordionOpen" @click="propertiesAccordionOpen = !propertiesAccordionOpen">
      <span :id="id + 'cp-label'">{{ propertiesAccordionOpen ? 'Hide' : 'Show' }} Product Details</span>
      <icon role="presentation" name="chevron-down" size="10px" :style="{transform: `rotate(${propertiesAccordionOpen ? 180 : 0}deg)`}"></icon>
    </button>
    <ul class="liprops__list" v-if="properties" :id="id + 'cp-accordion'" :aria-labelledby="id + 'cp-label'" role="region" v-show="propertiesAccordionOpen">
      <li v-for="pair in properties" :key="pair.label">
        <strong>{{ pair.label }}:</strong>
        <template v-if="isStringType(pair.type)">
          <span>{{ pair.displayText }}</span>
          <span v-if="pair.lettering"> - {{ pair.lettering }}</span>
        </template>
        <template v-if="isImageUploadType(pair.type)">
          <span>{{ pair.displayText }}</span>
          <a target="_blank" :href="src" v-for="(src, i) in pair.images" :key="src">image {{i + 1}}</a>
        </template>
        <template v-if="isImageSelectType(pair.type)">
          <span>{{ pair.displayText }}</span>
          <a target="_blank" :href="pair.value.image">Image</a>
        </template>
      </li>
    </ul>
  </div>
</template>

<script>
/** @file format line item properties from the product customizer */

import Icon from 'scripts/components/basic/Icon.vue'

const IMAGE_UPLOAD_TYPE = 'CustomImageUpload';
const IMAGE_SELECT_TYPE = 'CustomImageSelect';

export default {
  name: 'SideCartLineItemCustomProperties',
  components: {
    Icon
  },
  props: {
    properties: {
      default: () => ([])
    },
    id: {
      default: Math.random().toString(16).substring(2) // quick id
    }
  },
  data() {
    return {
      propertiesAccordionOpen: true,
    }
  },
  methods: {
    isStringType(type) {
      return ![IMAGE_UPLOAD_TYPE, IMAGE_SELECT_TYPE].includes(type);
    },
    isImageUploadType(type) {
      return IMAGE_UPLOAD_TYPE === type;
    },
    isImageSelectType(type) {
      return IMAGE_SELECT_TYPE === type;
    }
  },
}
</script>

<style lang="scss" scoped>
  .liprops__btn {
    all: inherit;
    margin-top: 4px;
    color: #222222;
    font-family: $font-family-primary;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 16px;
    display: flex;
    align-items: center;

    [id] {
      margin-right: 8px;
    }

    @include tablet-up {
      margin-top: 8px;
    }
  }

  .liprops__list {
    margin: 0;
    padding: 8px 0 0;
    line-height: 17px;
  }

  li, li * {
    color: $color-grayish-gray;
    font-family: $font-family-primary;
    font-size: 11px;
    letter-spacing: 0;
  }

  li > strong {
    font-weight: 500;
    color: $color-black;
  }

  li a {
    color: $color-primary-red;
    transition: opacity 200ms ease;

    &:visited {
      color: $color-accent-red;
    }

    &:hover {
      opacity: .4;
    }
  }
</style>
