<template lang="pug">
  .product-similar-tile(v-if="product")
    a.product-similar-tile__link(:href="`/products/${productHandle}`")
      img.product-similar-tile__img(:src="product.images[0].src" :alt="product.images[0].alt")
</template>

<script>
import axios from 'axios';
import { parseDataForEditor } from 'scripts/helpers/util.js';

import Icon from 'scripts/components/basic/Icon.vue';

export default {
  name: "ProductSimilarTile",
  components: {
    Icon
  },
  props: {
    productHandle: {
      type: String
    },
  },
  data() {
    return {
      product: null
    }
  },
  mounted () {
    axios.get(`/products/${this.productHandle}?view=json`)
      .then(response => {
        let productData = parseDataForEditor(response.data)

        if (productData) this.product = productData;
      });
  },
  computed: {
    selected () {
      return this.selectedProducts.find(theProduct => theProduct.id === this.product.id);
    }
  },
  methods: {
    toggleSelected () {
      this.onSelect(this.product);
    }
  }
}
</script>

<style lang="scss" scoped>
  .product-similar-tile {
    position: relative;
    height: 0;
    padding-top: 100%;
    border: 1px solid $color-light-grey;
    border-radius: 1px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.08);
  }

  .product-similar-tile__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .product-similar-tile__img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
</style>