<template lang="pug">
  ul.value-props.container
    li.value-prop(
      v-for="prop in valueProps"
      :key="prop.title"
    )
      figure.value-prop__figure
        img.value-prop__image(
          v-lazy="prop.icon"
          :alt="prop.title"
        )
        figcaption.value-prop__content
          p.value-prop__title {{ prop.title }}
          p.value-prop__text {{ prop.content }}
</template>

<script>
  export default {
    name: 'ProductValueProps',
    props: {
      valueProps: Array,
    }
  };
</script>

<style lang="scss" scoped>
  .value-props {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include desktop-up {
      flex-direction: row;
    }
  }

  .value-prop__figure {
    margin-top: 32px;
    padding: 0;
    display: flex;

    @include desktop-up {
      margin-top: 0;
      padding: 0 10px;
      max-width: 235px;
      flex-direction: column;
      text-align: center;
    }
  }

  .value-prop__image {
    margin-right: 20px;
    width: 65px;
    height: 60px;
    object-fit: contain;
    object-position: center;

    @include desktop-up {
      margin: 0 auto 15px;
      width: 100px;
      height: 90px;
    }
  }

  .value-prop__title {
    margin-bottom: 8px;
    font-size: rem(14);
    line-height: 1.3;
    letter-spacing: 0.75px;
    font-family: $font-gibson;
    font-weight: 700;
    color: $color-slate;
    text-transform: uppercase;
  }

  .value-prop__text {
    font-size: rem(12);
    line-height: 1.5;
    letter-spacing: 0.25px;
    font-family: $font-gibson;
    font-weight: 300;
  }
</style>
