<template scoped>
  <div :class="['product-tile', hasAlternateImage]" :id="id" tabindex="0" aria-live="polite">
    <!-- make product-tile-badge always take up space to align all grid items  -->
    <product-tile-badge
      :style="{visibility: productBadge ? 'visible' : 'hidden'}"
      :name="productBadge || 'default'"
      :aria-hidden="!productBadge"
    ></product-tile-badge>
    <div class="product-tile__images ratio ro-2/3">
      <a :href="url">
        <svg
          class="product-tile__image product-tile__image--placeholder"
          v-if="!loaded"
          viewBox="0 0 270 410"
          width="100%"
        >
          <rect x="0" y="0" width="100%" height="100%"></rect>
        </svg>
        <img
          class="product-tile__image product-tile__image--main"
          v-show="loaded"
          :src="imageSrc"
          :alt="images.defaultAlt"
          :srcset="
            `${imageSize(images.default, '348x528')}, ${imageSize(
              images.default,
              '510x774'
            )} 2x`
          "
          @load="function () {
              loaded = true;
            }
          "
        /><img
          class="product-tile__image product-tile__image--hover"
          v-if="!['mobile', 'tablet'].includes($mq)"
          :src="imageSize(images.hover, '348x528')"
          :alt="images.hoverAlt"
          :srcset="
            `${imageSize(images.hover, '348x528')}, ${imageSize(
              images.hover,
              '510x774'
            )} 2x`
          "
        />
      </a>
    </div>
    <div class="product-tile__static-text-content">
      <a class="product-tile__main-info" :href="url">
        <div class="product-tile__swatches-wrapper">
          <product-swatches-simple
            v-if="hasColorVariants"
            :variants="product.variants"
            :value="{ id: variant.id }"
            @swatchMouseEnter="onSwatchMouseEnter"
            @swatchMouseLeave="onSwatchMouseLeave"
          />
          <div v-if="isCustomizable" class="product-tile__customize">
            <img class="product-tile__customize-img" :src="fileUrl('customizer.png')" />
            <span class="product-tile__customize-txt">Customize</span>
          </div>
        </div>
        <h6 class="product-tile__title color-black h6 defaultcase">
          {{ staticProductTitle }}
        </h6>
        <div class="product-tile__price-container" v-if="!product.hidePrice">
          <template v-if="product.compare_at_price && product.price < product.compare_at_price"
            ><span class="product-tile__price color-red">{{
              product.price | money
            }}</span
            ><span
              class="product-tile__price product-tile__price--compare u-line-through color-brand-primary"
              >{{ product.compare_at_price | money }}</span
            ></template
          >
          <template v-else
            ><span class="product-tile__price color-black">{{
              product.price | money
            }}</span></template
          >
        </div>
      </a>
      <product-rating-summary :product-id="product.id"></product-rating-summary>
      <div
        class="product-tile__additional-info body-sm color-brand-primary"
        v-if="!!product.additional_info"
      >
        {{ product.additional_info }}
      </div>
    </div>
  </div>
</template>

<script>
import ProductTileBadge from 'scripts/components/product/ProductTileBadge.vue';
import ProductRatingSummary from 'scripts/components/product/ProductRatingSummary.vue';
import ProductSwatchesSimple from './ProductSwatchesSimple.vue';
import {
  imageSize,
  imageCrop,
  badge,
  is3rdPartyProduct,
  getProductImageAlt,
  getProductImageHover,
  fileUrl,
  assetUrl
} from '../../helpers/util';
import { withId } from '../../helpers/props';
import uniqBy from 'lodash/uniqBy';

/**
 * @typedef ImageSource
 * @type {Object}
 * @prop {String} default
 * @prop {String} defaultAlt
 * @prop {String} hover
 * @prop {String} hoverAlt
 *
 * @typedef Buttons
 * @type {Object}
 * @prop {Boolean} showOptions
 * @prop {Boolean} showAtc
 */

export default {
  name: 'ProductTile',
  components: {
    ProductTileBadge,
    ProductSwatchesSimple,
    ProductRatingSummary
  },
  data () {
    return {
      quickshopOpen: false,
      variant:
        this.selectedVariant ||
        this.product.selected_or_first_available_variant,
      loaded: false,
      // this feature wil eventually be added back. temporarily disabling it for now
      subtitlePretext:
        window.bvaccel.schema.productTile.subtitle_pretext && false
    };
  },
  props: {
    product: Object,
    selectedVariant: Object,
    onAddToCart: Function, // if not provided, the atc will not show
    collectionHandle: String, // used for linking to pdp with proper collection
    disableLogoBadge: Boolean,
    showMobileATC: {
      type: Boolean,
      default: true
    }, // show ATC buttons on hover
    truncateTitle: {
      type: Boolean,
      default: true
    },
    quickshopEnabled: {
      type: Boolean,
      default: true
    },
    ...withId()
  },
  filters: {
    truncated (s) {
      if (s.length > 42) return `${s.substring(0, 42)}...`;
      return s;
    }
  },
  methods: {
    imageSize,
    imageCrop,
    is3rdPartyProduct,
    fileUrl,
    onSwatchMouseEnter (variant) {
      this.variant = variant;
    },
    onSwatchMouseLeave () {
      this.variant = this.selectedVariant;
    }
  },
  watch: {
    selectedVariant (n, o) {
      if (n.id !== o.id) {
        this.variant = n;
      }
    }
  },
  computed: {
    isCustomizable() {
      const customizableRegex = /^customizable$/i ;
      const { tags } = this.product;
      return tags && tags.length && tags.some(tag => customizableRegex.test(tag));
    },
    hasAlternateImage() {
      if (this.product.images.length > 1) {
        return 'has-alt-image';
      }

      return null;
    },
    imageSrc () {
      return imageSize(this.images.default, '348x528')
    },
    minPrice () {
      return this.product.variants.reduce((price, variant) => {
        return Math.min(price, variant.price);
      }, this.product.price);
    },

    maxPrice () {
      return this.product.variants.reduce((price, variant) => {
        return Math.max(price, variant.price);
      }, this.product.price);
    },

    selectOptionsVerbiage () {
      const { available } = this.variant;
      return available ? 'Select Options' : 'Out of Stock';
    },

    subtitle () {
      // this feature wil eventually be added back. temporarily disabling it for now
      return false;

      const subtitlePretext = this.subtitlePretext;
      let cfVendor = this.product.cf_vendor;

      if (this.variant && this.variant.cf_vendor)
        cfVendor = this.variant.cf_vendor;

      if (subtitlePretext && cfVendor) return subtitlePretext + ' ' + cfVendor;
      else if (cfVendor) return cfVendor;
      return '';
    },

    /** @returns {String} */
    url () {
      const urlParts = [];
      if (this.collectionHandle)
        urlParts.push(`/collections/${this.collectionHandle}`);

      urlParts.push(`/products/${this.product.handle}`);

      // only add variant if we're not the default
      if (this.product.variants.map(v => v.id)[0] !== this.variant.id)
        urlParts.push(`?variant=${this.variant.id}`);

      return urlParts.join('');
    },

    /** @returns {ImageSource} */
    images () {
      const { images, variants } = this.product;
      const hasMultipleVariants = variants.length > 1;
      const hasMultipleProductImages = !!images && images.length > 1;
      const isInitialVariant = this.variant.id === variants[0].id

      if (!images || !images.length) {
        return {
          default: '',
          defaultAlt: '',
          hover: '',
          hoverAlt: ''
        }
      }

      if (!hasMultipleVariants || !this.hasColorVariants || !hasMultipleProductImages) {
        /**
         * * If there are no additional variants, no
         * * color variants or the product does not have
         * * multiple product images, just use the first product
         * * image(s) available.
         */
        const primaryImage = images[0];
        const hoverImage = images[1] || primaryImage;

        return {
          default: primaryImage.src ? primaryImage.src : primaryImage,
          defaultAlt: images[0].alt ? images[0].alt : primaryImage,
          hover: hoverImage.src ? hoverImage.src : hoverImage,
          hoverAlt: images[0].alt ? images[0].alt : primaryImage,
        }
      } else if (!isInitialVariant) {
        /**
         * * If not initial variant, just
         * * show variant image because these
         * * are only visible on hover anyway
         */
        const primaryImage = this.variant.image || images[0];
        const hoverImage = primaryImage;

        return {
          default: primaryImage.src,
          defaultAlt: images[0].alt,
          hover: hoverImage.src,
          hoverAlt: images[0].alt
        }
      } else {

        /**
         * * If the product has multiple variants and color variants
         * * loop through product images to find matching alt text
         * * corresponding to the variant color
         */
        const primaryImage = this.variant.image;

        const hoverImage =
          images.find(img => {
            if (img.alt) {
              const colorResult = img.alt
                .split(',')
                .map(entry => entry.split('Color:'));
              const bodyColorResult = img.alt
                .split(',')
                .map(entry => entry.split('Body Color:'));

              const color = [...colorResult, ...bodyColorResult]
                .filter(
                  item => {
                    return item &&
                    item.length > 1 &&
                    item[1] === this.variant[`option${this.colorIndex}`]
                  }
                )
                .map(colorArr => colorArr[1]);

              if (color.length) {
                /**
                 * * return the first matching color alt text, e.g. Color:Blue or
                 * * Body Color:Blue
                 */
                // console.log(color);
                return color[0];
              }
            }
          });

        return {
          default: primaryImage.src,
          defaultAlt: images[0].alt,
          hover: (hoverImage || primaryImage).src,
          /**
           * * Here we use the primary image alt
           * * since variants with color options will match
           * * the pattern "Color:Blue"
           */
          hoverAlt: images[0].alt
        }
      }
    },

    /** @returns {Boolean} */
    hasColorVariants () {
      if (!this.product.options) return false;
      return this.product.options.some(opt => /^color$|^body color$/i.test(opt));
    },

    /** @returns {Buttons} */
    buttons () {
      return {
        showOptions:
          this.product.magnetProductHandle ||
          (!this.hasColorVariants && this.filteredVariants.length > 0),
        showAtc:
          !this.product.magnetProductHandle &&
          this.variant.available &&
          this.filteredVariants.length < 1
      };
    },

    /** @returns {Number} */
    colorIndex () {
      if (!this.hasColorVariants) return -1;

      return this.product.options.reduce(
        (acc, opt, i) => (/color/i.test(opt) ? i : acc),
        0
      );
    },

    /** @returns {String} */
    colorsAvailable () {
      if (!this.hasColorVariants) return;
      const { colorIndex } = this;

      const colors = new Set(
        this.product.variants.map(variant => variant[`option${colorIndex}`])
      );

      if (colors.size >= 1) {
        return `${colors.size} color${colors.size > 1 ? 's' : ''} available`;
      }
    },

    /** @returns {Array<Object>} */
    filteredVariants () {
      return this.product.variants.filter(
        v => v.title.toLowerCase() !== 'default title'
      );
    },

    filteredColorVariants () {
      if (!this.hasColorVariants) return [];

      return uniqBy(this.product.variants, `option${this.colorIndex}`);
    },

    /** @returns {Boolean} */
    onSale () {
      return this.variant.compare_at_price && this.variant.price < this.variant.compare_at_price;
    },

    /** @returns {String} */
    productBadge () {
      return badge(this.product, this.variant, this.onSale);
    },

    /** @returns {Boolean} */
    hasLogoBadge () {
      return (
        this.product.logoBadge &&
        this.product.logoBadge.length &&
        !this.disableLogoBadge
      );
    },

    /** @returns {String} */
    logoBadgeClass () {
      return this.hasLogoBadge ? 'has-logo-badge' : '';
    },

    /** @returns {String} */
    staticProductTitle () {
      return this.truncateTitle
        ? this.$options.filters.truncated(this.product.title)
        : this.product.title;
    }
  }
};
</script>

<style scoped lang="scss">
.product-tile {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  background-color: $color-white;
  user-select: none;

  .row [class*='col-'] {
    margin-bottom: 8px;
  }

  /deep/ .product-bottomline {
    margin-top: 9px;
  }
}

.swatches {
  background-color: transparent;
}

.product-tile__images {
  position: relative;
  font-size: 0;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid $color-off-white;
  box-shadow: 0 1px 1px rgba($color-black, 0.15);
  transition: box-shadow 0.2s linear;
  text-align: center; // centers images

  .product-tile:hover & {
    box-shadow: 0 1px 10px rgba($color-black, 0.3);
  }

  .product-tile__badge ~ & {
    border-radius: 0 4px 4px 4px;
  }
}

.product-tile__images a {
  font-size: 0;
  position: absolute;
}

.product-tile__image {
  // position: absolute;
  width: 100%;
  height: 100%;
  // max-width: 270px;
  // max-height: 410px;
  object-fit: contain;
  object-position: center;
  transition: transform 0.2s linear;
}

.product-tile__image--main {
  z-index: 2;
  position: relative;

  @include desktop-up {
    .product-tile:hover & {
      opacity: 0;
    }
  }
}

.product-tile__image--hover {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  // transition-property: transform;

  .product-tile:hover & {
    opacity: 1;
    transform: translateX(-50%) scale(1.025);
  }
}

.product-tile__image--placeholder {
  width: 100%;
  height: 100%;
  z-index: 4;
  fill: $color-off-white;
}

.product-tile__static-text-content {
  margin-top: 12px;

  @include tablet-up {
    margin-top: 15px;
  }

  @include desktop-up {
    position: relative;
    z-index: 2;
  }
}

.product-tile__title {
  font-weight: 500;
  line-height: 22px;
  transition: color 0.2s linear;

  .product-tile:hover & {
    color: $color-primary-red;
  }
}

.product-tile__price-container {
  margin-top: 8px;
  display: flex;
  align-items: center;

  @include tablet-up {
    margin-top: 10px;
  }
}

.product-tile__price {
  font-size: rem(12);
  line-height: 1;

  + .product-tile__price {
    margin-left: 8px;
  }

  @include tablet-up {
    font-size: rem(14);
  }
}

.product-tile__reviews {
  margin-top: 8px;

  @include tablet-up {
    margin-top: 12px;
  }
}

.product-tile__additional-info {
  margin-top: 12px;
}

.product-tile__customize {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 8px;

  @include mobile-tablet {
    position: absolute;
    top: 12px;
    left: 12px;
  }
}

.product-tile__swatches-wrapper {
  display: flex;
  align-items: flex-start;
}

.product-tile__customize-img {
  width: 16px;
  height: 16px;
}

.product-tile__customize-txt {
  font-family: $font-gibson;
  font-size: 12px;
  line-height: 16px;
  color: $color-grayish-gray;
  margin-left: 6px;

  @include mobile-tablet {
    display: none;
  }
}
</style>
