<template lang="pug">
  .addon-card(v-if="product" :class="selected && 'addon-card--selected'")
    .addon-card__image-container(v-if="product.images[0]")
      img.addon-card__image(:src="product.images[0].src" :alt="product.images[0].alt")
    .addon-card__content
      .addon-card__title {{ product.title }}
      .addon-card__price + {{ product.price | money }}
      a.addon-card__learn-more(:href="`/products/${product.handle}`") Learn More
    .addon-card__actions
      button.addon-card__toggle(@click="toggleSelected" :class="selected && 'addon-card__toggle--selected'" :aria-label="selected ? 'Remove': 'Add'")
        icon(:name="selected ? 'check' : 'plus'" size="14px")
</template>

<script>

import Icon from 'scripts/components/basic/Icon.vue';

export default {
  name: "ProductAddonCard",
  components: {
    Icon
  },
  props: {
    product: Object,
    selectedProducts: {
      type: Array,
      default: () => [],
      required: false
    }
  },
  computed: {
    selected () {
      return this.selectedProducts.find(theProduct => theProduct.id === this.product.id);
    },
  },
  methods: {
    toggleSelected () {
      this.$emit('select', this.product);
    }
  }
}
</script>

<style lang="scss" scoped>
  .addon-card {
    border: 1px solid $color-light-grey;
    border-radius: 10px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    padding: 8px 12px 12px 8px;
    display: grid;
    grid-template-columns: 64px auto auto;
    grid-column-gap: 8px;
    margin-bottom: 16px;

    &--selected {
      border-color: #52B87A;
    }
  }
  
  .addon-card__title {
    font-size: rem(12);
    font-weight: 500;
    line-height: rem(16px);
    margin-bottom: 4px;
  }
  .addon-card__price {
    font-size: rem(12);
    line-height: rem(16);
    color: #52B87A;
  }
  .addon-card__learn-more {
    color: $color-primary-red;
    font-size: rem(11);
    line-height: rem(16);
  }
  .addon-card__actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .addon-card__toggle {
    height: 28px;
    width: 28px;
    border: 1px solid $color-light-grey;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    min-width: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &--selected {
      background-color: #52B87A;
      border-color: #52B87A;
      box-shadow: none;
      /deep/ .icon {
        fill: $color-white;
      }
    }
  }

  .addon-card__image-container {
    position: relative;
    width: 64px;
    height: 64px;
  }

  .addon-card__image {
    position: relative;
    top: unset;
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
</style>