<template lang="pug">
  .observer(
    ref="observable"
  )
    section.potential.container(
      v-if="product && loaded"
    )
      h2.potential__title {{ sectionTitle }}
      p.potential__description {{ sectionDescription }}
      .potential__carousel(
        v-if="displayAsCarousel"
      )
        icon-button.potential__carousel-button.potential__carousel-button--previous(
          label="Previous Slide",
          icon-name="nav-arrow-left",
          size="48px"
          @click="$refs.productPotentialCarousel.slidePrev()"
        )
        icon-button.potential__carousel-button.potential__carousel-button--next(
          label="Next Slide",
          icon-name="nav-arrow-right",
          size="48px"
          @click="$refs.productPotentialCarousel.slideNext()"
        )
        carousel(
          ref="productPotentialCarousel",
          :slides-to-show="['mobile', 'tablet'].includes($mq) ? 2 : 4",
          :infinite="true",
          :dots="false",
        )
          slide.tile(
            v-for="(tile, index) in productTiles"
            :key="index"
          )
            figure.tile__figure
              img.tile__image(
                v-lazy="tile.largeImage"
                :alt="tile.title"
              )
              figcaption.tile__caption {{ tile.title }}
      .potential__grid(
        v-else
      )
        figure.tile__figure(
          v-for="(tile, index) in productTiles"
          :key="index"
        )
          img.tile__image(
            v-lazy="tile.smallImage"
            :srcset="tile.largeImage + ' 2x, ' + tile.smallImage + ' 1x'"
            :alt="tile.title"
          )
          figcaption.tile__caption {{ tile.title }}
</template>

<script>
  import ProductMixin from 'scripts/mixins/storeProduct.js';
  import IOLazyLoader from 'scripts/mixins/IOLazyLoader.js';

  import IconButton from 'scripts/components/buttons/IconButton.vue'
  import Carousel from 'scripts/components/basic/Carousel.vue'
  import Slide from 'scripts/components/basic/Slide.vue'

  export default {
    name: "ProductPotential",
    mixins: [ProductMixin, IOLazyLoader],
    components: { IconButton, Carousel, Slide },
    props: {
      tiles: Array,
      defaultTitle: String,
      defaultDescription: String,
    },
    data () {
      return {
        slideBreakpoints: {
          'mobile': 2,
          'tablet': 2,
          'desktop': 4,
          'default': 4,
        },
      };
    },
    computed: {
      sectionTitle () {
        if (this.cf.potential_section_title) return this.cf.potential_section_title;
        return this.defaultTitle;
      },
      sectionDescription () {
        if (this.cf.potential_section_description) return this.cf.potential_section_description;
        return this.defaultDescription;
      },
      productTiles () {
        return this.tiles.filter((tile) => tile.products.includes(this.productHandle));
      },
      displayAsCarousel () {
        if (!this.productTiles) return false;
        const slidesRequired = this.slideBreakpoints[this.$mq] || this.slideBreakpoints.default;
        return slidesRequired <= this.productTiles.length;
      }
    }
  };
</script>

<style lang="scss" scoped>
  .potential {
    margin: 35px auto;

    @include desktop-up {
      margin: 92px auto 50px;
    }
  }

  .potential__title {
    margin: 0 auto 13px;
    max-width: 920px;
    text-align: center;
    font-size: rem(44);
    line-height: 0.86;
    letter-spacing: -0.7px;
    font-family: $font-gibson;
    font-weight: 700;
    text-transform: none;

    @include desktop-up {
      margin-bottom: 17px;
      font-size: rem(99);
      line-height: 0.8;
      letter-spacing: -1px;
    }
  }

  .potential__description {
    margin: 0 auto 25px;
    max-width: 715px;
    text-align: center;
    font-size: rem(14);
    line-height: 1.5;
    letter-spacing: 0.3px;
    font-family: $font-gibson;
    font-weight: 300;

    @include desktop-up {
      margin-bottom: 50px;
      font-size: rem(16);
    }
  }

  .potential__carousel {
    position: relative;

    /deep/ .tile {
      padding: 0 4px;

      @include desktop-up {
        padding: 0 10px;
      }
    }
  }

  .potential__carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;

    &--previous {
      left: -14px;
    }

    &--next {
      right: -14px;
    }
  }

  .tile__figure {
    position: relative;
    width: 100%;
  }

  .tile__image {
    width: 100%;
  }

  .tile__caption {
    position: absolute;
    bottom: 35px;
    left: 0;
    padding: 7px 17px;
    font-size: rem(14);
    line-height: 1;
    letter-spacing: 0.75px;
    font-family: $font-gibson;
    font-weight: 700;
    text-transform: uppercase;
    color: $color-white;
    background-color: $color-black;

    @include tablet-up {
      min-width: 144px;
    }
  }

  .potential__grid {
    display: flex;
    justify-content: space-evenly;
  }
</style>
