<template lang="pug">
  .product-accordions
    accordion-group(
      v-if="product.description"
    )
      accordion(
        heading="Product Info"
        active-icon="chevron-up"
        inactive-icon="chevron-down"
        icon-size="14px"
      )
        .product-accordion__content.body-md(v-html="product.description")
    accordion-group(
      v-if="showResources"
    )
      accordion(
        heading="Resources"
        active-icon="chevron-up"
        inactive-icon="chevron-down"
        icon-size="14px"
      )
        .product-accordion__content
          .product-accordion__describe.body-md(v-html="product.custom_fields.resources_content")
          .product-accordion__pdfs
            .product-accordion__pdf-item(v-for="pdf in thePdfs" :key="pdf")
              a(:href="pdf | pdfHref" target="_blank")
                icon(name="pdf" size="39px")
              span
                a(:href="pdf | pdfHref" target="_blank") {{pdf}}
          .product-accordion__info
            .product-accordion__info-item
              .product-accordion__heading Return Policy
              .product-accordion__content.body-md(v-html="product.custom_fields.return_policy ? product.custom_fields.return_policy : productInfo.returns")
            .product-accordion__info-item
              .product-accordion__heading Warranty Info
              .product-accordion__content.body-md(v-html="product.custom_fields.warranty_info ? product.custom_fields.warranty_info : productInfo.warranty")
            .product-accordion__info-item
              .product-accordion__heading Shipping Info
              .product-accordion__content.body-md(v-html="product.custom_fields.shipping_info ? product.custom_fields.shipping_info : productInfo.shipping")
            .product-accordion__info-item(
              v-if="product.custom_fields.maintenance"
            )
              .product-accordion__heading Maintenance
              .product-accordion__content.body-md(v-html="product.custom_fields.maintenance")
            .product-accordion__info-item(
              v-if="product.custom_fields.specifications"
            )
              .product-accordion__heading Specifications
              .product-accordion__content.body-md(v-html="product.custom_fields.specifications")
    accordion-group(
      v-if="product.custom_fields.faqs_content"
    )
      accordion(
        heading="FAQ"
        active-icon="chevron-up"
        inactive-icon="chevron-down"
        icon-size="14px"
      )
        .product-accordion__content.product-accordion__content--faq.body-md(v-html="product.custom_fields.faqs_content")
</template>

<script>
import {fileUrl} from 'scripts/helpers/util';
import AccordionGroup from 'scripts/components/basic/AccordionGroup.vue';
import Accordion from 'scripts/components/basic/Accordion.vue';
import Icon from 'scripts/components/basic/Icon.vue'
export default {
  name: "ProductAccordions",
  components: {
    AccordionGroup,
    Accordion,
    Icon,
  },
  props: {
    productInfo: Object,
    product: {
      type: Object
    }
  },
  data() {
    return {
      thePdfs: this.product.custom_fields.pdfs ? this.product.custom_fields.pdfs.split(',') : [],
    }
  },
  filters: {
    /**
     * @desc ensure str is a string and set it to lowercase, trim leading and
     *     ending whitespace, then handleize by converting remaining whitespace to hyphens.
     * 
     *     /\s+/g pattern: matches one or more spaces, tabs, or line break characters.
     *     Reduces potential for inaccurate href conversion caused by data entry typos.
     */
    pdfHref: function(str) {
      if (!str) return '';
      const link = str.toString().toLowerCase().trim().replaceAll(/\s+/g, '-');
      return fileUrl(`${link}.pdf`);
    }
  },
  computed: {
    showResources () {
      return (this.thePdfs && this.thePdfs.length > 0) 
        || this.product.custom_fields.resources_content
        || this.product.custom_fields.maintenance
        || this.product.custom_fields.specifications
        || product.custom_fields.return_policy
        || product.custom_fields.warranty_info
        || product.custom_fields.shipping_info
        || productInfo.returns
        || productInfo.warranty
        || productInfo.shipping;
    }
  }
}
</script>

<style lang="scss" scoped>
.product-accordions {
  padding: 24px 0;
}

.product-accordion__pdfs {
  display: flex;
  flex-direction: column;

  @include tablet-up {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 8px;
    padding-top: 24px;
    padding-bottom: 40px;
  }
}

.product-accordion__pdf-item {
  color: $color-primary-red;
  display: flex;
  font-size: rem(14);
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 16px;
}

.product-accordion__info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 52px;
}

.product-accordion__heading {
  font-size: rem(14);
  font-weight: 600;
  line-height: rem(16);
  margin-bottom: 16px;
}

.product-accordion__content {


  a {
    color: $color-primary-red;
  }
}

/deep/ .accordion {
  background-color: $color-white;
  border: 1px solid $color-v-light-grey;
  border-radius: 4px;
  padding: 17px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.12);

  .accordion__menu-title {
    font-size: rem(16);
  }

  .accordion__header {
    position: relative;
  }

  .accordion__content {
    padding-top: 20px;
  }

  .accordion-icon {
    right: 0;
    top: 3px;
    position: absolute;
  }

  .product-accordion__content {

    h1, h2, h3, h4, h5, h6 {
      font-size: rem(14);
      line-height: rem(16);
      margin-bottom: 16px;
    }

    p {
      font-size: rem(12);
      line-height: rem(22);
      margin-bottom: 16px;

      @include tablet-up {
        font-size: rem(14);
        margin-bottom: 22px;
      }
    }

    strong {
      font-weight: 600;
    }

    a {
      color: $color-primary-red;
    }

    ul {
      padding-left: 20px;
      list-style-type: disc;

      li {
        list-style-type: disc;
      }
    }
  }

  .product-accordion__content--faq {
    h1, h2, h3, h4, h5, h6 {
      font-size: rem(14);
      line-height: rem(16);
      margin-top: 40px;
      margin-bottom: 15px;
      text-transform: none;

      &:first-child {
        margin-top: 0;
      }

      &:after {
        content: '';
        height: 2px;
        width: 30px;
        margin-top: 10px;
        background-color: $color-primary-red;
        display: block;
      }
    }
  }
}
</style>
