<template lang="pug">
  .product-addons
    .product-addon__category(v-for="addonCat in addons")
      .product-addon__title {{addonCat.title}}
      .product-addon__item(v-for="addon in addonCat.addons")
        product-addon-card(
          :key="addon.id"
          :product="addon"
          :selectedProducts="selectedProducts"
          @select="toggleProduct"
        )
    .product-addon__actions
      v-button(:disabled="selectedProducts.length === 0" @click="onAddItems" secondary) Add ({{selectedProducts.length}}) Items
</template>

<script>
import VButton from 'scripts/components/buttons/VButton.vue';
import ProductAddonCard from 'scripts/components/product/ProductAddonCard.vue';
export default {
  name: "ProductAddons",
  components: { 
    VButton,
    ProductAddonCard
  },
  props: {
    addons: {
      type: Array,
      default: []
    },
    onConfirm: {
      type: Function,
      default: () => console.log('Hello world')
    },
    setAddons: {
      type: Function,
    },
    selectedAddons: {
      type: Array,
    },
  },
  data () {
    return {
      selectedProducts: [...this.selectedAddons],
    }
  },
  methods: {
    toggleProduct(productId) {
      const productAddedAlready = this.selectedProducts.find(product => product.id === productId.id);
      let newSelectedProducts = [...this.selectedProducts];
      if (productAddedAlready) {
        newSelectedProducts = newSelectedProducts.filter((product) => product.id !== productId.id);
      } else {
        newSelectedProducts.push(productId);
      }
      this.selectedProducts = newSelectedProducts;
      this.setAddons(newSelectedProducts);
    },
    onAddItems() {
      this.onConfirm(this.selectedProducts);
    },
  }
}
</script>

<style lang="scss" scoped>
.product-addons {
  padding-top: 16px;
  padding-bottom: 8px;

  .product-addon__title {
    margin-bottom: 16px;
    font-size: rem(12);
    font-weight: 500;
    line-height: rem(16);
  }

  .product-addon__actions {
    /deep/ .button {
      width: 100%;
    }
  }
}
</style>