<template>
  <div class="swatches" v-on="$listeners">
    <div class="swatches__simple" v-if="$mq !== 'mobile' && $mq !== 'tablet'"
         @mouseleave="$emit('swatchMouseLeave')">
      <button
        class="swatches__swatch"
        v-for="(variant, index) in filteredVariants.slice(0, 7)"
        :key="`swatch_${variant.id}`"
        :class="{ 'swatches__swatch--active': variant.id === value.id }"
        @mouseenter="$emit('swatchMouseEnter', variant)"
        @focus="$emit('input', variant)"
        :aria-controls="ariaControls"
        :aria-label="variant[optionKey]"
        :title="variant[optionKey]"
        tabindex="0"
      >
        <img
          :src="variant.swatch_image"
          :alt="variant[optionKey]"
          @error="$set(showDefault, index, true)"
          v-if="!showDefault[index] && variant.swatch_image"
        />
        <img
          :src="fileUrl(`swatch_${handleize(variant[optionKey])}.png`)"
          :alt="variant[optionKey]"
          @error="$set(showDefault, index, true)"
          v-else-if="!showDefault[index]"
        />
        <img
          :src="fileUrl(`swatch_default_color.png`)"
          :alt="variant[optionKey]"
          v-else
        />
      </button>
    </div>
    <span
      class="swatches__more-count"
      v-if="filteredVariants.length > 7 && $mq !== 'mobile' && $mq !== 'tablet'"
      >+{{ filteredVariants.length - 6 }}</span
    >
    <span
      class="swatches__more-count"
      v-if="
        filteredVariants.length > 4 && ($mq === 'mobile' || $mq === 'tablet')
      "
      >{{ filteredVariants.length }} Colors Available</span
    >
  </div>
</template>

<script>
import { normalize, handleize } from 'scripts/filters/string.js';
import uniqBy from 'lodash/uniqBy';
import { fileUrl } from '../../helpers/util';
import Icon from '../basic/Icon.vue';

export default {
  name: 'ProductSwatchesSimple',
  components: { Icon },
  props: {
    variants: {
      type: Array,
      required: true
    },
    value: {
      type: Object,
      required: true
    },
    colorOptionNumber: {
      type: Number,
      default: 1
    },
    ariaControls: String
  },
  data () {
    return {
      showDefault: new Array(this.variants.length).fill(false)
    };
  },
  computed: {
    /** @returns {String} */

    optionKey () {
      return `option${this.colorOptionNumber}`;
    },
    filteredVariants () {
      return uniqBy(this.variants, this.optionKey);
    }
  },
  methods: {
    fileUrl,
    normalize,
    handleize,
    setHoveredVariant(variant) {
      console.log(variant);
    }
  }
};
</script>

<style lang="scss">
.swatches {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: $color-off-white;
  padding: 0 0 10px;
  max-width: none;
  line-height: 13px;

  &__swatch {
    display: inline-block;
    width: 13px;
    height: 13px;
    min-width: 13px;
    border-radius: 50%;
    flex: 0;
    border: 1px solid $color-white;
    box-shadow: 0px 0px 0px 1px $color-light-grey;
    margin: 0 2px;
    padding: 0;
    font-size: 0;
    line-height: normal;
    cursor: pointer;
    line-height: normal;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.15);
    transition: none;
  }

  &__simple {
    display: flex;
    align-items: center;
  }

  &__swatch img {
    width: 100%;
    border-radius: 100%;
  }

  &__swatch:not(:disabled):hover,
  &__swatch:not(:disabled):focus {
    box-shadow: 0px 0px 0px 1px $color-off-black;
  }

  &__swatch--active {
    box-shadow: 0px 0px 0px 1px $color-off-black;
  }

  &__more-count {
    font-size: 10px;
    line-height: 13px;
    font-family: $font-gibson;
    color: $color-grayish-gray;
    position: relative;
    top: 1px;
    margin-left: 3px;

    @include mobile-tablet {
      color: $color-semi-grey;
      font-size: 13px;
    }
  }
}
</style>
