<template lang="pug">
  .product-custom-selector(:class="{ 'product-custom-selector--has-variants': hasVariants }")
    .product-custom-selector__field(
      v-for="(build_option, optionIndex) in customOptions"
      :key="build_option.builder_title"
      :class="{ 'product-custom-selector__field--selected': optionIndex === selectedIndex && !variantSelectorIsOpen }"
    )
      .custom-selector__header
        .custom-selector__title(@click="() => selectOptionCat(optionIndex)")
          icon.custom-selector__tooltip(
            v-if="build_option.options_tooltip"
            name="info"
            size="16px"
            v-tooltip.bottom="build_option.options_tooltip"
          )
          span {{ hasVariants ? optionIndex + variantCount + 1 : optionIndex + 1}}. {{ build_option.builder_title }}
          .custom-selector__icon
            icon(:name="optionIndex === selectedIndex && !variantSelectorIsOpen ? 'chevron-up' : 'chevron-down'" size="8px")
          .custom-selector__selected-option(v-if="selectedOptions[optionIndex]")
            span {{selectedOptions[optionIndex].displayText}}
          p.custom-selector__additional-price(
            v-if="selectedOptions[optionIndex] && selectedOptions[optionIndex].price"
          ) +{{ selectedOptions[optionIndex].price | money }}
          p.custom-selector__active-disclaimer(
            v-if="selectedOptions.length === optionIndex"
          ) This step is required!
        .custom-selector__indicator(:class="selectedOptions[optionIndex] !== undefined && 'custom-selector__indicator--selected'")
          icon(name="check" size="9px")
      .custom-selector__content(:class="{ 'custom-selector__content--open': optionIndex === selectedIndex && !variantSelectorIsOpen }")
        product-color-selector(
          v-if="build_option.builder_color_selector"
          :label="build_option.builder_label || build_option.builder_title"
          :option="build_option"
          :selectedValue="selectedOptions[optionIndex] || null"
          :onSelect="(data) => handleOptionSelect(data, optionIndex)"
        )
        product-custom-lettering(
          v-else-if="build_option.component_add_lettering"
          :label="build_option.builder_label || build_option.builder_title"
          :option="build_option"
          :selectedValue="selectedOptions[optionIndex] || null"
          :onSelect="(data) => handleOptionSelect(data, optionIndex)"
        )
        product-custom-upload(
          v-else-if="build_option.builder_file_upload"
          :label="build_option.builder_label || build_option.builder_title"
          :option="build_option"
          :selectedValue="selectedOptions[optionIndex] || null"
          :onSelect="(data) => handleOptionSelect(data, optionIndex)"
        )
        product-custom-pills(
          v-else-if="build_option.component_option_selectors"
          :option-index="optionIndex"
          :label="build_option.builder_label || build_option.builder_title"
          :option="build_option" :selectedValue="selectedOptions[optionIndex] || null"
          :onSelect="(data) => handleOptionSelect(data, optionIndex)"
        )
        product-custom-note(
          v-else-if="build_option.component_text_note"
          :label="build_option.builder_label || build_option.builder_title"
          :option="build_option"
          :selectedValue="selectedOptions[optionIndex] || null"
          :onSelect="(data) => handleOptionSelect(data, optionIndex)"
        )
        product-custom-product-select(
          v-else-if="build_option.component_product_selector"
          :label="build_option.builder_label || build_option.builder_title"
          :option="build_option"
          :selectedValue="selectedOptions[optionIndex] || null"
          :onSelect="(data) => handleOptionSelect(data, optionIndex)"
        )
        product-custom-image(
          v-else-if="build_option.component_image_selector"
          :label="build_option.builder_label || build_option.builder_title"
          :option="build_option"
          :selectedValue="selectedOptions[optionIndex] || null"
          :onSelect="(data) => handleOptionSelect(data, optionIndex)"
        )
</template>

<script>
import Icon from 'scripts/components/basic/Icon.vue';

import ProductColorSelector from './custom/ProductColorSelector.vue';
import ProductCustomLettering from './custom/ProductCustomLettering.vue';
import ProductCustomUpload from './custom/ProductCustomUpload.vue';
import ProductCustomPills from './custom/ProductCustomPills.vue';
import ProductCustomNote from './custom/ProductCustomNote.vue';
import ProductCustomProductSelect from './custom/ProductCustomProductSelect.vue';
import ProductCustomImage from './custom/ProductCustomImage.vue';

export default {
  name: 'ProductCustomSelector',
  components: {
    Icon,
    ProductColorSelector,
    ProductCustomLettering,
    ProductCustomUpload,
    ProductCustomPills,
    ProductCustomNote,
    ProductCustomProductSelect,
    ProductCustomImage
  },
  props: {
    customOptions: {
      type: Array,
      default: () => []
    },
    selectedOptions: {
      type: Array,
      default: () => []
    },
    selectOption: Function,
    variantSelectorIsOpen: Boolean,
    hasVariants: Boolean,
    variantCount: Number,
  },
  data () {
    return {
      selectedIndex: 0,
    }
  },
  methods: {
    selectOptionCat (optIndex) {
      if (this.selectedOptions[optIndex-1] || this.selectedOptions[optIndex] !== undefined) {
        this.selectedIndex = optIndex;
      }

      this.$emit('opened')
    },
    handleOptionSelect(data, optionIndex) {
      this.selectOption(data, optionIndex);
      
      if (this.selectedIndex + 1 !== this.customOptions.length) {
        this.selectedIndex++;
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.product-custom-selector__field {
  position: relative;
  border: 1px solid #CDCDCD;
  border-bottom-width: 0;
  padding: 20px;

  &:first-child {
    border-radius: 10px 10px 0 0;

    .product-custom-selector--has-variants & {
      border-radius: 0;
    }
  }

  &:last-child {
    border-radius: 0 0 10px 10px;
    border-bottom-width: 1px;
  }

  &--selected {
    border-color: $color-grey;

    & + .product-custom-selector__field {
      border-top-color: $color-grey;
    }
  }
}

.custom-selector__header {
  display: flex;
  justify-content: space-between;
}

.custom-selector__title {
  font-size: rem(12);
  font-weight: 600;
  line-height: rem(16);
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;

  &--disabled {
    cursor: not-allowed;
  }
}

.custom-selector__active-disclaimer {
  color: $color-util-error-0;
  width: 100%;
  margin: 5px 0 0 0;
}

.custom-selector__icon {
  margin-left: 7px;
}

.custom-selector__selected-option {
  width: 100%;
  color: $color-grayish-gray;
  margin-top: 4px;
  font-size: rem(11);
  font-weight: 400;
  line-height: rem(16);
}

.custom-selector__indicator {
  border: 1px solid $color-light-grey;
  border-radius: 100%;
  box-shadow: 0 1px 1px rgba(0,0,0,0.15);
  height: 17px;
  width: 17px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  &--selected {
    background-color: #52B87A;
    border-color: #52B87A;
  }
}

.custom-selector__additional-price {
  position: absolute;
  top: 42px;
  right: 20px;
  margin: 0;
  color: #52B87A;
  font-size: rem(11);
}

.custom-selector__content {
  display: none;
  &--open {
    display: block;
  }
}

.custom-selector__tooltip {
  margin-right: 8px;
}
</style>
