<template lang="pug">
  section.supplemental-facts(
    v-if="product"
    :style="getSectionStyles"
  )
    .container
      h2.supplemental-facts__title Supplement Facts
      .supplemental-facts__servings(
        v-html="cf.supplement_serving_size"
      )
      .supplemental-facts__content(
        :class="{ 'supplemental-facts__content--grid' : !['mobile', 'tablet'].includes($mq) }"
      )
        img.supplemental-facts__image(
          :alt="product.title"
          v-lazy="getImageSrc"
        )
        .supplemental-facts__table
          table.supplemental-facts__ingredients
            tr.supplemental-facts__ingredient(
              v-for="ingredient in ingredients"
              :key="ingredient.title"
              :class="getRowClass(ingredient)"
            )
              td.supplemental-facts__ingredient-cell.supplemental-facts__ingredient-title {{ ingredient.title }}
              td.supplemental-facts__ingredient-cell.supplemental-facts__ingredient-amount {{ ingredient.amount }}
              td.supplemental-facts__ingredient-cell.supplemental-facts__ingredient-dv {{ ingredient.daily_value }}
            tr.supplemental-facts__disclaimer
              td(
                colspan="3"
              ) * Daily value (DV) not established
          .supplemental-facts__extras(
            v-html="cf.supplemental_extra_info"
          )
          .supplemental-facts__icons
            figure.supplemental-facts__icon(
              v-for="icon in product.supplementalIcons"
              :key="icon.title"
            )
              img.supplemental-facts__icon-image(
                v-lazy="icon.icon"
                :alt="icon.title"
              )
              figcaption.supplemental-facts__icon-title {{ icon.title }}
      a.supplemental-facts__download.link(
        v-if="cf.supplement_download"
        :href="cf.supplement_download"
        target="_blank"
      )
        icon(
          name="download"
          size="22px"
        )
        | Download supplement facts
    icon.supplemental-facts__icon.supplemental-facts__icon--wave(
      name="product-wave"
      size="100%"
    )
</template>

<script>
  import ProductMixin from 'scripts/mixins/storeProduct.js';

  import Icon from 'scripts/components/basic/Icon.vue';

  export default {
    name: 'SupplementalFacts',
    mixins: [ProductMixin],
    components: { Icon },
    computed: {
      getSectionStyles () {
        return {
          'background-color': this.cf.product_color,
        };
      },
      ingredients () {
        return this.product.productIngredients;
      },
      getImageSrc () {
        return ['mobile', 'tablet'].includes(this.$mq) ? this.cf.mobile_supplement_image : this.cf.desktop_supplement_image;
      }
    },
    methods: {
      getRowClass (ingredient) {
        return ingredient.is_title === "1" ? 'is-title' : 'is-ingredient';
      },
    }
  }
</script>

<style lang="scss">
  .supplemental-facts {
    margin-bottom: 30px;
    padding: 50px 0 0;

    @include desktop-up {
      margin-bottom: 65px;
      padding: 85px 0 0;
    }
  }

  .supplemental-facts__title {
    margin-bottom: 12px;
    font-size: rem(26);
    line-height: 1.2;
    letter-spacing: -0.5px;

    @include desktop-up {
      font-size: rem(48);
    }
  }

  .supplemental-facts__title,
  .supplemental-facts__servings {
    text-align: center;
  }

  .supplemental-facts__servings {
    font-size: rem(14);
  }

  .supplemental-facts__content {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .supplemental-facts__content--grid {
    margin-top: 55px;
    display: grid;
    grid-template-columns: 1fr 430px;

    .supplemental-facts__image {
      order: 1;
    }
  }

  .supplemental-facts__ingredients {
    border-collapse: collapse;
  }

  .supplemental-facts__ingredient {
    padding: 4px 0;

    &.is-title .supplemental-facts__ingredient-cell {
      font-family: $font-gibson;
      font-size: rem(12);
      font-weight: 700;

      @include desktop-up {
        white-space: nowrap;
      }
    }
  }

  .supplemental-facts__disclaimer td,
  .supplemental-facts__ingredient-cell {
    padding: 4px 0;
    font-size: rem(12);
    line-height: 1.2;
    letter-spacing: 0.3px;
    font-family: $font-gibson;
    font-weight: 300;

    @include desktop-up {
      padding: 0;
      font-size: rem(14);
      line-height: 2;
    }
  }

  .supplemental-facts__ingredient-amount {
    min-width: 85px;
  }

  @include desktop-up {
    .supplemental-facts__ingredient-amount {
      padding: 0 50px;
    }

    .supplemental-facts__ingredient-dv {
      padding-right: 20px;
    }
  }

  .is-title,
  .supplemental-facts__disclaimer {
    border-top: 1px solid $color-black;
    border-bottom: 1px solid $color-black;
  }

  .is-ingredient + .is-ingredient {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }

  .supplemental-facts__disclaimer td {
    padding: 11px 0 17px;
    line-height: 1.5;
  }

  .supplemental-facts__extras {
    p {
      margin-top: 16px;
      font-size: rem(12);
      line-height: 1.5;
      letter-spacing: 0.25px;
      font-weight: 300;
      font-family: $font-gibson;
    }
  }

  .supplemental-facts__icons {
    margin: 37px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include desktop-up {
      justify-content: flex-start;
    }
  }

  .supplemental-facts__icon {
    margin-bottom: 25px;
    width: 75px;
    max-height: 100px;
    display: flex;
    flex-basis: 40%;
    align-items: center;

    @include desktop-up {
      margin-bottom: 0px;
      flex-basis: 0%;
      flex-direction: column;
      text-align: center;

      & + & {
        margin-left: 30px;
      }
    }

    &.supplemental-facts__icon--wave {
      display: block;
      margin-bottom: 0;
    }
  }

  .supplemental-facts__icon-image {
    display: block;
    margin-right: 10px;
    max-width: 45px;

    @include desktop-up {
      max-width: 70px;
      margin-bottom: 10px;
      margin-right: 0px;
    }
  }

  .supplemental-facts__icon-title {
    font-size: rem(10);
    line-height: 1.4;
    letter-spacing: 0.2px;
    font-weight: 300;
    font-family: $font-gibson;
    text-transform: uppercase;
  }

  .supplemental-facts__download {
    display: flex;
    align-items: center;
    font-size: rem(16);
    line-height: 1.5;
    letter-spacing: 0.25px;
    font-weight: 700;
    font-family: $font-gibson;
    color: $color-black;

    .icon {
      margin-right: 5px;
    }
  }
</style>
