<template lang="pug">
  .observer.target-areas(
    :style="getSectionStyles"
    ref="observable"
  )
    .target-areas__content(
      v-if="loaded && product"
    )
      .container
        .target-areas__subtitle {{ cf.target_subtitle }}
        h2.target-areas__title {{ cf.target_title }}
        .target-areas__categories-wrapper
          .target-areas__categories
            button.target-areas__category(
              v-for="category in product.targetCategories"
              :key="category.categoryID"
              @click="setCategory(category)"
              :style="getActiveStyles(category)"
            ) {{ category.title }}
        .target-areas__scroll-indicator(
          v-if="$mq === 'mobile'"
        )
          | Scroll
          icon.target-areas__scroll-icon(
            name="arrow-right"
            size="10px"
          )
        .target-areas__selected-category(
          v-if="selectedCategory"
        )
          .target-areas__selected-description(
            v-html="selectedCategory.description"
          )
          .target-areas__selected-ingredients
            figure.target-areas__selected-ingredient(
              v-for="ingredient in categoryIngredients"
              :key="ingredient.title"
            )
              img.target-areas__selected-image(
                :src="ingredient.image"
                :alt="ingredient.imageAlt"
              )
              figcaption.target-areas__selected-caption {{ ingredient.title }}
      icon.target-areas__icon(
        name="product-wave"
        size="100%"
      )
</template>

<script>
  import IOLazyLoader from 'scripts/mixins/IOLazyLoader.js';
  import ProductMixin from 'scripts/mixins/storeProduct.js';

  import Icon from 'scripts/components/basic/Icon.vue';

  export default {
    name: 'TargetAreas',
    props: {
      ingredients: Array,
    },
    components: { Icon },
    mixins: [IOLazyLoader, ProductMixin],
    data () {
      return {
        selectedCategory: false,
      };
    },
    updated () {
      if (!this.product || this.selectedCategory !== false) return;
      this.selectedCategory = this.product.targetCategories[0];
    },
    computed: {
      cf () {
        return this.product.customFields;
      },
      getSectionStyles () {
        return {
          'background-color': this.product ? this.cf.product_color : '#FFFFFF',
        };
      },
      categoryIngredients () {
        return this.ingredients.filter((ingredient) => ingredient.categories.includes(this.selectedCategory.categoryID));
      }
    },
    methods: {
      setCategory (category) {
        this.selectedCategory = category;
      },
      getActiveStyles (category) {
        if (category !== this.selectedCategory) return {};
        return {
          'border-color': this.cf.product_highlight_color || '#000000',
        };
      },
    },
  };
</script>

<style lang="scss" scoped>
  .target-areas__content {
    padding-top: 40px;
    margin-bottom: 35px;

    @include desktop-up {
      margin-bottom: 65px;
    }
  }

  .target-areas__title,
  .target-areas__subtitle {
    margin: auto;
    max-width: 620px;
    text-align: center;
  }

  .target-areas__title {
    margin-bottom: 20px;
    font-family: $font-gibson;
    font-size: rem(26);
    line-height: 1;
    letter-spacing: -1px;

    @include desktop-up {
      margin-bottom: 40px;
      font-size: rem(48);
    }
  }

  .target-areas__subtitle {
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 6px;
    width: 155px;
    font-size: rem(12);
    line-height: 1.6;
    letter-spacing: 0.5px;
    font-weight: 700;
    font-family: $font-gibson;
    text-transform: uppercase;
    color: $color-slate;
  }

  .target-areas__selected-description {
    margin: 32px auto 55px;
    max-width: 840px;
    text-align: center;
    font-size: rem(16);
    line-height: 1.5;
    letter-spacing: 0.25px;
    font-family: $font-gibson;
    font-weight: 300;
  }

  .target-areas__categories-wrapper {
    margin: auto;
    max-width: 1030px;
    width: 100%;
    overflow-x: auto;
  }

  .target-areas__categories {
    padding: 3px;
    display: flex;
  }

  .target-areas__selected-ingredients {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .target-areas__category {
    border-radius: 0;
    border-width: 0 0 1px;
    border-color: rgba(0,0,0,0.1);
    padding: 17px 12px;
    max-width: 220px;
    height: auto;
    flex-grow: 1;
    text-align: center;
    white-space: unset;
    font-size: rem(14);
    line-height: 1.2;
    letter-spacing: 0.74px;
    font-weight: 700;
    font-family: $font-gibson;
    text-transform: uppercase;
    color: $color-slate;

    &:first-of-type {
      margin-left: auto;
    }

    &:last-of-type {
      margin-right: auto;
    }
  }

  .target-areas__selected-ingredient {
    margin: 15px 10px;
    max-width: 90px;
    text-align: center;

    @include desktop-up {
      margin: 15px 20px;
      max-width: 175px;
    }
  }

  .target-areas__selected-image {
    margin-bottom: 16px;

    @include desktop-up {
      margin-bottom: 23px;
    }
  }

  .target-areas__selected-caption {
    font-size: rem(12);
    line-height: 1.6;
    letter-spacing: 0.38px;
    font-family: $font-gibson;
    font-style: italic;
  }

  .target-areas__icon {
    display: block;
    max-height: 100px;

    @include desktop-up {
      margin-top: 50px;
    }
  }

  .target-areas__scroll-indicator {
    margin-top: 10px;
    text-align: center;
  }

  .target-areas__scroll-icon {
    margin-left: 5px;
  }
</style>
