<template lang="pug">
  figure.article-tile
    a(
      :href="article.url"
    )
      img.article-tile__image(
        :src="sizedImage"
        :alt="article.title"
      )
    figcaption.article-tile__content
      a(
        :href="article.url"
      )
        h3.article-tile__title {{ article.title }}
      p.article-tile__description {{ article.excerpt }}
      a.article-tile__link.link(
        :href="article.url"
      ) Read more
</template>

<script>
  import { imageSize } from 'scripts/helpers/util.js';

  export default {
    name: 'BlogMiniTile',
    props: {
      article: Object,
    },
    computed: {
      sizedImage () {
        return imageSize(this.article.image, '270x');
      }
    },
  }
</script>

<style lang="scss" scoped>
  .article-tile__image {
    height: 200px;
    object-fit: cover;
  }

  .article-tile__title {
    margin: 26px 0 9px;
    font-size: rem(14);
    line-height: 1.3;
    letter-spacing: 0.75px;
    font-weight: 700;
    font-family: $font-gibson;
    color: $color-slate;
  }

  .article-tile__description {
    margin-bottom: 12px;
    font-size: rem(14);
  }

  .article-tile__link {
    font-size: rem(12);
    font-weight: 700;
  }
</style>
