<template lang="pug">
  .featured-blog-posts.container
    p.featured-blog-posts__subtitle.u-subtitle {{ subtitle }}
    h2.featured-blog-posts__title {{ title }}
    .article-grid(
      v-if="!['mobile', 'tablet'].includes($mq)"
    )
      blog-mini-tile(
        v-for="post in posts"
        :key="post.id"
        :article="post"
      )
    .carousel-wrapper(
      v-else
    )
      button.featured-blog-posts__button.featured-blog-posts__button--prev.button--icon(
        @click="slidePrevMain"
        aria-label="Previous Post"
      )
        icon(
          name="nav-arrow-left"
          size="35px"
        )
      button.featured-blog-posts__button.featured-blog-posts__button--next.button--icon(
        @click="slideNextMain"
        aria-label="Next Post"
      )
        icon(
          name="nav-arrow-right"
          size="35px"
        )
      carousel(
        :slides-to-show="1.2"
        :infinite="true"
        :centerMode="true"
        ref="carousel"
      )
        slide.article-slide(
          v-for="post in posts"
          :key="post.id"
        )
          blog-mini-tile(
            :article="post"
          )
    a.featured-blog-posts__cta.button.button--primary(
      :href="blogUrl"
    ) {{ ctaText }}
</template>

<script>
  import Carousel from 'scripts/components/basic/Carousel.vue';
  import Slide from 'scripts/components/basic/Slide.vue';
  import Icon from 'scripts/components/basic/Icon.vue';
  import BlogMiniTile from 'scripts/components/blog/BlogMiniTile.vue';

  export default {
    name: 'FeaturedBlogPosts',
    components: { Carousel, Slide, Icon, BlogMiniTile },
    props: {
      subtitle: String,
      title: String,
      posts: Array,
      blogUrl: String,
      ctaText: String,
    },
    methods: {
      slideNextMain() {
        this.$refs.carousel.slideNext();
      },
      slidePrevMain() {
        this.$refs.carousel.slidePrev();
      },
    }
  };
</script>

<style lang="scss" scoped>
  .featured-blog-posts {
    max-width: 965px;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include desktop-up {
      padding-top: 55px;
      padding-bottom: 55px;
    }
  }

  .featured-blog-posts__title {
    margin-top: 12px;
    margin-bottom: 22px;
    max-width: 520px;
    text-align: center;
    font-size: rem(26);
    line-height: 1;
    letter-spacing: -0.5px;
    font-family: $font-gibson;
    font-weight: 300;

    @include desktop-up {
      margin-bottom: 42px;
      font-size: rem(33);
    }
  }

  .carousel-wrapper {
    position: relative;
    width: 100%;
    max-width: 920px;
  }

  .featured-blog-posts__button {
    position: absolute;
    top: 75px;
    z-index: 1;
  }

  .featured-blog-posts__button--prev {
    left: 15px;

    @include desktop-up {
      left: -15px;
    }
  }

  .featured-blog-posts__button--next {
    right: 15px;

    @include desktop-up {
      right: -15px;
    }
  }

  .article-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 64px;
  }

  .featured-blog-posts__cta {
    margin-top: 35px;

    @include desktop-up {
      margin-top: 60px;
    }
  }

  .article-slide {
    justify-content: flex-start;
    text-align: center;
    opacity: 0.5;
    transition: opacity 0.2s;

    &.current-slide {
      opacity: 1;
    }
  }
</style>
