{%- unless product.metafields.custom_fields.hide_microgel_section == 1 -%}
  <section class="microgel container">
    <img src="{{- section.settings.image | img_url: '175x' -}}"
         alt="{{- section.settings.image.alt -}}"
         class="microgel__image" />

    <div class="microgel__content-wrapper">
      <h2 class="microgel__title">{{- section.settings.title -}}</h2>
      <p class="microgel__content">{{- section.settings.content -}}</p>
    </div>

    <div class="microgel__images">
      {%- for block in section.blocks -%}
        <figure class="microgel__figure">
          <img src="{{- block.settings.image | img_url: '135x' -}}"
               alt="{{- block.settings.image.alt -}}"
               class="microgel__figure-image" />
          <figcaption>
            <h3 class="microgel__figure-title">{{- block.settings.title -}}</h3>
            <p class="microgel__figure-subtitle">{{- block.settings.subtext -}}</p>
          </figcaption>
        </figure>
      {%- endfor -%}
    </div>
  </section>
{%- endunless -%}

{% schema %}
  {
    "name": "Microgel",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Maximum Absorption"
      },
      {
        "type": "text",
        "id": "content",
        "label": "Content",
        "default": "MICROGEL™ is the most optimal, bioactive delivery system for dietary supplements with absorbable nutrients and measurable results. In a pill-free, tasty and versatile format."
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image",
        "info": "Should be 175x175"
      }
    ],
    "blocks": [
      {
        "type": "option",
        "name": "Option",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "text",
            "id": "subtext",
            "label": "Subtext"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "Should be 135x135"
          }
        ]
      }
    ]
  }
{% endschema %}
