{%- assign _product_cf = product.metafields.custom_fields -%}
{%- capture _tile_json -%}
  [
    {%- for block in section.blocks -%}
      {
        "title": {{- block.settings.title | json -}},
        "products": {{- block.settings.products | split: ',' | json -}},
        "largeImage": {{- block.settings.image | img_url: '560x' | json -}},
        "smallImage": {{- block.settings.image | img_url: '280x' | json -}},
      },
    {%- endfor -%}
  ]
{%- endcapture -%}

{%- unless _product_cf.hide_product_potential == 1 -%}
  <product-potential product-handle="{{- product.handle -}}"
                     :tiles="{{- _tile_json | escape -}}"
                     default-title="{{- _product_cf.potential_title | default: section.settings.title -}}"
                     default-description="{{- _product_cf.potential_description | default: section.settings.description | escape -}}" >
  </product-potential>
{%- endunless -%}

{% schema %}
{
  "name": "Product Potential",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Default Title",
      "default": "Meet and Sustain Your Potential"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Default Description"
    }
  ],
  "blocks": [
    {
      "type": "tile",
      "name": "Tile",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Tile Image",
          "info": "Should be 560x840"
        },
        {
          "type": "text",
          "id": "products",
          "label": "Products For",
          "info": "A comma seperated list of product handles the block should display for"
        }
      ]
    }
  ]
}
{% endschema %}
