{%- if  
  collection.metafields.custom_fields['banner_heading'] != blank and
  collection.metafields.custom_fields['banner_content'] != blank and
  collection.metafields.custom_fields['banner_image'] != blank
 -%}
  
  {%- capture banner_settings -%}
    {
      "heading": {{ collection.metafields.custom_fields['banner_heading'] | json }},
      "content": {{ collection.metafields.custom_fields['banner_content'] | json }},
      "ctaText": {{ collection.metafields.custom_fields['banner_cta_text'] | json }},
      "ctaLink": {{ collection.metafields.custom_fields['banner_cta_link'] | json }},
      "imageUrl": {{ collection.metafields.custom_fields['banner_image'] | json }},
      "mobileImageUrl": {{ collection.metafields.custom_fields['banner_mobile_image'] | json }},
    }
  {%- endcapture -%}

  <collection-banner
    :settings="{{ banner_settings | escape | strip }}"
  />

{%- endif -%}